<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Sistem Informasi Kuesioner - Mahkamah Agung Republik Indonesia</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="en-us" />
<meta name="Description" content="Dirgantara Indonesia"/>
<meta name="Keywords" content="dirgantara, indonesia, berita, perusahaan"/>
<meta name="creation-date" content="2001-11-16" />
<meta name="revision-date" content="2008-03-18" />
<meta name="valid-until" content="2016-12-31"/>
<meta name="type" content="Home Page"/>
<link rel="stylesheet" href="<?echo $this->basePath;?>/css/global.css" type="text/css" media="all">
<link rel="stylesheet" href="<?echo $this->basePath;?>/css/panel.css" type="text/css" media="all">
<link rel="stylesheet" href="<?echo $this->basePath;?>/css/colors.css" type="text/css" media="all">
<link rel="stylesheet" href="<?echo $this->basePath;?>/css/general.css" type="text/css" media="all">
<!--[if gte IE 6]>
<link rel='stylesheet' href='http://localhost/wordpress/wp-admin/css/ie.css?ver=20081210' type='text/css' media='all' />
<![endif]-->
<link href="<? echo $this->basePath;?>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?echo $this->basePath;?>/js/jquery.js"></script>
<script type="text/javascript" src="<?echo $this->basePath;?>/js/jquery.form.js"></script>
<script type="text/javascript" src="<?echo $this->basePath;?>/js/common.js"></script>
<script type="text/javascript" src="<?echo $this->basePath;?>/js/ajax-navigation.js"></script>
<!--script type="text/javascript" src="<?//echo $this->basePath;?>/js/jquery-1.3.2.regular.js"></script-->
<script type="text/javascript" src="<?echo $this->basePath;?>/js/popup.js"></script>

<script type="text/javascript">

function Add(URL) {
    	window.location.href=URL;
    	}

</script> 
<script type="text/javascript">

// Current Server Time script (SSI or PHP)- By JavaScriptKit.com (http://www.javascriptkit.com)
// For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
// This notice must stay intact for use.

//Depending on whether your page supports SSI (.shtml) or PHP (.php), UNCOMMENT the line below your page supports and COMMENT the one it does not:
//Default is that SSI method is uncommented, and PHP is commented:

//var currenttime = '<!--#config timefmt="%B %d, %Y %H:%M:%S"--><!--#echo var="DATE_LOCAL" -->' //SSI method of getting server date
var currenttime = '<? print date("F d, Y H:i:s", time())?>' //PHP method of getting server date

///////////Stop editting here/////////////////////////////////

var dayarray=new Array("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu");
var montharray=new Array("Januari","Februari","Maret","April","Mei","Juni","July","Agustus","September","Oktober","November","Desember")
var serverdate=new Date(currenttime)

function padlength(what){
var output=(what.toString().length==1)? "0"+what : what
return output
}

function displaytime(){
serverdate.setSeconds(serverdate.getSeconds()+1)
var datestring=dayarray[serverdate.getDay()]+", "+padlength(serverdate.getDate())+" "+montharray[serverdate.getMonth()]+" "+serverdate.getFullYear()
var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
document.getElementById("servertime").innerHTML=datestring+" | "+timestring
}

window.onload=function(){
setInterval("displaytime()", 1000)

}

function ubahPassword(userid){
	var url = '<?php echo $this->basePath; ?>/adm/user/ubahpasswordolahdata';
	var param = { userid:userid};
	jQuery.get(url, param, function(data) {
		jQuery("div#mabody").html(data);
		jQuery("#frmubahpassword").ajaxForm(ubahPassword_opt);
	});
}

var ubahPassword_opt = {
	target : '#mabody',
	url: '<?php echo $this->basePath; ?>/adm/user/ubahpassword',
	beforeSubmit : function() {
		if (document.getElementById('n_passwordlama').value != ''){
			if (document.getElementById('n_passwordbaru').value != document.getElementById('n_password2').value){
				alert('Password Baru dan konfirmasi password harus sama.');
				document.getElementById('n_passwordlama').value = '';
				document.getElementById('n_passwordbaru').value = '';
				document.getElementById('n_password2').value = '';
				document.getElementById('n_passwordlama').focus();
				return false;
			}
		} else {
			alert('Password Lama harus diisi.');
			document.getElementById('n_passwordlama').value = '';
			document.getElementById('n_passwordbaru').value = '';
			document.getElementById('n_password2').value = '';
			document.getElementById('n_passwordlama').focus();
			return false;
		}
	},
	success:	function() {
		jQuery("#frmubahpassword").ajaxForm(ubahPassword_opt);
		doCount(5);
	},
	type: 'post', 
	resetForm: false
};

</script> 
</head>
<body>
  <div id="container">
    <div id="header"></div>