<?
require("header.phtml");

//if($this->user_id == 'admin'){
//	require ("menu_admin.phtml");
//} else {
	require ("menu.phtml");
//}

?>
	<div id="content">
		<div class="breadcrumb">
			<a href="#">Halaman Utama</a>
		</div>
					<div id="icon-index" class="icon32"></div><h2 class="title">Halaman Utama</h2>
		<div id="mabody">
<?php

//require ("agenda.phtml");
?>

			<div style="overflow: hidden;">
				<div class="wrap">
				<input type="hidden" name="i_organisasi" id="i_organisasi" value="<?echo $this->i_organisasi;?>">
<?php
if (isset($t)) require ($DATA);
else require ("welcome.php");
?>

				</div><!-- wrap -->	
			</div>
		</div><!-- mabody -->	
	</div><!--content-->
<?php
require ("footer.php");

/*?>
<div id="container">
	<div id="banner"></div>

	<div id="topmenu">
		<ul>
			<li><a href="#" title=""><span>Beranda</span></a></li>
			<li><a class="" href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/survey/surveyolahdata','<?php echo $this->basePath; ?>/aplikasi/survey/surveyjs');"><b>Kuesioner</b></a></li>
			<li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/laporan/laporan','<?php echo $this->basePath; ?>/aplikasi/laporan/laporanjs');"><b>Laporan</b></a></li>
			<li><a href="#" title=""><span>Tentang Kami</span></a></li>
		</ul>
	</div>

      <div id="content-main">
	    <div class="notif">
		</div>
        <div class="contentdata-modul" >
		

		
			<div id="tableview">
				<div class="blank"></div>
				<?
				require('halamandepan.phtml');
				?>
	          <div class="blank"></div>
	          <div class="leftside"></div>
	          <div class="blank"></div>
			</div>  
        </div><!-- end contentdata-modul-->
	</script>
	  </div><!-- end content-main-->	
	  <div class="bt"></div>
	  <div class="spacer"></div>
		<?
		require("footer.php");
		?>
    </div><!-- end content --> 
	<?
	*/?>