<div id="nav">
	<div class="tl"></div>
	<div class="bd">
		<h1 class="hidden">Navigation</h1>
		<div class="ddsmoothmenu">	
			<ul>
			  <li class="active"><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/user/daftaruser','<?php echo $this->basePath; ?>/adm/user/userjs');">Administrasi User</a></li>
			  <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/pengadilanbanding/daftarpengadilanbanding','<?php echo $this->basePath; ?>/adm/pengadilanbanding/pengadilanbandingjs');">Data Referensi</a></li>
			  <li><a href="main.php">Kontak Kami</a></li>
			</ul> 
		</div>
	</div>
	<div class="tr"></div>
</div>
<div id="nav-bt"></div>
