<div id="nav">
	<div class="tl"></div>
	<div class="bd">
		<h1 class="hidden">Navigation</h1>
		<div class="ddsmoothmenu">	
			<ul>
			  <? if($this->user_id == 'admin'){?>
					<li class=""><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/user/daftaruser','<?php echo $this->basePath; ?>/adm/user/userjs');">Administrasi User</a></li>
					<li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/pengadilanbanding/daftarpengadilanbanding','<?php echo $this->basePath; ?>/adm/pengadilanbanding/pengadilanbandingjs');">Administrasi Dinas</a></li>
			  <?} else {?>
					<li class="<?=$active;?>"><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/responden/respondenolahdata','<?php echo $this->basePath; ?>/aplikasi/responden/respondenjs');">Kuesioner</a></li>
					<li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/laporanall/laporanall','<?php echo $this->basePath; ?>/aplikasi/laporanall/laporanalljs');">Laporan</a></li>
			  <?}?>
			  <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/kontakkami/kontakkami','');">Kontak Kami</a></li>
			 <!--li><a href="./">Logout</a></li-->
			</ul> 
		</div>
		<div class="username rightside">
			<span id="servertime"></span>&nbsp;|
			<span>
				<?echo $this->username;?>&nbsp;(<a href="./">Logout</a>) | 
				<? 
				if ($this->username == 'admin'){ echo "Administrator";} 
				else {echo $this->n_organisasi;}
				?>
				|&nbsp;<a href="#" onClick='ubahPassword("<? echo $this->user_id?>")'>Ganti Password</a>
			</span>
		</div>
	</div>
	<div class="tr"></div>
</div>
<div id="nav-bt"></div>
