	<div id="contextual-notif-wrap" style="display:none">
	<h4>Notifikasi</h4>
	<div class="metabox-prefs">
		
		<ul class="lsb">
			<? if ($this->jmlsrtmasuk) {	?>
				<li>Ada <a href="#" onClick="bukaSuratMasuk();" class="bold"><? echo $this->jmlsrtmasuk; ?> buah surat masuk</a> yang belum dibaca.</li>
			<?} else {?>	
				<li>Tidak Ada Surat Baru.</li>
			<?}?>
			
			<? if ($this->jmlmemomasuk) {	?>
				<li>Ada <a href="#" onClick="bukaMemoMasuk(<? echo $this->totalsurat; ?>);" class="bold"><? echo $this->jmlmemomasuk; ?> memo baru</a> untuk ditindak lanjuti.</li>
			<?} else {?>	
				<li>Tidak Ada Memo Baru.</li>
			<?}?>
			
			<? if ($this->jmldispomasuk) {	?>
				<li>xxx Ada <a href="#" onClick="bukaDisposisi(<? echo $this->totalsurat; ?>);" class="bold"><? echo $this->jmldispomasuk; ?> disposisi baru</a> untuk ditindak lanjuti.</li>
			<?} else {?>	
				<li>Tidak Ada Memo Baru.</li>
			<?}?>
		   
		   
	    </ul>
	
	
</div>
</div>

<div id="test">
	<div id="screen-meta-links">
		<div id="contextual-notif-link-wrap" class="screen-meta-toggle">
			<a href="#contextual-notif" id="contextual-notif-link" class="show-settings" onClick="bukaDetailNotifikasi(<? echo $this->totalsurat; ?>)">Notifikasi (<? echo $this->totalsurat; ?>)</a>

		</div>

	</div>
</div>