<div id="screen-meta">
	<div id="contextual-notif-wrap" style="display:none">
	<h4>Notifikasi</h4>
	<div class="metabox-prefs">
		
		<ul class="lsb">
			<? if ($this->jmlsrtmasuk) {	?>
				<li>Ada <a href="" class="bold"><? echo $this->jmlsrtmasuk; ?> buah surat masuk</a> yang belum dibaca.</li>
			<?} else {?>	
				<li>Tidak Ada Surat Baru.</li>
			<?}?>
			
			<? if ($this->jmlmemokeluar) {	?>
				<li>Ada <a href="" class="bold"><? echo $this->jmlmemokeluar; ?> memo baru</a> untuk ditindak lanjuti.</li>
			<?} else {?>	
				<li>Tidak Ada Memo Baru.</li>
			<?}?>
		   
		   
	    </ul>
	
	
</div>
</div>

<div id="screen-meta-links">
<div id="contextual-notif-link-wrap" class="hide-if-no-js screen-meta-toggle">
<a href="#contextual-notif" id="contextual-notif-link" class="show-settings">Notifikasi (<? echo $this->totalsurat; ?>)</a>

</div>

</div>
</div>