<marquee scrollamount="3" width="954" direction="left" valign="bottom" onmouseout="this.start()" onmouseover="this.stop()" >
<?
foreach ($this->pengumumanList as $key => $val):
	$imgPemisah = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"".$this->basePath."/www/images/garuda.gif\">&nbsp; ";
	
	$ePengumuman = $ePengumuman.$imgPemisah.$this->escape($val['e_pengumuman']); 
endforeach;

echo $ePengumuman;
?>
</marquee>
