<?

	require_once 'Zend/View.php'; 
	require_once "share/oa_multisubmit.php"; 
	require_once "share/format_date.php";
	require_once 'share/share_message.php';
	require_once 'share/format_page.php';
  
	$crtl = new oa_multisubmit(); 
	$ctrlFrm = new Zend_View();
//var_dump($this->jenisSuratList);

?>

<table>
	<tr>
		<td>
			<?
	   
			$kategoriCariList = array("semua" => "Semua",
							"i_agendasrt" => "Nomor Agenda Surat",
							"n_srtperihal" => "Perihal",
							"n_srtpengirim" => "Dari",
							"n_kepada" => "Kepada",
							"d_tglpengirim" => "Tanggal Surat",
							"d_tanggalmasuk" => "Tgl Terima",
							"c_srtjenis" => "Jenis Surat",
							"i_agendalalusrt" => "No. Agenda Lalu");

			$kategoriCariAttrib = array("onChange" => "displaykatakunci();");				
			echo $ctrlFrm->formSelect('kategoricari', $this->kategoriCari, $kategoriCariAttrib, $kategoriCariList);	

			?>
		</td>
		<td>
			<div id="cari1" style="display:block" align="left">
				<input type="text" size="20" id="caritext1" class="inputext"> 
			</div>	
			<div id="cari2" style="display:none">	
				<input type="text" size="20" id="caritext2" class="inputext"> 
			</div>
			<div id="cari3" style="display:none">	
			<?
			
				for($x=0; $x<count($this->jenisSuratList); $x++)
				{
					$cJenisSurat = $this->jenisSuratList[$x]['c_srtjenis'];
					$nJenisSurat = $this->jenisSuratList[$x]['n_srtjenis'];
					$jenisSuratList[$cJenisSurat] = $nJenisSurat;
				}
				
				/* $kategoriCariList = array("semua" => "Semua",
											"i_agendasrt" => "Nomor Surat",
											"n_srtperihal" => "Perihal",
											"n_srtpengirim" => "Dari",
											"n_kepada" => "Kepada",
											"d_tglpengirim" => "Tanggal Surat",
											"d_tanggalmasuk" => "Tgl Terima",
											"c_srtjenis" => "Jenis Surat",
											"i_agendalalusrt" => "No. Agenda Lalu"); */

				$kategoriCariAttrib = array("onChange" => "displaykatakunci();");				
				echo $ctrlFrm->formSelect('caritext3', '', null, $jenisSuratList);	
			?>
			</div>
		</td>
		<td align="left">
			<a href="#" title="Cari">
				<img src="<?echo "http://".$_SERVER["SERVER_NAME"];?>/images/search-icon-red.gif" onclick="CariData()">
			</a>
			<!--input type="button" value="Cari" onclick="CariData()"-->
		</td>
	</tr>
</table>
	<!--div id="bar-search1"-->
	
	
			
	<!--/div-->

<script type="text/javascript">
//	var sorter=new table.sorter("sorter");
//	sorter.init("sorter",0);

	$(function() {
		$("#caritext2").datepicker();
//		$("#caritext2").datepicker();
	});
</script>			
