<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
<div style="overflow: hidden;">
	<div class="wrap">
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">MAHKAMAH AGUNG REPUBLIK INDONESIA</h2><br>
			<h3>Jl. Medan Merdeka Utara N0. 9 - 13 <br>
			    Telp. 3843348, 3810350, 3457661 <br>
			    TROMOL POS No. 1020 - JAKARTA 10010	
			</h3>
			email : <a href="mailto:kuesioner-online@mahkamahagung.go.id">kuesioner-online@mahkamahagung.go.id</a>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
