<?php  
	require_once 'Zend/View.php'; 
	require_once "share/oa_multisubmit.php"; 
	require_once "share/format_date.php";
	require_once 'share/share_message.php';
	require_once 'share/format_page.php';
  
	$crtl = new oa_multisubmit(); 
	$ctrlFrm = new Zend_View();
	$format_date = new format_date();
	$pesan = new share_message();
    $format_page = new format_page();
		
   $jmldata = count($this->suratcari);
    for ($j = 0; $j < $jmldata; $j++) {
		$datalistmemo[$j] = array(	
								"i_agendasrt"=>(string)$this->suratcari[$j]['i_agendasrt'],
								"n_srtpengirim"=>(string)$this->suratcari[$j]['n_srtpengirim'],
								"n_kepada"=>(string)$this->suratcari[$j]['n_kepada'],
								"d_tglpengirim"=>(string)$this->suratcari[$j]['d_tglpengirim'],
								"n_srtperihal"=>(string)$this->suratcari[$j]['n_srtperihal'],
								"d_tglpengirim"=>(string)$this->suratcari[$j]['d_tglpengirim'],
								"c_srtjenis"=>(string)$this->suratcari[$j]['c_srtjenis'],
								"n_srtjenis"=>(string)$this->suratcari[$j]['n_srtjenis'],
								"d_tanggalmasuk"=>(string)$this->suratcari[$j]['d_tanggalmasuk'],
								"i_agendalalusrt"=>(string)$this->suratcari[$j]['i_agendalalusrt']);
								}		

		
?>

	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<!--h2 class="title">Memo Keluar</h2-->

<div class="space-line"></div>
<? 
			
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			
         <fieldset class="fields"> 
      	   <table id="sorter" class="sortable" align="center" border="0" cellspacing="1" cellpadding="2">
             <th class="nosort" width="5%">No</th> 
      	     <th class="asc" width="5%">Nomor Agenda Surat</th> 
			 <th class="head" width="5%">Dari</th>
			 <th class="head" width="5%">Ditujukan Kepada</th>
      	     <th class="head" width="5%">Perihal</th>
			 <th class="head" width="5%">Tanggal <br> Surat</th>
			 <th class="head" width="5%">Jenis</th>
			 <th class="head" width="5%">Tanggal<br> Terima</th>
			 <th class="head" width="5%">No Agenda <br> yang Lalu</th>
<?

					if($jmldata == 0)
					{
						echo "<font color=\"red\">-</font>";
					}
					else
					{			  
			  			  
			  $j=1;	$no=0;
			  $x=0;

$iMemoAwal = '';			  
 foreach ($datalistmemo as $key => $val):
  $no = (($currentPage -1)* $numToDisplay) + $key +1;	

			  if ($key%2==0) { ?>
			<tr class="event">
			  <?php } else if ($key%2==1) { ?>
			<tr class="event2">
			  <?php } ?>
	        <td class="clright">
				<?php echo $no;?>&nbsp;&nbsp
			</td>
						
			<td class="clleft">
				<a class="" href="#" onClick="return lihatDetilData('<?php echo $this->escape($val['i_agendasrt']) ?>');">
					<?php echo $this->escape($val['i_agendasrt']);?>
				</a>			
			</td>
			
			<td class="clleft">				
				<?php echo $this->escape($val['n_srtpengirim']);?>
			</td>
			<?
			$nKepadaArr = explode('~',$this->escape($val['n_kepada']));
			if (($nKepadaArr[0] == 'Pribadi') || ($nKepadaArr[0] == 'Staf Ahli') || ($nKepadaArr[0] == 'Staf Khusus')){
				$nKepada = $nKepadaArr[3].'<br>'.$nKepadaArr[2];
			} else {
				$nKepada = $nKepadaArr[0];
			}
			?>
			<td class="clleft"><?php echo $nKepada;?></td>
			<td class="clleft"><?php echo $this->escape($val['n_srtperihal']);?></td>
			<?
			if ($this->escape($val['d_tglpengirim'])) {
			?>
				<td class="clleft"><?php echo $format_date->formatTglLengkap($this->escape($val['d_tglpengirim']));?></td>
			<?} else {
			?>
				<td class="clleft">&nbsp;</td>
			<?}?>
			
			<td class="clleft"><?php echo $this->escape($val['n_srtjenis']);?></td>
			
			<?
			if ($this->escape($val['d_tanggalmasuk'])) {
			?>
				<td class="clleft"><?php echo $format_date->formatTglLengkap($this->escape($val['d_tanggalmasuk']));?></td>
			<?} else {
			?>
				<td class="clleft">&nbsp;</td>
			<?}?>
			
			<td class="clleft"><?php echo $this->escape($val['i_agendalalusrt']);?></td>
			
		</tr>
		
 <?php

	$i++; $x++;
endforeach; 
  }
 ?>			
	
	  </table>
		<?
			$totalData = $this->totalData;
			
			$divId = 'tableview';
			$modul = $this->basePath."/aplikasi/suratmasukagenda/agendamasuklist";
			$param1 = $this->kategoriCari;
			$param2 = $this->katakunciCari;
			
			$fungsi = 'suratkeluar';
			//$modul = $this->basePath."/srtmemo/suratkeluar/".$fungsi."?&nosuratcari=".$nosuratcari."&perihal_cari=".$perihal_cari."&n_srt_kepadacari=".$n_srt_kepadacari."&tglcari=".$tglcari."&blncari=".$blncari."&thncari=".$thncari;
			//$format_page->showPage($totalData, $numToDisplay, $currentPage, $divId, $modul, $param1, $param2, $param3, $param4);		
		?>	
		
	</fieldset>		 
		  	</form>

