<?php  require_once 'Zend/View.php'; 
	   require_once "share/oa_multisubmit.php"; 
	   require_once "share/format_date.php";
	   require_once "service/aplikasi/Aplikasi_Suratmasukagenda_Service.php";
	   require_once "service/aplikasi/Aplikasi_Referensi_Service.php";


   $agendamasuk_serv = Aplikasi_Suratmasukagenda_Service::getInstance();
   $ref_serv = Aplikasi_Referensi_Service::getInstance();
   $crtl = new oa_multisubmit(); 
   $ctrlFrm = new Zend_View();
   $format_date = new format_date();
   $par=$this->par;
     $jmldata = count($this->suratcari); 
	 
   for ($j = 0; $j < $jmldata; $j++) {
		$i_agendasrt=(string)$this->suratcari[$j]['i_agendasrt'];
		$n_srtpengirim=(string)$this->suratcari[$j]['n_srtpengirim'];
		$n_kepada=(string)$this->suratcari[$j]['n_kepada'];
		$d_tglpengirim=(string)$this->suratcari[$j]['d_tglpengirim'];
		$n_srtperihal=(string)$this->suratcari[$j]['n_srtperihal'];
		$c_srtjenis=(string)$this->suratcari[$j]['c_srtjenis'];
		$c_srtsifat=(string)$this->suratcari[$j]['c_srtsifat'];
		$i_agendalalusrt=(string)$this->suratcari[$j]['i_agendalalusrt'];
		$d_tgldariwaseskab=(string)$this->suratcari[$j]['d_tgldariwaseskab'];
		$c_srtjenis=(string)$this->suratcari[$j]['n_srtjenis'];
		$c_srtsifat=(string)$this->suratcari[$j]['n_srtsifat'];
		$i_agendalalusrt=(string)$this->suratcari[$j]['i_agendalalusrt'];
		$n_teruskandari=(string)$this->suratcari[$j]['n_teruskandari'];
		$e_disposisi=(string)$this->suratcari[$j]['e_disposisi'];
		$n_teruskanke=(string)$this->suratcari[$j]['n_teruskanke'];
		$t_disposisi=(string)$this->suratcari[$j]['t_disposisi'];
		$n_dari=(string)$this->suratcari[$j]['n_dari'];
		$n_teruskan=(string)$this->suratcari[$j]['n_teruskan'];
		//$d_memo=(string)$this->suratcari[$j]['d_memo'];
		$i_memo=(string)$this->suratcari[$j]['i_memo'];
		$i_srtajuan=(string)$this->suratcari[$j]['i_srtajuan'];
		$d_tglkirim=(string)$this->suratcari[$j]['d_tglkirim'];
		$c_memorev =(string)$this->suratcari[$j]['c_memorev'];
		$d_memo = (string)$this->suratcari[$j]['d_memo'];
		$n_darimemo = (string)$this->suratcari[$j]['n_dari'];
		$nDarimemo = (string)$this->suratcari[$j]['nDarimemo'];
		$kd_jabatan_darimemo = (string)$this->suratcari[$j]['kd_jabatan_dari'];
		$n_teruskanmemo = (string)$this->suratcari[$j]['n_teruskan'];
		$nTeruskanKememo = (string)$this->suratcari[$j]['nTeruskanKememo'];
		$kd_jabatan_teruskanmemo = (string)$this->suratcari[$j]['kd_jabatan_teruskan'];
		$n_perihalmemo = (string)$this->suratcari[$j]['n_perihal'];
		$id_srtmasuk = (string)$this->suratcari[$j]['id_srtmasuk'];
		$d_srtajuan = (string)$this->suratcari[$j]['d_srtajuan'];
		$unitAsalSrtKeluar = (string)$this->suratcari[$j]['unitAsalSrtKeluar'];
		$tujuanSrtKeluar = (string)$this->suratcari[$j]['tujuanSrtKeluar'];
		//var_dump($this->suratcari);
		$tglKirim = (string)$this->suratcari[$j]['tglKirim'];
	}
?>  

	<table width="100%" border="0" cellpadding="0" cellspacing="1" class="sortable">
		<tr>
			    <td align="left" width="190">Nomor Surat</td>
				<td align="left" width="10">:</td>
				<td>
				  <?=$i_agendasrt;?>
				</td>
		</tr>
		<tr>
			    <td align="left" >Tanggal Surat</td>
				<td align="left">:</td>
				<td>
				  <? 
				  if ($d_tglpengirim) {echo $format_date->formatTglLengkap($d_tglpengirim);}
				  else {echo "-";}
				  ?>
				</td>
		</tr>		
		<tr>
			    <td align="left">Dari</td>
				<td align="left">:</td>
				<td>
				  <?=$n_srtpengirim;?>
				</td>
		</tr>
		<tr>
			    <td align="left">Kepada</td>
				<td align="left">:</td>
				<td>
				<?
				$nKepadaArr = explode('~',$n_kepada);
				if (($nKepadaArr[0] == 'Pribadi') || ($nKepadaArr[0] == 'Staf Ahli') || ($nKepadaArr[0] == 'Staf Khusus')){
					$nKepada1 = $nKepadaArr[3].'<br>'.$nKepadaArr[2];
				} else {
					$nKepada1 = $nKepadaArr[0];
				}
				?>
				  <?=$nKepada1;?>
				</td>
		</tr>
		<tr>
			    <td align="left">Perihal</td>
				<td align="left">:</td>
				<td>
				  <?=$n_srtperihal;?>
				</td>
		</tr>			
		<tr>
			    <td align="left">Tanggal Dari Waseskab</td>
				<td align="left">:</td>
				<td>
					<? 
					if ($d_tgldariwaseskab) {echo $format_date->formatTglLengkap($d_tgldariwaseskab);}
					else {echo "-";}
					?>
				</td>
		</tr>
		<tr>
			    <td align="left">Nomor Agenda Lalu</td>
				<td align="left">:</td>
				<td>
				  <?=$i_agendalalusrt;?>
				</td>
		</tr>
		<tr>
			    <td align="left">Jenis</td>
				<td align="left">:</td>
				<td>
				  <?=$c_srtjenis;?>
				</td>
		</tr>
		<!--tr>
			    <td align="left">Sifat</td>
				<td align="left">:</td>
				<td>
				  <?=$c_srtsifat;?>
				</td>
		</tr-->
	</table>
	<br><b>POSISI SURAT TERAKHIR</b>
	<table width="100%" border="0" cellpadding="0" cellspacing="1" class="sortable">
		<tr>
			<?
			if ($i_srtajuan) { // kalo sudah dikeluarkan No Surat Keluar
				$title = "Surat sudah selesai diproses dengan no surat keluar";
				$posisiSurat = $i_srtajuan;
			} else {
				//Apakah Surat Sudah ada di proses Memo
				//===================================
				$carimemo5 = array("dari" => '',
						  "jabatanDari" => '',
						  "idSrtmasuk" => $id_srtmasuk);
				$posisiSuratDiMemo = $agendamasuk_serv->getmemo($carimemo5);
				
				if($posisiSuratDiMemo){
					$jmlDataMemo = count($posisiSuratDiMemo);
					
					//var_dump($posisiSuratDiMemo);
					$title = "Diajukan Memo ke  ";
					$posisiSurat = $posisiSuratDiMemo[$jmlDataMemo-1]['namaJabatanLengkapKe'];
				} else {
						// Apakah Surat masih diproses di level disposisi
					//=======================================
					$caridisposisi = array("dari" => "",
						  "idSrtmasuk" => $id_srtmasuk);
						  //var_dump($cari);
					$posisiSuratDiDisposisi = $agendamasuk_serv->getDisposisi1($caridisposisi);
					
					if ($posisiSuratDiDisposisi){
						$jmlDataDisposisi = count($posisiSuratDiDisposisi);
						
						//var_dump($posisiSuratDiDisposisi);
						$title = "Surat didisposisikan ke ";
						$posisiSurat = $ref_serv->getnamaPegawai($posisiSuratDiDisposisi[$jmlDataDisposisi-1]['n_teruskanke']);
						$jabatanPosisiDispo = $posisiSuratDiDisposisi[$jmlDataDisposisi-1]['namaJabatanLengkapKe'];
					}
				}
			}
			?>
			
			<td align="left" width="190" ><?echo $title;?></td>
			<td align="left" width="10" >&nbsp;:&nbsp;</td>
			<td align="left"><b><?echo $posisiSurat;?><br><? echo $jabatanPosisiDispo?></b></td>
			
		</tr>
		
	</table>
	<br><b>DISPOSISI</b>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="1" class="sortable">
		<tr>
			<th width="30%">Pengirim</th>
			<th width="30%">Penerima</th>
			<th width="10%">Tanggal Terima</th>
			<th width="10%">Jam Terima</th>
			<th width="20%">Lama Proses</th>
		</tr>
		<?
		//var_dump($this->disposisi1);
		if(count($this->disposisi1) > 0){
			for($y = 0; $y < count($this->disposisi1); $y++){
			?>
				<tr  class="event">
					<td>
						<? if (strtoupper($this->disposisi1[$y]['namaJabatanLengkapDari']) == 'SESKAB'){
								echo SESKAB;
						} else {?>
							<font color="blue">
							<?
							echo $ref_serv->getnamaPegawai($this->disposisi1[$y]['n_teruskandari'])?></font<br>
							<? echo $this->disposisi1[$y]['namaJabatanLengkapDari'];
						}?>
					</td>
					<td><font color="blue"><?echo $ref_serv->getnamaPegawai($this->disposisi1[$y]['n_teruskanke'])?></font<br>
						<?=$this->disposisi1[$y]['namaJabatanLengkapKe']?>
					</td>
					<td>
					<? 
					unset($disposisiAkhir);
					$disposisiAkhir[$y] = array("dari" =>$disposisi1[$y]['kd_orgteruskanke'],
												"jabatanDari" =>$disposisi1[$y]['kd_jabatanteruskanke']);
				
					if ($this->disposisi1[$y]['tanggalDisposisi']) {echo $format_date->formatTglLengkap($this->disposisi1[$y]['tanggalDisposisi']);}
					else {echo "-";}
					?>
					</td>
					<td><?=$this->disposisi1[$y]['jamDisposisi']?></td>
					
					<td>&nbsp;</td>
				</tr>
			<?
				//dispo level 2
				//==========
				$cari = array("dari" => $this->disposisi1[$y]['kd_orgteruskanke'],
						  "idSrtmasuk" => $id_srtmasuk);
						  //var_dump($cari);
				$disposisi2 = $agendamasuk_serv->getDisposisi1($cari);
				
				if (count($disposisi2) > 0){
					for($z = 0; $z < count($disposisi2); $z++){
					?>
						<tr  class="event2">
							<td><font color="blue">
								<?
								echo $ref_serv->getnamaPegawai($disposisi2[$z]['n_teruskandari'])?></font<br>
								<?=$disposisi2[$z]['namaJabatanLengkapDari']?>
							</td>
							<td><font color="blue">
								<?
								echo $ref_serv->getnamaPegawai($disposisi2[$z]['n_teruskanke'])?></font<br>
								<?=$disposisi2[$z]['namaJabatanLengkapKe']?></td>
							<td>
							<? 
							unset($disposisiAkhir);
							$disposisiAkhir[$z] = array("dari" =>$disposisi2[$z]['kd_orgteruskanke'],
														"jabatanDari" =>$disposisi2[$z]['kd_jabatanteruskanke']);
							if ($disposisi2[$z]['tanggalDisposisi']) {echo $format_date->formatTglLengkap($disposisi2[$z]['tanggalDisposisi']);}
							else {echo "-";}
							?>
							</td>
							<td><?=$disposisi2[$z]['jamDisposisi']?></td>
							<?
								$lamaProses = $agendamasuk_serv->getSLA($disposisi2[$z]['t_disposisi'],$this->disposisi1[$y]['t_disposisi']);
					
							?>
							<td><?
							$hariArr = explode('.',$lamaProses['hari']);
							echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';?></td>
						</tr>
					<?
						//dispo level 3
						//==========
						$cari = array("dari" => $disposisi2[$z]['kd_orgteruskanke'],
								  "idSrtmasuk" => $id_srtmasuk);
						$disposisi3 = $agendamasuk_serv->getDisposisi1($cari);
						
						if (count($disposisi3) > 0){
							for($k = 0; $k < count($disposisi3); $k++){
							?>
								<tr  class="event2">
									<td><font color="blue">
										<?
										echo $ref_serv->getnamaPegawai($disposisi3[$k]['n_teruskandari'])?></font<br>
										<?=$disposisi3[$k]['namaJabatanLengkapDari']?>
									</td>
									<td><font color="blue">
										<?
										echo $ref_serv->getnamaPegawai($disposisi3[$k]['n_teruskanke'])?></font<br>
										<?=$disposisi3[$k]['namaJabatanLengkapKe']?>
									</td>
									<td>
									<?
									unset($disposisiAkhir);
									$disposisiAkhir[$k] = array("dari" =>$disposisi3[$k]['kd_orgteruskanke'],
																"jabatanDari" =>$disposisi3[$k]['kd_jabatanteruskanke']);
									if ($disposisi3[$k]['tanggalDisposisi']) {echo $format_date->formatTglLengkap($disposisi3[$k]['tanggalDisposisi']);}
									else {echo "-";}
									?>
									</td>
									<td><?=$disposisi3[$k]['jamDisposisi']?></td>
									<?
									$lamaProses = $agendamasuk_serv->getSLA($disposisi3[$k]['t_disposisi'],$disposisi2[$z]['t_disposisi']);
									$hariArr = explode('.',$lamaProses['hari']);
									echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';?>
	
								</tr>
							<?
								//dispo level 4
								//==========
								$cari = array("dari" => $disposisi3[$k]['kd_orgteruskanke'],
										  "idSrtmasuk" => $id_srtmasuk);
								$disposisi4 = $agendamasuk_serv->getDisposisi1($cari);
								if (count($disposisi4) > 0){
									for($l = 0; $l < count($disposisi4); $l++){
									?>
										<tr  class="event2">
											<td><font color="blue">
												<?
												echo $ref_serv->getnamaPegawai($disposisi4[$l]['n_teruskandari'])?></font<br>
												<?=$disposisi4[$l]['namaJabatanLengkapDari']?>
											</td>
											<td><font color="blue">
												<?
												echo $ref_serv->getnamaPegawai($disposisi4[$l]['n_teruskanke'])?></font<br>
												<?=$disposisi4[$l]['namaJabatanLengkapKe']?>
											</td>
											<td>
											<? 
											unset($disposisiAkhir);
											$disposisiAkhir[$l] = array("dari" =>$disposisi4[$l]['kd_orgteruskanke'],
																		"jabatanDari" =>$disposisi4[$l]['kd_jabatanteruskanke']);
											
											if ($disposisi4[$l]['tanggalDisposisi']) {echo $format_date->formatTglLengkap($disposisi4[$l]['tanggalDisposisi']);}
											else {echo "-";}
											?>
											</td>
											<td><?=$disposisi4[$l]['jamDisposisi']?></td>
											<?
											$lamaProses = $agendamasuk_serv->getSLA($disposisi4[$l]['t_disposisi'],$disposisi3[$k]['t_disposisi']);
											$hariArr = explode('.',$lamaProses['hari']);
											echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';?>
										</tr>
									<?
										//dispo level 5
										//==========
										$cari = array("dari" => $disposisi4[$l]['kd_orgteruskanke'],
												  "idSrtmasuk" => $id_srtmasuk);
										$disposisi5 = $agendamasuk_serv->getDisposisi1($cari);
										
										if (count($disposisi5) > 0){
											for($m = 0; $m < count($disposisi5); $m++){
											?>
												<tr  class="event2">
													<td><font color="blue">
														<?
														echo $ref_serv->getnamaPegawai($disposisi5[$m]['n_teruskandari'])?></font<br>
														<?=$disposisi5[$m]['namaJabatanLengkapDari']?>
													</td>
													<td><font color="blue">
														<?
														echo $ref_serv->getnamaPegawai($disposisi5[$m]['n_teruskanke'])?></font<br>
														<?echo $disposisi5[$m]['namaJabatanLengkapKe']?>
													</td>
													<td>
													<? 
													unset($disposisiAkhir);
													$disposisiAkhir[$m] = array("dari" =>$disposisi5[$m]['kd_orgteruskanke'],
																				"jabatanDari" =>$disposisi5[$m]['kd_jabatanteruskanke']);
													if ($disposisi5[$m]['tanggalDisposisi']) {echo $format_date->formatTglLengkap($disposisi5[$m]['tanggalDisposisi']);}
													else {echo "-";}
													?>
													</td>
													<td><?=$disposisi5[$m]['jamDisposisi']?></td>
													<?
													$lamaProses = $agendamasuk_serv->getSLA($disposisi5[$m]['t_disposisi'],$disposisi4[$l]['t_disposisi']);
													$hariArr = explode('.',$lamaProses['hari']);
													echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';?>
												</tr>
											<?
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}
		?>
	</table>
	<br><b>PROSES PENYELESAIAN SURAT</b>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="1" class="sortable">
		<tr>
			<th width="30%">Pengirim</th>
			<th width="30%">Penerima</th>
			<th width="10%">Tanggal Terima</th>
			<th width="10%">Jam Terima</th>
			<th width="20%">Lama Proses</th>
		</tr>
		<?
		//dispo level 5
		//==========
		//var_dump($disposisiAkhir);
		if($disposisiAkhir){
			for($a=0; $a<count($disposisiAkhir); $a++){
				$carimemo5 = array("dari" => $disposisiAkhir[$a]['dari'],
						  "jabatanDari" => $disposisiAkhir[$a]['jabatanDari'],
						  "idSrtmasuk" => $id_srtmasuk);
				$memo5 = $agendamasuk_serv->getmemo($carimemo5);
				?>
				<tr>
					<td><?echo $memo5[$a]['namaJabatanLengkapDari'] ?></td>
					<td><?echo $memo5[$a]['namaJabatanLengkapKe'] ?></td>
					<td><?echo $format_date->formatTglLengkap($memo5[$a]['dMemo']); ?></td>
					<td><?echo $memo5[$a]['jamMemo'] ?></td>
				</tr>
				<?
				//memo level 4
				//===========
				$carimemo4 = array("dari" => $memo5[$a]['n_kepada'],
						  "jabatanDari" => $memo5[$a]['kd_jabatan_kepada'],
						  "idSrtmasuk" => $id_srtmasuk);
				$memo4 = $agendamasuk_serv->getmemo($carimemo4);
				//var_dump();
				if(count($memo4)){
					for($b=0; $b<count($memo4); $b++){
				?>
						<tr>
							<td><?echo $memo4[$b]['namaJabatanLengkapDari'] ?></td>
							<td><?echo $memo4[$b]['namaJabatanLengkapKe'] ?></td>
							<td><?echo $format_date->formatTglLengkap($memo4[$b]['dMemo']); ?></td>
							<td><?echo $memo4[$b]['jamMemo'] ?></td>
							<?
							$lamaProses = $agendamasuk_serv->getSLA($memo5[$a]['d_memo'],$memo4[$b]['d_memo']);
							$hariArr = explode('.',$lamaProses['hari']);
							echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';
							?>
						</tr>
				<?
						//memo level 3
						//===========
						$carimemo3 = array("dari" => $memo4[$a]['n_kepada'],
								  "jabatanDari" => $memo4[$a]['kd_jabatan_kepada'],
								  "idSrtmasuk" => $id_srtmasuk);
						$memo3 = $agendamasuk_serv->getmemo($carimemo3);
						//var_dump();
						if(count($memo3)){
							for($c=0; $c<count($memo3); $c++){
						?>
								<tr>
									<td><?echo $memo3[$c]['namaJabatanLengkapDari'] ?></td>
									<td><?echo $memo3[$c]['namaJabatanLengkapKe'] ?></td>
									<td><?echo $format_date->formatTglLengkap($memo3[$c]['dMemo']); ?></td>
									<td><?echo $memo3[$c]['jamMemo'] ?></td>
									<?
									$lamaProses = $agendamasuk_serv->getSLA($memo4[$b]['d_memo'],$memo3[$c]['d_memo']);
									$hariArr = explode('.',$lamaProses['hari']);
									echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';
									?>
								</tr>
						<?
								//memo level 2
								//===========
								$carimemo2 = array("dari" => $memo3[$a]['n_kepada'],
										  "jabatanDari" => $memo3[$a]['kd_jabatan_kepada'],
										  "idSrtmasuk" => $id_srtmasuk);
								$memo2 = $agendamasuk_serv->getmemo($carimemo2);
								//var_dump();
								if(count($memo2)){
									for($d=0; $d<count($memo2); $d++){
								?>
										<tr>
											<td><?echo $memo2[$d]['namaJabatanLengkapDari'] ?></td>
											<td><?echo $memo2[$d]['namaJabatanLengkapKe'] ?></td>
											<td><?echo $format_date->formatTglLengkap($memo2[$d]['dMemo']); ?></td>
											<td><?echo $memo2[$d]['jamMemo'] ?></td>
											<?
											$lamaProses = $agendamasuk_serv->getSLA($memo3[$c]['d_memo'],$memo2[$d]['d_memo']);
											$hariArr = explode('.',$lamaProses['hari']);
											echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';
											?>
										</tr>
								<?
										//memo level 2
										//===========
										$carimemo1 = array("dari" => $memo2[$a]['n_kepada'],
												  "jabatanDari" => $memo2[$a]['kd_jabatan_kepada'],
												  "idSrtmasuk" => $id_srtmasuk);
										$memo1 = $agendamasuk_serv->getmemo($carimemo1);
										//var_dump();
										if(count($memo1)){
											for($e=0; $e<count($memo1); $e++){
										?>
												<tr>
													<td><?echo $memo1[$e]['namaJabatanLengkapDari'] ?></td>
													<td><?echo $memo1[$e]['namaJabatanLengkapKe'] ?></td>
													<td><?echo $format_date->formatTglLengkap($memo1[$e]['dMemo']); ?></td>
													<td><?echo $memo1[$e]['jamMemo'] ?></td>
													<?
													$lamaProses = $agendamasuk_serv->getSLA($memo1[$d]['d_memo'],$memo2[$e]['d_memo']);
													$hariArr = explode('.',$lamaProses['hari']);
													echo $hariArr[0].' hari '.$lamaProses['jam'].' jam '.$lamaProses['menit'].' menit '.$lamaProses['detik'].' detik';
													?>
												</tr>
										<?
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}	
		//var_dump($memo5);		
		?>
	</table>
	<br><b>SURAT KELUAR</b>
	
	<table width="100%" border="0" cellpadding="0" cellspacing="1" class="sortable">
		<tr>
			<td align="left" width="190">Nomor Surat Keluar</td>
			<td align="left" width="10">:</td>
			<td>
			  <?=$i_srtajuan;?>
			</td>
		</tr>
		<tr>
			    <td align="left" >Tanggal Surat Keluar</td>
				<td align="left">:</td>
				<td>
				  <? 
				  if ($d_srtajuan) {echo $format_date->formatTglLengkap($d_srtajuan);}
				  else {echo "-";}
				  ?>
				</td>
		</tr>	
		<tr>
			    <td align="left" >Unit Kerja Pengirim</td>
				<td align="left">:</td>
				<td>
				  <? 
				  echo $unitAsalSrtKeluar;
				  ?>
				</td>
		</tr>
		<tr>
			    <td align="left" >Tujuan Surat Keluar</td>
				<td align="left">:</td>
				<td>
				  <? 
				  echo $tujuanSrtKeluar;
				  ?>
				</td>
		</tr>
		<tr>
			    <td align="left" >Tanggal Kirim</td>
				<td align="left">:</td>
				<td>
				  <? 
				  if ($tglKirim) {echo $format_date->formatTglLengkap($tglKirim);}
				  else {echo "-";}
				  ?>
				</td>
		</tr>
	</table>	
	