<?
// $spath = $this->getScriptPaths();
// $this->addScriptPath($spath[0] . 'index');

// $jmlsuratmasuk =$this->totsurat;
// $totdokpus =$this->totdokpus;
// $totcuti =$this->totcuti;
?>
<html>
  <?php echo $this->render('header.phtml');?>
<body>
<div id="container">
        <div id="header" class="clear"></div><!-- end header -->
		<?php $namagroup = $this->namagroup;
		  //echo "NAMA GROUP ".strtolower($namagroup);
		  if ($namagroup == 'navi') {
		    echo $this->render('navigasi.phtml');
		  } else {
		    echo $this->render(strtolower($namagroup).'.phtml');
		  } ?>
		<?php //echo $this->render('menujs.phtml');?>

    <!--div id="msg">
        <div class="username">User Id : <?php echo $this->iduser;?>, Nama : <?php echo $this->namauser;?>, Nip : <?php echo $this->nipuser;?></div>
        
		<div class="crdate" ><span id="servertime"></span> | [<a href="./" title="Logout">Logout</a>]</div>
    </div-->

	<div id="content-main" class="clearfix">
		<div id="tableview">
			<div class="rightmenu"  id="rightmenu"><!--start leftmenu-->
				<div class="ct-menu"></div>
			</div><!--end rightmenu-->
<center>
<div class='left'>
<h3>Selamat Datang <?php echo $this->namauser;?>,</h3>
</div>
<div class="blank"></div>
<div class="ct-notif">
<div class="hd">Maksud dan Tujuan</div>
<div id="bd" class="bd">
</div>
</div>

<div class="ct-welcome">
<div class="bd">

	Untuk mewujudkan kinerja penyedia jasa, kinerja kasatker, auditor dan tenaga ahli
	yang bersinergi dengan salah satu fungsi Itjen Dep PU <b>(pelaksana pengawasan fungsional
	sesuai dengan ketentuan peraturan per undang-undangan yang berlaku)</b> diperlukan adanya data base
	yang berbasis Sistem Informasi Manajemen yang dapat digunakan untuk mengevaluasi Kinerja Penyedia
	Jasa, Kinerja Kasatker, Auditor Itjen Dep PU dan Tenaga Ahli.<br>
	Maksud dilakukan kegiatan ini adalah agar seluruh aktifitas kegiatan Penyedia Jasa, Kasatker,
	Auditor dan Tenaga Ahli dapat terekam dalam penyelenggaraan penyediaan prasarana dasar ke PU an dapat 
	terekam dalam data base, sedangkan tujuannya untuk mengetahui Kinerja para Penyedia jasa, Kasatker,
	Auditor Itjen Dep PU dan Tenaga Ahli yang terkait.

</div>
</div>

<div class="blank"></div> 
<div class="spacer"/></div>
<div class="space-line"></div>
</center>
			
			
			
		</div><!-- end tableview -->
	</div><!-- end content -->	
	<div id="footer" class="clear"><!--start footer-->
		<div class="tl"></div>
        <div class="copyright">Copyright &copy; Departement Pekerjaan Umum Inspektorat Jenderal 2008 - 2009. All Rights Reserved.</div>
		<div class="tr"></div>
    </div><!-- end footer -->
</div><!-- end container -->
</body>
</html>