<script language="javascript">
// Current Server Time script (SSI or PHP)- By JavaScriptKit.com (http://www.javascriptkit.com)
// For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
// This notice must stay intact for use.

//Depending on whether your page supports SSI (.shtml) or PHP (.php), UNCOMMENT the line below your page supports and COMMENT the one it does not:
//Default is that SSI method is uncommented, and PHP is commented:

//var currenttime = '<!--#config timefmt="%B %d, %Y %H:%M:%S"--><!--#echo var="DATE_LOCAL" -->' //SSI method of getting server date
var currenttime = '<? print date("F d, Y H:i:s", time())?>' //PHP method of getting server date

///////////Stop editting here/////////////////////////////////

var dayarray=new Array("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu");
var montharray=new Array("Januari","Februari","Maret","April","Mei","Juni","July","Agustus","September","Oktober","November","Desember")
var serverdate=new Date(currenttime)

function padlength(what){
var output=(what.toString().length==1)? "0"+what : what
return output
}

function displaytime(){
serverdate.setSeconds(serverdate.getSeconds()+1)
var datestring=dayarray[serverdate.getDay()]+", "+padlength(serverdate.getDate())+" "+montharray[serverdate.getMonth()]+" "+serverdate.getFullYear()
var timestring=padlength(serverdate.getHours()-1)+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
document.getElementById("servertime").innerHTML=datestring+" | "+timestring
}

window.onload=function(){
setInterval("displaytime()", 1000)
}

</script>
<div id="nav">
	<ul id="pmenu" > 
		<li><a href="#">PERSURATAN<!--[if IE 7]><!--></a><!--<![endif]-->
	      <!--[if lte IE 6]><table><tr><td><![endif]-->
			<ul>
				<li class="fly"><a href="#" class="enclose">Surat Masuk<!--[if IE 7]><!--></a><!--<![endif]-->
				  <!--[if lte IE 6]><table><tr><td><![endif]-->
				  <ul>
					<li class="sub"><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratmasuk/suratmasuk','/srt/suratmasuk/suratmasukjs');" title="Melihat Daftar Surat Masuk"> Surat </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratnotamasuk/suratnotamasuk','/srt/suratnotamasuk/suratnotamasukjs');" title="Melihat Daftar Nota Dinas Masuk" > Nota Dinas </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratmemomasuk/suratmemomasuk','/srt/suratmemomasuk/suratmemomasukjs');" title="Melihat Daftar Memo Masuk" > Memo </a></li>
				  </ul>
				  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	            </li>
				<li class="fly"><a href="#" class="enclose">Surat Keluar<!--[if IE 7]><!--></a><!--<![endif]-->
				  <!--[if lte IE 6]><table><tr><td><![endif]-->
				  <ul>
					<li class="sub"><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratkeluar/suratkeluar','/srt/suratkeluar/suratkeluarjs');" title="Melihat Daftar Surat Keluar"> Surat </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratnotamasuk/suratnotamasuk','/srt/suratnotamasuk/suratnotamasukjs');" title="Melihat Daftar Nota Dinas Masuk" > Nota Dinas </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratmemokeluar/suratmemokeluar','/srt/suratmemokeluar/suratmemokeluarjs');" title="Melihat Daftar Memo Keluar" > Memo </a></li>
				  </ul>
				  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	            </li>
				<li class="fly"><a href="#" class="enclose">Disposisi<!--[if IE 7]><!--></a><!--<![endif]-->
				  <!--[if lte IE 6]><table><tr><td><![endif]-->
				  <ul>
					<li class="sub"><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratdisposisi/suratdisposisi','/srt/suratdisposisi/suratdisposisijs');" title="Melihat Daftar Disposisi"> Surat </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratdisposisi/notadisposisi','/srt/suratdisposisi/notadisposisijs');" title="Melihat Daftar Disposisi  Nota Dinas"> Nota Dinas </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratdisposisi/memodisposisi','/srt/suratdisposisi/memodisposisijs');" title="Melihat Daftar Disposisi Memo"> Memo </a></li>
				  </ul>
				  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	            </li>	
				<li class="fly"><a href="#" class="enclose">Konsep Surat<!--[if IE 7]><!--></a><!--<![endif]-->
				  <!--[if lte IE 6]><table><tr><td><![endif]-->
				  <ul>
					<li class="sub"><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratkonsep/suratkonsep','/srt/suratkonsep/suratkonsepjs');" title="Melihat Daftar Konsep Surat"> Pengajuan </a></li>
					<li class="sub"><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratkonsep/suratkonsepsetuju','/srt/suratkonsep/suratkonsepsetujujs');" title="Melihat Daftar dan Persetujuan Konsep Surat" > Persetujuan </a></li>
				   </ul>
				  <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	            </li>	
				<li class=fly><a class="enclose" href="#"   title="Modul untuk menampilkan diagram">Statistik</a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/statistik/suratmasuk','/srt/statistik/suratmasukjs');" title="Modul untuk menampilkan diagram surat masuk">Surat Masuk</a></li>
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/statistik/suratkeluar','/srt/statistik/suratkeluarjs');" title="Modul untuk menampilkan diagram surat keluar" >Surat Keluar</a></li>
					</ul>
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Template </a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/template/templatecatat','/srt/template/templatecatatjs');" title="Melihat Daftar, Membuat, Memasukkan, Mengubah dan Menghapus Template Surat"> Memelihara </a></li>
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/template/templatecari','/srt/template/templatecarijs');" title="Melakukan pencarian untuk template-template yang telah tersedia" > Penelusuran </a></li>
					</ul> 
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Daftar Surat Proses </a> 
					<ul>
						<li class=fly ><a class="enclose" href="#"   title=""> Masuk </a> 
							<ul>
								<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratmasuk/suratmasuk?proses=proses','/srt/suratmasuk/suratmasukjs');" title="Melihat Daftar Surat Masuk Proses"> Surat </a></li>
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratnotamasuk/suratnotamasuk','/srt/suratnotamasuk/suratnotamasukjs');" title="Melihat Daftar Nota Dinas Masuk Proses" > Nota Dinas </a></li> 
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratmemomasuk/suratmemomasuk','/srt/suratmemomasuk/suratmemomasukjs');" title="Melihat Daftar Memo Masuk Proses" > Memo </a></li>
							</ul>
						</li>	
					</ul>	
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Keluar </a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratkeluar/suratkeluar','/srt/suratkeluar/suratkeluarjs');" title="Melihat Daftar Surat Keluar Proses"> Surat </a></li>
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratproses/suratnotakeluarproses','/srt/suratproses/suratnotakeluarprosesjs');" title="Melihat Daftar Nota Dinas Proses" > Nota Dinas </a></li> 
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratproses/suratmemokeluarproses','/srt/suratproses/suratmemokeluarprosesjs');" title="Melihat Daftar Memo Keluar Proses" > Memo </a></li>
					</ul>
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Daftar Surat Terproses </a> 
					<ul>
						<li class=fly ><a class="enclose" href="#"   title=""> Masuk </a> 
							<ul>
								<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratterproses/suratmasukterproses','/srt/suratterproses/suratmasukterprosesjs');" title="Melihat Daftar Surat Masuk Terproses"> Surat </a></li>  
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratterproses/suratnotamasukterproses','/srt/suratterproses/suratnotamasukterprosesjs');" title="Melihat Nota Dinas Masuk Terproses" > Nota Dinas </a></li> 
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratterproses/suratmemomasukterproses','/srt/suratterproses/suratmemomasukterprosesjs');" title="Melihat Memo Masuk Terproses" > Memo </a></li>
							</ul>
						</li>
						<li class=fly><a class="enclose" href="#"   title=""> Keluar </a> 
							<ul>
								<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratterproses/suratkeluarterproses','/srt/suratterproses/suratkeluarterprosesjs');" title="Melihat Daftar Surat Keluar Terproses"> Surat </a></li>  
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratterproses/suratnotakeluarterproses','/srt/suratterproses/suratnotakeluarterprosesjs');" title="Melihat Daftar Nota Dinas Terproses" > Nota Dinas </a></li> 
								<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratterproses/suratmemokeluarterproses','/srt/suratterproses/suratmemokeluarterprosesjs');" title="Melihat Daftar Memo Keluar Terproses" > Memo </a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Daftar Surat Masuk </a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratmasuk/listsuratmasuk','/srt/suratmasuk/suratmasukjs');" title="Melihat Daftar Surat Masuk"> Surat </a></li>  
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratnotamasuk/listsuratnotamasuk','/srt/suratnotamasuk/suratnotamasukjs');" title="Melihat Daftar Nota Dinas Masuk" > Nota Dinas </a></li> 
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratmemomasuk/listsuratmemomasuk','/srt/suratmemomasuk/suratmemomasukjs');" title="Melihat Daftar Memo Masuk" > Memo </a></li>
					</ul>  
				</li>
				<li class=fly><a class="enclose" href="#"   title=""> Daftar Surat Keluar </a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/suratkeluar/listsuratkeluar','/srt/suratkeluar/suratkeluarjs');" title="Melihat Daftar Surat Keluar"> Surat </a></li>  
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratnotakeluar/listsuratnotakeluar','/srt/suratnotakeluar/suratnotakeluarjs');" title="Melihat Daftar Nota Dinas Keluar" > Nota Dinas </a></li> 
						<li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/suratmemokeluar/listsuratmemokeluar','/srt/suratmemokeluar/suratmemokeluarjs');" title="Melihat Daftar Memo Keluar" > Memo </a></li>
					</ul>  
				</li>
				<li class=fly><a class="enclose" href="#"   title="Tracking Surat">Tracking Surat</a> 
					<ul>
						<li class=sub ><a class="enclose" href="#"   onclick="open_url_to_div('/srt/trcmasuk/trcmasuk','/srt/trcmasuk/trcmasukjs');" title="Tracking Surat Masuk">Tracking Surat Masuk</a></li>  
						<!--li class=sub><a class="enclose" href="#"  onclick="open_url_to_div('/srt/trckeluar/trckeluar','/srt/trckeluar/');" title="Tracking Surat Keluar" >Tracking Surat Keluar</a></li-->
					</ul>
				</li>
			</ul>
		</li>	
	</ul>  
</div>