<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Kementerian Negara BUMN - Office Automation</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="<? echo $this->basePath;?>/css/tools.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/specs.css" rel="stylesheet" type="text/css" />
<!--link href="<? echo $this->basePath;?>/css/error.css" rel="stylesheet" type="text/css" /-->
<link href="<? echo $this->basePath;?>/css/typo.css" rel="stylesheet" type="text/css" />
<!--link href="<? echo $this->basePath;?>/css/forms.css" rel="stylesheet" type="text/css" /-->
<link href="<? echo $this->basePath;?>/css/layout01.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/styles/styles.css" rel="stylesheet" type="text/css" >
<link href="<? echo $this->basePath;?>/css/oa_style.css" rel="stylesheet" title="Brown" type="text/css" />
<link href="<? echo $this->basePath;?>/css/global.css" rel="stylesheet" type="text/css" >
<!--link rel="stylesheet" type="text/css" href="<? echo $this->basePath;?>/css/tabcontent.css"-->

<link href="<? echo $this->basePath;?>/images/icon_oa.gif" rel="icon" type="image/png" />


<script src="<? echo $this->basePath;?>/js/oa_fn.js" type="text/javascript"></script>
<script src="<? echo $this->basePath;?>/js/fsmenu.js" type="text/javascript"></script>
<SCRIPT src="<? echo $this->basePath;?>/js/jquery.js" type="text/javascript"></SCRIPT>
<SCRIPT src="<? echo $this->basePath;?>/js/jquery.form.js" type="text/javascript"></SCRIPT>
<SCRIPT src="<? echo $this->basePath;?>/js/jquery.autocomplete.js" type="text/javascript"></SCRIPT>
<SCRIPT src="<? echo $this->basePath;?>/js/interface.js" type="text/javascript"></SCRIPT>
<SCRIPT src="<? echo $this->basePath;?>/js/ajax-navigation.js" type="text/javascript"></SCRIPT>
<script src="<? echo $this->basePath;?>/js/common_format.js" type="text/JavaScript" language="JavaScript"></script>
<!--script src="<? echo $this->basePath;?>/js/menujs.js" type="text/JavaScript" language="JavaScript"></script-->
<SCRIPT src="<? echo $this->basePath;?>/js/tabcontent.js" type="text/javascript"></SCRIPT>

<script src="<? echo $this->basePath;?>/js/jquery.history_remote.pack.js" type="text/JavaScript" language="JavaScript"></script>
<script src="<? echo $this->basePath;?>/js/jquery.validate.pack.js" type="text/javascript"></script>
<script src="<? echo $this->basePath;?>/js/jquery.metadata.js" type="text/javascript"></script>
<script src="<? echo $this->basePath;?>/js/cmxforms.js" type="text/javascript"></script>
<script src="<? echo $this->basePath;?>/js/wysiwyg.js" type="text/javascript"></script>

</head>