<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="<? echo $this->basePath;?>/css/tools.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/spec.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/style.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<? echo $this->basePath;?>/css/default.css" type="text/css" title="Nice Blue style" />
<link rel="icon" href="<? echo $this->basePath;?>/images/ico_garuda.gif" type="image/png">

<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery.form.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/tabcontent.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ui.core.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ui.datepicker.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/common.js"></script>
<SCRIPT type="text/javascript" src="<? echo $this->basePath;?>/js/table.sorter.js"></SCRIPT>
<SCRIPT type="text/javascript" src="<? echo $this->basePath;?>/js/ajax-navigation.js"></SCRIPT>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/fsmenu.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ddsmoothmenu.js"></script>
<script src="<? echo $this->basePath;?>/js/oa_fn.js" type="text/javascript"></script>

 
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ext-base.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ext-all.js"></script>
<link rel="icon" href="<? echo $this->basePath;?>/images/icon.gif" type="image/png">

<script type="text/javascript">

// Current Server Time script (SSI or PHP)- By JavaScriptKit.com (http://www.javascriptkit.com)
// For this and over 400+ free scripts, visit JavaScript Kit- http://www.javascriptkit.com/
// This notice must stay intact for use.

//Depending on whether your page supports SSI (.shtml) or PHP (.php), UNCOMMENT the line below your page supports and COMMENT the one it does not:
//Default is that SSI method is uncommented, and PHP is commented:

//var currenttime = '<!--#config timefmt="%B %d, %Y %H:%M:%S"--><!--#echo var="DATE_LOCAL" -->' //SSI method of getting server date
var currenttime = '<? print date("F d, Y H:i:s", time())?>' //PHP method of getting server date

///////////Stop editting here/////////////////////////////////

var dayarray=new Array("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu");
var montharray=new Array("Januari","Februari","Maret","April","Mei","Juni","July","Agustus","September","Oktober","November","Desember")
var serverdate=new Date(currenttime)

function padlength(what){
var output=(what.toString().length==1)? "0"+what : what
return output
}

function displaytime(){
serverdate.setSeconds(serverdate.getSeconds()+1)
var datestring=dayarray[serverdate.getDay()]+", "+padlength(serverdate.getDate())+" "+montharray[serverdate.getMonth()]+" "+serverdate.getFullYear()
var timestring=padlength(serverdate.getHours()-1)+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
//document.getElementById("servertime").innerHTML=datestring+" | "+timestring
}

window.onload=function(){
setInterval("displaytime()", 1000)

}

</script> 
<script>
//tambah untuk pilihan jenis input data

function changeDiv(the_div,the_change)
{
  //alert('Please change div !');
  var the_style = getStyleObject(the_div);
  if (the_style != false)
  {
    the_style.display = the_change;
  }
}

function hideAll()
{
  changeDiv("cat_questions","none");
  changeDiv("dog_questions","none");
  changeDiv("bird_questions","none");
}

function getStyleObject(objectId) {
  if (document.getElementById && document.getElementById(objectId)) {
    return document.getElementById(objectId).style;
  } else if (document.all && document.all(objectId)) {
    return document.all(objectId).style;
  } else {
    return false;
  }
}
function userFormx(jenisForm, user_id)
{
	var url = '<?php echo $this->basePath; ?>/adm/user/usergantipwd';
	
	var param = { jenisForm:jenisForm, user_id:user_id};
	jQuery.get(url, param, function(data) {
		jQuery("div#tableview").html(data);
		jQuery("#frmgantipass").ajaxForm(gantiPass_opt);
		
		eval ( 'var nip_array = [' + document.getElementById('containernip').value +']');
		$("#nip").autocompleteArray(
			nip_array,		
			{
				delay:10,
				minChars:1,
				matchSubset:1,
				autoFill:true,
				maxItemsToShow:10
			}
		); 
	});
	
}

var gantiPass_opt = {
	target : '#tableview',
	//url: '<?php echo $this->basePath; ?>/adm/user/usergantipasswd',
	url: '<?php echo $this->basePath; ?>/home/index/usergantipasswd',
	beforeSubmit : function() {

//	alert('test');
		if (document.getElementById('username').value == ''){
			alert('User harus Diisi');
			return false;
		}
		if (document.getElementById('nip').value == ''){
			alert('NIP harus Diisi');
			return false;
		}
		if (document.getElementById('password').value == ''){
			alert('Password harus Diisi');
			return false;
		}
	},
	success: function(){doCount(5);},
	type: 'post', 
	resetForm: false
};

function cekPasswd()
{
	var userid= '';
	var status= '';
	user_id = document.getElementById('user_id').value;
	passwordlm = document.getElementById('passwordlm').value;
	var url = '<?php echo $this->basePath; ?>/adm/user/getpasswdpegawai';
	
	var param = { passwordlm:passwordlm,user_id:user_id};
	jQuery.get(url, param, function(data) {
		if (data == 0){
			alert('Password lama salah!!!');
			document.getElementById('passwordlm').value = '';
			return false;
		}
		
	});
}
function batal()
{
	///alert("batalxxxxx");
	var url = '<?php echo $this->basePath; ?>/home/index/batal';
	jQuery.get(url, function(data) {
		$("div#tableview").html(data);
	});
}

function wooYay ( )
{
  
  if ( Math.random ( ) > 10 )
  {
    //document.getElementById("alert").innerHTML = "Woo!";
	//document.getElementById("alert").style.display = "none";
  }
  else
  {
    //document.getElementById("alert").innerHTML = "Candra";
	//document.getElementById("alert").style.display = "block";
  } 

  //setTimeout ( 'document.getElementById("alert").innerHTML = "xx"', 1000 );

}

//setInterval ( "wooYay()", 1000 );



</script>

</head>
<body>
<a name="top"></a>
  <div id="container"><!--start container-->
    <div id="header" class="clear">	</div>
