<? 
  $spath = $this->getScriptPaths();
  
  $this->addScriptPath($spath[0] . 'index');
?>
  <?php //echo $this->render('header.phtml');?>
  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="id-ID" bgcolor="#015766">
<head>
	<title>Sistem Informasi Kuesioner - Mahkamah Agung Republik Indonesia</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='<? echo $this->basePath;?>/css/login.css' type='text/css' media='all' />
	<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery.form.js"></script>

	<!--link rel='stylesheet' href='<? echo $this->basePath;?>/css/colorsx.css' type='text/css' media='all' /-->
</head>
<body class="login">

	<div id="login"><h1><a href="http://persuratan.intranet" title="Didukung oleh WordPress">Sistem Informasi Kuesioner</a></h1>
	  <div class="box-login">
		<? if ($this->pesanKesalahan) {?> 
		<p class="message"><font color="red"><font size="3"><b><? echo $this->pesanKesalahan;?><b><br /></font></font></p>
		<?}?>
		
		<form name="loginform" id="loginform" action="<? echo $this->basePath;?>/home/index/main" method="post">
		<!--<form name="loginform" id="loginform" method="post">-->
			<p>
				<label>Nama Pengguna<br />
				<input type="text" name="log" id="user_login" class="input" value="" size="20" tabindex="10" /></label>
			</p>
			<p>
				<label>Kata Sandi<br />
				<input type="password" name="pwd" id="user_pass" class="input" value="" size="20" tabindex="20" /></label>
			</p>
			<p class="submit">
				<input type="submit" name="submit" id="submit" value="Login" tabindex="100"/>
				<input type="hidden" name="testcookie" value="1" />
			</p>
			<input type="hidden" id="user" value="0" />
			<input type="hidden" id="jmlSalah" value="0" />
		</form>


		<p id="nav">
		
		</p>
	  </div>	

	</div>
</div>

<script type="text/javascript">
try{document.getElementById('user_login').focus();}catch(e){}

function checkPasswdbaru(target){
	var passwdBaru = document.getElementById('pwdBaru').value;
	var ulangpwdBaru = document.getElementById('ulangpwdBaru').value;

	if(passwdBaru != ulangpwdBaru){
		document.getElementById('ulangpwdBaru').value = '';
		document.getElementById('ulangpwdBaru').onFocus();
	}
}

</script>
</body>
</html>