<?
session_start();
$spath = $this->getScriptPaths();
$this->addScriptPath($spath[0] . 'index');
?>
<html>
<?php echo $this->render('header.phtml');?>
<body>
  <div id="container">
    <div id="header_main" class="clear">
    </div><!-- end header -->
	
    <?php echo $this->render('navigasi.phtml');?>
	<?php echo $this->render('menujs.phtml');?>
	
    <div id="content-main" class="clearfix">
      <div class="leftmenu">
        <div class="ct-menu">
	      <div class="hd"></div>
	      <div class="bd">
	        <ul>
	          <li>Menu 1</li>
	          <li>Menu 2</li>
	          <li>Menu 3</li>
	          <li>Menu 4</li>
	        </ul>
          </div>
        </div>  
      </div>
      <div class="contentdata">
        <h3 class="title">LOGIN SUKSES</h3>
        <h4 id="view">
	      <span class="right"><a href="#view" onclick="viewableArea(getElementById('tableview'), true); var rev_text = getElementById('view').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == 'Expand view'){rev_text.data = 'Collapse view'; } else if (rev_text.data == 'Collapse view'){rev_text.data = 'Expand view'};">Expand view</a></span>
        </h4>
        <div class="spacer"></div> 
        <div id="tableview" >
	  	
        </div>
      </div>
    </div><!-- end content -->
     
    <div id="footer" class="clear">
      <?php echo $this->render('footer.phtml');?>
    </div><!-- end footer -->
  </div><!-- end container -->
</body>
</html>