<?
require("header.phtml");

?>
    <div id="content" class="clearfix">
		<?
		//echo "jabatan = ".$this->jenis_jabatan;
		
		require("menu.phtml");
		?>
		
      <div id="content-main">
	    <div class="notif">
			<?
			//require("notif.phtml");
			?>
		</div>
	    <!--div class="search">
			<?
			//require("search.phtml");
			?>
		</div>	
	    <div class="runtext">
			<?
			//require("runningtext.phtml");
			?>
		</div-->	
        <div class="contentdata-modul" >
		
		<?
		//========================================================================================
		?>
		
		<div class="blank"></div>
		
		
		<?
		require('halamandepan.phtml');
		//========================================================================================
		?>
		
          <div class="blank"></div>
          <div class="leftside"></div>
          <div class="rightside"><a class="top" href="#top">Ke atas</a></div>
          <div class="blank"></div>
        </div><!-- end contentdata-modul-->
		
		
	</script>
	  </div><!-- end content-main-->	
	  <div class="bt"></div>
		<?
		require("footer.php");
		
		?>
    </div><!-- end content --> 
	<?
	//require("pesan.php");
	?>
 </div><!-- end container -->
</body>
</html>