	  <div id="nav">
		 <h2 class="accessibility">Navigation</h2><!--start nav-->
<div id="smoothmenu1" class="ddsmoothmenu">		 
		    <ul>
		   	 <li style="z-index: 1;"><a class="" href="#">Administrasi Pengguna</a>
		            <ul style="display: none;">
						<li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/user/userlist','<?php echo $this->basePath; ?>/adm/user/userjs');">Administrasi User</a></li>
				        <li><a href="#" onclick="">Tabel Referensi</a>
				            <ul style="display: none;" >
						        <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/jenisSurat/jenisSuratlist','<?php echo $this->basePath; ?>/adm/jenisSurat/jenisSuratjs');">Jenis Surat</a></li>
						        <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/jenisAjuan/jenisAjuanlist','<?php echo $this->basePath; ?>/adm/jenisAjuan/jenisAjuanjs');"">Jenis Ajuan</a></li>
						        <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/sifatSurat/sifatSuratlist','<?php echo $this->basePath; ?>/adm/sifatSurat/sifatSuratjs');">Sifat Surat</a></li>
						        <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/stnLampiran/stnLampiranlist','<?php echo $this->basePath; ?>/adm/stnLampiran/stnLampiranjs');">Satuan Lampiran</a></li>
				            </ul>
						</li>
				        
				        <li><a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/logfile/logfilelist','');">Log File</a></li>
		            </ul>
			 </li>
		  </ul>
		 <!--end nav-->
	  </div>
</div>	  