<script>
function today() {
    var days=new Array("Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu");
    var months=new Array("","Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November","Desember");
    var tdy=new Date();
    d=tdy.getDate();
    dy=tdy.getDay();
    day=days[dy];
    if (d<10) d="0"+d;
    m=tdy.getMonth()+1;
    y=tdy.getYear();
    if (y<2000) y=y+1900;   
    month=months[m];
    return ""+day+", "+d+" "+month+" "+y;
  }
</script>
<div id="msg">
    <div class="crdate"><SCRIPT>document.write(""+today()+"")</SCRIPT></div>
    <div class="username"> 
        <a href="" title="Ubah Profil">Ubah Profil</a> | USERID
    </div>
</div>
<ul class="linklist">
	<li><a  href="main.php" accesskey="h">Halaman Utama</a> <strong>&#8249;</strong> <a href="">Keuangan</a></li>
</ul>