    <div class="msg"><!--start msg-->
      <!--div class="crdate"><span id="servertime"></span> | <span class="username"><?echo $this->nama;?></span> (<a href="http://<? echo $_SERVER['SERVER_NAME'].$this->basePath;?>" title="Logout">Logout</a>) | <a href="#" onClick="userFormx('update','<? echo $this->user_id;?>');">Ganti Kata Sandi</a></div-->
	  <div class="crdate"><span id="servertime"></span> | <span class="username"><?echo $this->nama;?></span> (<a href="<?$this->basePath;?>/home/index/logout" title="Logout">Logout</a>) | <a href="#" onClick="userFormx('update','<? echo $this->user_id;?>');">Ganti Kata Sandi</a></div>
    </div><!--end msg-->
