    <div class="nav"><!--start nav-->
   <ul id="pmenu">
   	 <li><a href="#">Surat Masuk <!--[if IE 7]><!--></a><!--<![endif]-->
	    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
		        <li class="sub"><a href="#"onClick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/suratmasukagenda/agendalist','<?php echo $this->basePath; ?>/aplikasi/suratmasukagenda/agendajs');" class="enclose" onclick="">Agenda</a></li>
		        <li class="sub"><a href="?p=suratmasuk_lembardisposisi" onclick="">Pembuatan Lembar Disposisi</a></li>
		        <!--li class="sub"><a href="#" onclick="">Penerimaan  Disposisi</a></li-->
		        <li class="sub"><a href="?p=buku_besar" onclick="">Buku Besar</a></li>
            </ul> 
	    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	 </li>
   	 <li><a href="#">Surat Keluar <!--[if IE 7]><!--></a><!--<![endif]-->
	    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
		        <li class="fly"><a href="#" class="enclose" onclick="">Konsep Surat<!--[if IE 7]><!--></a><!--<![endif]-->
			    <!--[if lte IE 6]><table><tr><td><![endif]-->
		            <ul>
				        <li class="sub"><a href="?p=konsep_surat" class="enclose" onclick="">Surat</a></li>
				        <li class="sub"><a href="#" onclick="">Memo Dinas</a></li>
				        <li class="sub"><a href="#" onclick="">Nota Dinas</a></li>
		            </ul>
			    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
		        <li class="sub"><a href="#" onclick="">Verifikasi</a></li>
		        <li class="sub"><a href="#" onclick="">Penomoran</a></li>
		        <li class="sub"><a href="#" onclick="">Agenda Keluar</a></li>
            </ul>
	    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	 </li>
	 <li><a href="#"onClick="open_url_to_div('<?php echo $this->basePath; ?>/aplikasi/suratmasukagenda/agendalist','<?php echo $this->basePath; ?>/aplikasi/suratmasukagenda/agendajs');" class="enclose">Pengumuman</a></li>
   	 <li><a href="#">Arsip Surat <!--[if IE 7]><!--></a><!--<![endif]-->
	    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
		        <li class="fly"><a href="#" class="enclose" onclick="">Pola Klasifikasi<!--[if IE 7]><!--></a><!--<![endif]-->
			    <!--[if lte IE 6]><table><tr><td><![endif]-->
		            <ul>
				        <li class="sub"><a href="#" class="enclose" onclick="">Fasilitas</a></li>
				        <li class="sub"><a href="#" onclick="">Substantif</a></li>
		            </ul>
			    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
		        <li class="sub"><a href="#" onclick="">Arsip Surat Masuk</a></li>
		        <li class="sub"><a href="#" onclick="">Arsip Surat Keluar</a></li>
            </ul>
	    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	 </li>
   	
   	 <li><a href="#">Workflow Manajemen <!--[if IE 7]><!--></a><!--<![endif]-->
	    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
		        <li class="sub"><a href="#" class="enclose" onclick="">Konfigurasi Lembaga/Unit</a></li>
		        <li class="sub"><a href="#" onclick="">Konfigurasi Object / Aliran</a></li>
		        <li class="sub"><a href="#" onclick="">View dan Monitoring</a></li>
            </ul>
	    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	 </li>
   	 <li><a href="#">Arsip Digital <!--[if IE 7]><!--></a><!--<![endif]-->
	    <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
		        <li class="fly"><a href="#" class="enclose" onclick="">Explorer<!--[if IE 7]><!--></a><!--<![endif]-->
			    <!--[if lte IE 6]><table><tr><td><![endif]-->
		            <ul>
				        <li class="sub"><a href="#" class="enclose" onclick="">Atur Direktory</a></li>
				        <li class="sub"><a href="#" onclick="">Pindah Meta Data</a></li>
		            </ul>
			    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
		        <li class="fly"><a href="#" onclick="">Upload / Update<!--[if IE 7]><!--></a><!--<![endif]-->
			    <!--[if lte IE 6]><table><tr><td><![endif]-->
		            <ul>
				        <li class="sub"><a href="#" class="enclose" onclick="">Buat Meta Data</a></li>
				        <li class="sub"><a href="#" onclick="">Edit Metadata</a></li>
				        <li class="sub"><a href="#" onclick="">Upload File</a></li>
		            </ul>
			    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
            </ul>
	    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
	 </li>
   	<li><a href="#">Pelaporan</a>
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul>
			<li class="sub"><a href="?p=pelaporan_rekapkirimsurat" class="enclose" onclick="">Rekap Pengiriman Surat</a></li>
			<li class="sub"><a href="#" onclick="">Rekap surat Masuk</a></li>
			<li class="sub"><a href="#" onclick="">Rekap penomoran surat</a></li>
			<li class="sub"><a href="#" onclick="">Rekap Persuratan</a></li>
			<li class="sub"><a href="#" onclick="">Rekap Ajuan Ke Seskab</a></li>
			<li class="sub"><a href="#" onclick="">Monitoring Ajuan Surat</a></li>
		</ul>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
	</li>
   	<li><a href="?p=user_adm">Administrasi Pengguna</a></li>

  </ul>    </div><!--end nav-->

