<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
<div style="overflow: hidden;">
	<div class="wrap">
		<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top">
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>		
	
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Jaringan</h2>
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
		<form id="frmcatatjaringan"  method="post" name="frmcatatjaringan">
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="2%">28.</td>
			<td colspan="4">Local Area Network (LAN) :</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(1)</td>		
		   <td align="left" colspan="2"  width="96%">Apakah sudah mempunyai jaringan LAN yang berbasis Kabel?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_lan_cable=='1') {$cek1="checked";} if ($this->c_lan_cable=='2') {$cek2="checked";}?>
				<input type="radio" name="c_lan_cable" value="1" <?=$cek1?>> Sudah &nbsp;
				<input type="radio" name="c_lan_cable" value="2" <?=$cek2?>> Belum
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(2)</td>		
		   <td align="left" colspan="2">Apakah sudah mempunyai jaringan LAN yang berbasis Wireless?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_lan_wireless=='1') {$cek3="checked";} if ($this->c_lan_wireless=='2') {$cek4="checked";}?>
				<input type="radio" name="c_lan_wireless" value="1" <?=$cek3?>> Sudah &nbsp;
				<input type="radio" name="c_lan_wireless" value="2" <?=$cek4?>> Belum
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(3)</td>		
		   <td align="left" colspan="2">Apakah jaringan LAN sudah dikonfigurasi untuk keamanan aksesnya?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_lan_securty=='1') {$cek5="checked";} if ($this->c_lan_securty=='2') {$cek6="checked";}?>
				<input type="radio" name="c_lan_securty" value="1" <?=$cek5?>> Sudah &nbsp;
				<input type="radio" name="c_lan_securty" value="2" <?=$cek6?>> Belum
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(4)</td>		
		   <td align="left" colspan="2" valign="top">Berapa server yang terhubung dengan LAN?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <input type="text" name="q_lan" id="q_lan" value="<?=$this->q_lan?>" size="20" onKeyUp="isNumber('q_lan')">
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(5)</td>		
		   <td align="left" colspan="2" valign="top">Berapa client (node) yang terhubung dengan LAN ?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <input type="text" name="q_lan_hub_client" id="q_lan_hub_client" value="<?=$this->q_lan_hub_client?>" size="20" onKeyUp="isNumber('q_lan_hub_client')">
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(6)</td>		
		   <td align="left" colspan="2" valign="top">Berapa client (node) yang belum terhubung dengan LAN ?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <input type="text" name="q_lan_nhub_client" id="q_lan_nhub_client" value="<?=$this->q_lan_nhub_client?>" size="20" onKeyUp="isNumber('q_lan_nhub_client')">
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(7)</td>		
		   <td align="left" colspan="2" valign="top">Apakah jaringan LAN sudah terkoneksi dengan jaringan internet ?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_lan_internet=='1') {$cek7="checked";} if ($this->c_lan_internet=='2') {$cek8="checked";}?>
				<input type="radio" name="c_lan_internet" value="1" <?=$cek7?>> Sudah &nbsp;
				<input type="radio" name="c_lan_internet" value="2" <?=$cek8?>> Belum
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top">(8)</td>		
		   <td align="left" colspan="2" valign="top">Berapa jumlah Switch/Hub ?</td>
		   <td width="2%" valign="top">:</td> 
		   <td valign="top">
		    <input type="text" name="q_lan_hub" id="q_lan_hub" value="<?=$this->q_lan_hub?>" size="20" onKeyUp="isNumber('q_lan_hub')">
		   </td> 
		</tr>

		<tr>
			<td width="2%">29.</td>
			<td colspan="3">Berapa jumlah komputer yang dapat mengakses internet ?</td>
			 <td width="2%" valign="top">:</td> 
			<td valign="top">
		    <input type="text" name="q_pc_internet" id="q_pc_internet" value="<?=$this->q_pc_internet?>" size="20" onKeyUp="isNumber('q_pc_internet')">
		   </td> 
		</tr>	
		<tr>
			<td width="2%">30.</td>
			<td colspan="3">Apakah akses internet menggunakan sistem berlangganan ?:</td>
			<td width="2%" valign="top">:</td> 
			<td valign="top">
		   <? if ($this->c_internet_pasca=='1') {$cek9="checked";} if ($this->c_internet_pasca=='2') {$cek10="checked";}?>
				<input type="radio" name="c_internet_pasca" value="1" <?=$cek9?>> Ya &nbsp;
				<input type="radio" name="c_internet_pasca" value="2" <?=$cek10?>> Tidak
		   </td> 
		</tr>	
		<tr>
			<td width="2%">31.</td>
			<td colspan="3">Sebutkan nama provider internet (ISP)  ?:</td>
			 <td width="2%" valign="top">:</td> 
			<td valign="top">
		    <input type="text" name="q_internet_isp" id="q_internet_isp" value="<?=$this->q_internet_isp?>" size="20">
		   </td> 
		</tr>
		<tr>
			<td width="2%">32.</td>
			<td colspan="3">Berapa biaya sambungan internet rata-rata dalam 1 bulan  ?:</td>
			 <td width="2%" valign="top">:</td> 
			<td valign="top">
		    <input type="text" name="v_internet" id="v_internet" value="<?=$this->v_internet?>" size="20" onKeyUp="isNumber('v_internet')">
		   </td> 
		</tr>	
		<tr>
			<td width="2%">33.</td>
			<td colspan="3">Bandwidth yang diperoleh  ?:</td>
			 <td width="2%" valign="top">:</td> 
			<td valign="top">
		    &nbsp;
		   </td> 
		</tr>	
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%">1</td>
			 <td width="2%" colspan="2">Upload</td> 
			 <td width="2%">:</td> 
			<td valign="top">
		    <input type="text" name="q_internet_upload" id="q_internet_upload" value="<?=$this->q_internet_upload?>" size="20" onKeyUp="isNumber('q_internet_upload')">
		   </td> 
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%">2</td>
			 <td width="2%" colspan="2">Download</td> 
			 <td width="2%" >:</td> 
			<td valign="top">
		    <input type="text" name="q_internet_download" id="q_internet_download" value="<?=$this->q_internet_download?>" size="20" onKeyUp="isNumber('q_internet_download')">
		   </td> 
		</tr>			
	</table>
<input type="hidden" id="id_kuesioner" name="id_kuesioner" value="<?=$this->id_kuesioner?>" size = "10">						
		</form>
		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
			<tr>
				<td>* Harus Diisi</td>
				<td>
					<div class="right">	
					<input type="hidden" name='perintah' value="<?=$this->par;?>">
					<?/*if ($this->par=='Koreksi'){?>
					<input name='hapus' type="button" value="Hapus" onclick="hapusJaringan('<?=$this->id_kuesioner?>')">
					<?}*/?>						
					<input name='btnKoreksiJaringan' type="button" id="btnKoreksiJaringan" value="Koreksi" onClick="enableAllFormJaringan();">
					<input name='btnSimpanJaringan' type="submit" id="btnSimpanJaringan" value="Simpan" onClick="insertJaringan()">
				</td>
			</tr>
		</table>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
