<?php
$jmldataPengadilanBandingByKategori = count($this->dataPengadilanBandingByKategori);
if ($jmldataPengadilanBandingByKategori!= 0) {
	for ($j = 0; $j < $jmldataPengadilanBandingByKategori; $j++) {
	 $idPengadilan = (string)$this->dataPengadilanBandingByKategori[$j]['i_organisasi'];
	 $nPengadilan = (string)$this->dataPengadilanBandingByKategori[$j]['n_organisasi'];
	 echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
	}
	
} 
echo "<option value=\"-\" selected>--Pilih--</option>";
?>