<?php 
require_once('files.php');

?>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/easySlider.packed.js"></script>
<!-- YUI Library -->
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>/js/yui/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>/js/yui/paginator/assets/skins/sam/paginator.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>/js/yui/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>/js/yui/tabview/assets/skins/sam/tabview.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>/js/yui/button/assets/skins/sam/button.css" />

<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/element/element-beta-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/tabview/tabview-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/json/json.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/json/json-debug.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/paginator/paginator-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/datasource/datasource-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/datatable/datatable-min.js"></script>
<script type="text/javascript" src="<?php echo $this->basePath; ?>/js/yui/button/button-min.js"></script>
<!-- End Of YUI Library -->

<script type="text/javascript">
	$(document).ready(function(){	
		$("#slider").easySlider({
			prevText:'UP',
			nextText:'DOWN',
			orientation:'vertical'
		});
	});
</script>
<style>
/* Easy Slider */

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider, #slider li{ 
		/* 
			define width and height of container element and list item (slide)
			list items must be the same size as the slider area
		*/ 
		width:850px;
		height:140px;
		overflow:hidden; 		
		}
	#slider li{ 
		background:#fff;		
		}		
	#slider li h2{ 
		margin:0 20px;
		padding-top:20px;
		}	
	#slider li p{ 
		margin:20px;
		}				
	span#prevBtn{}
	span#nextBtn{}					

/* // Easy Slider */
	
	.divLog{
		padding-left:19px;
		display:inline;
		text-align:center;
		margin-right:50px;
	}
	.boxSlide{
		margin-top:2px;
		margin-left:2px;
		padding:10px;
		width:825px;
		height:115px;
		border:1px solid #B1C6CB;
	}

/* // Easy Slider */

</style>				
<div id="slider">
		<ul>				
		<?php  
			//var_dump($JmlBaris);
			$JmlKolom = 4;
			$JmlBaris = 1;
			$logpath = "log/";
			$files = new files;
			$dirContent = $files->read_dir($logpath,array('txt'));
			$Sisa = 0;
			if(count($dirContent) < $JmlKolom){
			  $JmlBaris = 1;
			  $JmlKolom = count($dirContent);
			}
			else {
			$Sisa = count($dirContent) % $JmlKolom;
			$JmlBaris = ((count($dirContent) - $Sisa)/$JmlKolom)+1;
			}
			$JmlMulai = 0;
			$JmlAkhir = $JmlKolom;
			$JmlMulai1 = 0;
			$JmlAkhir1 = $JmlKolom;
			for($x=0; $x<$JmlBaris; $x++ ){			
		?>		
				<li>
					<div class="boxSlide">
						<div>
							<br />
							<?php 				
							for($z=$JmlMulai; $z<$JmlMulai+$JmlKolom; $z++ ){ 
								$files2 = new files;
								$files2->set_files($logpath.$dirContent[$z]);
								$namafile2 = $files2->get_name();
							?>
								<div class="divLog">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="open_url_to_div('<?php echo $this->basePath; ?>/adm/logfile/logfilelist?file=<?php echo $namafile2 ?>&','');"><img src="<?php echo $this->basePath; ?>/images/txt_64.png"/></a></div>
							<?php 
							
							}
							$JmlMulai = $z;
							
            					?>
						</div>
						<div>
							<?php 
							for($n=$JmlMulai1; $n<$JmlMulai1+$JmlKolom; $n++ ){
								$files3 = new files;
								$files3->set_files($logpath.$dirContent[$n]);
								$namafile3 = $files3->get_name();
							?>
								<div class="divLog"><?php echo $namafile3;?></div>
							<?php 
							} 
							$JmlMulai1 = $n; 
							if($JmlMulai1+$JmlKolom > count($dirContent)){
							   $JmlKolom = count($dirContent) % $JmlKolom;
							}
							?>
						</div>								
					</div>
				</li>	
		<?php } ?>														
		</ul>
		</div>

<script language="javascript">

function DisplayGridSource(logfile){

//alert("sjkfhdjsdf");
	
YAHOO.example.DynamicData = function() {
    // Column definitions
    var myColumnDefs = [ // sortable:true enables sorting       
		{key:"No", label:"No", sortable:false},
		{key:"username", label:"Username", sortable:true},
		{key:"aksi", label:"Aksi", sortable:true},
		{key:"message", label:"Pesan", sortable:true},
		{key:"time", label:"Time", sortable:true}
		
    ];

    // Custom parser
    var stringToDate = function(sData) {
        var array = sData.split("-");
        return new Date(array[1] + " " + array[0] + ", " + array[2]);
    };
    
    // DataSource instance
	
	
	/*
	if(FilterKolomAdvance == "StatusTanggal"){
		UrlAdd = ;
	}
	*/
	
    var myDataSource = new YAHOO.util.DataSource("<?php echo $this->basePath; ?>/adm/logfile/GridLogFile?file="+logfile+"&");
    myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
    myDataSource.responseSchema = {
        resultsList: "records",
        fields: [
			{key:"No"},
			{key:"username"},
			{key:"aksi"},
			{key:"time"},
			{key:"message"}
        ],
        metaFields: {
            totalRecords: "totalRecords" // Access to value in the server response
        }
    };
    
    // DataTable configuration
    var myConfigs = {
        initialRequest: "sort=username&dir=asc&startIndex=0&results=10", // Initial request for first page of data
        dynamicData: true, // Enables dynamic server-driven data
        sortedBy : {key:"username", dir:YAHOO.widget.DataTable.CLASS_ASC}, // Sets UI initial sort arrow
        paginator: new YAHOO.widget.Paginator({ rowsPerPage:10 }) // Enables pagination 
    };
    
    // DataTable instance
    var myDataTable = new YAHOO.widget.DataTable("DataGridSource", myColumnDefs, myDataSource, myConfigs);
    // Update totalRecords on the fly with value from server
    myDataTable.handleDataReturnPayload = function(oRequest, oResponse, oPayload) {
        oPayload.totalRecords = oResponse.meta.totalRecords;
        return oPayload;
    }
    
    return {
        ds: myDataSource,
        dt: myDataTable
    };
        
}();

}

</script>

		<div id="container"> 
			<div id="DataGridSource"></div>			
		</div>
		
<script language="javascript">DisplayGridSource("<?php echo $_REQUEST['file']; ?>");</script>