<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
<script>
function tambahBarisPros(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="35%">';
	html = html + '<input type="text" id="n_prosedure_'+countpar+'" name="n_prosedure_'+countpar+'" value="" size = "33">';
	html = html + '</td>';
	html = html + '<td width="52%">';
	html = html + '<textarea id="e_desc_'+countpar+'" name="e_desc_'+countpar+'" rows="1"></textarea>';
	html = html + '</td>';	
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisPros('+countpar+',this,"'+par2+'");>';
	html = html + '<img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisPros("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttableprosedure').value=counttbl*1+1;	
}

}

function hapusBarisPros(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbl"+par2+"_"+induk+"").deleteRow(i);
	// var counttbl=document.getElementById('counttable'+par2+'').value;
	// document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}

</script>
<div style="overflow: hidden;">
	<div class="wrap">
		<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top"></div>
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>		
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Prosedure</h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
<form id="frmcatatprosedure"  method="post" name="frmcatatprosedure">
		
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5" valign="top">34.</td>
			<td colspan="5">Apakah Sistem Informasi di Pengadilan saudara memiliki prosedure Sistem Informasi, baik yang berbentuk
Panduan (untuk pengguna) atau dokumen teknis untuk admin (dokumen spesifikasi teknis, struktur database, source code, dll)?	</td>
		</tr>
	</table>	
<div id="panelaktif" style="display:none">
	<table align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tblprosedure">
		<tr>
			<th width="5%">No</th>
			<th width="35%">Nama Prosedure</th>
			<th width="52%">Deskripsi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>
<?

if (count($this->dataprosedure) != 0){
	$jmlapl=1;
	$cnttbl=0;
	
	foreach ($this->dataprosedure as $key => $val): 
				$n_prosedure=$this->escape($val['n_prosedure']);	
				$e_desc=$this->escape($val['e_desc']);	
		$cnttbl++;				
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblprosedure_<?=$jmlapl?>">
		<tr class="event" id="tr_prosedure_<?=$jmlapl?>">
			<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
			<td width="35%" valign="top">
				<input type="text" id="n_prosedure_<?=$jmlapl?>" name="n_prosedure_<?=$jmlapl?>" value="<? echo $n_prosedure ?>" size = "33">
			</td>
			<td width="52%" valign="top">				
				<textarea id="e_desc_<?=$jmlapl?>" name="e_desc_<?=$jmlapl?>" rows="1"><?=$e_desc?></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisPros('<?=$jmlapl?>',this,'prosedure');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisPros('<?=$jmlapl?>','prosedure');>				
			</td>
		</tr>
	</table>
<div id="tbl_prosedure_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;
				
	endforeach;
	$par="Koreksi";	
}
else
{				
$par="Simpan";
?>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblprosedure_1">
		<tr class="event" id="tr_prosedure_1">
			<td width="5%" class="clright" valign="top">1</td>
			<td width="35%" valign="top">
				<input type="text" id="n_prosedure_1" name="n_prosedure_1" value="<? echo $this->n_prosedure ?>" size = "33">
			</td>
			<td width="52%" valign="top">				
				<textarea id="e_desc_1" name="e_desc_1" rows="1"></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisPros('1',this,'prosedure');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisPros('1','prosedure');>
			</td>
		</tr>
	</table>
<div id="tbl_prosedure_1"></div>
<?
	$cnttbl = 1;
}?>
</div>
<div id="panelpasif" style="display:block">
<?	
	include('prosedure2.phtml');
?>
</div>
<input type="hidden" id="counttableprosedure" name="counttableprosedure" value="<?=$cnttbl?>" size = "10">
<div class="spacer"></div>
<input type="hidden" id="id_kuesioner" name="id_kuesioner" value="<?=$this->id_kuesioner?>" size = "10">				 	
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
						<input type="hidden" name='perintah' value="<?=$par?>">
							<input type="button" onClick="enableAllFormProsedure();" id="btnKoreksiProsedure" value="Koreksi"> 
							<input type="submit" value="Simpan" onClick="insertProsedure()" id="btnSimpanProsedure">							
					</td>
				</tr>
			</table>
		</form>
			</form>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>

