	
	<table align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tblprosedure">
		<tr>
			<th width="5%">No</th>
			<th width="35%">Nama Prosedure</th>
			<th width="52%">Deskripsi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>
<?

if (count($this->dataprosedure) != 0){
	$jmlapl=1;
	$cnttbl=0;
	
	foreach ($this->dataprosedure as $key => $val): 
				$n_prosedure=$this->escape($val['n_prosedure']);	
				$e_desc=$this->escape($val['e_desc']);	
		$cnttbl++;				
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblprosedure_<?=$jmlapl?>">
		<tr class="event" id="tr_prosedure_<?=$jmlapl?>">
			<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
			<td width="35%" valign="top">
				<input type="text" id="n_prosedure2_<?=$jmlapl?>" name="n_prosedure2_<?=$jmlapl?>" value="<? echo $n_prosedure ?>" size = "33">
			</td>
			<td width="52%" valign="top">				
				<textarea id="e_desc2_<?=$jmlapl?>" name="e_desc2_<?=$jmlapl?>" rows="1"><?=$e_desc?></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris"> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris">				
			</td>
		</tr>
	</table>
<div id="tbl_prosedure2_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;
				
	endforeach;
	$par="Koreksi";	
}
else
{				
$par="Simpan";
?>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblprosedure2_1">
		<tr class="event" id="tr_prosedure2_1">
			<td width="5%" class="clright" valign="top">1</td>
			<td width="35%" valign="top">
				<input type="text" id="n_prosedure2_1" name="n_prosedure2_1" value="<? echo $this->n_prosedure ?>" size = "33">
			</td>
			<td width="52%" valign="top">				
				<textarea id="e_desc2_1" name="e_desc2_1" rows="1"></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris"> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris">
			</td>
		</tr>
	</table>
<div id="tbl_prosedure2_1"></div>
<?}?>
