/* WYSIWYG EDITOR */
/* EDITED BY IRWAN SETIAWAN, ENGINEERING SERVICES, PT DI BANDUNG */

/* Toolbar * MODIFIED BY IRWAN SETIAWAN, ENGINEERING SERVICES - PT DI BANDUNG */
table.toolbar1   { width:933px; border: 1px solid #999999; height: 26px; background-image: url(../iconss/background_silver.jpg); }
table.toolbar2   { width:933px; border: 1px solid #999999; height: 24px; background-image: url(../iconss/background_silver.jpg); border-bottom: 0px; border-top: 0px; }

/* ADDED BY IRWAN SETIAWAN, ENGINEERING SERVICES - PT DI BANDUNG */
*html table.toolbar1,*html table.toolbar2 { width:929px; } 

*html table.toolbar1 td { height:26px;padding-top:2px;} 
*html table.toolbar2 td { height:24px;padding-top:2px;} 


/* Command Buttons */
.button     { width: 20px; height: 20px; border: 0px solid transparent; margin: 1px; padding: 0px; background: transparent; }
.buttonOver { width: 20px; height: 20px; border: 1px solid #999999; margin: 0; padding: 0px; }


/* Font Type and Size Drop Down */
.dropdown          { background-color: #FFFFFF; border: 1px solid #333333; height: 140px; overflow: auto; padding: 1px; }
button.mouseOver   { background-color: #EEEEEE; border: 1px solid #CCCCCC; padding: 3px; cursor: default; text-align: left;}
button.mouseOut    { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding: 3px; cursor: default; text-align: left;}




/* CREATE TABLE POPUP */

/* Select Border Width/Type */
.on   { background-color: #EEEEEE; border: 1px solid #CCCCCC; padding: 6px; width: 140px; cursor: default; height: 5px;}
.off  { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding: 6px; width: 140px; cursor: default; height: 5px;}

/* Select Shading/Border Color */
.selectColorTable  { border: 1px solid #7E7E81; background-color: #F7F7F7; padding: 1px; }
.selectColorBorder { border: 1px solid #F7F7F7; }
.selectColorOn     { border: 1px solid #999999; background-color: #CCCCCC; }
.selectColorOff    { border: 1px solid #F7F7F7; background-color: #F7F7F7; }
.selectColorBox    { border: 1px solid #FFFFFF; font-size: 1px; height: 13px; width: 13px; }