<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
	  <!--start module-->
<script>
function tambahBaris(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="23%">';
	html = html + '<select id="c_fungsi_sever_'+countpar+'" name="c_fungsi_sever_'+countpar+'"><option label="--Pilih--" value="">--Pilih--</option><option label="server database" value="1">server database</option><option label="server aplikasi" value="2">server aplikasi</option><option label="server web" value="3">server web</option><option label="Lain-lain" value="4">Lain-lain</option></select>';	
	html = html + '</td>';
	html = html + '<td width="26%">';
	html = html + '<input type="text" id="n_aplikasi_server_'+countpar+'" name="n_aplikasi_server_'+countpar+'" value="" size = "24">';
	html = html + '</td>';
	html = html + '<td width="8%">';
	html = html + '<input type="text" id="i_jml_server_'+countpar+'" name="i_jml_server_'+countpar+'" value="" size = "3">';
	html = html + '</td>';	
	html = html + '<td width="30%">';
	html = html + '<textarea id="n_spesifikasi_'+countpar+'" name="n_spesifikasi_'+countpar+'" rows="1"></textarea>';
	html = html + '</td>';		
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttableserver').value=counttbl*1+1;	
}

}

function hapusBarisInduk(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbladm"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}

function hardwareForm()
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/hardware/hardware';	
	var param = { };
	jQuery.get(url, param, function(data) {
		jQuery("div#tableview").html(data);
		$("#frmcatathardware").ajaxForm(option_hardware);
	});
}

	
</script>
<div style="overflow: hidden;">
	<div class="wrap">
		<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top"></div>
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>		
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Hardware</h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
<form id="frmcatathardware"  method="post" name="frmcatathardware">
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">17.</td>
			<td colspan="5">Berapa jumlah komputer (PC) dengan Prosesor :</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>
			<td align="left" width="170">Dibawah Pentium 4</dt>
			<td width="5">:</td> 
			<td>
				<input type="text" id="i_proc_pentium3" name="i_proc_pentium3" value="<?=$this->i_proc_pentium3?>" size = "10"  onKeyUp="isNumber('i_proc_pentium3')">&nbsp; buah
			</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>
			<td align="left" width="170">Pentium 4</dt>
			<td width="5">:</td> 
			<td>
				<input type="text" id="i_proc_pentium4" name="i_proc_pentium4" value="<?=$this->i_proc_pentium4?>" size = "10" onKeyUp="isNumber('i_proc_pentium4')">&nbsp; buah
			</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(3)</td>		
		   <td align="left" width="170">Dual Core</dt>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_proc_dualcore" name="i_proc_dualcore" value="<?=$this->i_proc_dualcore?>" size = "10" onKeyUp="isNumber('i_proc_dualcore')">&nbsp; buah
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(4)</td>		
		   <td align="left" width="170">Core two duo</dt>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_proc_coretwoduo" name="i_proc_coretwoduo" value="<?=$this->i_proc_coretwoduo?>" size = "10" onKeyUp="isNumber('i_proc_coretwoduo')">&nbsp; buah
		   </td> 
		</tr>
	<table>	
<input type="hidden" name="id_kuesioner" id="id_kuesioner" value="<?=$this->id_kuesioner?>">

<?
	include('memori.phtml');
?>
<div id="panelpasif" style="display:block">
<?	
	include('server2.phtml');
?>
</div>
<div id="panelaktif" style="display:none">
<?	
	include('server.phtml');
?>
</div>
<input type="hidden" name='perintah' value="<?=$this->par;?>">


	<div class="spacer"></div>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
		
							<input type="button" onClick="enableAllFormHardware();" id="btnKoreksiHardware" value="Koreksi"> 
							<input type="submit" value="Simpan" onClick="insertHw()" id="btnSimpanHardware">					
					</td>
				</tr>
			</table>
</form>			
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
