jQuery(document).ready(function() {
	// var url = '<?php echo $this->basePath; ?>/aplikasi/software/softwarejudulicon';
	// jQuery.get(url, function(data) {
		// jQuery("div#icon-judul").html(data);
	// });	
	disableAllFormHardware();
	document.getElementById('panelpasif').style.display = 'block';
	document.getElementById('panelaktif').style.display = 'none';
	document.getElementById('btnKoreksiHardware').disabled = false;
	document.getElementById('btnSimpanHardware').disabled = true;
	
});

function disableAllFormHardware() {
	var i = 0;
	i = i*1;
	for (i=0;i<document.frmcatathardware.elements.length;i++)
	{
		var e = document.frmcatathardware.elements[i];
		e.disabled = true;
	}
	
}

function enableAllFormHardware() {
	var i = 0;
	i = i*1;
	for (i=0;i<document.frmcatathardware.elements.length;i++)
	{
		var e = document.frmcatathardware.elements[i];
		e.disabled = false;
	}
	document.getElementById('panelpasif').style.display = 'none';
	document.getElementById('panelaktif').style.display = 'block';	
	document.getElementById('btnKoreksiHardware').disabled = true;
	document.getElementById('btnSimpanHardware').disabled = false;	
	$("#frmcatathardware").ajaxForm(option_hardware);
	document.getElementById('i_proc_pentium3').focus();
}

function hapusHw(id_kuesioner){
	var url = '<?php echo $this->basePath; ?>/aplikasi/hardware/hapus';	
	var param = { id_kuesioner:id_kuesioner};
	jQuery.get(url, param, function(data) {
		jQuery("div#tableview").html(data);
		jQuery("#frmcatathardware").ajaxForm(option_hardware);
	});

}
function insertHw(){
	jQuery("#frmcatathardware").ajaxForm(option_hardware);
}

var option_hardware = {
			target : '#tableview',
			beforeSubmit: function(){},
			success : function() {
				doCounter(5);
				disableAllFormHardware();
				document.getElementById('btnKoreksiHardware').disabled = false;
				document.getElementById('btnSimpanHardware').disabled = true;
			},
			url: '<?php echo $this->basePath; ?>/aplikasi/hardware/maintaindatahardware',
			type: 'post',
			resetForm: false
};


function tambahBarisHw(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbl'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="23%">';
	html = html + '<select id="c_fungsi_sever_'+countpar+'" name="c_fungsi_sever_'+countpar+'"><option label="--Pilih--" value="">--Pilih--</option><option label="server database" value="1">server database</option><option label="server aplikasi" value="2">server aplikasi</option><option label="server web" value="3">server web</option><option label="Lain-lain" value="4">Lain-lain</option></select>';	
	html = html + '</td>';
	html = html + '<td width="26%">';
	html = html + '<input type="text" id="n_aplikasi_server_'+countpar+'" name="n_aplikasi_server_'+countpar+'" value="" size = "24">';
	html = html + '</td>';
	html = html + '<td width="8%">';
	html = html + '<input type="text" id="i_jml_server_'+countpar+'" name="i_jml_server_'+countpar+'" value="" size = "3">';
	html = html + '</td>';	
	html = html + '<td width="30%">';
	html = html + '<textarea id="n_spesifikasi_'+countpar+'" name="n_spesifikasi_'+countpar+'" rows="1"></textarea>';
	html = html + '</td>';		
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisHw('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisHw("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttableserver').value=counttbl*1+1;	
}

}

function hapusBarisHw(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbl"+par2+"_"+induk+"").deleteRow(i);
	// var counttbl=document.getElementById('counttableserver').value;
	// document.getElementById('counttableserver').value=counttbl*1-1;
}

function hardwareForm()
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/hardware/hardware';	
	var param = { };
	jQuery.get(url, param, function(data) {
		jQuery("div#tableview").html(data);
		$("#frmcatathardware").ajaxForm(option_hardware);
	});
}

function doCounter(countdown) {
	location.href="#top";
	document.getElementById("confirm").style.display="block";
	if (countdown > 0) {
        countdown=countdown-1;
		window.status=countdown + " seconds left to view this page.";
		setTimeout('doCounter()',5000); 
    }
    else {
        document.getElementById("confirm").style.display="none";
    } 
}