<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
	<tr>
			<td width="5">18.</td>
			<td colspan="5">Berapa jumlah komputer (PC) dengan Memori :</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>
		   <td align="left" width="170">< 1 GB</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_memori_1gb" name="i_memori_1gb" value="<?=$this->i_memori_1gb?>" size = "10"  onKeyUp="isNumber('i_memori_1gb')">&nbsp; buah
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>		
		   <td align="left" width="170">>= 1 GB</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_memori_2gb" name="i_memori_2gb" value="<?=$this->i_memori_2gb?>" size = "10"  onKeyUp="isNumber('i_memori_2gb')">&nbsp; buah
		   </td> 
		</tr>

		<tr>
			<td width="5">19.</td>
			<td colspan="5">Berapa jumlah komputer (PC) dengan Hardisk :</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>			
		   <td align="left" width="170">< 40 GB</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_hardisk_40gb" name="i_hardisk_40gb" value="<?=$this->i_hardisk_40gb?>" size = "10" onKeyUp="isNumber('i_hardisk_40gb')">&nbsp; buah
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>			
		   <td align="left" width="170">>= 40 GB</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_hardisk_50gb" name="i_hardisk_50gb" value="<?=$this->i_hardisk_50gb?>" size = "10" onKeyUp="isNumber('i_hardisk_50gb')">&nbsp; buah
		   </td> 
		</tr>
		<tr>
			<td width="5">20.</td>
			<td colspan="5">Berapa jumlah komputer (PC) dengan Monitor :</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>	
			<td align="left" width="170">< 17 inchi non LCD</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_monitor_17nlcd" name="i_monitor_17nlcd" value="<?=$this->i_monitor_17nlcd?>" size = "10" onKeyUp="isNumber('i_monitor_17nlcd')">&nbsp; buah
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>			
		   <td align="left" width="170">>= 17 inchi non LCD</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_monitor_18nlcd" name="i_monitor_18nlcd" value="<?=$this->i_monitor_18nlcd?>" size = "10" onKeyUp="isNumber('i_monitor_18nlcd')">&nbsp; buah
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(3)</td>			
		   <td align="left" width="170">< 17 inchi LCD</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_monitor_17lcd" name="i_monitor_17lcd" value="<?=$this->i_monitor_17lcd?>" size = "10" onKeyUp="isNumber('i_monitor_17lcd')">&nbsp; buah
		   </td> 
		</tr>			
		<tr>
			<td>&nbsp;</td>
			<td width="5">(4)</td>			
		   <td align="left" width="170">>= 17 inchi LCD</td>
		   <td width="5">:</td> 
		   <td>
				<input type="text" id="i_monitor_18lcd" name="i_monitor_18lcd" value="<?=$this->i_monitor_18lcd?>" size = "10" onKeyUp="isNumber('i_monitor_18lcd')">&nbsp; buah
		   </td> 
		</tr>
</table>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >			
		<tr>
			<td width="5">21.</td>
			<td colspan="2">Sebutkan jumlah</td>
			<td width="5">:</td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>
			<td align="left" width="130">Printer</td>
			<td width="5">:</td> 
			<td>
				<input type="text" id="i_printer" name="i_printer" value="<?=$this->i_printer?>" size = "10" onKeyUp="isNumber('i_printer')">&nbsp; buah
			</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>		
		    <td align="left" width="170">Scaner</td>
		    <td width="5">:</td> 
		    <td>
				<input type="text" id="i_scanner" name="i_scanner" value="<?=$this->i_scanner?>" size = "10" onKeyUp="isNumber('i_scanner')">&nbsp; buah
		    </td> 
		</tr>
	</table>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >			
		<tr>
			<td width="5">22.</td>
			<td colspan="2">Sebutkan jumlah UPS</td>
			<td width="5">:</td> 
			<td width="50%">
				<input type="text" id="i_ups" name="i_ups" value="<?=$this->i_ups?>" size = "10" onKeyUp="isNumber('i_ups')">&nbsp; buah
		   </td> 
		</tr>	
		<tr>
			<td width="5">23.</td>
			<td colspan="2">Apakah mempunyai CCTV ?</td>
			<td width="5">:</td> 
			<td>
			<?if ($this->c_cctv=='1'){$cek1="checked";}if ($this->c_cctv=='2'){$cek2="checked";}?>
				<input type="radio" name="c_cctv" value="1" <?=$cek1?>> Sudah &nbsp;
				<input type="radio" name="c_cctv" value="2" <?=$cek2?>> Belum
		   </td> 
		</tr>	
		<tr>
			<td width="5">24.</td>
			<td colspan="2">Fasilitas layanan publik (desk info) yang tersedia</td>
			<td width="5">:</td> 
			<td>
				<input type="checkbox" id="c_fasilitas_tv" name="c_fasilitas_tv" value="1" <?if ($this->c_fasilitas_tv=='1'){echo "checked";}?>>TV &nbsp;
				<input type="checkbox" id="c_fasilitas_pc" name="c_fasilitas_pc" value="2"<?if ($this->c_fasilitas_pc=='2'){echo "checked";}?>>Komputer &nbsp;
				<input type="checkbox" id="c_fasilitas_liflet" name="c_fasilitas_liflet" value="3"<?if ($this->c_fasilitas_liflet=='3'){echo "checked";}?>>Liflet &nbsp;
				<input type="checkbox" id="c_fasilitas_no" name="c_fasilitas_no" value="4"<?if ($this->c_fasilitas_no=='4'){echo "checked";}?>>Belum ada &nbsp;
		   </td> 
		</tr>
		<tr>
			<td width="5">25.</td>
			<td colspan="2">Berapa watt daya listrik keseluruhan di pengadilan ini?</td>
			<td width="5">:</td> 
			<td>
				<input type="text" id="i_watt" name="i_watt" value="<?=$this->i_watt?>" size = "10" onKeyUp="isNumber('i_watt')">&nbsp; Watt
		   </td> 
		</tr>	
		<tr>
			<td width="5">26.</td>
			<td colspan="2">Apakah mempunyai masalah dengan daya listrik jika diinstalasi sistem komputer</td>
			<td width="5">:</td> 
			<td>
			<?if ($this->c_problem_watt=='1'){$cek3="checked";}if ($this->c_problem_watt=='2'){$cek4="checked";}?>
				<input type="radio" name="c_problem_watt" value="1"<?=$cek3?>> Ya &nbsp;
				<input type="radio" name="c_problem_watt" value="2"<?=$cek4?>> Tidak
		   </td> 
		</tr>		
	</table>		