 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">27.</td>
			<td>Perangkat Server :</td>
		</tr>
	</table>	
	<table align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmperkara">
		<tr>
			<th width="5%">No</th>
			<th width="23%">Fungsi Sever</th>
			<th width="26%">Nama Aplikasi</th>
			<th width="8%">Jumlah</th>
			<th width="30%">Spesifikasi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>
<?

if (count($this->datahardware) != 0){
	$jmlapl=1;
	$cnttbl=0;		
	foreach ($this->datahardware as $key => $val): 
				$c_fungsi_sever=$this->escape($val['c_fungsi_sever']);	
				$n_aplikasi_server=$this->escape($val['n_aplikasi_server']);	
				$n_spesifikasi=$this->escape($val['n_spesifikasi']);
				$i_jml_server=$this->escape($val['i_jml_server']);
	$cnttbl++;
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblserverx_<?=$jmlapl?>">
		<tr class="event" id="tr_perkara_<?=$jmlapl?>">
			<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
			<td width="23%" valign="top">
		   <?php
				$fungsiserver = array(""=>"--Pilih--",
								"1"=>"server database",
								"2"=>"server aplikasi",
								"3"=>"server web",
								"4"=>"Lain-lain");
				echo $ctrlFrm->formSelect('c_fungsi_sever_'.$jmlapl.'', $c_fungsi_sever, null, $fungsiserver); 							
			?>				
				
			</td>
			<td width="26%" valign="top">				
				<input type="text" id="n_aplikasi_serverx_<?=$jmlapl?>" name="n_aplikasi_serverx_<?=$jmlapl?>" value="<? echo $n_aplikasi_server ?>" size = "24">		
			</td>
			<td width="8%" valign="top">
				<input type="text" id="i_jml_serverx_<?=$jmlapl?>" name="i_jml_serverx_<?=$jmlapl?>" value="<? echo $i_jml_server ?>" size = "3"  onKeyUp="isNumber('i_jml_serverx_<?=$jmlapl?>')">
			</td>
			<td width="30%">
				<textarea id="n_spesifikasi2_<?=$jmlapl?>" name="n_spesifikasi2_<?=$jmlapl?>" rows="1"><?=$n_spesifikasi?></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris"> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris">				
			</td>
		</tr>
	</table>
<div id="tbl_serverx_<?=$jmlapl?>"></div>
<?				
	$jmlapl++;
				
	endforeach;
}
else
{				

?>
	
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblserverx_1">
		<tr class="event" id="tr_perkara_1">
			<td width="5%" class="clright" valign="top">1</td>
			<td width="20%" valign="top">
		   <?php
				$fungsiserver = array(""=>"--Pilih--",
								"1"=>"server database",
								"2"=>"server aplikasi",
								"3"=>"server web",
								"4"=>"Lain-lain");
				echo $ctrlFrm->formSelect('c_fungsi_sever_1', $this->fungsiserver, null, $fungsiserver); 							
			?>				
				
			</td>
			<td width="26%" valign="top">				
				<input type="text" id="n_aplikasi_serverx_1" name="n_aplikasi_serverx_1" value="<? echo $this->aplikasiperkara ?>" size = "24">		
			</td>
			<td width="8%" valign="top">
				<input type="text" id="i_jml_serverx_1" name="i_jml_serverx_1" value="<? echo $this->aplikasiperkara ?>" size = "3"  onKeyUp="isNumber('i_jml_serverx_1')">
			</td>
			<td width="30%">
				<textarea id="n_spesifikasi_1" name="n_spesifikasi_1" rows="1"></textarea>
			</td>			
			<td width="8%" valign="top">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris"> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris">
			</td>
		</tr>
	</table>
<div id="tbl_serverx_1"></div>
<?}?>