<html>

<head>
<title>Default module</title>
</head>
<body>
   <center>
  <h1>Selamat Datang - Test Zend Framework </h1>
  </center>
  <hr/>
  <p>Pilih Module</p>
  <ul>
    <li><a href="home">Home</a></li>
	<li><a href="sdm" >SDM </a></li>
	<li><a href="dummy">Dummy Module</a></li>
   </ul>
</body>
</html>



