<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Group</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Tambah Data Group</h2>
	    <div class="spacer"></div> 
		
		<? if(strtolower($this->jenisForm) == 'insert') {	$namaForm = 'frmtambahgroup'; }
			else if (strtolower($this->jenisForm) == 'update') {	$namaForm = 'frmubahgroup'; }
			else {	$namaForm = 'frmhapusgroup'; }
		
		?>
		<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<?
				if (strtolower($this->jenisForm) != 'insert'){?>
				<tr>
				    <td align="right" width="180">* Kode :</td>
					<td>
						<?
						$role_idAttrib = array("size" => 10,"maxlength" => 10,"readonly" => "true");
						echo $ctrlFrm->formText('role_id', $this->detailGroup['role_id'], $role_idAttrib);
						?>
						
					</td>
				</tr>
				<? } ?>
				<tr>
				    <td align="right" width="180">* Group :</td>
					<td>
						<?
						$role_nameAttrib = array("size" => 50,"maxlength" => 50);
						echo $ctrlFrm->formText('role_name', $this->detailGroup['role_name'], $role_nameAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="grouplist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>
		</form>
	</div>
</div>