<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();

$currentPage = $this->currentPage;
$numToDisplay = $this->numToDisplay;
$format_page = new format_page();

?>
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Pengumuman</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Pengumuman</h2>
		<div class="search-panel">
			<form method="post" name="caripengumuman" id="caripengumuman">Kata Kunci :
				<input type="text" name="Cari">
				<input type="button" name="Search" value="Cari">
			</form>
		</div>
		<div class="space-line"></div>

		
		<fieldset class="fields"> 
			<div class="spacer"> </div>
			<? 
			
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			<div class="spacer"> </div>	
			
			<div class="add" title="Tambah Data" onClick="pengumumanForm('insert','');"></div> 

			<div class="blank"></div>
			
			
			<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl">
				<th width=5%>No</th> 
				<th width=65% class="sorted order2 sortable"><a href="">Deskripsi Pengumuman</a></th> 
				<th width=20%>Status Aktif</th>
				<th width=10% colspan="2">Tindakan</th>
				
				<?
				if (count($this->pengumumanList) == 0){ 
				?>
					<tr class="event2"><td colspan="5"><font color="red">Data Tidak Ditemukan</font></td></tr>
				<?} else {
						
						
						foreach ($this->pengumumanList as $key => $val): 
						if ($key%2==0) { ?>
							<tr class="event">
						<? } else if ($key%2==1) { ?>
							<tr class="event2">
						<? } 
						$iPengumuman = $this->escape($val['i_pengumuman']); 
						$ePengumuman = $this->escape($val['e_pengumuman']); 
						$cStatusaktif = $this->escape($val['c_statusaktif']);
						$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
						
						// form Hidden 
						echo $ctrlFrm->formHidden('iPengumuman', $iPengumuman, null);
						
						?>
						
						<td class="clright"><? echo $noUrut;?>&nbsp;&nbsp;</td>
						<td class="clleft">&nbsp;<? echo $ePengumuman;?></td>
						<? 
						if($cStatusaktif == 'Y') { $statusAktif = "checked";}
						else {$statusAktif = "";}
					
						?>
						<td class="clcenter">
							<input type="checkbox" name="statusAktif_<? echo $key;?>" id="statusAktif_<? echo $key;?>" <? echo $statusAktif;?> disabled>
						</td>
						
						<td><div onClick="pengumumanForm('update','<? echo $iPengumuman;?>');" class="edit" title="Ubah Data"></div></td>
						<td><div class="delete" title="Hapus Data" onClick="pengumumanHapus('Pengumuman', '<? echo $iPengumuman; ?>')" ></td>
						
					
						</tr>
					<?
					endforeach;
				}
				?>
			</table>
			
			<?
			$totalData = $this->totalData;
			
			$divId = 'tableview';
			$modul = $this->basePath."/aplikasi/suratmasukagenda/agendamasuklist";
			$param1 = $this->kategoriCari;
			$param2 = $this->katakunciCari;
			$format_page->showPage($totalData, $numToDisplay, $currentPage, $divId, $modul, $param1, $param2, $param3, $param4);
			
			?>
		  
		</fieldset>		 
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>