<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
?>
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Pengumuman<strong> &#8250; </strong><?echo $title;?></div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Tambah Data Konsep Surat</h2>
	    <div class="spacer"></div> 
		
		<? if(strtolower($this->jenisForm) == 'insert') {	$namaForm = 'frmtambahpengumuman'; }
			else if (strtolower($this->jenisForm) == 'update') {	$namaForm = 'frmubahpengumuman'; }
			else {	$namaForm = 'frmhapuspengumuman'; }
		
		?>
		<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<tr>
				    <td align="right" width="180">* Pengumuman :</td>
					<td>
						<textarea name="ePengumuman"  id="ePengumuman" class="medium"><? echo $this->detailPengumuman['e_pengumuman'];?></textarea>
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">Status Aktif :</td>
					<td>
					<?
						$cStatusaktifList[""] = "---Pilih---";
						$cStatusaktifList["Y"] = "Ditampilkan";
						$cStatusaktifList["N"] = "Tidak Ditampilkan";
						echo $ctrlFrm->formSelect('cStatusaktif', $this->detailPengumuman['c_statusaktif'], null, $cStatusaktifList);
					?>
					</td>
				</tr>
				<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="pengumumanlist();"> 
							<input type="reset" value="Ulangi"> 
							<? echo $ctrlFrm->formHidden('iPengumuman', $this->detailPengumuman['i_pengumuman'], null);?>
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>
		</form>
	</div>
</div>