<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();

	$file_type = "vnd.ms-xls";
	$file_ending = "xls";
	header("Content-Type: application/$file_type");
	header("Content-Disposition: attachment; filename=Kuesioner.$file_ending");
	header("Pragma: no-cache");
	header("Expires: 0"); 

$html='
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
</style></head>
<body>
<table width="100%"   align="center" border="0" cellspacing="1" cellpadding="2">
	<tr>
		<td colspan="20">
			<font color="#000000" face="arial" size="4" >Rekapitulasi Kuesioner</font>
		</td>
	</tr>
	<tr>
		<td colspan="20">
			&nbsp;
		</td>
	</tr>	
</table>
<table width="100%"  align="center" border="1" cellspacing="1" cellpadding="2">
	<th rowspan="4"><font color="#000000" face="arial" size="2">Bulan</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Tahun</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Nama Pengadilan Banding</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Nama Pengadilan Tingkat I</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Alamat</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">No. Telephone</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Fax</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Nama Responden</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Jabatan</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">Pangkat/Gol</font></th>
	<th rowspan="4"><font color="#000000" face="arial" size="2">No Handphone</font></th>
	<th colspan="16"><font color="#000000" face="arial" size="2">Sumber Daya Manusia</font></th>
	<th colspan="41"><font color="#000000" face="arial" size="2">Software</font></th>
	<th colspan="22"><font color="#000000" face="arial" size="2">Hardware</font></th>
	<th colspan="14"><font color="#000000" face="arial" size="2">Jaringan</font></th>
	<th colspan="2"><font color="#000000" face="arial" size="2">Prosedure</font></th>
	<th colspan="6"><font color="#000000" face="arial" size="2">Anggaran Pengembangan Sistem</font></th>	
	<th colspan="15"><font color="#000000" face="arial" size="2">Kegiatan</font></th>
	<th colspan="17"><font color="#000000" face="arial" size="2">Deskinfo</font></th>	
	<tr>';
	$html=$html.headerMidSdm();
	$html=$html.headerMidSW();
$html=$html.'	
	<th colspan="8"><font color="#000000" face="arial" size="2">16</font></th>	
	<th colspan="4"><font color="#000000" face="arial" size="2">17</font></th>	
	<th colspan="2"><font color="#000000" face="arial" size="2">18</font></th>	
	<th colspan="2"><font color="#000000" face="arial" size="2">19</font></th>		
	<th colspan="4"><font color="#000000" face="arial" size="2">20</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">21</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">22</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">23</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">24</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">25</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">26</font></th>	
	<th colspan="4"><font color="#000000" face="arial" size="2">27</font></th>
	<th colspan="8"><font color="#000000" face="arial" size="2">28</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">29</font></th>
	<th rowspan="3"><font color="#000000" face="arial" size="2">30</font></th>
	<th rowspan="3"><font color="#000000" face="arial" size="2">31</font></th>
	<th rowspan="3"><font color="#000000" face="arial" size="2">32</font></th>
	<th colspan="2"><font color="#000000" face="arial" size="2">33</font></th>
	<th colspan="2"><font color="#000000" face="arial" size="2">34</font></th>	
	<th colspan="2"><font color="#000000" face="arial" size="2">35</font></th>	
	<th colspan="2"><font color="#000000" face="arial" size="2">36</font></th>
	<th colspan="2"><font color="#000000" face="arial" size="2">37</font></th>	
	<th colspan="15"><font color="#000000" face="arial" size="2">38</font></th>
	<th rowspan="3"><font color="#000000" face="arial" size="2">39</font></th>	
	<th colspan="3"><font color="#000000" face="arial" size="2">40</font></th>
	<th colspan="12"><font color="#000000" face="arial" size="2">41</font></th>	
	<th rowspan="3"><font color="#000000" face="arial" size="2">42</font></th>	
	</tr>
	<tr>';
	$html=$html.headerBotomSdm1();
	$html=$html.headerBotomSdm2();
	$html=$html.headerBotomSW12();
	$html=$html.headerBotomSW13();
	$html=$html.headerBotomSW14();
	$html=$html.headerBotomSW15();
$html=$html.'	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	<th colspan="2"><font color="#000000" face="arial" size="2">(3)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(4)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(5)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(6)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(7)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(3)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(4)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(3)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(4)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Fungsi Sever</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Jumlah</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Spesifikasi</font></th>	
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(3)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(4)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(5)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(6)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(7)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(8)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">(1)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(2)</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Nama Prosedure</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Deskripsi</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Tahun</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Nilai</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Donor</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Tahun</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Tahun Anggaran</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Kegiatan</font></th>
	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Kegiatan</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">a</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">b</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">c</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">d</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">e</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">f</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">g</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">h</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">i</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">j</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Komponen TI</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Spesipikasi</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Jumlah</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Keterangan</font></th>	
	<th rowspan="2"><font color="#000000" face="arial" size="2">40</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(a)</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">(b)</font></th>	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Jan</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Feb</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Mar</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Apr</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Mei</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Jun</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Jul</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Agt</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Sep</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Okt</font></th>	
	<th rowspan="2"><font color="#000000" face="arial" size="2">Nop</font></th>
	<th rowspan="2"><font color="#000000" face="arial" size="2">Des</font></th>	
	
	</tr>
<tr>
	<th><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">Platform</font></th>
	<th><font color="#000000" face="arial" size="2">Database</font></th>
	<th><font color="#000000" face="arial" size="2">Jenis Aplikasi</font></th>
	
	<th><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">Platform</font></th>
	<th><font color="#000000" face="arial" size="2">Database</font></th>
	<th><font color="#000000" face="arial" size="2">Jenis Aplikasi</font></th>
	
	<th><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">Platform</font></th>
	<th><font color="#000000" face="arial" size="2">Database</font></th>
	<th><font color="#000000" face="arial" size="2">Jenis Aplikasi</font></th>

	<th><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">Platform</font></th>
	<th><font color="#000000" face="arial" size="2">Database</font></th>
	<th><font color="#000000" face="arial" size="2">Jenis Aplikasi</font></th>

	<th><font color="#000000" face="arial" size="2">Nama Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">Platform</font></th>
	<th><font color="#000000" face="arial" size="2">Database</font></th>
	<th><font color="#000000" face="arial" size="2">Jenis Aplikasi</font></th>
	<th><font color="#000000" face="arial" size="2">(a)</font></th>
	<th><font color="#000000" face="arial" size="2">(b)</font></th>		
</tr>';	
	if (count($this->datalaporan)!=0){
	foreach ($this->datalaporan as $key => $val): 
			$id=$this->escape($val['id']);
			if ($id2!=$id)
				{
					$d_bulan_kuesioner= $this->escape($val['d_bulan_kuesioner']);
					$d_tahun_kuesioner=$this->escape($val['d_tahun_kuesioner']);
					$n_organisasi=$this->escape($val['n_organisasi']);
					$n_alamat=$this->escape($val['n_alamat']);
					$n_alamat=$this->escape($val['n_alamat']);
					$no_telepon=$this->escape($val['no_telepon']);
					$no_fax=$this->escape($val['no_fax']);
					$n_responden=$this->escape($val['n_responden']);
					$n_jabatan=$this->escape($val['n_jabatan']);
					$n_pangkat=$this->escape($val['n_pangkat'])."/".$this->escape($val['n_golongan']);
					$no_hp_responden=$this->escape($val['no_hp_responden']);
					$d1_1=$this->escape($val['1_1']);
					$d1_2=$this->escape($val['1_2']);
					$d1_3=$this->escape($val['1_3']);
					$d1_4=$this->escape($val['1_4']);
					$d2_1=$this->escape($val['2_1']);
					$d2_2=$this->escape($val['2_2']);
					$d2_3=$this->escape($val['2_3']);
					$d3_0=$this->escape($val['3_0']);
					$d4_0=$this->escape($val['4_0']);
					$d5_0=$this->escape($val['5_0']);
					$d6_0=$this->escape($val['6_0']);
					$d7_0=$this->escape($val['7_0']);
					$d8_0=$this->escape($val['8_0']);
					$d9_0=$this->escape($val['9_0']);
					$d10_0=$this->escape($val['10_0']);
					$d11_0=$this->escape($val['11_0']);
					$d12_1=$this->escape($val['12_1']);
					$d12_2=$this->escape($val['12_2']);
					$d12_3=$this->escape($val['12_3']);
					$d12_4=$this->escape($val['12_4']);
					$d12_5=$this->escape($val['12_5']);
					$d12_6=$this->escape($val['12_6']);
					$d13_1=$this->escape($val['13_1']);
					$d13_2=$this->escape($val['13_2']);
					$d13_3=$this->escape($val['13_3']);
					$d13_4=$this->escape($val['13_4']);
					$d13_5=$this->escape($val['13_5']);
					$d16_1=$this->escape($val['16_1']);
					$d16_2=$this->escape($val['16_2']);
					$d16_3_a=$this->escape($val['16_3_a']);
					$d16_3_b=$this->escape($val['16_3_b']);
					$d16_4=$this->escape($val['16_4']);
					$d16_5=$this->escape($val['16_5']);
					$d16_6=$this->escape($val['16_6']);
					$d16_7=$this->escape($val['16_7']);
					$d17_1=$this->escape($val['17_1']);
					$d17_2=$this->escape($val['17_2']);
					$d17_3=$this->escape($val['17_3']);
					$d17_4=$this->escape($val['17_4']);
					$d18_1=$this->escape($val['18_1']);
					$d18_2=$this->escape($val['18_2']);
					$d19_1=$this->escape($val['19_1']);
					$d19_2=$this->escape($val['19_2']);
					$d20_1=$this->escape($val['20_1']);
					$d20_2=$this->escape($val['20_2']);
					$d20_3=$this->escape($val['20_3']);
					$d20_4=$this->escape($val['20_4']);
					$d21_0=$this->escape($val['21_0']);
					$d22_0=$this->escape($val['22_0']);
					$d23_0=$this->escape($val['23_0']);
					$d24_0=$this->escape($val['24_0']);
					$d25_0=$this->escape($val['25_0']);
					$d26_0=$this->escape($val['26_0']);
					$d28_1=$this->escape($val['28_1']);
					$d28_2=$this->escape($val['28_2']);
					$d28_3=$this->escape($val['28_3']);
					$d28_4=$this->escape($val['28_4']);
					$d28_5=$this->escape($val['28_5']);
					$d28_6=$this->escape($val['28_6']);
					$d28_7=$this->escape($val['28_7']);
					$d28_8=$this->escape($val['28_8']);
					$d29_0=$this->escape($val['29_0']);
					$d30_0=$this->escape($val['30_0']);
					$d31_0=$this->escape($val['31_0']);
					$d32_0=$this->escape($val['32_0']);
					$d33_1=$this->escape($val['33_1']);
					$d33_2=$this->escape($val['33_2']);
					$d39_0=$this->escape($val['39_0']);
					$d40_0=$this->escape($val['40_0']);
					$d40_1=$this->escape($val['40_1']);
					$d40_2=$this->escape($val['40_2']);
					$dv_jan=$this->escape($val['v_jan']);
					$dv_feb=$this->escape($val['v_feb']);
					$dv_mar=$this->escape($val['v_mar']);
					$dv_apr=$this->escape($val['v_apr']);
					$dv_mei=$this->escape($val['v_mei']);
					$dv_jun=$this->escape($val['v_jun']);
					$dv_jul=$this->escape($val['v_jul']);
					$dv_agt=$this->escape($val['v_agt']);
					$dv_sep=$this->escape($val['v_sep']);
					$dv_okt=$this->escape($val['v_okt']);
					$dv_nop=$this->escape($val['v_nop']);
					$dv_des=$this->escape($val['v_des']);
					$d42_0=$this->escape($val['42_0']);
					

					
					
				}	
				

$html=$html.'		
		<tr class="event">
			<td valign="top">'.$d_bulan_kuesioner.'</td>
			<td valign="top">'.$d_tahun_kuesioner.'</td>
			<td valign="top">'.$n_organisasi.'</td>
			<td valign="top">'.$n_alamat.'</td>
			<td valign="top">'.$n_alamat.'</td>
			<td valign="top">'.$no_telepon.'</td>
			<td valign="top">'.$no_fax.'</td>
			<td valign="top">'.$n_responden.'</td>
			<td valign="top">'.$n_jabatan.'</td>
			<td valign="top">'.$n_pangkat.'</td>
			<td valign="top">'.$no_hp_responden.'</td>
			<td valign="top">'.$d1_1.'</td>
			<td valign="top">'.$d1_2.'</td>
			<td valign="top">'.$d1_3.'</td>
			<td valign="top">'.$d1_4.'</td>
			<td valign="top">'.$d2_1.'</td>
			<td valign="top">'.$d2_2.'</td>
			<td valign="top">'.$d2_3.'</td>
			<td valign="top">'.$d3_0.'</td>
			<td valign="top">'.$d4_0.'</td>
			<td valign="top">'.$d5_0.'</td>
			<td valign="top">'.$d6_0.'</td>
			<td valign="top">'.$d7_0.'</td>
			<td valign="top">'.$d8_0.'</td>
			<td valign="top">'.$d9_0.'</td>
			<td valign="top">'.$d10_0.'</td>
			<td valign="top">'.$d11_0.'</td>
			<td valign="top">'.$d12_1.'</td>
			<td valign="top">'.$d12_2.'</td>
			<td valign="top">'.$d12_3.'</td>
			<td valign="top">'.$d12_4.'</td>
			<td valign="top">'.$d12_5.'</td>
			<td valign="top">'.$d12_6.'</td>
			<td valign="top">'.$d13_1.'</td>
			<td valign="top">'.$d13_2.'</td>
			<td valign="top">'.$d13_3.'</td>
			<td valign="top">'.$d13_4.'</td>
			<td valign="top">'.$d13_5.'</td>';

				if (count($val['arraysofwareadm'] )!=0){
				foreach ($val['arraysofwareadm'] as $key=>$value1):
						$c_adm=$this->escape($value1['c_adm']);
						$n_aplikasi=$this->escape($value1['n_aplikasi']);
						$c_platform=$this->escape($value1['c_platform']);
						$c_database=$this->escape($value1['c_database']);
						$c_jns_aplikasi=$this->escape($value1['c_jns_aplikasi']);
						
						if ($c_adm=='1'){										
							$n_aplikasi1=$n_aplikasi1.$n_aplikasi."; ";
							$c_platform1=$c_platform1.$c_platform."; ";
							$c_database1=$c_database1.$c_database."; ";
							$c_jns_aplikasi1=$c_jns_aplikasi1.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='2'){										
							$n_aplikasi2=$n_aplikasi2.$n_aplikasi."; ";
							$c_platform2=$c_platform2.$c_platform."; ";
							$c_database2=$c_database2.$c_database."; ";
							$c_jns_aplikasi2=$c_jns_aplikasi2.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='3'){										
							$n_aplikasi3=$n_aplikasi3.$n_aplikasi."; ";
							$c_platform3=$c_platform3.$c_platform."; ";
							$c_database3=$c_database3.$c_database."; ";
							$c_jns_aplikasi3=$c_jns_aplikasi3.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='4'){										
							$n_aplikasi4=$n_aplikasi4.$n_aplikasi."; ";
							$c_platform4=$c_platform4.$c_platform."; ";
							$c_database4=$c_database4.$c_database."; ";
							$c_jns_aplikasi4=$c_jns_aplikasi4.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='5'){										
							$n_aplikasi5=$n_aplikasi5.$n_aplikasi."; ";
							$c_platform5=$c_platform5.$c_platform."; ";
							$c_database5=$c_database5.$c_database."; ";
							$c_jns_aplikasi5=$c_jns_aplikasi5.$c_jns_aplikasi."; ";					
						}						
					endforeach; 
				}
		
$html=$html.'		
			<td valign="top">'.$n_aplikasi1.'</td>
			<td valign="top">'.$c_platform1.'</td>
			<td valign="top">'.$c_database1.'</td>
			<td valign="top">'.$c_jns_aplikasi1.'</td>
			<td valign="top">'.$n_aplikasi2.'</td>
			<td valign="top">'.$c_platform2.'</td>
			<td valign="top">'.$c_database2.'</td>
			<td valign="top">'.$c_jns_aplikasi2.'</td>
			<td valign="top">'.$n_aplikasi3.'</td>
			<td valign="top">'.$c_platform3.'</td>
			<td valign="top">'.$c_database3.'</td>
			<td valign="top">'.$c_jns_aplikasi3.'</td>
			<td valign="top">'.$n_aplikasi4.'</td>
			<td valign="top">'.$c_platform4.'</td>
			<td valign="top">'.$c_database4.'</td>
			<td valign="top">'.$c_jns_aplikasi4.'</td>
			<td valign="top">'.$n_aplikasi5.'</td>
			<td valign="top">'.$c_platform5.'</td>
			<td valign="top">'.$c_database5.'</td>
			<td valign="top">'.$c_jns_aplikasi5.'</td>';
				if (count($val['arraysofwarekendala'] )!=0){
				foreach ($val['arraysofwarekendala'] as $key=>$value1):
						$n_aplikasi_kendala=$this->escape($value1['n_aplikasi_kendala']);
						$n_kendala=$this->escape($value1['n_kendala']);				
											
				endforeach; 
				}
$html=$html.'		
			<td valign="top">'.$n_aplikasi_kendala.'</td>
			<td valign="top">'.$n_kendala.'</td>
			<td valign="top">'.$d16_1.'</td>
			<td valign="top">'.$d16_2.'</td>
			<td valign="top">'.$d16_3_a.'</td>
			<td valign="top">'.$d16_3_b.'</td>
			<td valign="top">'.$d16_4.'</td>
			<td valign="top">'.$d16_5.'</td>
			<td valign="top">'.$d16_6.'</td>
			<td valign="top">'.$d16_7.'</td>
			<td valign="top">'.$d17_1.'</td>
			<td valign="top">'.$d17_2.'</td>
			<td valign="top">'.$d17_3.'</td>
			<td valign="top">'.$d17_4.'</td>
			<td valign="top">'.$d18_1.'</td>
			<td valign="top">'.$d18_2.'</td>
			<td valign="top">'.$d19_1.'</td>
			<td valign="top">'.$d19_2.'</td>
			<td valign="top">'.$d20_1.'</td>
			<td valign="top">'.$d20_2.'</td>
			<td valign="top">'.$d20_3.'</td>
			<td valign="top">'.$d20_4.'</td>
			<td valign="top">'.$d21_0.'</td>
			<td valign="top">'.$d22_0.'</td>
			<td valign="top">'.$d23_0.'</td>
			<td valign="top">'.$d24_0.'</td>
			<td valign="top">'.$d25_0.'</td>
			<td valign="top">'.$d26_0.'</td>';
		
					if (count($val['arrayhardwareserver'] )!=0){
					foreach ($val['arrayhardwareserver'] as $key=>$value1):
							$c_fungsi_sever=$this->escape($value1['c_fungsi_sever']);
							$n_aplikasi_server=$this->escape($value1['n_aplikasi_server']);	
							$i_jml_server=$this->escape($value1['i_jml_server']);	
							$n_spesifikasi=$this->escape($value1['n_spesifikasi']);							
												
					endforeach; 
					}
$html=$html.'
				<td valign="top">'.$c_fungsi_sever.'</td>
				<td valign="top">'.$n_aplikasi_server.'</td>
				<td valign="top">'.$i_jml_server.'</td>
				<td valign="top">'.$n_spesifikasi.'</td>				
				<td valign="top">'.$d28_1.'</td>
				<td valign="top">'.$d28_2.'</td>
				<td valign="top">'.$d28_3.'</td>
				<td valign="top">'.$d28_4.'</td>
				<td valign="top">'.$d28_5.'</td>
				<td valign="top">'.$d28_6.'</td>
				<td valign="top">'.$d28_7.'</td>
				<td valign="top">'.$d28_8.'</td>
				<td valign="top">'.$d29_0.'</td>
				<td valign="top">'.$d30_0.'</td>
				<td valign="top">'.$d31_0.'</td>
				<td valign="top">'.$d32_0.'</td>
				<td valign="top">'.$d33_1.'</td>
				<td valign="top">'.$d33_2.'</td>';
			
					if (count($val['arrayprosedure'] )!=0){
					foreach ($val['arrayprosedure'] as $key=>$value1):
							$n_prosedure=$n_prosedure.$this->escape($value1['n_prosedure'])."<br>";
							$e_desc=$e_desc.$this->escape($value1['e_desc'])."<br>";
					endforeach; 
					}
$html=$html.'
			<td valign="top">'.$n_prosedure.'</td>
			<td valign="top">'.$e_desc.'</td>';
		
					if (count($val['arraypengembangandipa'] )!=0){
					foreach ($val['arraypengembangandipa'] as $key=>$value1):
							$i_tahun_dipa=$i_tahun_dipa.$this->escape($value1['i_tahun_dipa'])."<br>";
							$v_dipa=$v_dipa.$this->escape($value1['v_dipa'])."<br>";
					endforeach; 
					}
$html=$html.'			
			<td valign="top">'.$i_tahun_dipa.'</td>
			<td valign="top">'.$v_dipa.'</td>';
			
					if (count($val['arraypengembangandonor'] )!=0){
					foreach ($val['arraypengembangandonor'] as $key=>$value1):
							$i_tahun_donor=$i_tahun_donor.$this->escape($value1['i_tahun_donor'])."<br>";
							$e_donor=$e_donor.$this->escape($value1['e_donor'])."<br>";
					endforeach; 
					}
$html=$html.'
			<td valign="top">'.$e_donor.'</td>
			<td valign="top">'.$i_tahun_donor.'</td>';
					if (count($val['arraypengembanganang'] )!=0){
					foreach ($val['arraypengembanganang'] as $key=>$value1):
							$i_tahun_ang=$i_tahun_ang.$this->escape($value1['i_tahun_ang'])."<br>";
							$e_kegiatan=$e_kegiatan.$this->escape($value1['e_kegiatan'])."<br>";
					endforeach; 
					}
$html=$html.'
			<td valign="top">'.$i_tahun_ang.'</td>
			<td valign="top">'.$e_kegiatan.'</td>';

					if (count($val['arraykegiatan'] )!=0){
					foreach ($val['arraykegiatan'] as $key=>$value1):
					if ($this->escape($value1['c_kegiatan'])!=$c_kegiatanx){
							$c_kegiatan=$c_kegiatan."Kegiatan ".$this->escape($value1['c_kegiatan']);
							$n_kegiatan=$n_kegiatan.$this->escape($value1['n_kegiatan']);
							$e_kegiatanx=$e_kegiatanx.$this->escape($value1['e_kegiatan']);
							$v_anggaran=$v_anggaran.$this->escape($value1['v_anggaran']);
							$e_alamat_prshn=$e_alamat_prshn.$this->escape($value1['e_alamat_prshn']);
							if($this->escape($value1['e_mekanisme'])==1){$e_mekanismex= "Penujukan Langsung";}if($this->escape($value1['e_mekanisme'])==2){$e_mekanismex= "Tender";}
							
							$e_mekanisme=$e_mekanisme.$e_mekanismex;
							$i_lama=$i_lama.$this->escape($value1['i_lama']);
							$i_waktu_mulaix=$this->escape($value1['i_waktu_mulai'])." s/d ".$this->escape($value1['i_waktu_akhir']);
							$i_waktu_mulai=$i_waktu_mulai.$i_waktu_mulaix;
							$i_waktu_akhir=$i_waktu_akhir.$this->escape($value1['i_waktu_akhir']);
							if ($this->escape($value1['c_jaminan'])==1){$c_jaminanx= "Ada";}if($this->escape($value1['c_jaminan'])==2){$c_jaminanx= "Tidak Ada";}							
							$c_jaminan=$c_jaminan.$c_jaminanx;
							$e_cara=$e_cara.$this->escape($value1['e_cara']);
							$e_pedoman=$e_pedoman.$this->escape($value1['e_pedoman']);

					}
					else{
							$c_kegiatan=$c_kegiatan."<br>";
							$n_kegiatan=$n_kegiatan."<br>";
							$e_kegiatanx=$e_kegiatanx."<br>";
							$v_anggaran=$v_anggaran."<br>";
							$e_alamat_prshn=$e_alamat_prshn."<br>";
							$e_mekanisme=$e_mekanisme."<br>";
							$i_lama=$i_lama."<br>";
							$i_waktu_mulai=$i_waktu_mulai."<br>";
							$i_waktu_akhir=$i_waktu_akhir."<br>";							
							$c_jaminan=$c_jaminan."<br>";
							$e_pedoman=$e_pedoman."<br>";
							$e_cara=$e_cara."<br>";
			
					}
							if ($this->escape($value1['n_komponen'])){
							$c_komponen=$c_komponen.$this->escape($value1['n_komponen'])."<br>";
							}
							if($this->escape($value1['e_spesipikasi'])){
							$e_spesipikasi=$e_spesipikasi.$this->escape($value1['e_spesipikasi'])."<br>";
							}
							if ($this->escape($value1['i_jml_komponen'])){
							$i_jml_komponen=$i_jml_komponen.$this->escape($value1['i_jml_komponen'])."<br>";
							}
							if ($this->escape($value1['e_keterangan'])){
							$e_keterangan=$e_keterangan.$this->escape($value1['e_keterangan'])."<br>";
							}
							$c_kegiatanx=$this->escape($value1['c_kegiatan']);
					endforeach; 
					}			
$html=$html.'			
			<td valign="top">'.$c_kegiatan.'</td>
			<td valign="top">'.$n_kegiatan.'</td>
			<td valign="top">'.$e_kegiatanx.'</td>
			<td valign="top">'.$v_anggaran.'</td>
			<td valign="top">'.$e_alamat_prshn.'</td>
			<td valign="top">'.$e_mekanisme.'</td>
			<td valign="top">'.$i_lama.'</td>
			<td valign="top">'.$i_waktu_mulai.'</td>
			<td valign="top">'.$c_jaminan.'</td>
			<td valign="top">'.$e_cara.'</td>
			<td valign="top">'.$e_pedoman.'</td>
			<td valign="top">'.$c_komponen.'</td>
			<td valign="top">'.$e_spesipikasi.'</td>
			<td valign="top">'.$i_jml_komponen.'</td>
			<td valign="top">'.$e_keterangan.'</td>			
			<td valign="top">'.$d39_0.'</td>
			<td valign="top">'.$d40_0.'</td>
			<td valign="top">'.$d40_1.'</td>
			<td valign="top">'.$d40_2.'</td>
			<td valign="top">'.$dv_jan.'</td>
			<td valign="top">'.$dv_feb.'</td>
			<td valign="top">'.$dv_mar.'</td>
			<td valign="top">'.$dv_apr.'</td>
			<td valign="top">'.$dv_mei.'</td>
			<td valign="top">'.$dv_jun.'</td>
			<td valign="top">'.$dv_jul.'</td>
			<td valign="top">'.$dv_agt.'</td>
			<td valign="top">'.$dv_sep.'</td>
			<td valign="top">'.$dv_okt.'</td>
			<td valign="top">'.$dv_nop.'</td>
			<td valign="top">'.$dv_des.'</td>
			<td valign="top">'.$d42_0.'</td>	
		</tr>';	
		$id2=$this->escape($val['id']);
		endforeach; 
	}
$html=$html.'	
</table>';
echo $html;

function headerMidSdm()
{
	$html='<th colspan="4">1</th>
		<th colspan="3">2</th>
		<th rowspan="3">3</th>
		<th rowspan="3">4</th>
		<th rowspan="3">5</th>
		<th rowspan="3">6</th>
		<th rowspan="3">7</th>
		<th rowspan="3">8</th>
		<th rowspan="3">9</th>
		<th rowspan="3">10</th>
		<th rowspan="3">11</th>	';
	return $html;	

}
function headerBotomSdm1()
{
	$html='<th rowspan="2">(1)</th>
			<th rowspan="2">(2)</th>
			<th rowspan="2">(3)</th>
			<th rowspan="2">(4)</th>';
	return $html;		
}
function headerBotomSdm2()
{
	$html='	<th rowspan="2">(1)</th>
			<th rowspan="2">(2)</th>
			<th rowspan="2">(3)</th>';
	return $html;		
}
function headerMidSW()
{
	$html='<th colspan="6">12</th>
	<th colspan="5">13</th>
	<th colspan="20">14</th>
	<th colspan="2">15</th>';
	return $html;
}
function headerBotomSW12()
{
	$html='	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>
	<th rowspan="2">(6)</th>';
	return $html;		
}
function headerBotomSW13()
{
	$html='	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>';
	return $html;		
}
function headerBotomSW14()
{
	$html='	<th colspan="4">Administrasi Perkara</th>
	<th colspan="4">Administrasi Keuangan</th>
	<th colspan="4">Administrasi Kepegawaian/SDM</th>
	<th colspan="4">Administrasi Aset</th>
	<th colspan="4">Administrasi Perencanaan Anggaran</th>';
	return $html;		
}
function headerBotomSW15()
{
	$html='	<th rowspan="2">Nama Aplikasi</th>
	<th rowspan="2">Kendala</th>';
	return $html;		
}