<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>
<div class="wrap">
<div class="panel">
<table width="100%">
<tr>
	<td width="95%">
		<h3 class="title2">Rekapitulasi Kuesioner</h3>	
	</td>
	<td width="5%">
		<div class="right"><a href="#"><img src="../../images/excel.gif" onclick="cetakExcel('')" title="Cetak Excel"></a></div>
	</td>
</tr>
</table>
<div class="scroll-medium">	
	
<table width="100%" align="center" border="0" cellspacing="1" cellpadding="2" class="tbl">
	<th rowspan="4">Bulan</th>
	<th rowspan="4">Tahun</th>
	<th rowspan="4">Nama Pengadilan Banding</th>
	<th rowspan="4">Nama Pengadilan Tingkat I</th>
	<th rowspan="4">Alamat</th>
	<th rowspan="4">No. Telephone</th>
	<th rowspan="4">Fax</th>
	<th rowspan="4">Nama Responden</th>
	<th rowspan="4">Jabatan</th>
	<th rowspan="4">Pangkat/Gol</th>
	<th rowspan="4">No Handphone</th>
	<th colspan="16">Sumber Daya Manusia</th>
	<th colspan="41">Software</th>
	<th colspan="22">Hardware</th>
	<th colspan="14">Jaringan</th>
	<th colspan="2">Prosedure</th>
	<th colspan="6">Anggaran Pengembangan Sistem</th>	
	<th colspan="15">Kegiatan</th>
	<th colspan="17">Deskinfo</th>
	<tr>
	<?echo headerMidSdm();?>
	<?echo headerMidSW();?>

	<th colspan="8">16</th>	
	<th colspan="4">17</th>	
	<th colspan="2">18</th>	
	<th colspan="2">19</th>		
	<th colspan="4">20</th>	
	<th rowspan="3">21</th>	
	<th rowspan="3">22</th>	
	<th rowspan="3">23</th>	
	<th rowspan="3">24</th>	
	<th rowspan="3">25</th>	
	<th rowspan="3">26</th>	
	<th colspan="4">27</th>
	<th colspan="8">28</th>	
	<th rowspan="3">29</th>
	<th rowspan="3">30</th>
	<th rowspan="3">31</th>
	<th rowspan="3">32</th>
	<th colspan="2">33</th>
	<th colspan="2">34</th>	
	<th colspan="2">35</th>	
	<th colspan="2">36</th>
	<th colspan="2">37</th>	
	<th colspan="15">38</th>
	<th rowspan="3">39</th>	
	<th colspan="3">40</th>
	<th colspan="12">41</th>	
	<th rowspan="3">42</th>	
	</tr>
	<tr>
	<?echo headerBotomSdm1();?>
	<?echo headerBotomSdm2();?>
	<?echo headerBotomSW12();?>
	<?echo headerBotomSW13();?>
	<?echo headerBotomSW14();?>
	<?echo headerBotomSW15();?>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th colspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>
	<th rowspan="2">(6)</th>
	<th rowspan="2">(7)</th>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>	
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	
	<th rowspan="2">Fungsi Sever</th>
	<th rowspan="2">Nama Aplikasi</th>	
	<th rowspan="2">Jumlah</th>
	<th rowspan="2">Spesifikasi</th>	
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>
	<th rowspan="2">(6)</th>
	<th rowspan="2">(7)</th>
	<th rowspan="2">(8)</th>
	
	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	
	<th rowspan="2">Nama Prosedure</th>
	<th rowspan="2">Deskripsi</th>
	
	<th rowspan="2">Tahun</th>
	<th rowspan="2">Nilai</th>
	
	<th rowspan="2">Donor</th>
	<th rowspan="2">Tahun</th>
	
	<th rowspan="2">Tahun Anggaran</th>
	<th rowspan="2">Kegiatan</th>
	
	<th rowspan="2">Kegiatan</th>
	<th rowspan="2">a</th>
	<th rowspan="2">b</th>
	<th rowspan="2">c</th>
	<th rowspan="2">d</th>
	<th rowspan="2">e</th>
	<th rowspan="2">f</th>
	<th rowspan="2">g</th>
	<th rowspan="2">h</th>
	<th rowspan="2">i</th>
	<th rowspan="2">j</th>
	<th rowspan="2">Komponen TI</th>
	<th rowspan="2">Spesipikasi</th>
	<th rowspan="2">Jumlah</th>
	<th rowspan="2">Keterangan</th>	
	<th rowspan="2">40</th>
	<th rowspan="2">(a)</th>
	<th rowspan="2">(b)</th>	
	<th rowspan="2">Jan</th>
	<th rowspan="2">Feb</th>
	<th rowspan="2">Mar</th>
	<th rowspan="2">Apr</th>
	<th rowspan="2">Mei</th>
	<th rowspan="2">Jun</th>
	<th rowspan="2">Jul</th>
	<th rowspan="2">Agt</th>
	<th rowspan="2">Sep</th>
	<th rowspan="2">Okt</th>	
	<th rowspan="2">Nop</th>
	<th rowspan="2">Des</th>	
	
	</tr>
<tr>
	<th>Nama Aplikasi</th>
	<th>Platform</th>
	<th>Database</th>
	<th>Jenis Aplikasi</th>
	
	<th>Nama Aplikasi</th>
	<th>Platform</th>
	<th>Database</th>
	<th>Jenis Aplikasi</th>
	
	<th>Nama Aplikasi</th>
	<th>Platform</th>
	<th>Database</th>
	<th>Jenis Aplikasi</th>

	<th>Nama Aplikasi</th>
	<th>Platform</th>
	<th>Database</th>
	<th>Jenis Aplikasi</th>

	<th>Nama Aplikasi</th>
	<th>Platform</th>
	<th>Database</th>
	<th>Jenis Aplikasi</th>	
	<th>(a)</th>
	<th>(b)</th>		
</tr>	
<?
	if (count($this->datalaporan)!=0){
	foreach ($this->datalaporan as $key => $val): 
			$id=$this->escape($val['id']);
?>		<tr class="event">
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['d_bulan_kuesioner']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['d_tahun_kuesioner']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['n_organisasi']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo "";}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['n_alamat']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['no_telepon']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['no_fax']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['n_responden']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['n_jabatan']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['n_pangkat'])."/".$this->escape($val['n_golongan']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['no_hp_responden']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['1_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['1_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['1_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['1_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['2_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['2_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['2_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['3_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['4_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['5_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['6_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['7_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['8_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['9_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['10_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['11_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_5']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['12_6']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['13_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['13_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['13_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['13_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['13_5']);}?></td>
			
				<?				
				if (count($val['arraysofwareadm'] )!=0){
				foreach ($val['arraysofwareadm'] as $key=>$value1):
						$c_adm=$this->escape($value1['c_adm']);
						$n_aplikasi=$this->escape($value1['n_aplikasi']);
						$c_platform=$this->escape($value1['c_platform']);
						$c_database=$this->escape($value1['c_database']);
						$c_jns_aplikasi=$this->escape($value1['c_jns_aplikasi']);
						
						if ($c_adm=='1'){										
							$n_aplikasi1=$n_aplikasi1.$n_aplikasi."; ";
							$c_platform1=$c_platform1.$c_platform."; ";
							$c_database1=$c_database1.$c_database."; ";
							$c_jns_aplikasi1=$c_jns_aplikasi1.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='2'){										
							$n_aplikasi2=$n_aplikasi2.$n_aplikasi."; ";
							$c_platform2=$c_platform2.$c_platform."; ";
							$c_database2=$c_database2.$c_database."; ";
							$c_jns_aplikasi2=$c_jns_aplikasi2.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='3'){										
							$n_aplikasi3=$n_aplikasi3.$n_aplikasi."; ";
							$c_platform3=$c_platform3.$c_platform."; ";
							$c_database3=$c_database3.$c_database."; ";
							$c_jns_aplikasi3=$c_jns_aplikasi3.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='4'){										
							$n_aplikasi4=$n_aplikasi4.$n_aplikasi."; ";
							$c_platform4=$c_platform4.$c_platform."; ";
							$c_database4=$c_database4.$c_database."; ";
							$c_jns_aplikasi4=$c_jns_aplikasi4.$c_jns_aplikasi."; ";					
						}
						if ($c_adm=='5'){										
							$n_aplikasi5=$n_aplikasi5.$n_aplikasi."; ";
							$c_platform5=$c_platform5.$c_platform."; ";
							$c_database5=$c_database5.$c_database."; ";
							$c_jns_aplikasi5=$c_jns_aplikasi5.$c_jns_aplikasi."; ";					
						}						
					endforeach; 
				}
		
				?>	
			
			<td valign="top"><?=$n_aplikasi1?></td>
			<td valign="top"><?=$c_platform1?></td>
			<td valign="top"><?=$c_database1?></td>
			<td valign="top"><?=$c_jns_aplikasi1?></td>
			<td valign="top"><?=$n_aplikasi2?></td>
			<td valign="top"><?=$c_platform2?></td>
			<td valign="top"><?=$c_database2?></td>
			<td valign="top"><?=$c_jns_aplikasi2?></td>
			<td valign="top"><?=$n_aplikasi3?></td>
			<td valign="top"><?=$c_platform3?></td>
			<td valign="top"><?=$c_database3?></td>
			<td valign="top"><?=$c_jns_aplikasi3?></td>
			<td valign="top"><?=$n_aplikasi4?></td>
			<td valign="top"><?=$c_platform4?></td>
			<td valign="top"><?=$c_database4?></td>
			<td valign="top"><?=$c_jns_aplikasi4?></td>
			<td valign="top"><?=$n_aplikasi5?></td>
			<td valign="top"><?=$c_platform5?></td>
			<td valign="top"><?=$c_database5?></td>
			<td valign="top"><?=$c_jns_aplikasi5?></td>
				<?				
				if (count($val['arraysofwarekendala'] )!=0){
				foreach ($val['arraysofwarekendala'] as $key=>$value1):
						$n_aplikasi_kendala=$this->escape($value1['n_aplikasi_kendala']);
						$n_kendala=$this->escape($value1['n_kendala']);				
											
				endforeach; 
				}
		
				?>
			<td valign="top"><?=$n_aplikasi_kendala?></td>
			<td valign="top"><?=$n_kendala?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_3_a']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_3_b']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_5']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_6']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['16_7']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['17_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['17_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['17_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['17_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['18_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['18_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['19_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['19_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['20_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['20_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['20_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['20_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['21_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['22_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['23_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['24_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['25_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['26_0']);}?></td>
				<?				
					if (count($val['arrayhardwareserver'] )!=0){
					foreach ($val['arrayhardwareserver'] as $key=>$value1):
							$c_fungsi_sever=$this->escape($value1['c_fungsi_sever']);
							$n_aplikasi_server=$this->escape($value1['n_aplikasi_server']);	
							$i_jml_server=$this->escape($value1['i_jml_server']);	
							$n_spesifikasi=$this->escape($value1['n_spesifikasi']);							
												
					endforeach; 
					}
				?>
			<td valign="top"><?=$c_fungsi_sever?></td>
			<td valign="top"><?=$n_aplikasi_server?></td>
			<td valign="top"><?=$i_jml_server?></td>
			<td valign="top"><?=$n_spesifikasi?></td>				
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_3']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_4']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_5']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_6']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_7']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['28_8']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['29_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['30_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['31_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['32_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['33_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['33_2']);}?></td>
				<?				
					if (count($val['arrayprosedure'] )!=0){
					foreach ($val['arrayprosedure'] as $key=>$value1):
							$n_prosedure=$n_prosedure.$this->escape($value1['n_prosedure'])."<br>";
							$e_desc=$e_desc.$this->escape($value1['e_desc'])."<br>";
					endforeach; 
					}
				?>			
			<td valign="top"><?echo $n_prosedure;?></td>
			<td valign="top"><?echo $e_desc;?></td>
				<?				
					if (count($val['arraypengembangandipa'] )!=0){
					foreach ($val['arraypengembangandipa'] as $key=>$value1):
							$i_tahun_dipa=$i_tahun_dipa.$this->escape($value1['i_tahun_dipa'])."<br>";
							$v_dipa=$v_dipa.$this->escape($value1['v_dipa'])."<br>";
					endforeach; 
					}
				?>				
			
			<td valign="top"><?=$i_tahun_dipa?></td>
			<td valign="top"><?=$v_dipa?></td>
				<?				
					if (count($val['arraypengembangandonor'] )!=0){
					foreach ($val['arraypengembangandonor'] as $key=>$value1):
							$i_tahun_donor=$i_tahun_donor.$this->escape($value1['i_tahun_donor'])."<br>";
							$e_donor=$e_donor.$this->escape($value1['e_donor'])."<br>";
					endforeach; 
					}
				?>					
			<td valign="top"><?=$e_donor?></td>
			<td valign="top"><?=$i_tahun_donor?></td>	
				<?				
					if (count($val['arraypengembanganang'] )!=0){
					foreach ($val['arraypengembanganang'] as $key=>$value1):
							$i_tahun_ang=$i_tahun_ang.$this->escape($value1['i_tahun_ang'])."<br>";
							$e_kegiatan=$e_kegiatan.$this->escape($value1['e_kegiatan'])."<br>";
					endforeach; 
					}
				?>	
			
			<td valign="top"><?=$i_tahun_ang?></td>
			<td valign="top"><?=$e_kegiatan?></td>	
<?
					if (count($val['arraykegiatan'] )!=0){
					foreach ($val['arraykegiatan'] as $key=>$value1):
					if ($this->escape($value1['c_kegiatan'])!=$c_kegiatanx){
							$c_kegiatan=$c_kegiatan."Kegiatan ".$this->escape($value1['c_kegiatan']);
							$n_kegiatan=$n_kegiatan.$this->escape($value1['n_kegiatan']);
							$e_kegiatanx=$e_kegiatanx.$this->escape($value1['e_kegiatan']);
							$v_anggaran=$v_anggaran.$this->escape($value1['v_anggaran']);
							$e_alamat_prshn=$e_alamat_prshn.$this->escape($value1['e_alamat_prshn']);
							if($this->escape($value1['e_mekanisme'])==1){$e_mekanismex= "Penujukan Langsung";}if($this->escape($value1['e_mekanisme'])==2){$e_mekanismex= "Tender";}
							
							$e_mekanisme=$e_mekanisme.$e_mekanismex;
							$i_lama=$i_lama.$this->escape($value1['i_lama']);
							$i_waktu_mulaix=$this->escape($value1['i_waktu_mulai'])." s/d ".$this->escape($value1['i_waktu_akhir']);
							$i_waktu_mulai=$i_waktu_mulai.$i_waktu_mulaix;
							$i_waktu_akhir=$i_waktu_akhir.$this->escape($value1['i_waktu_akhir']);
							if ($this->escape($value1['c_jaminan'])==1){$c_jaminanx= "Ada";}if($this->escape($value1['c_jaminan'])==2){$c_jaminanx= "Tidak Ada";}							
							$c_jaminan=$c_jaminan.$c_jaminanx;
							$e_cara=$e_cara.$this->escape($value1['e_cara']);
							$e_pedoman=$e_pedoman.$this->escape($value1['e_pedoman']);

					}
					else{
							$c_kegiatan=$c_kegiatan."<br>";
							$n_kegiatan=$n_kegiatan."<br>";
							$e_kegiatanx=$e_kegiatanx."<br>";
							$v_anggaran=$v_anggaran."<br>";
							$e_alamat_prshn=$e_alamat_prshn."<br>";
							$e_mekanisme=$e_mekanisme."<br>";
							$i_lama=$i_lama."<br>";
							$i_waktu_mulai=$i_waktu_mulai."<br>";
							$i_waktu_akhir=$i_waktu_akhir."<br>";							
							$c_jaminan=$c_jaminan."<br>";
							$e_pedoman=$e_pedoman."<br>";
							$e_cara=$e_cara."<br>";
			
					}
							if ($this->escape($value1['n_komponen'])){
							$c_komponen=$c_komponen.$this->escape($value1['n_komponen'])."<br>";
							}
							if($this->escape($value1['e_spesipikasi'])){
							$e_spesipikasi=$e_spesipikasi.$this->escape($value1['e_spesipikasi'])."<br>";
							}
							if ($this->escape($value1['i_jml_komponen'])){
							$i_jml_komponen=$i_jml_komponen.$this->escape($value1['i_jml_komponen'])."<br>";
							}
							if ($this->escape($value1['e_keterangan'])){
							$e_keterangan=$e_keterangan.$this->escape($value1['e_keterangan'])."<br>";
							}
							$c_kegiatanx=$this->escape($value1['c_kegiatan']);
					endforeach; 
					}			
?>							
			
			<td valign="top"><?echo $c_kegiatan;?></td>
			<td valign="top"><?echo $n_kegiatan;?></td>
			<td valign="top"><?echo $e_kegiatanx;?></td>
			<td valign="top"><?echo $v_anggaran;?></td>
			<td valign="top"><?echo $e_alamat_prshn;?></td>
			<td valign="top"><?echo $e_mekanisme?></td>
			<td valign="top"><?echo $i_lama;?></td>
			<td valign="top"><?echo $i_waktu_mulai;?></td>
			<td valign="top"><?echo $c_jaminan;?></td>
			<td valign="top"><?echo $e_cara;?></td>
			<td valign="top"><?echo $e_pedoman;?></td>
			<td valign="top"><?echo $c_komponen;?></td>
			<td valign="top"><?echo $e_spesipikasi;?></td>
			<td valign="top"><?echo $i_jml_komponen;?></td>
			<td valign="top"><?echo $e_keterangan;?></td>			
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['39_0']);}?></td>	
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['40_0']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['40_1']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['40_2']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_jan']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_feb']);}?></td>			
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_mar']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_apr']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_mei']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_jun']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_jul']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_agt']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_sep']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_okt']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_nop']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['v_des']);}?></td>
			<td valign="top"><?if ($id2!=$id){echo $this->escape($val['42_0']);}?></td>	
		</tr>	
<?			$id2=$this->escape($val['id']);
		endforeach; 
	}?>
</table>
</div>
</div>
</div>

<?
function headerMidSdm()
{
	$html='<th colspan="4">1</th>
		<th colspan="3">2</th>
		<th rowspan="3">3</th>
		<th rowspan="3">4</th>
		<th rowspan="3">5</th>
		<th rowspan="3">6</th>
		<th rowspan="3">7</th>
		<th rowspan="3">8</th>
		<th rowspan="3">9</th>
		<th rowspan="3">10</th>
		<th rowspan="3">11</th>	';
	return $html;	

}
function headerBotomSdm1()
{
	$html='<th rowspan="2">(1)</th>
			<th rowspan="2">(2)</th>
			<th rowspan="2">(3)</th>
			<th rowspan="2">(4)</th>';
	return $html;		
}
function headerBotomSdm2()
{
	$html='	<th rowspan="2">(1)</th>
			<th rowspan="2">(2)</th>
			<th rowspan="2">(3)</th>';
	return $html;		
}
function headerMidSW()
{
	$html='<th colspan="6">12</th>
	<th colspan="5">13</th>
	<th colspan="20">14</th>
	<th colspan="2">15</th>';
	return $html;
}
function headerBotomSW12()
{
	$html='	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>
	<th rowspan="2">(6)</th>';
	return $html;		
}
function headerBotomSW13()
{
	$html='	<th rowspan="2">(1)</th>
	<th rowspan="2">(2)</th>
	<th rowspan="2">(3)</th>
	<th rowspan="2">(4)</th>
	<th rowspan="2">(5)</th>';
	return $html;		
}
function headerBotomSW14()
{
	$html='	<th colspan="4">Administrasi Perkara</th>
	<th colspan="4">Administrasi Keuangan</th>
	<th colspan="4">Administrasi Kepegawaian/SDM</th>
	<th colspan="4">Administrasi Aset</th>
	<th colspan="4">Administrasi Perencanaan Anggaran</th>';
	return $html;		
}
function headerBotomSW15()
{
	$html='	<th rowspan="2">Nama Aplikasi</th>
	<th rowspan="2">Kendala</th>';
	return $html;		
}
		
?>