<?
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>
<script>
function cariLaporan() {

    var id_pengadilan=document.getElementById('idPengadilan').value;
    var tahun=document.getElementById('tahun').value;
    var url = '<?php echo $this->basePath; ?>/aplikasi/laporanall/laporanalllist';
    var param = {id_pengadilan:id_pengadilan,tahun:tahun}
    jQuery.get(url, param, function(data) {
        //console.log(data);
        jQuery("#targetview").html(data);
    });
}
function cetakExcel()
{
    //var bulan=document.getElementById('bulan').value;
    //var id_pengadilan=document.getElementById('id_pengadilan').value;
    var idPengadilanBanding=document.getElementById('idPengadilanBanding').value;
    var id_pengadilan=document.getElementById('idPengadilan').value;

    if(id_pengadilan == '-'){
        id_pengadilan = idPengadilanBanding;
    }

    var tahun=document.getElementById('tahun').value;
    //url = "<?php echo $this->basePath; ?>/aplikasi/laporanall/laporanexcel?id_pengadilan="+id_pengadilan+"&bulan="+bulan+"&tahun="+tahun;
    url = "<?php echo $this->basePath; ?>/aplikasi/laporanall/laporanexcel?id_pengadilan="+id_pengadilan+"&tahun="+tahun;
    BukaWindows('1000','600');
}
function BukaWindows(wid,heg){
    var w = 0;
    var h = 0;
    w = screen.availWidth;
    h = screen.availHeight;
    var popW = wid, popH = heg;
    var leftc = (w-popW)/2;
    var topc = (h-popH)/2;
    var selectWindow = window.open(url,'Selection', 'left=' + leftc + ',top=' + topc + ', width='+popW+',height='+popH+',resizable=0,scrollbars=yes');
}
</script>
    <div class="breadcrumb">
        <a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Laporan<strong>&#8250; </strong>Rekapitulasi Kuesioner<strong>
    </div>
    <div id="icon-judul">
        <h2 class="title">&nbsp;&nbsp;Rekapitulasi Kuesioner</h2>
    </div>
<!--div style="overflow: hidden;"-->
    <div class="wrap">
        <div class="panel">
            <span class="corners-top"><span></span></span>
            <h3>Pencarian</h3>
            <table width="100%" border="0" cellpadding="0" cellspacing="1" >
            <tr>
                <td align="right" width="180">Nama Dinas</td>
                <td>
                    <select id="idPengadilan" name="idPengadilan">
                        <option value="">Pilih</option>
                        <? for($x=0; $x<count($this->pengadilanList); $x++):?>
                            <option value="<? echo $this->pengadilanList[$x]['i_organisasi'];?>"><? echo $this->pengadilanList[$x]['n_organisasi'];?></option>
                        <? endfor ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" width="180">Tahun:</td>
                <td>
                    <input type="text" size="5" name="tahun" id="tahun" value="<?$this->tahun?>">
                </td>
            </tr>
        </table>
        <div class="spacer"></div>
            <table width="100%" border="0" cellpadding="0" cellspacing="1">
                <tr>
                    <td>
                            <input name='perintah' type="button" value="Cari" onclick="cariLaporan()">
                    </td>
                </tr>
            </table>
            <div class="blank"></div>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>
<!--/div-->
<div id="targetview">
<?include("laporanalllist.phtml");?>
</div>
