<?php
$jmldataPengadilan = count($this->pengadilanList);
if ($jmldataPengadilan!= 0) {
	for ($j = 0; $j < $jmldataPengadilan; $j++) {
	 $idPengadilan = (string)$this->pengadilanList[$j]['i_organisasi'];
	 $nPengadilan = (string)$this->pengadilanList[$j]['n_organisasi'];
	 echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
	}
	
} 
echo "<option value=\"-\" selected>--Pilih--</option>";
?>