<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";


$ctrlFrm = new Zend_View();
$format_date = new format_date();
$pesan = new share_message();

$kategoriSatker = array('5', '6', '7', '8', '9', '10');

?>
<div style="overflow: hidden;">
	<div class="wrap">
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data SDM</h2>
			<div class="blank"></div>
			<? 
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
			<? if($this->jenisForm == 'insert'){?>
				<form name="frmtambahsdm" id="frmtambahsdm" method="POST">
			<?} else {?>
				<form name="frmtambahsdm" id="frmtambahsdm" method="POST">
			<?}?>
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
					<?
					echo $ctrlFrm->formHidden('idKuesioner', $this->idKuesioner, null); 
					echo $ctrlFrm->formHidden('c_kategori_organisasi', $this->c_kategori_organisasi, null); 					
					$nourutSDM=0;
					?>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
							<? if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
									echo "SDM Satker :";
								} else {
									echo "SDM Pengadilan :";
								}
							?>
							
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(1)&nbsp;</td>
						<td>&nbsp;Jumlah Hakim</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahhakim" id="i_jumlahhakim" value="<?echo $this->dataSDM['i_jumlahhakim']?>" onKeyUp="isNumber('i_jumlahhakim')">
						</td>
						<td>&nbsp;orang,</td>
						<td>&nbsp;(2)&nbsp;</td>
						<td>&nbsp;Jumlah PP</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahpp" id="i_jumlahpp" value="<?echo $this->dataSDM['i_jumlahpp']?>" onKeyUp="isNumber('i_jumlahpp')">
						</td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(3)&nbsp;</td>
						<td>&nbsp;Jumlah PNS</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahpns" id="i_jumlahpns" value="<?echo $this->dataSDM['i_jumlahpns']?>" onKeyUp="isNumber('i_jumlahpns')"></td>
						<td>&nbsp;orang,</td>
						<td>&nbsp;(4)&nbsp;</td>
						<td>&nbsp;Jumlah Honorer</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahhonorer" id="i_jumlahhonorer" value="<?echo $this->dataSDM['i_jumlahhonorer']?>" onKeyUp="isNumber('i_jumlahhonorer')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(5)&nbsp;</td>
						<td>&nbsp;Jumlah Peneliti</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahpeneliti" id="i_jumlahpeneliti" value="<?echo $this->dataSDM['i_jumlahpeneliti']?>" onKeyUp="isNumber('i_jumlahpeneliti')"></td>
						<td>&nbsp;orang,</td>
						<td>&nbsp;(6)&nbsp;</td>
						<td>&nbsp;Jumlah Widyaiswara</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahwidyaiswara" id="i_jumlahwidyaiswara" value="<?echo $this->dataSDM['i_jumlahwidyaiswara']?>" onKeyUp="isNumber('i_jumlahwidyaiswara')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(7)&nbsp;</td>
						<td>&nbsp;Jumlah Pranata <br> Komputer</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahpranatakomputer" id="i_jumlahpranatakomputer" value="<?echo $this->dataSDM['i_jumlahpranatakomputer']?>" onKeyUp="isNumber('i_jumlahpranatakomputer')"></td>
						<td>&nbsp;orang,</td>
						<td>&nbsp;(8)&nbsp;</td>
						<td>&nbsp;Jumlah Auditor</td>
						<td>&nbsp;=&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_jumlahauditor" id="i_jumlahauditor" value="<?echo $this->dataSDM['i_jumlahauditor']?>" onKeyUp="isNumber('i_jumlahauditor')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">Pengelola TIK yang memiliki sertifikat Teknologi Informasi Khusus</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(1)&nbsp;</td>
						<td colspan="6">&nbsp;Perangkat Lunak (Software)</td>
						<td>&nbsp;:&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_stafit_sertifikasi_software" id="i_stafit_sertifikasi_software" value="<?echo $this->dataSDM['i_stafit_sertifikasi_software']?>" onKeyUp="isNumber('i_stafit_sertifikasi_software')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(2)&nbsp;</td>
						<td colspan="6">&nbsp;Perangkat Keras (Hardware)</td>
						<td>&nbsp;:&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_stafit_sertifikasi_hardware" id="i_stafit_sertifikasi_hardware" value="<?echo $this->dataSDM['i_stafit_sertifikasi_hardware']?>" onKeyUp="isNumber('i_stafit_sertifikasi_hardware')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;(3)&nbsp;</td>
						<td colspan="6">&nbsp;Jaringan (Network)</td>
						<td>&nbsp;:&nbsp;</td>
						<td>&nbsp;<input type="text" size="10" name="i_stafit_sertifikasi_network" id="i_stafit_sertifikasi_network" value="<?echo $this->dataSDM['i_stafit_sertifikasi_network']?>" onKeyUp="isNumber('i_stafit_sertifikasi_network')"></td>
						<td>&nbsp;orang</td>
					</tr>
					<? 
					if(!in_array($this->c_kategori_organisasi, $kategoriSatker)){
					?>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						Jika pengadilan sudah memiliki aplikasi SIAP Pengadilan, jawab pertanyaan berikut:
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">						
								Berapa jumlah staf yang menggunakan aplikasi SIAP pengadilan ?
						</td>
						<td colspan="2"><input type="text" size="10" name="i_user_siap" id="i_user_siap" value="<?echo $this->dataSDM['i_user_siap']?>" onKeyUp="isNumber('i_user_siap')">&nbsp;orang</td>
					</tr>
					<?}?>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Jika Satker sudah memiliki aplikasi SDM, jawab pertanyaan berikut:";
							} else {
								echo "Jika pengadilan sudah memiliki aplikasi SDM Pengadilan, jawab pertanyaan berikut:";
							}
						?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa jumlah staf yang menggunakan Aplikasi SDM?";
							} else {
								echo "Berapa jumlah staf yang menggunakan aplikasi SDM pengadilan ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_user_sdm" id="i_user_sdm" value="<?echo $this->dataSDM['i_user_sdm']?>" onKeyUp="isNumber('i_user_sdm')">&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Jika Satker sudah memiliki aplikasi Keuangan (SAI), jawab pertanyaan berikut:";
							} else {
								echo "Jika pengadilan sudah memiliki aplikasi Keuangan (SAI), jawab pertanyaan berikut:";
							}
						?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa jumlah staf yang menggunakan Aplikasi Keuangan (SAI)? ";
							} else {
								echo "Berapa jumlah staf yang menggunakan aplikasi Keuangan (SAI) ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_user_sai" id="i_user_sai" value="<?echo $this->dataSDM['i_user_sai']?>" onKeyUp="isNumber('i_user_sai')">&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Jika Satker sudah memiliki aplikasi Perencanaan (RKAKL), jawab pertanyaan berikut: ";
							} else {
								echo "Jika pengadilan sudah memiliki aplikasi Perencanaan (RKAKL), jawab pertanyaan berikut:";
							}
						?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">Berapa jumlah staf yang menggunakan aplikasi Perencanaan (RKAKL) ?</td>
						<td colspan="2"><input type="text" size="10" name="i_user_rkakl" id="i_user_rkakl" value="<?echo $this->dataSDM['i_user_rkakl']?>" onKeyUp="isNumber('i_user_rkakl')">&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Jika Satker sudah memiliki aplikasi Aset (SABMN), jawab pertanyaan berikut: ";
							} else {
								echo "Jika pengadilan sudah memiliki aplikasi Aset (SABMN), jawab pertanyaan berikut:";
							}
						?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">Berapa jumlah staf yang menggunakan aplikasi Aset (SABMN) ?</td>
						<td colspan="2"><input type="text" size="10" name="i_user_sabmn" id="i_user_sabmn" value="<?echo $this->dataSDM['i_user_sabmn']?>" onKeyUp="isNumber('i_user_sabmn')">&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="10">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Jawab jika Satker sudah memiliki website/situs Satker. ";
							} else {
								echo "Jika pengadilan sudah memiliki website/situs pengadilan.";
							}
						?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa jumlah staf yang Mengelola website Satker? ";
							} else {
								echo "Berapa jumlah staf yang mengelola website pengadilan ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_user_website" id="i_user_website" value="<?echo $this->dataSDM['i_user_website']?>" onKeyUp="isNumber('i_user_website')">&nbsp;orang</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa persen keadaan Pejabat Struktural yang mampu mengoperasionalkan PC/Laptop? ";
							} else {
								echo "Berapa persen keadaan Hakim yang mampu mengoperasikan PC/Laptop ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_hakim_pc" id="i_hakim_pc" value="<?echo $this->dataSDM['i_hakim_pc']?>" onKeyUp="isNumber('i_hakim_pc')">&nbsp;%</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa persen keadaan Pejabat Fungsional yang mampu mengoperasionalkan PC/Laptop? ";
							} else {
								echo "Berapa persen keadaan PP yang mampu mengoperasikan PC/Laptop ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_pp_pc" id="i_pp_pc" value="<?echo $this->dataSDM['i_pp_pc']?>" onKeyUp="isNumber('i_pp_pc')">&nbsp;%</td>
					</tr>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="8">
						<? 
							if(in_array($this->c_kategori_organisasi, $kategoriSatker)){
								echo "Berapa persen keadaan PNS yang mampu mengoperasionalkan PC/Laptop?  ";
							} else {
								echo "Berapa persen keadaan PNS yang mampu mengoperasikan PC/Laptop ?";
							}
						?>
						</td>
						<td colspan="2"><input type="text" size="10" name="i_pns_pc" id="i_pns_pc" value="<?echo $this->dataSDM['i_pns_pc']?>" onKeyUp="isNumber('i_pns_pc')">&nbsp;%</td>
					</tr>
					<? if(in_array($this->c_kategori_organisasi, $kategoriSatker)){?>
					<tr>
						<td>&nbsp;<? echo $nourutSDM=$nourutSDM+1;?>.&nbsp;</td>
						<td colspan="8">
						Berapa persen keadaan Staf yang mampu mengoperasionalkan PC/Laptop?
						</td>
						<td colspan="2"><input type="text" size="10" name="i_honorer_pc" id="i_honorer_pc" value="<?echo $this->dataSDM['i_honorer_pc']?>" onKeyUp="isNumber('i_honorer_pc')">&nbsp;orang</td>
					</tr>
					<?}?>
					<tr>
						<td colspan="11">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="10" class="clright">
							<input type="button" onClick="enableAllSDM();" id="btnKoreksiSDM" value="Koreksi"> 
							<input   type="submit" value="Simpan" id="btnSimpanSDM" onClick="bindSDM()"></div>
						</td>
					</tr>
				</table>         

			</form>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>