<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$halaman = new format_page();
$dec_cur = new oa_dec_cur_conv();

$currentPage = $this->currentPage;
$numToDisplay = $this->numToDisplay;

?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Jenis Surat</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Jenis Surat</h2>
		<div class="search-panel">
			<form method="post" id="frmcarijenisSurat" name="frmcarijenisSurat">Kata Kunci :
				<input type="text" name="carii">
				<?
			         $atribSubmit = array("onclick"=>"javascript:carijenisSurat();");
			         echo $ctrlFrm->formSubmit('cari', 'Search', $atribSubmit)."&nbsp;";
				?>
			</form>
		</div>
		<div class="space-line"></div>

		
		<fieldset class="fields"> 
			<div class="spacer"> </div>
			<? 
			
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			<div class="spacer"> </div>	
			
			<div class="add" title="Tambah Data" onClick="jenisSuratForm('insert','');"></div> 

			<div class="blank"></div>
			
			
			<table id="sorter" class="sortable" cellspacing="1" cellpadding="2" border="0" align="center">
				<th width=5% class="nosort">No</th> 
				<th width=10%>Kode</th>
				<th width=75%>Jenis Surat</th> 
				<th width=10% colspan="2" class="nosort">Tindakan</th>
				
				<?
				if (count($this->jenisSuratList) == 0){ 
				?>
					<tr class="event2"><td colspan="5"><font color="red">Data Tidak Ditemukan</font></td></tr>
				<?} else {
						
						
						foreach ($this->jenisSuratList as $key => $val): 
						if ($key%2==0) { ?>
							<tr class="event">
						<? } else if ($key%2==1) { ?>
							<tr class="event2">
						<? } 
						$c_srtjenis = $this->escape($val['c_srtjenis']); 
						$n_srtjenis = $this->escape($val['n_srtjenis']); 
						$cStatusaktif = $this->escape($val['c_statusaktif']);
						$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
						
						// form Hidden 
						echo $ctrlFrm->formHidden('c_srtjenis', $c_srtjenis, null);
						
						?>
						
						<td class="clcenter"><? echo $noUrut;?></td>
						<td class="clcenter"><? echo $c_srtjenis;?></td>
						<td class="clleft">&nbsp;<? echo $n_srtjenis;?></td>
						
						<td><div onClick="jenisSuratForm('update','<? echo $c_srtjenis;?>');" class="edit" title="Ubah Data"></div></td>
						<td><div class="delete" title="Hapus Data" onClick="jenisSuratHapus('JenisSurat', '<? echo $c_srtjenis; ?>', '<? echo $n_srtjenis; ?>')" ></td>
						
					
						</tr>
					<?
					endforeach;
				}
				?>
			</table>

			<?	
			$totalData = $this->totJenisSuratList;
			$fungsi = 'jenisSuratlist';
			$modul = $this->basePath."/adm/jenisSurat/jenisSuratlist";
			echo $halaman->showPage($totalData, $numToDisplay, $currentPage, 'tableview', $modul, $param1, $param2, $param3, $param4);		
			?>
		</fieldset>		 
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<script type="text/javascript">
var sorter=new table.sorter("sorter");
sorter.init("sorter",0);
</script>