<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Jenis Surat</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Tambah Data Jenis Surat</h2>
	    <div class="spacer"></div> 
		
		<? if(strtolower($this->jenisForm) == 'insert') {	$namaForm = 'frmtambahjenisSurat'; }
			else if (strtolower($this->jenisForm) == 'update') {	$namaForm = 'frmubahjenisSurat'; }
			else {	$namaForm = 'frmhapusjenisSurat'; }
		
		?>
		<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<tr>
				    <td align="right" width="180">* Kode :</td>
					<td>
						<?
						$c_srtjenisAttrib = array("size" => 5,"maxlength" => 2);
						if (strtolower($this->jenisForm) != 'insert'){
							$c_srtjenisAttrib['readonly'] = 'true';
						}
						
						echo $ctrlFrm->formText('c_srtjenis', $this->detailJenisSurat['c_srtjenis'], $c_srtjenisAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">* Jenis Surat :</td>
					<td>
						<?
						$n_srtjenisAttrib = array("size" => 50,"maxlength" => 50);
						echo $ctrlFrm->formText('n_srtjenis', $this->detailJenisSurat['n_srtjenis'], $n_srtjenisAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="jenisSuratlist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>
		</form>
	</div>
</div>