<div class="spacer"></div>
(4) Administrasi Aset
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmaset">
		<tr>
			<th width="5%">No</th>
			<th width="41%">Nama Aplikasi</th>
			<th width="14%">Platform</th>
			<th width="15%">Database</th>
			<th width="17%">Jenis Aplikasi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>
	
<?

if (count($this->datasoftware) != 0){
	$jmlapl=1;
	$cnttbl=0;
	$cek4=0;
	foreach ($this->datasoftware as $key => $val): 
				$c_adm=$this->escape($val['c_adm']);	
				$n_aplikasi=$this->escape($val['n_aplikasi']);	
				$c_platform=$this->escape($val['c_platform']);	
				$c_database=$this->escape($val['c_database']);	
				$c_jns_aplikasi=$this->escape($val['c_jns_aplikasi']);
				
		if($c_adm==4)
		{
		$cnttbl++;
		$cek4=1;
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmasetx_<?=$jmlapl?>">
		<tr class="event" id="tr_asetx_<?=$jmlapl?>">
			<td width="5%" class="clright"><?=$jmlapl?></td>
			<td width="41%">
				<input type="text" id="asetx_<?=$jmlapl?>" name="asetx_<?=$jmlapl?>" value="<? echo $n_aplikasi?>" size = "39">
				<input type="hidden" id="aset2_<?=$jmlapl?>" name="aset2_<?=$jmlapl?>" value="<? echo $n_aplikasi?>" size = "49">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"VFP7",
								"7"=>"VFP9",
								"8"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformasetx_'.$jmlapl.'', $c_platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"VFP7",
								"7"=>"VFP9",
								"8"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbsasetx_'.$jmlapl.'', $c_database, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplasetx_'.$jmlapl.'', $c_jns_aplikasi, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris"> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris">
			</td>
		</tr>
		</table>
<div id="tbl_asetx_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;
	}			
	endforeach;
}
if ($cek4==0)
{				

?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmasetx_1">
		<tr class="event" id="tr_asetx_1">
			<td width="5%" class="clright">1</td>
			<td width="41%">
				<input type="text" id="asetx_1" name="asetx_1" value="<? echo $this->n_aplikasi_aset ?>" size = "39">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformasetx_1', $this->platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbsasetx_1', $this->datbs, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplasetx_1', $this->jnsapl, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" > 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" >
			</td>
		</tr>
		</table>
<div id="tbl_asetx_1"></div>	
<?$cnttbl=1;}?>	
		