<div class="spacer"></div>
(3) Administrasi Kepegawaian/SDM
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmkepegawaian">
		<tr>
			<th width="5%">No</th>
			<th width="41%">Nama Aplikasi</th>
			<th width="14%">Platform</th>
			<th width="15%">Database</th>
			<th width="17%">Jenis Aplikasi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>


<?

if (count($this->datasoftware) != 0){
	$jmlapl=1;
	$cnttbl=0;	
	$cek3 =0;	
	foreach ($this->datasoftware as $key => $val): 
				$c_adm=$this->escape($val['c_adm']);	
				$n_aplikasi=$this->escape($val['n_aplikasi']);	
				$c_platform=$this->escape($val['c_platform']);	
				$c_database=$this->escape($val['c_database']);	
				$c_jns_aplikasi=$this->escape($val['c_jns_aplikasi']);
				
		if($c_adm==3)
		{	$cnttbl++;
			$cek3 =1;	
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmkepegawaian_<?=$jmlapl?>">
		<tr class="event" id="tr_kepegawaian_<?=$jmlapl?>">
			<td width="5%" class="clright"><?=$jmlapl?></td>
			<td width="41%">
				<input type="text" id="kepegawaian_<?=$jmlapl?>" name="kepegawaian_<?=$jmlapl?>" value="<? echo $n_aplikasi?>" size = "39">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformkepegawaian_'.$jmlapl.'', $c_platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbskepegawaian_'.$jmlapl.'', $c_database, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplkepegawaian_'.$jmlapl.'', $c_jns_aplikasi, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('<?=$jmlapl?>',this,'kepegawaian');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris('<?=$jmlapl?>','kepegawaian');>				
			</td>
		</tr>
	</table>	
<div id="tbl_kepegawaian_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;
	}			
	endforeach;
}
if ($cek3==0)
{				

?>	
<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmkepegawaian_1">
	<tr class="event" id="tr_kepegawaian_1">
			<td width="5%" class="clright">1</td>
			<td width="41%">
				<input type="text" id="'kepegawaian_1'" name="kepegawaian_1" value="<? echo $this->n_aplikasi_kepegawaian ?>" size = "39">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformkepegawaian_1', $this->platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbskepegawaian_1', $this->datbs, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplkepegawaian_1', $this->jnsapl, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBaris('1',this,'kepegawaian');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris('1','kepegawaian');>
			</td>
		</tr>
	</table>
<div id="tbl_kepegawaian_1"></div>
<?$cnttbl=1;}?>	

<input type="hidden" id="counttablekepegawaian" name="counttablekepegawaian" value="<?=$cnttbl?>" size = "10">