<div class="spacer"></div>
(5) Administrasi Perencanaan Anggaran
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmrencanaanggaran">
		<tr>
			<th width="5%">No</th>
			<th width="41%">Nama Aplikasi</th>
			<th width="14%">Platform</th>
			<th width="15%">Database</th>
			<th width="17%">Jenis Aplikasi</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>
<?

if (count($this->datasoftware) != 0){
	$jmlapl=1;
	$cnttbl=0;	
	$cek5=0;
	foreach ($this->datasoftware as $key => $val): 
				$c_adm=$this->escape($val['c_adm']);	
				$n_aplikasi=$this->escape($val['n_aplikasi']);	
				$c_platform=$this->escape($val['c_platform']);	
				$c_database=$this->escape($val['c_database']);	
				$c_jns_aplikasi=$this->escape($val['c_jns_aplikasi']);
				
		if($c_adm==5)
		{$cnttbl++;$cek5=1;
?>
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmrencanaanggaran_<?=$jmlapl?>">
		<tr class="event" id="tr_rencanaanggaran_<?=$jmlapl?>">
			<td width="5%" class="clright"><?=$jmlapl?></td>
			<td width="41%">
				<input type="text" id="rencanaanggaran_<?=$jmlapl?>" name="rencanaanggaran_<?=$jmlapl?>" value="<? echo $n_aplikasi?>" size = "39">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"VFP7",
								"7"=>"VFP9",
								"8"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformrencanaanggaran_'.$jmlapl.'', $c_platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"VFP7",
								"7"=>"VFP9",
								"8"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbsrencanaanggaran_'.$jmlapl.'', $c_database, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplrencanaanggaran_'.$jmlapl.'', $c_jns_aplikasi, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('<?=$jmlapl?>',this,'rencanaanggaran');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris('<?=$jmlapl?>','rencanaanggaran');>					
			</td>
		</tr>
		</table>
<div id="tbl_rencanaanggaran_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;
	}			
	endforeach;
}
if ($cek5==0)
{				

?>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmrencanaanggaran_1">
		<tr class="event" id="tr_rencanaanggaran_1">
			<td width="5%" class="clright">1</td>
			<td width="41%">
				<input type="text" id="rencanaanggaran_1" name="rencanaanggaran_1" value="<? echo $this->n_aplikasi_rencanaanggaran ?>" size = "39">
			</td>
			<td width="14%">				
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('platformrencanaanggaran_1', $this->platform, null, $platform); 							
			?>				
			</td>
			<td width="15%">
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('datbsrencanaanggaran_1', $this->datbs, null, $datbs); 							
			?>
			</td>
			<td width="17%">
		   <?php
				$jnsapl = array(""=>"--Pilih--",
								"1"=>"web",
								"2"=>"client server",
								"3"=>"standalone");
				echo $ctrlFrm->formSelect('jnsaplrencanaanggaran_1', $this->jnsapl, null, $jnsapl); 							
			?>
			</td>			
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBaris('1',this,'rencanaanggaran');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris('1','rencanaanggaran');>
			</td>
		</tr>
	</table>
<div id="tbl_rencanaanggaran_1"></div>
<?$cnttbl=1;}?>	
</table>	
<input type="hidden" id="counttablerencanaanggaran" name="counttablerencanaanggaran" value="<?=$cnttbl?>" size = "10">