<table width="100%" border="0" cellpadding="0" cellspacing="1" >	
		<tr>
			<td width="5">13.</td>
			<td colspan="5">Aplikasi umum yang terpasang dan digunakan di client :</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>		
		   <td align="left" width="170">Web Browser</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$webbrowser = array(""=>"--Pilih--",
								"1"=>"Internet Explorer",
								"2"=>"Mozilla",
								"3"=>"Opera",
								"4"=>"Safari",
								"5"=>"Lain-lain");
				echo $ctrlFrm->formSelect('i_browser', $this->i_browser, null, $webbrowser); 							
			?>
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>			
		   <td align="left" width="170">PDF Reader</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$pdfreader = array(""=>"--Pilih--",
								"1"=>"Acrobat Reader",
								"2"=>"Lain-lain");
				echo $ctrlFrm->formSelect('i_pdfreader', $this->i_pdfreader, null, $pdfreader); 							
			?>
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5">(3)</td>			
		   <td align="left" width="170">Office</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$office = array(""=>"--Pilih--",
								"1"=>"Microsoft Ofiice 2003",
								"2"=>"Microsoft Ofiice 2007",
								"3"=>"Open Office",
								"4"=>"Lain-lain");
				echo $ctrlFrm->formSelect('i_office', $this->i_office, null, $office); 							
			?>
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(4)</td>			
		   <td align="left" width="170">Kompresi</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$kompresi = array(""=>"--Pilih--",
								"1"=>"Winzip",
								"2"=>"Winrar",
								"3"=>"Lain-lain");
				echo $ctrlFrm->formSelect('i_kompresi', $this->i_kompresi, null, $kompresi); 							
			?>
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5">(5)</td>			
		   <td align="left" width="170">Antivirus</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$antivirus = array(""=>"--Pilih--",
								"1"=>"Norman",
								"2"=>"Norton",
								"3"=>"Smadav",
								"4"=>"Lain-lain");
				echo $ctrlFrm->formSelect('i_virus', $this->i_virus, null, $antivirus); 							
			?>
		   </td> 
		</tr>
</table>		
