<div class="spacer"></div>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">15.</td>
			<td>Apakah aplikasi-aplikasi yang disebutkan di atas digunakan dengan baik dan dioperasikan dengan baik :</td>
		</tr>
		<tr>
			<td width="5">&nbsp;</td>
			<td>Jika tidak, sebutkan aplikasi apa saja dan apa kendalanya?</td>
		</tr>			
	</table>
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmkendala">
		<tr>
			<th width="5%">No</th>
			<th width="40%">Nama Aplikasi</th>
			<th width="47%">Kendala</th>
			<th width="8%">Tndk</th>
		</tr>
	</table>	
<?

if (count($this->datasoftwarekendala) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datasoftwarekendala as $key => $val): 
				$n_aplikasi_kendala=$this->escape($val['n_aplikasi_kendala']);	
				$n_kendala=$this->escape($val['n_kendala']);	
				$cnttbl++;

?>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmkendala_<?=$jmlapl?>">
		<tr class="event" id="tr_kendala_<?=$jmlapl?>">
			<td width="5%" class="clright"><?=$jmlapl?></td>
			<td width="40%">
				<input type="text" id="aplkendala_<?=$jmlapl?>" name="aplkendala_<?=$jmlapl?>" value="<? echo $n_aplikasi_kendala ?>" size = "38">
			</td>
			<td width="47%">
				<input type="text" id="kendala_<?=$jmlapl?>" name="kendala_<?=$jmlapl?>" value="<? echo $n_kendala ?>" size = "47" >
			</td>		
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisKendala('<?=$jmlapl?>',this,'kendala');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisKendala('<?=$jmlapl?>','kendala');>
				
			</td>
		</tr>
	</table>
<div id="tbl_kendala_<?=$jmlapl?>"></div>
<?				
	$jmlapl++;
				
	endforeach;
}
else
{				

?>	

	<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tbladmkendala_1">
		<tr class="event" id="tr_kendala_1">
			<td width="5%" class="clright">1</td>
			<td width="40%">
				<input type="text" id="aplkendala_1" name="aplkendala_1" value="<? echo $this->platform ?>" size = "38">
			</td>
			<td width="47%">
				<input type="text" id="kendala_1" name="kendala_1" value="<? echo $this->database ?>" size = "47" >
			</td>		
			<td width="8%">
				<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisKendala('1',this,'kendala');> 
				<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisKendala('1','kendala');>
			</td>
		</tr>
	</table>
<div id="tbl_kendala_1"></div>
<?}?>

<input type="hidden" id="counttablekendala" name="counttablekendala" value="<?=$cnttbl?>" size = "10">
	
