<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>

<div style="overflow: hidden;">

	<div class="wrap">
		<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top">
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>		
		<div class="panel">
		
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Software</h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
	<form id="frmcatatsotware" name="frmcatatsotware" method="POST" >			
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">12.</td>
			<td colspan="5">Sistem operasi komputer yang digunakan :</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td width="5">(1)</td>
			<td align="left" width="170">Windows XP</dt>
			<td width="5">:</td> 
			<td>
				<input type="text" id="i_xp" name="i_xp" value="<?=$this->i_xp?>" size = "10" onKeyUp="isNumber('i_xp')">&nbsp; PC
				<input type="hidden" id="id_kuesioner" name="id_kuesioner" value="<?=$this->id_kuesioner?>" size = "10">				
			</td> 
		</tr>
			<tr>
			<td>&nbsp;</td>
			<td width="5">(2)</td>			
			   <td align="left" width="170">Windows Vista</td>
			   <td>:</td> 
			   <td>
					<input type="text" id="i_vista" name="i_vista" value="<?=$this->i_vista?>" size = "10" onKeyUp="isNumber('i_vista')">&nbsp; PC
			   </td> 
			</tr>
			<tr>
			<td>&nbsp;</td>
			<td width="5">(3)</td>			
			   <td align="left" width="170">Windows 7</td>
			   <td>:</td> 
			   <td>
					<input type="text" id="i_seven" name="i_seven" value="<?=$this->i_seven?>" size = "10" onKeyUp="isNumber('i_seven')">&nbsp; PC
			   </td> 
			</tr>	
			<tr>
			<td>&nbsp;</td>
			<td width="5">(4)</td>			
			   <td align="left" width="170">Linux</td>
			   <td>:</td> 
			   <td>
					<input type="text" id="i_linux" name="i_linux" value="<?=$this->i_linux?>" size = "10" onKeyUp="isNumber('i_linux')">&nbsp; PC
			   </td> 
			</tr>	
			<tr>
			<td>&nbsp;</td>
			<td width="5">(5)</td>			
			   <td align="left" width="170">Dos</td>
			   <td>:</td> 
			   <td>
					<input type="text" id="i_dos" name="i_dos" value="<?=$this->i_dos?>" size = "10" onKeyUp="isNumber('i_dos')">&nbsp; PC
			   </td> 
			</tr>
			<tr>
			<td>&nbsp;</td>
			<td width="5">(6)</td>			
			   <td align="left" width="170">Lainnya</td>
			   <td>:</td> 
			   <td>
					<input type="text" id="i_ext" name="i_ext" value="<?=$this->i_ext?>" size = "10" onKeyUp="isNumber('i_ext')">&nbsp; PC
			   </td> 
			</tr>	
	</table>		

<?
	include('aplikasiumum.phtml');
?>
<div id="panelpasif" style="display:block">
<?	
	include('admperkara2.phtml');
	include('admkeuangan2.phtml');
	include('admkepegawaian2.phtml');	
	include('admaset2.phtml');
	include('admrencanaanggaran2.phtml');
?>
</div>
<div id="panelaktif" style="display:none">
<?	
	include('admperkara.phtml');
	include('admkeuangan.phtml');
	include('admkepegawaian.phtml');	
	include('admaset.phtml');
	include('admrencanaanggaran.phtml');
?>
</div>
<?	
	include('kendala.phtml');
	include('webpengadilan.phtml');
 
?>	
<input type="hidden" name="perintah" value="<?=$this->par;?>">	
		</form>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
							
						<?/*if ($this->par=='Koreksi'){?>
						<input name='hapus' type="button" value="Hapus" onclick="hapusSw('<?=$this->id_kuesioner?>')">
						<?}*/?>				
							<input type="button" onClick="enableAllFormSoftware();" id="btnKoreksiSoftware" value="Koreksi"> 
							<input type="submit" value="Simpan" onClick="insertSw()" id="btnSimpanSoftware">
						</div>
					</td>
				</tr>
			</table>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
