<div class="spacer"></div>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">16.</td>
			<td colspan="4">Website Pengadilan :</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(1)</td>		
		   <td align="left" width="170" colspan="2">Apakah pengadilan ini sudah memiliki situs atau website?</td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_website=='1') {$cek1="checked";} if ($this->c_website=='2') {$cek2="checked";}?>
				<input type="radio" name="c_website" value="1" <?=$cek1?>> Sudah &nbsp;
				<input type="radio" name="c_website" value="2" <?=$cek2?>> Belum
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(2)</td>		
		   <td align="left" width="170" colspan="2">Sebutkan nama website Pengadilan</td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
				<input type="text" id="n_website" name="n_website" value="<? echo $this->n_website ?>" size = "69">
		   </td> 
		</tr>
		
		<tr>
			<td>&nbsp;</td>
			<td width="5">(3)</td>		
		   <td align="left" width="170" colspan="3">Pengembangan website Pengadilan :</td>
		   <td>
				&nbsp;
		   </td> 
		</tr>		
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>a.</td>			
			<td align="left">Platform yang digunakan</td>
			<td width="5">:</td> 
			<td>
		   <?php
				$platform = array(""=>"--Pilih--",
								"1"=>"dot net",
								"2"=>"php",
								"3"=>"asp",
								"4"=>"vb",
								"5"=>"java",
								"6"=>"joomla",
								"7"=>"Lain-lain");
				echo $ctrlFrm->formSelect('c_sw_platform', $this->c_sw_platform, null, $platform); 							
			?>
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>b.</td>			
		   <td align="left">Database</td>
		   <td width="5">:</td> 
		   <td>
		   <?php
				$datbs = array(""=>"--Pilih--",
								"1"=>"acces",
								"2"=>"mysql",
								"3"=>"sqlserver",
								"4"=>"db2",
								"5"=>"oracle",
								"6"=>"Lain-lain");
				echo $ctrlFrm->formSelect('c_sw_database', $this->c_sw_database, null, $datbs); 							
			?>
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(4)</td>			
		   <td align="left" width="170" colspan="2">Apakah format sajian informasi pada website sudah disesuaikan dengan
		   prinsip-prinsip aturan yang tertuang pada SK KMA No. 144/KMA/KEP/VIII/1707 ?
		   </td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_sk=='1') {$cek3="checked";} if ($this->c_sk=='2') {$cek4="checked";}?>
				<input type="radio" name="c_sk" value="1"<?=$cek3?>> Sudah &nbsp;
				<input type="radio" name="c_sk" value="2"<?=$cek4?>> Belum
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(5)</td>			
		   <td align="left" width="170" colspan="2">Apakah pengelolaan informasi pada website sudah diatur terstruktur berdasarkan keputusan Ketua Pengadilan?
		   </td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_struktur=='1') {$cek5="checked";} if ($this->c_struktur=='2') {$cek6="checked";}?>
				<input type="radio" name="c_struktur" value="1"<?=$cek5?>> Sudah &nbsp;
				<input type="radio" name="c_struktur" value="2"<?=$cek6?>> Belum
		   </td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(6)</td>			
		   <td align="left" width="170" colspan="2">Apakah pengadilan ini sudah mempunyai alamat email dengan nama domain milik pengadilan sendiri?
		   </td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
		   <? if ($this->c_nemail=='1') {$cek7="checked";} if ($this->c_nemail=='2') {$cek8="checked";}?>
				<input type="radio" name="c_nemail" value="1"<?=$cek7?>> Sudah &nbsp;
				<input type="radio" name="c_nemail" value="2"<?=$cek8?>> Belum
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="5" valign="top">(7)</td>			
		   <td align="left" width="170" colspan="2">Kalau jawaban pertanyaan nomor 6) sudah, sebutkan nama domain alamat email tersebut
		   </td>
		   <td width="5" valign="top">:</td> 
		   <td valign="top">
				<input type="text" id="n_sw_email" name="n_sw_email" value="<? echo $this->n_sw_email ?>" size = "69">
		   </td> 
		</tr>		
	
</table>	
