<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";


$ctrlFrm = new Zend_View();
$format_date = new format_date();
$halaman = new format_page();
$pesan = new share_message();


if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="breadcrumb">
	<a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a>
</div>

<div id="icon-admin" class="icon32"></div><h2 class="title">Administrasi User</h2>
<!--div id="mabody"-->
	<div style="overflow: hidden;">
		<div id="tableview">
			<div class="wrap">
				<? 
			
				$status = $this->hasil;
				$proses = $this->proses;
				$keterangan = $this->keterangan;
				
				$pesan->show_message($proses, $keterangan, "$status" ); ?>
				
				<div class="spacer"> </div>	
				<input type="button" class="submit alignright" value="Tambah Data" onClick="userForm('insert','');">
				<table class="tbl" width="100%" cellspacing="1" cellpadding="2" border="0" align="center">
					<tr>
						<th width="5%">No.</th>
						<th width="25%">Userid</th>
						<th width="25%">Nama User</th>
						<th width="35%">Nama Organisasi</th>
						<th colspan="2">Tindakan</th>
					</tr>
					<?php
					if($this->totUserList == 0){
						?>
						<tr>
							<td colspan="6">Data Tidak Ditemukan</td>
						</tr>
						<?php
					} else {
						for($i=0; $i<$this->totUserList; $i++){
							if($i%2){$event = "event";}
							else {$event = "event2";}
							
							if ($this->userList[$i]['i_organisasi'] == 'MA') {
								$nOrganisasi = 'Mahkamah Agung';
							} else {
								$nOrganisasi = $this->userList[$i]['n_organisasi'];
							}
						?>
							<tr class=<?php echo $event; ?>>
								<td>&nbsp;<?php echo $i+1;?></td>
								<td>&nbsp;<?php echo $this->userList[$i]['i_user'];?></td>
								<td>&nbsp;<?php echo $this->userList[$i]['n_user'];?></td>
								<td>&nbsp;<?php echo $nOrganisasi;?></td>
								<td><div onClick="userForm('update','<? echo $this->userList[$i]['i_user'];?>');" class="edit" title="Ubah Data"></div></td>
								<td><div class="delete" title="Hapus Data" onClick="userHapus('User', '<? echo $this->userList[$i]['i_user']; ?>', '<? echo $this->userList[$i]['n_user']; ?>')" ></td>
							</tr>
						<?php
						}
					}
					?>
				</table>
				<?	
				$totalData = $this->totUserList;
				$numToDisplay = $this->numToDisplay;
				$modul = $this->basePath."/adm/user/userlist";
				
				echo $halaman->showPage($totalData, $numToDisplay, $currentPage, 'tableview', $modul, $param1, $param2, $param3, $param4);		
				?>
			</div> <!--wrap-->
		</div>	
	</div><!--overflow-->
<!--/div--> <!--mabody-->

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>