<? 
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";
require_once "service/aplikasi/Aplikasi_Referensi_Service.php";
  
$ctrlFrm = new Zend_View();
   
?>
<script>
	function PilihanPegawai(nip, nama, unitkerja){
		document.getElementById('nip').value = nip;
		document.getElementById('nama').value = nama;
		document.getElementById('unitkerja').value = unitkerja;
		
		tutupPencarian();
	}
	
	function tutupPencarian(){
		document.getElementById('targetview').style.display = 'none';
	}
</script>
<div class="popups">
<h2 class="title">Daftar Pegawai</h2>

	<table  border="0" cellspacing="1" cellpadding="2" class="tbl2" id="std">
		<tr>
			<td>Kategori Pencarian :</td>
			<td>
				<select id="kategoriCari" name="kategoriCari">
					<option value="nip">NIP</option>
					<option value="nama">Nama</option>
				</select>
			</td>
			<td>
				<input type="text" id="kataKunci" name="kataKunci" value="<?echo $kataKunci;?>" >
				<input type="button" id="cari" name="cari" value="Cari" onClick="cariPegawai();">
			</td>
		</tr>
	</table>
	<?
	if(count($this->listPegawai) == 0)
	{
		echo "<font color=\"red\">Data tidak ada</font>";
	}
	else
	{
	?>
<div style="height:200px; overflow:auto">
 <table  border="0" cellspacing="1" cellpadding="2" class="tbl2" id="std">
	  <th>No</th>
	  <th>NIP</th>	  
	  <th>Nama</th>	  
	  <th>Unit Kerja</th>	  

	  <tr>
 			<?php foreach ($this->listPegawai as $key => $val): 
			if ($key%2==0) {?>
				      <tr class="event">
					<? } else if ($key%2==1) { ?>
					  <tr class="event2">
					<? } 
				$noUrut = $key+1;
				$nip=$this->escape($val['nip']);
				$nama=$this->escape($val['nama']);
				$nm_jabatan=$this->escape($val['nm_jabatan']);
				$kd_struktur_org=$this->escape($val['kd_struktur_org']);
				$kd_struktur_org_induk=$this->escape($val['kd_struktur_org_induk']);
				$level=$this->escape($val['level']);
				$nm_level=$this->escape($val['nm_level']);
				
				if (($nm_jabatan == 'Wakil Sekretaris Kabinet') || ($nm_jabatan == 'Sekretaris Kabinet') || ($nm_jabatan == 'Deputi') || ($nm_jabatan == 'Staf Ahli')){
					$namaJabatanLengkap = $level.$nm_level;
				} else {
					$namaJabatanLengkap = $nm_jabatan.$level.$nm_level;
				}
				$kd_struktur_org=$this->escape($val['kd_struktur_org']);
				
			?>
					<td align="right">&nbsp;<?php echo $noUrut;?></td>
					<td align="left">&nbsp;
						<a class="enclose" href="#" onclick="return PilihanPegawai('<? echo $nip ?>','<? echo $nama ?>','<? echo $kd_struktur_org ?>')"><? echo $nip ; ?></a>	
					</td>
					<td align="center">
						<?php echo $nama;?>
					</td>					
					<td align="left">
						<?php echo $namaJabatanLengkap;?>
					</td>
					
				</tr>
			<?php endforeach; ?>
		</table>
	<?
	}	
	?>
</div>	
	
<div class="closebox">
<FORM>
  <INPUT TYPE="BUTTON" VALUE="Tutup" onClick="tutupPencarian();">
</FORM>
</div>
<div class="spacer"></div>
</div>
