<?php
$jmldataOrganisasiTk2 = count($this->dataOrganisasiTk2);
if ($jmldataOrganisasiTk2!= 0) {
	for ($j = 0; $j < $jmldataOrganisasiTk2; $j++) {
	 $idOrganisasi = (string)$this->dataOrganisasiTk2[$j]['i_organisasi'];
	 $nOrganisasi = (string)$this->dataOrganisasiTk2[$j]['n_organisasi'];
	 echo "<option value=\"$idOrganisasi\" selected>$nOrganisasi</option>";
	}
	
} 
echo "<option value=\"-\" selected>--Pilih--</option>";
?>