<?php
$jmldataOrganisasiBanding = count($this->dataOrganisasiBanding);
if ($jmldataOrganisasiBanding!= 0) {
	for ($j = 0; $j < $jmldataOrganisasiBanding; $j++) {
	 $idOrganisasi = (string)$this->dataOrganisasiBanding[$j]['i_organisasi'];
	 $nOrganisasi = (string)$this->dataOrganisasiBanding[$j]['n_organisasi'];
	 echo "<option value=\"$idOrganisasi\" selected>$nOrganisasi</option>";
	}
	
} 
echo "<option value=\"-\" selected>--Pilih--</option>";
?>