<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";

$referensi = Aplikasi_Referensi_Service::getInstance();
$ctrlFrm = new Zend_View();
$pesan = new share_message();

?>
<div class="wrap">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h2 class="title"><? echo $jenisAksi;?> Data User</h2>
	
			<?
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
	
			$pesan->show_message($proses, $keterangan, $status); 
			?>
			<div class="spacer"> </div>	
			<div id="targetview" class="" style="display:none"></div>

	
			<form method="post" name="frmubahpassword" id="frmubahpassword">
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">		
					<tr>
						<td align="right" width="180">* User Id :</td>
						<td>
							<?
							$iUserAttrib = array("size" => "30",
												"maxlength" => "20");
												
							$iUserAttrib['readonly'] = true;
							echo $ctrlFrm->formText('i_user', $this->detailUser['i_user'], $iUserAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Nama User :</td>
						<td>
							<?
							$iNUserAttrib = array("size" => "30",
												"maxlength" => "150");
							$iNUserAttrib['readonly'] = true;
							echo $ctrlFrm->formText('n_user', $this->detailUser['n_user'], $iNUserAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Passsword Lama:</td>
						<td>
							<?
							$nPasswordAttrib = array("size" => "30",
												"maxlength" => "50");
							echo $ctrlFrm->formPassword('n_passwordlama', '', $nPasswordAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Passsword Baru:</td>
						<td>
							<?
							$nPasswordAttrib = array("size" => "30",
												"maxlength" => "50");
							echo $ctrlFrm->formPassword('n_passwordbaru', '', $nPasswordAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Ulangi Passsword Baru:</td>
						<td>
							<?
							$nPasswordAttrib = array("size" => "30",
												"maxlength" => "50");
							echo $ctrlFrm->formPassword('n_password2', '', $nPasswordAttrib);
							?>
						</td>
					</tr>
					<tr>
				    <td></td>
				    <td>
						<div class="right">
							<!--input type="button" value="Batal" onClick="userlist();"> 
							<input type="reset" value="Ulangi"--> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
					<tr>
						<td>* Harus Diisi</td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>