<html>

<head>
<title>..:: BUMN, Office Automation ::..</title>
</head>
<body>
<center><h1>Modul Tata Persuratan</h1></center>
	<hr>
	<ul>SURAT MASUK
	  <li><a href="/srt/suratmasuk/suratmasuk">Surat</a></li>
	  <li><a href="xx">Nota Dinas</a></li>
	  <li><a href="xx">Memo</a></li>
	</ul>
	<ul>SURAT KELUAR
	<li>Surat
	  <ul><a href="/srt/keluar/keluar">Pencatatan Surat</a></ul>
	  <ul><a href="/srt/keluar/ubahsurat">Mengubah Surat</a></ul>
	<li><a href="xx">Nota Dinas</a></li>
	<li><a href="/srt/keluar/memo">Memo</a></li>
	</ul>
	<ul><a href="/srt/disposisi/disposisi">DISPOSISI</a></ul>
	<ul><a href="/srt/konsep/konsep">KONSEP SURAT</a></ul> 
	<ul><a href="/srt/templete/tmpawal">TEMPLETE</a></ul>
</body>
</html>



