<?
$html=$html.'
		<tr>
			<td width="5" height="50"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >(5) Administrasi Perencanaan Anggaran</font></td>
		</tr>	
		<tr>
			<td width="5"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">		
			<table  align="left" border="1" cellspacing="1" cellpadding="5" width="85%">
				<tr>
					<th width="5%"><font color="#000000" face="arial" size="3" >No</font></th>
					<th width="41%"><font color="#000000" face="arial" size="3" >Nama Aplikasi</font></th>
					<th width="14%"><font color="#000000" face="arial" size="3" >Platform</font></th>
					<th width="15%"><font color="#000000" face="arial" size="3" >Database</font></th>
					<th width="17%"><font color="#000000" face="arial" size="3" >Jenis Aplikasi</font></th>
				</tr>';

if (count($this->datasoftware) != 0)
{
	$jmlapl=1;
	$cnttbl=0;
	foreach ($this->datasoftware as $key => $val): 
				$c_adm=$this->escape($val['c_adm']);	
				$n_aplikasi=$this->escape($val['n_aplikasi']);	
				$c_platform=$this->escape($val['c_platform']);	
				$c_database=$this->escape($val['c_database']);	
				$c_jns_aplikasi=$this->escape($val['c_jns_aplikasi']);
				
		if($c_adm==5)
		{
		$cnttbl++;
$html=$html.'

		<tr>
			<td width="5%" align="right"><font color="#000000" face="arial" size="3" >'.$jmlapl.'</font></td>
			<td width="41%">
				<font color="#000000" face="arial" size="3" >'.$n_aplikasi.'</font>
			</td>
			<td width="14%"><font color="#000000" face="arial" size="3" >';	
				switch ($this->i_browser)
				{	case '1': $platformaset="Dotnet";  break;
					case '2': $platformaset="";  break;
					case '3': $platformaset="ASP";  break;
					case '4': $platformaset="Visual Basic";  break;
					case '5': $platformaset="Java";  break;					
					case '6': $platformaset="Lain-lain";  break;}
$html=$html.''.$platformaset.'</font>
			</td>
			<td width="15%"><font color="#000000" face="arial" size="3" >';
				switch ($this->i_browser)
				{	case '1': $datbsaset="Acces";  break;
					case '2': $datbsaset="MySql";  break;
					case '3': $datbsaset="SqlServer";  break;
					case '4': $datbsaset="Db2";  break;
					case '5': $datbsaset="Oracle";  break;					
					case '6': $datbsaset="Lain-lain";  break;}
$html=$html.''.$datbsaset.'</font>
			</td>
			<td width="17%"><font color="#000000" face="arial" size="3" >';
				switch ($this->i_browser)
				{	case '1': $jnsaplaset="Web";  break;
					case '2': $jnsaplaset="Client Server";  break;
					case '3': $jnsaplaset="Standalone";  break;}
					
$html=$html.''.$jnsaplaset.'</font>
			</td>			
		</tr>';
		$jmlapl++;
	}
	
	endforeach;
}
else{
$html=$html.'<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}
$html=$html.'</table>';
//include('admaset.phtml');

$html=$html.'</td></tr></table>';