<?
$html=$html.'
<br>
<font color="#000000" face="arial" size="4" >II. Anggaran Pengembangan Sistem TI</font>
<br>
<br>
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		
		<tr>
			<td width="5"><font color="#000000" face="arial" size="3" >35.</td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >Jumlah anggaran pengembangan sistem TI yang diterima dari DIPA :</td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">
			<table  align="left" border="0" cellspacing="1" cellpadding="2">';


if (count($this->datadipa) != 0){
	$jmlapl=1;
	$cnttbl=0;		
	foreach ($this->datadipa as $key => $val): 
		$i_tahun_dipa=$this->escape($val['i_tahun_dipa']);	
		$v_dipa=$this->escape($val['v_dipa']);
		$cnttbl++;
				
$html=$html.'	
			<tr>
				<td width="5%" class="clright" valign="top"><font color="#000000" face="arial" size="3" >('.$jmlapl.')</td>
				<td width="20%">
				<font color="#000000" face="arial" size="3" >Tahun '.$i_tahun_dipa.'
				</td>
				<td width="35%"><font color="#000000" face="arial" size="3" >: Rp.'.$v_dipa.'
				</td>			
			</tr>';
				
	$jmlapl++;				
	endforeach;
}
else
{				
$html=$html.'
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}
$html=$html.'</table></td></tr></table>';	
$html=$html.'
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		
		<tr>
			<td width="5"><font color="#000000" face="arial" size="3" >36.</td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >Jumlah anggaran pengembangan sistem TI yang diterima dari Donor :</td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">
		<table  align="left" border="0" cellspacing="1" cellpadding="2">';


if (count($this->datadonor) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datadonor as $key => $val): 
				$e_donor=$this->escape($val['e_donor']);	
				$i_tahun_donor=$this->escape($val['i_tahun_donor']);
				$cnttbl++;
				
$html=$html.'
			<tr>
				<td width="5%" class="clright" valign="top"><font color="#000000" face="arial" size="3" >('.$jmlapl.')</td>
				<td width="52%"><font color="#000000" face="arial" size="3" >Donor '.$e_donor.'
				</td>
				<td width="35%"><font color="#000000" face="arial" size="3" >Tahun : '.$i_tahun_donor.'
				</td>			
			</tr>';				
	$jmlapl++;				
	endforeach;
}
else
{				
$html=$html.'
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}
$html=$html.'</table></td></tr></table>';	
$html=$html.'
		
<table width="100%" border="0" cellpadding="5" cellspacing="1" >		
		<tr>
			<td width="5"><font color="#000000" face="arial" size="3" >37.</td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >Ada berapa kegiatan yang dilakukan pengadilan dalam rangka pengembangan sistem TI pada :</td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">		
		<table  align="left" border="0" cellspacing="1" cellpadding="2">';


if (count($this->datatahunangaran) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datatahunangaran as $key => $val): 
				$i_tahun_ang=$this->escape($val['i_tahun_ang']);	
				$e_kegiatan=$this->escape($val['e_kegiatan']);
				$cnttbl++;
				
$html=$html.'	
			<tr>
				<td width="5%" class="clright" valign="top"><font color="#000000" face="arial" size="3" >('.$jmlapl.')</td>
				<td width="22%"><font color="#000000" face="arial" size="3" >
					Tahun Anggaran '.$i_tahun_ang.' ?
				</td>
				<td width="65%"><font color="#000000" face="arial" size="3" >				
					'.$e_kegiatan.' Kegiatan
				</td>
			</tr>';
	$jmlapl++;				
	endforeach;
}
else
{				
$html=$html.'
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}
$html=$html.'</table></td></tr></table>';
