<?
$html=$html.'
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >	

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >13.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Aplikasi umum yang terpasang dan digunakan di client :</font></td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%">
				<font color="#000000" face="arial" size="3" >Web Browser, yaitu : ';
				switch ($this->i_browser)
				{	case '1': $browser="Internet Explorer";  break;
					case '2': $browser="Mozilla";  break;
					case '3': $browser="Opera";  break;
					case '4': $browser="Safari";  break;
					case '5': $browser="Lain-lain";break;}					
					$html=$html.''.$browser.'
				</font>
			</td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%">
				<font color="#000000" face="arial" size="3" >PDF Reader, yaitu : ';
				switch ($this->i_browser)
				{	case '1': $i_pdfreader="Acrobat Reader";  break;
					case '2': $i_pdfreader="Lain-lain";  break;}				
				$html=$html.''.$i_pdfreader.'
				</font>
			</td>
		</tr>		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(3)&nbsp;</font></td>
			<td width="90%">
				<font color="#000000" face="arial" size="3" >Office, yaitu : ';
				switch ($this->i_browser)
				{	case '1': $i_office="Microsoft Ofiice 2003";  break;
					case '2': $i_office="Microsoft Ofiice 2007";  break;
					case '3': $i_office="Open Office";  break;
					case '4': $i_office="Lain-lain";  break;}						
				$html=$html.''.$i_office.'	
				</font>
			</td>
		</tr>		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(4)&nbsp;</font></td>
			<td width="90%">
				<font color="#000000" face="arial" size="3" >Kompresi, yaitu : ';
				switch ($this->i_browser)
				{	case '1': $i_kompresi="Winzip";  break;
					case '2': $i_kompresi="Winrar";  break;
					case '3': $i_kompresi="Lain-lain";  break;}					
				$html=$html.''.$i_kompresi.'
				</font>
			</td>
		</tr>			

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(5)&nbsp;</font></td>
			<td width="90%">
				<font color="#000000" face="arial" size="3" >Antivirus, yaitu : ';
				switch ($this->i_browser)
				{	case '1': $i_virus="Norman";  break;
					case '2': $i_virus="Norton";  break;
					case '3': $i_virus="Smadav";  break;
					case '4': $i_virus="Lain-lain";  break;}						
				$html=$html.''.$i_virus.'	
				</font>
			</td>
		</tr>			

</table>';
