	<h3 class="title">Data Pengadilan</h3>	
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="180">Nama Pengadilan Banding</td>
			<td colspan="5">:</td>
			<td colspan="5">&nbsp;</td>
			<input type="hidden" name="id_pengadilan" value="1">
		</tr>
		<tr>
			<td width="180">Bulan Tahun</td>
			<td colspan="5">:</td>
			<td colspan="5">&nbsp;</td>
		</tr>		
	</table>
