<?
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >III Deskinfo</font>
</p>
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >		
		<tr>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >39.</font></td>
			<td width="95%" colspan="3"><font color="#000000" face="arial" size="3" >Apakah di Pengadilan saudara sudah memiliki layanan Deskinfo, sejak kapan? '.$this->e_layanan.'</font></td>
		</tr>
		<tr>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3">40.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
				Apakah sudah ditunjuk petugas Deskinfo untuk pelayanan public terhadap keterbukaan informasi di Pengadilan sesuai dengan SK. KMA No 144/KMA/SK/VII/2007? '.$this->e_layanan_publik.'
			</font>
		</td>
		</tr>		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >a.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >	
				Apakah petugas informasi mempunyai staft pelaksana yang bertanggung jawab kepada petugas informasi '.$this->e_staft_pelaksana.'
			</font>
			</td>
		</tr>		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >b.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >	
				Apakah petugas pelaksana yang dimaksud pada pertanyaan diatas, memiliki SK Penugasan '.$this->e_sk_tugas.'
			</font>
			</td>
		</tr>
			
		</table>
		<table width="100%" border="0" cellpadding="5" cellspacing="1" class="std">
			<tr>
			   <td width="3%">41.</td>
			   <td align="left" colspan="4">
				<font color="#000000" face="arial" size="3" >
					Berapa banyak permohonan informasi yang disampaikan ke meja informasi di Pengadilan saudara dalam setiap bulan sepanjang tahun ini
				</font>
			   </td>
			</tr>';
while($i<=11)
  {
  
	  switch ($i){
		case 0:
			$judul='Januari';
			$nama='v_jan';
			break;
		case 1:
			$judul='Februari';
			$nama='v_feb';
			break;
		case 2:
			$judul='Maret';
			$nama='v_mar';
			break;
		case 3:
			$judul='April';
			$nama='v_apr';
			break;
		case 4:
			$judul='Mei';
			$nama='v_mei';
			break;
		case 5:
			$judul='Juni';
			$nama='v_jun';
			break;
		case 6:
			$judul='Juli';
			$nama='v_jul';
			break;
		case 7:
			$judul='Agustus';
			$nama='v_agt';
			break;
		case 8:
			$judul='September';
			$nama='v_sep';
			break;
		case 9:
			$judul='Oktober';
			$nama='v_okt';
			break;
		case 10:
			$judul='Nopember';
			$nama='v_nop';
			break;	
		case 11:
			$judul='Desember';
			$nama='v_des';
			break;			
		}

$html=$html.'
			<tr>
				<td width="3%">&nbsp;</td>
				<td width="15%"><font color="#000000" face="arial" size="3" >'.$judul.'</font></td>
				<td width="3%">:</td>
				<td>
					<font color="#000000" face="arial" size="3" >'.$this->$nama.'</font>
				</td> 
			</tr>';

$i++;
}

$html=$html.'			
		</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="1">	

		<tr>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3">42.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
				Apakah di Pengadilan saudara sudah memiliki aplikasi informasi perkara yang dapat ditampilkan di deskinfo 
				sehingga masyarakat atau pihak-pihak dan pimpinan tahu status dan informasi suatu perkara? '.$this->e_status_perkara.'
			</font>
		</td>
</table>';
