<?
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >C. Hardware (Perangkat Keras)</font>
</p>
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		
		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >17.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Berapa jumlah komputer (PC) dengan Prosesor :</font></td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Dibawah Pentium 4 : '.$this->i_proc_pentium3.'&nbsp; buah;</font></td>
		</tr>		
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Pentium 4 : '.$this->i_proc_pentium4.'&nbsp; buah;</font></td>
		</tr>	

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(3)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Dual Core : '.$this->i_proc_dualcore.'&nbsp; buah;</font></td>
		</tr>		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(4)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >ore two duo : '.$this->i_proc_coretwoduo.'&nbsp; buah;</font></td>
		</tr>			
	

	</table>';