<?
if ($this->c_lan_cable=='1') {$c_lan_cable=" Sudah ";} if ($this->c_lan_cable=='2') {$c_lan_cable=" Belum";}
if ($this->c_lan_wireless=='1') {$c_lan_wireless=" Sudah";} if ($this->c_lan_wireless=='2') {$c_lan_wireless=" Belum";}
if ($this->c_lan_securty=='1') {$c_lan_securty=" Sudah";} if ($this->c_lan_securty=='2') {$c_lan_securty=" Belum";}
if ($this->c_lan_internet=='1') {$c_lan_internet=" Sudah";} if ($this->c_lan_internet=='2') {$c_lan_internet=" Belum";}
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >D. Jaringan</font>
</p>
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >28.</td>
			<td colspan="2" width="96%"><font color="#000000" face="arial" size="3" >Local Area Network (LAN) :</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(1)</td>		
			<td align="left">
				<font color="#000000" face="arial" size="3" >
					Apakah sudah mempunyai jaringan LAN yang berbasis Kabel? : '.$c_lan_cable.'
			</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(2)</td>		
			<td align="left">
				<font color="#000000" face="arial" size="3" >Apakah sudah mempunyai jaringan LAN yang berbasis Wireless? : '.$c_lan_wireless.'
			</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(3)</td>		
			<td align="left">
				<font color="#000000" face="arial" size="3" >
				Apakah jaringan LAN sudah dikonfigurasi untuk keamanan aksesnya? : '.$c_lan_securty.'
			</td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(4)</td>		
		   <td align="left" colspan="2" valign="top"><font color="#000000" face="arial" size="3" >
		   Berapa server yang terhubung dengan LAN? : '.$this->q_lan.'
		   </td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(5)</td>		
			<td align="left" colspan="2" valign="top">
				<font color="#000000" face="arial" size="3" >
				Berapa client (node) yang terhubung dengan LAN ? : '.$this->q_lan_hub_client.'
			</td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(6)</td>		
			<td align="left" colspan="2" valign="top">
			<font color="#000000" face="arial" size="3" >Berapa client (node) yang belum terhubung dengan LAN ? : '.$this->q_lan_nhub_client.'
			</td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(7)</td>		
			<td align="left" colspan="2" valign="top">
				<font color="#000000" face="arial" size="3" >Apakah jaringan LAN sudah terkoneksi dengan jaringan internet ? : '.$c_lan_internet.'
			</td> 
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(8)</td>		
		   <td align="left" colspan="2" valign="top"><font color="#000000" face="arial" size="3" >Berapa jumlah Switch/Hub ? : '.$this->q_lan_hub.'
		   </td> 
		</tr>
		</table>
		
		<table width="100%" border="0" cellpadding="5" cellspacing="1" >	
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >29.</td>
			<td width="96%"><font color="#000000" face="arial" size="3" >Berapa jumlah komputer yang dapat mengakses internet ? :'.$this->q_pc_internet.'
		   </td> 
		</tr>	
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >30.</td>
			<td>
				<font color="#000000" face="arial" size="3" >Apakah akses internet menggunakan sistem berlangganan ? : '.$c_lan_internet.'
		    </td> 
		</tr>	
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >31.</td>
			<td><font color="#000000" face="arial" size="3" >Sebutkan nama provider internet (ISP)  ?: '.$this->q_internet_isp.'
		   </td> 
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >32.</td>
			<td><font color="#000000" face="arial" size="3" >Berapa biaya sambungan internet rata-rata dalam 1 bulan  ? : '.$this->v_internet.'
		   </td> 
		</tr>
		</table>		
	<table width="100%" border="0" cellpadding="5" cellspacing="1" >			
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >33.</td>
			<td width="98%" colspan="2"><font color="#000000" face="arial" size="3" >Bandwidth yang diperoleh  ?:</td> 
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >1</td>
			<td><font color="#000000" face="arial" size="3" >Upload : '.$this->q_internet_upload.'</td> 
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >2</td>
			<td><font color="#000000" face="arial" size="3" >Download : '.$this->q_internet_download.'</td> 
		</tr>			
	</table>';
