<?
$html=$html.'
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >	
		<tr>
			<td width="5" valign="top"><font color="#000000" face="arial" size="3">38.</td>
			<td colspan="5">
				<font color="#000000" face="arial" size="3" >
					Di form isian penggunaan anggaran disediakan 5 (lima) isian kegiatan, 
					namun pengisian disesuaikan dengan jumlah kegiatan yang dilakukan pada masing-masing pengadilan :
				</font>
			</td>
		</tr>
</table>';		
	foreach ($this->datakegiatan as $key => $val): 
	$c_kegiatan=$this->escape($val['c_kegiatan']);
	$id_kuesioner=$this->escape($val['id_kuesioner']);
	if ($this->escape($val['c_jaminan'])=='1'){$jawab1="Penunjukan Langsung";}
	if ($this->escape($val['c_jaminan'])=='2'){$jawab1="Tender";}
	if ($this->escape($val['c_jaminan'])=='1'){$jawab2=" Ada ";}
	if ($this->escape($val['c_jaminan'])=='2'){$jawab2=" Tidak";}
	
$html=$html.'
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >	

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="95%" colspan="3"><font color="#000000" face="arial" size="4">Kegiatan '.$this->escape($val['c_kegiatan']).'</font></td>
		</tr>

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >a.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Nama Kegiatan : '.$this->escape($val['n_kegiatan']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >b.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Deskripsi Kegiatan : '.$this->escape($val['e_kegiatan']).'</font></td>
		</tr>		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >c.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Jumlah Anggaran : '.$this->escape($val['v_anggaran']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >d.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Nama/Alamat Perusahaan Pemenang : '.$this->escape($val['e_alamat_prshn']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >e.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Mekanisme Pemilihan Pemenang :'.$jawab1.'
			</font></td>
		</tr>		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >f.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Lama Kegiatan : '.$this->escape($val['i_lama']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >g.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Waktu Pelaksanaan : bulan '.$this->i_waktu_mulai.' s.d bulan '.$this->escape($val['i_waktu_akhir']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >h.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Apakah ada jaminan pemeliharaan dari pengembang?
			'.$jawab2.'
			</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >i.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Jika ada bagaimana caranya? '.$this->escape($val['e_cara']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >j.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Dalam melaksanakan pengembangan sistem TI pedoman apa saja yang digunakan? '.$this->escape($val['e_pedoman']).'</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >k.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Nama dan jumlah komponen TI yang dibelanjakan dari kegiatan yang dilakukan:</font></td>
		</tr>
			
		</table>';
	include('komponen.phtml');		
	endforeach;