<?
$html=$html.'
<tr>
<td>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5" height="25"><font color="#000000" face="arial" size="3" >15.</font></td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >Apakah aplikasi-aplikasi yang disebutkan di atas digunakan dengan baik dan dioperasikan dengan baik :</font></td>
		</tr>
		<tr>
			<td width="5">&nbsp;</td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >Jika tidak, sebutkan aplikasi apa saja dan apa kendalanya?</font></td>
		</tr>			
		<tr>
			<td width="5"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">
				<table  align="left" border="1" cellspacing="1" cellpadding="5" width="85%">
					<tr>
						<th width="5%"><font color="#000000" face="arial" size="3" >No</font></th>
						<th width="45%"><font color="#000000" face="arial" size="3" >Nama Aplikasi</font></th>
						<th width="50%"><font color="#000000" face="arial" size="3" >Kendala</font></th>
					</tr>';
if (count($this->datasoftwarekendala) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datasoftwarekendala as $key => $val): 
				$n_aplikasi_kendala=$this->escape($val['n_aplikasi_kendala']);	
				$n_kendala=$this->escape($val['n_kendala']);	
				$cnttbl++;
$html=$html.'	
		<tr>
			<td width="5%"><font color="#000000" face="arial" size="3" >'.$jmlapl.'</font></td>
			<td width="45%"><font color="#000000" face="arial" size="3" >
				'.$n_aplikasi_kendala.'</font>
			</td>
			<td width="50%"><font color="#000000" face="arial" size="3" >
				'.$n_kendala.'</font>
			</td>		
		</tr>';
		$jmlapl++;
	endforeach;
}
else
{				
$html=$html.'
		<tr>
			<td>1</td>
			<td>
&nbsp;
			</td>
			<td>
&nbsp;
			</td>		
		</tr>';
	
}
$html=$html.'</table></td></tr></table>';