<?
$html=$html.'
<table border="0" cellspacing="1" cellpadding="5" width="90%">
	<tr>
	<td width="3%">
	<td>	
	<table border="1" cellspacing="1" cellpadding="5" width="85%">
		<tr>
			<th width="5%"><font color="#000000" face="arial" size="3" >No</th>
			<th width="22%"><font color="#000000" face="arial" size="3" >Komponen TI</th>
			<th width="30%"><font color="#000000" face="arial" size="3" >Spesipikasi</th>
			<th width="8%"><font color="#000000" face="arial" size="3" >Jumlah</th>
			<th width="35%"><font color="#000000" face="arial" size="3" >Keterangan</th>
		</tr>';
$cari = " and id_kuesioner ='$id_kuesioner' and c_kegiatan='$c_kegiatan' ";		
 $datakomponen= $this->kegiatan_serv2->getTmKegiatanKomponen($cari);

if (count($datakomponen) != 0){
	$jml=1;
	foreach ($datakomponen as $key => $val): 
	
$html=$html.'	
		<tr>
			<td><font color="#000000" face="arial" size="3" >'.$jml.'</td>
			<td><font color="#000000" face="arial" size="3" >'.$this->escape($val['n_komponen']).'
			</td>
			<td><font color="#000000" face="arial" size="3" >'.$this->escape($val['e_spesipikasi']).'</td>
			<td><font color="#000000" face="arial" size="3" >'.$this->escape($val['i_jml_komponen']).'</td>
			<td><font color="#000000" face="arial" size="3" >'.$this->escape($val['e_keterangan']).'</td>
		</tr>';

	$jml++;
	endforeach;
}		
else{
	$jml=1;
	foreach ($this->datarefkomponen as $key => $val): 
	
$html=$html.'	
		<tr>
			<td><font color="#000000" face="arial" size="3" >'.$jml.'</td>
			<td><font color="#000000" face="arial" size="3" >'.$this->escape($val['n_komponen']).'
			</td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;</td>
		</tr>';

	$jml++;
	endforeach;	
}
$html=$html.'
	</table>
</td>
</tr>	
</table>	
	';