<?
$html=$html.'
<center>
<font color="#000000" face="arial" size="4" >Kuesioner/Angket</font>
<br>
<br>
<p>
<font color="#000000" face="arial" size="4" >
	PENGUMPULAN DAN PENGOLAHAN DATA <br>
	PENGEMBANGAN SISTEM INFORMASI MANAJEMEN MAHKAMAH AGUNG RI <br>
	TAHUN ANGGARAN '.date('Y').'
</font>
</p>

<table style="background-color: silver;" cellpadding="10" cellspacing="3" >
	<tr>
	<td>
		<font color="#000000" face="arial" size="3" >PENGADILAN TINGKAT PERTAMA / BANDING</font>
	</td>
	</tr>
</table>
</center>
<br>
<br>
<table width="100%" border="1" cellpadding="15" cellspacing="0" >
	<tr>
		<td>
			<table width="100%" border="0" cellpadding="5" cellspacing="3" >
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Nama Pengadilan Banding</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_organisasi_tk1.'</font>
					</td>	
				</tr>
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Nama Pengadilan Tingkat I *)</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_organisasi.'</font>
					</td>	
				</tr>
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Alamat</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_alamat.'</font>
					</td>	
				</tr>
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Telepon</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->no_telepon_responden.'</font>
					</td>	
				</tr>	
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Fax</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->no_fax.'</font>
					</td>	
				</tr>	
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Nama Responden</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_responden.'</font>
					</td>	
				</tr>
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Jabatan</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_jabatan.'</font>
					</td>	
				</tr>
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Pangkat/Golongan</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->n_pangkat.'/'.$this->n_golongan.'</font>
					</td>	
				</tr>				
				<tr>
					<td width="20%">
						<font color="#000000" face="arial" size="3" >Telepon/HP</font>
					</td>
					<td width="3%">
						:
					</td>
					<td width="87%">
						<font color="#000000" face="arial" size="3" >'.$this->no_hp_responden.'</font>
					</td>	
				</tr>				
			</table>
		</td>
	</tr>
</table>	
<p style="line-height:2">
*)<font color="#000000" face="arial" size="3" >Diisi bagi Pengadilan Tingkat Pertama</font>
<p style="line-height:2">
<table width="100%" border="0" cellpadding="5" cellspacing="0" >
	<tr>
	<td>
	<font color="#000000" face="arial" size="3" >
	<p style="line-height:2">
		Kuesioner ini dibagi dalam 3 (tiga) kelompok besar pertanyaan yaitu mengenai kondisi sistem informasi pengadilan,
		anggaran pengembangan Sitem TI pada DIPA dan Donor, dan Deskinfo (Meja Informasi). Kondisi sistem Informasi pengadilan
		menyangkut sumber daya yang dimiliki Pengadilan yaitu (1) Sumber Daya Manusia (Human Resource),(2) Pengakat Lunak (Software),
		(3) Perangkat Keras (Hardware),(4) Jaringan (Network) dan (5) Prosedure. Anggaran DIPA dan Donor selama 3 tahun (2009,2010,
		dan 2011). Desk info mengacu pada SK 144 KMA/2007 dan peraturan perundangan terkait lainnya.<br>
		Bentuk pertanyaan/pertanyaan berikut adalah kombinasi antara pertanyaan tertutup dan terbuka. Untuk pertanyaan tertutup
		mohon dilingkari jawaban yang dipilih dan dituliskan juga pada kolom jawaban yang tersedia, sedang pertanyaan terbuka mohon
		beri jawaban singkat pada space titik-titik yang tersedia.
	</p>	
	</font>
	</td>
	</tr>
</table>';         
