<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once "share/oa_dec_cur_conv.php";
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();

$laporan_serv = new Aplikasi_Laporan_Service();

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10 style="bold"><b>LAPORAN HARIAN SURAT MASUK TANGGAL '.$this->dTanggalmasuk.'</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';

$html = $html.'<table width="270" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'	<tr>';
$html = $html.'		<td align="center" width="6" border="1" style="bold" valign="middle">No.</td>';
$html = $html.'		<td align="center" width="25" border="1" style="bold" valign="middle">NO AGENDA <br>SURAT MASUK</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold" valign="middle">TANGGAL MASUK<br>SURAT</td>';
$html = $html.'		<td align="center" width="45" border="1" style="bold" valign="middle">DITUJUKAN KEPADA</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold" valign="middle">JENIS SURAT</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold" valign="middle">SIFAT SURAT</td>';
$html = $html.'		<td align="center" width="40" border="1" style="bold" valign="middle">INSTANSI PENGIRIM</td>';
$html = $html.'		<td align="center" width="50" border="1" style="bold" valign="middle">PERIHAL</td>';
$html = $html.'		<td align="center" width="44" border="1" style="bold" valign="middle">DISPOSISI SESKAB</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold" valign="middle">TANGGAL<br>DISPOSISI SESKAB</td>';
$html = $html.'	</tr>';
		if (count($this->agendamasukList) == 0) {
$html = $html.'	<tr class="event">';
$html = $html.'		<td colspan="10" border="1"><font color="red">Data Tidak Ditemukan</font></td>';
$html = $html.'	</tr>';
		} else {
			foreach ($this->agendamasukList as $key => $val):
				$no = (($currentPage -1)* $numToDisplay) + $key +1;
							
							
$html = $html.'	<tr class="event2">';
$html = $html.'		<td class="clright" border="1" valign="middle">'.$no.'&nbsp;&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['i_agendasrt']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_tanggalmasuk'])).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['n_kepada']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['n_srtjenis']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['n_srtsifat']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['n_srtpengirim']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['n_srtperihal']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;</td>';
$html = $html.'	</tr>';
			endforeach;
		}
$html = $html.'</table>';

// echo $html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('L', 'mm', 'A4');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
// $p->setfont('Helvetica','',5);
// $p->htmltable($html2);
$p->output('','I');  
?>