<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$html1 ='<table border="0" align="left"  width="200">';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10 style="bold"><b>LAPORAN HARIAN PROSES PENYELESAIAN SURAT TANGGAL '.$this->dTglCari.'</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';
 
$html = $html.'<table width="420" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'	<tr>';
$html = $html.'		<td align="center" width="5" border="1" style="bold">No.</td>';
$html = $html.'		<td align="center" width="25" border="1" style="bold">NO. MEMO - REV</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">DARI</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">JENIS AJUAN</td>';
$html = $html.'		<td align="center" width="40" border="1" style="bold">PERIHAL</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">TANGGAL AJUAN</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">DITERIMA TUP</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">MAJU SESKAB</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">DARI SESKAB</td>';
$html = $html.'		<td align="center" width="50" border="1" style="bold">KEPUTUSAN SESKAB</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">DIKIRIM KE <br>TANGGAL</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">DITERIMA DARI</td>';
$html = $html.'		<td align="center" width="50" border="1" style="bold">KETERANGAN</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">KE PRESIDEN</td>';
$html = $html.'		<td align="center" width="25" border="1" style="bold">NO SESKAB</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">DARI PRESIDEN</td>';
$html = $html.'		<td align="center" width="50" border="1" style="bold">KEPUTUSAN PRESIDEN</td>';
$html = $html.'	</tr>';
	
	if (count($this->datalist) == 0) {
$html = $html.'	<tr>';
$html = $html.'		<td colspan="17" border="1"><font color="red">Data Tidak Ditemukan</font></td>';
$html = $html.'	</tr>';
	} else {
		foreach ($this->datalist as $key => $val):
			$no = (($currentPage -1)* $numToDisplay) + $key +1;
$html = $html.'	<tr>';
$html = $html.'		<td class="clright" border="1">'.$no.'&nbsp;&nbsp;</td>';
				if ($this->escape($val['rev'])) { $nomemorev = $this->escape($val['i_memo'])." REV ".$this->escape($val['rev']); }
				else { $nomemorev = $this->escape($val['i_memo']); }
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$nomemorev.'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$this->escape($val['dari']).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$this->escape($val['nJenisAjuan']).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$this->escape($val['n_perihal']).'</td>';
$html = $html.'		<td class="clcenter" border="1">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_memo'])).'</td>';
$html = $html.'		<td class="clcenter" border="1">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_memo'])).'</td>';
$html = $html.'		<td class="clcenter" border="1">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['t_terimaberkas'])).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_memo_seskab'])).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$this->escape($val['e_disposisi_seskab']).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;'.$this->escape($val['i_memo_seskab']).'</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1">&nbsp;</td>';
$html = $html.'	</tr>';
		endforeach; 
	}
$html = $html.'	</table>';

// echo $html1.$html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('L', 'mm', 'A3');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',6);
$p->htmltable($html);
$p->output('','I');  
?>