<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$html1 ='<table border="0" align="left"  width="237">';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10 style="bold"><b>LAPORAN HARIAN PENGIRIMAN SURAT TANGGAL '.$this->dTglCari.'</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';

$html = $html.'<table width="2420" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">
$html = $html.'	<tr>
$html = $html.'		<td align="center" width="10" rowspan="2" border="1" style="bold">No.</td>';
$html = $html.'		<td align="center" colspan="5" border="1" style="bold">ASAL USUL SURAT</td>';
$html = $html.'		<td align="center" colspan="3" border="1" style="bold">PROSES TINDAK LANJUT DI TU SETKAB</td>';
$html = $html.'		<td align="center" colspan="2" border="1" style="bold">PROSES PENGIRIMAN</td>';
$html = $html.'		<td align="center" width="300" rowspan="2" border="1" style="bold">BIRO</td>';
$html = $html.'	</tr>';
$html = $html.'	<tr>';
$html = $html.'		<td align="center" width="150" border="1" style="bold">No. SURAT</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">TANGGAL SURAT</td>';
$html = $html.'		<td align="center" width="300" border="1" style="bold">DARI</td>';
$html = $html.'		<td align="center" width="300" border="1" style="bold">PERIHAL</td>';
$html = $html.'		<td align="center" width="300" border="1" style="bold">KEPADA</td>';
$html = $html.'		<td align="center" width="300" border="1" style="bold">DITERIMA OLEH</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">TANGGAL</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">PUKUL</td>';
$html = $html.'		<td align="center" width="100" border="1" style="bold">VIA</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">TANGGAL</td>';
$html = $html.'	</tr>';
					//var_dump($this->datalist);
					if (count($this->datalist) == 0) {
$html = $html.'	<tr class="event">';
$html = $html.'		<td colspan="9" border="1"><font color="red">Data Tidak Ditemukan</font></td>';
$html = $html.'	</tr>';
					} else {
						foreach ($this->datalist as $key => $val):
							$no = (($currentPage -1)* $numToDisplay) + $key +1;
							
$html = $html.'	<tr>';
$html = $html.'		<td class="clright" valign="middle">'.$no.'&nbsp;&nbsp;</td>';
$html = $html.'		<td class="clleft" valign="middle">&nbsp;'.$this->escape($val['i_srtajuan']).'</td>';
$html = $html.'		<td class="clleft" valign="middle">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_tglajuan'])).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['nOrgDari']).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['n_perihal']).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['n_kepada']).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['n_penerima']).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['d_tglterima']).'</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;</td>';
$html = $html.'		<td class="clcenter" valign="middle">&nbsp;'.$this->escape($val['c_srt_saranakirim']).'</td>';
$html = $html.'		<td class="clleft" valign="middle">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_tglkirim'])).'</td>';
$html = $html.'		<td class="clleft" valign="middle">&nbsp;</td>';
$html = $html.'	</tr>';
						endforeach;
					}
$html = $html.'</table>';
// echo $html1.$html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A3');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->output('','I');  
?>
