<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once('fpdf/Pdf_Service.php');
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();


$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Laporan<strong> &#8250; </strong>Rekap Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Laporan Harian Pengiriman Surat</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Tanggal</td>
						<td>:</td>
						<td>
							<input type="text" id="dTanggalmasuk" name="dTanggalmasuk" value="<?echo $this->dTglCari; ?>" size="15" maxlength="10">
						</td>
					</tr>
					<tr>
						<td colspan="3" align="center"><input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanLaporanharianPengirimanSurat();"></td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		</span></span>
	
	    <div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFLaporanharianPengirimanSurat();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
		</div>
		<div class="blank"></div>
		<fieldset class="fields">
		<?
			$laporan_serv = new Aplikasi_Laporan_Service();
			$bulan = $this->bulan;
			if(!$bulan){ $bulan =date('m');}
			$tahun = $this->tahun;
			if(!$tahun){ $tahun =date('Y');}
		?>
			<div  style="width:930px; overflow:auto">
				<table width="2420" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">
					<tr>
						<th align="center" width="10" rowspan="2">No.</th>
						<th align="center" colspan="5">ASAL USUL SURAT</th>
						<th align="center" colspan="3">PROSES TINDAK LANJUT DI TU SETKAB</th>
						<th align="center" colspan="2">PROSES PENGIRIMAN</th>
						<th align="center" width="300" rowspan="2">BIRO</th>
					</tr>
					<tr>
						<th align="center" width="150">No. SURAT</th>
						<th align="center" width="30">TANGGAL SURAT</th>
						<th align="center" width="300">DARI</th>
						<th align="center" width="300">PERIHAL</th>
						<th align="center" width="300">KEPADA</th>
						<th align="center" width="300">DITERIMA OLEH</th>
						<th align="center" width="30">TANGGAL</th>
						<th align="center" width="30">PUKUL</th>
						<th align="center" width="100">VIA</th>
						<th align="center" width="30">TANGGAL</th>
					</tr>
					<?
					//var_dump($this->datalist);
					if (count($this->datalist) == 0) {
					?>
						<tr class="event">
							<td colspan="9"><font color="red">Data Tidak Ditemukan</font></td>
						</tr>
					<?php
					} else {
						foreach ($this->datalist as $key => $val):
							$no = (($currentPage -1)* $numToDisplay) + $key +1;
							
							if ($key%2==0) { ?>
								<tr class="event">
							<?php } else if ($key%2==1) { ?>
								<tr class="event2">
							<?php } ?>
								<td class="clright"><?php echo $no;?>&nbsp;&nbsp;</td>
								<td class="clleft">&nbsp;<?echo $this->escape($val['i_srtajuan'])?></td>
								<td class="clleft">&nbsp;<?echo $format_date->convertTglMachineToHuman($this->escape($val['d_tglajuan']))?></td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['nOrgDari'])?></td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['n_perihal'])?></td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['n_kepada'])?></td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['n_penerima'])?></td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['d_tglterima'])?></td>
								<td class="clcenter">&nbsp;</td>
								<td class="clcenter">&nbsp;<?echo $this->escape($val['c_srt_saranakirim'])?></td>
								<td class="clleft">&nbsp;<?echo $format_date->convertTglMachineToHuman($this->escape($val['d_tglkirim']))?></td>
								<td class="clleft">&nbsp;</td>
							</tr>
							<?
						endforeach;
					}
					?>
				</table>
			</div>
			<?
			$totalData = $this->totalData;
			
			$divId = 'tableview';
			$modul = $this->basePath."/aplikasi/laporan/laporanhariansuatmasuk";
			$param1 = $this->kategoriCari;
			$param2 = $this->katakunciCari;
			$format_page->showPage($totalData, $numToDisplay, $currentPage, $divId, $modul, $param1, $param2, $param3, $param4);
			
			?>
		</fieldset>
		<span class="corners-bottom"><span>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#dTanggalmasuk").datepicker();
	});
</script>