<?
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
	
?>
<script>
function listResponden()
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/laporan/listresponden';
	var id_pengadilan=document.getElementById('id_pengadilan').value;
	var param = {id_pengadilan:id_pengadilan};
	jQuery.get(url, param, function(data) {
		jQuery("div#targetlist").html(data);
	});
}
function showReport(id,id_pengadilan,d_bulan_kuesioner,d_tahun_kuesioner)
{
	url = "<?php echo $this->basePath; ?>/aplikasi/laporan/listrespondencetak?id="+id+"&id_pengadilan="+id_pengadilan+"&d_bulan_kuesioner="+d_bulan_kuesioner+"&d_tahun_kuesioner="+d_tahun_kuesioner;
	BukaWindows('1000','600');
}
function BukaWindows(wid,heg){
	var w = 0; 
	var h = 0;
	w = screen.availWidth;
	h = screen.availHeight;
	var popW = wid, popH = heg;
	var leftc = (w-popW)/2;
	var topc = (h-popH)/2;
	var selectWindow = window.open(url,'Selection', 'left=' + leftc + ',top=' + topc + ', width='+popW+',height='+popH+',resizable=0,scrollbars=yes');
}
</script>
	<div class="breadcrumb">
		<a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Laporan<strong>
	</div>
	<div id="icon-judul">
		<h2 class="title">Laporan</h2>
	</div>

	<div class="panel">	
		<span class="corners-top"><span></span></span>
		<div class="spacer"></div>	
	 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
			<tr>
				<td width="20%">Nama Pengadilan</td>
				<td width="1%">:</td>
				<td width="79%">		   
				<?php				
					$jml= count($this->datapengadilan);
					$listpengadilan[''] = '--Pilih--';
					for ($j = 0; $j < $jml; $j++) { 
						$listpengadilan[trim((string)$this->datapengadilan[$j]['id_pengadilan'])] =$this->datapengadilan[$j]['n_pengadilan'];
					} 
					$listpengadilanAttr = array("onclick"=>"listResponden()");		
					echo $ctrlFrm->formSelect('id_pengadilan', $this->id_pengadilan, $listpengadilanAttr, $listpengadilan); 							
				?>
				</td>
			</tr>
			<tr>
				<td>Bulan</td>
				<td>:</td>
				<td>
					<input type="text" size="5" name="bulan" id="bulan" value="<?$this->bulan?>">
				</td>
			</tr>	
			<tr>
				<td>Tahun</td>
				<td>:</td>
				<td>
					<input type="text" size="5" name="tahun" id="tahun" value="<?$this->tahun?>"> 
				</td>
			</tr>				
		</table>
<div class="spacer"></div>		
		<center>
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
				    <td>
							<input name='perintah' type="button" value="Cetak">
					</td>
				</tr>
			</table>
		</center>
			
<div class="spacer"></div>
	<div id="targetlist">
		<?include("listresponden.phtml");?>		
	</div>	
<div class="spacer"></div>	
	</div>
	

