<?
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
	
?>
<script>
function listResponden()
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/laporan/listresponden';
	var id_pengadilan=document.getElementById('id_pengadilan').value;
	var param = {id_pengadilan:id_pengadilan};
	jQuery.get(url, param, function(data) {
		jQuery("div#targetlist").html(data);
	});
}
function showReport(id,id_pengadilan,d_bulan_kuesioner,d_tahun_kuesioner)
{
	url = "<?php echo $this->basePath; ?>/aplikasi/laporan/listrespondencetak?id="+id+"&id_pengadilan="+id_pengadilan+"&d_bulan_kuesioner="+d_bulan_kuesioner+"&d_tahun_kuesioner="+d_tahun_kuesioner;
	BukaWindows('1000','600');
}
function BukaWindows(wid,heg){
	var w = 0; 
	var h = 0;
	w = screen.availWidth;
	h = screen.availHeight;
	var popW = wid, popH = heg;
	var leftc = (w-popW)/2;
	var topc = (h-popH)/2;
	var selectWindow = window.open(url,'Selection', 'left=' + leftc + ',top=' + topc + ', width='+popW+',height='+popH+',resizable=0,scrollbars=yes');
}
</script>
<div style="overflow: hidden;">

	<div class="wrap">

	<div class="panel">	
		<span class="corners-top"><span></span></span>
		<div id="targetlist">
			<?include("listresponden.phtml");?>		
		</div>	
		<div class="spacer"></div>	
	</div>
	</div>
	

