<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$html1 ='<table border="0" align="left"  width="237">';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10 style="bold"><b>LAPORAN HARIAN PENOMORAN SURAT TANGGAL '.$this->dTglCari.'</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';
 
$html = $html.'<table width="237" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'	<tr>';
if ($this->level == 'Deputi') {
	$level = 'Eselon I';
} else if ($this->level == 'Biro') {
	$level = 'Eselon II';
} else {
	$level =  $this->level;
}
	
$html = $html.'		<td colspan="9" align="center" height="15" style="bold">'.strtoupper($level).'</td>';
$html = $html.'	</tr>';
$html = $html.'	<tr>';
$html = $html.'		<td align="center" width="7" border="1" style="bold">No.</td>';
$html = $html.'		<td align="center" width="20" border="1" style="bold">KODE</td>';
$html = $html.'		<td align="center" width="25" border="1" style="bold">No. SURAT</td>';
$html = $html.'		<td align="center" width="15" border="1" style="bold">TANGGAL SURAT</td>';
$html = $html.'		<td align="center" width="40" border="1" style="bold">PERIHAL</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">KEPADA</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">PEMOHON</td>';
$html = $html.'		<td align="center" width="40" border="1" style="bold">UNIT KERJA</td>';
$html = $html.'		<td align="center" width="30" border="1" style="bold">KETERANGAN</td>';
$html = $html.'	</tr>';
										//var_dump($this->datalist);
					if (count($this->datalist) == 0) {
$html = $html.'	<tr>';
$html = $html.'		<td colspan="9" border="1"><font color="red">Data Tidak Ditemukan</font></td>';
$html = $html.'	</tr>';
					
					} else {
						foreach ($this->datalist as $key => $val):
							$no = (($currentPage -1)* $numToDisplay) + $key +1;
$html = $html.'	<tr>';			
$html = $html.'		<td class="clright" border="1" valign="middle">'.$no.'&nbsp;&nbsp;</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['c_srtsifat']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$this->escape($val['i_srtajuan']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;'.$format_date->convertTglMachineToHuman($this->escape($val['d_tglajuan'])).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['n_perihal']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['n_kepada']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['n_pengirim']).'</td>';
$html = $html.'		<td class="clcenter" border="1" valign="middle">&nbsp;'.$this->escape($val['nOrgDari']).'</td>';
$html = $html.'		<td class="clleft" border="1" valign="middle">&nbsp;</td>';
$html = $html.'	</tr>';
						endforeach;
					}
$html = $html.'</table>';

$html = $html.'	</table>';

// echo $html1.$html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A3');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->output('','I');  
?>