		<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl">
			<tr>
				<th width="5%">No</th>
				<th width="10%">Bulan-Tahun</th>
				<th width="35%">Nama Responden</th>
				<th width="30%">Jabatan/Pangkat/Gol</th>
				<th width="10%">No. Telp</th>
				<th width="10%">No Hp</th>
			</tr>	

<?
	if (count($this->dataresponden) == 0){
?>
		<tr class="event">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
<?}else 
{
			$no=1;
			foreach ($this->dataresponden as $key => $val): 
			
				$id=$this->escape($val['id']); 
				$id_pengadilan=$this->escape($val['id_pengadilan']); 
				$d_bulan_kuesioner=$this->escape($val['d_bulan_kuesioner']); 
				$d_tahun_kuesioner=$this->escape($val['d_tahun_kuesioner']); 
				$n_responden=$this->escape($val['n_responden']); 
				$n_jabatan=$this->escape($val['n_jabatan']); 
				$n_pangkat=$this->escape($val['n_pangkat']); 
				$n_golongan=$this->escape($val['n_golongan']); 
				$no_telepon_responden=$this->escape($val['no_telepon_responden']); 
				$no_hp_responden=$this->escape($val['no_hp_responden']); 
										
				if ($key%2==0) { ?>
					<tr class="event">
				<? } else if ($key%2==1) { ?>
					<tr class="event2">
				<? } ?>
				<td align="right"><? echo  $no;?></td>
				<td align="center">
					<a href="#" onclick="showReport('<?=$id?>','<?=$id_pengadilan?>','<?=$d_bulan_kuesioner?>','<?=$d_tahun_kuesioner?>')"><? echo  $d_bulan_kuesioner."-".$d_tahun_kuesioner;?></a>
					<img src="../../images/wordlogo.png" onclick="showReport('<?=$id?>','<?=$id_pengadilan?>','<?=$d_bulan_kuesioner?>','<?=$d_tahun_kuesioner?>')" title="Cetak MicrosoftWord">
				</td>
				<td align="left"><? echo $n_responden;?></td>
				<td align="left"><? echo $n_jabatan."/".$n_pangkat."/".$n_golongan;?></td>
				<td align="center"><? echo $no_telepon_responden;?></td>
				<td align="center"><? echo $no_hp_responden;?></td>
				</tr>
<?
endforeach;
}
?>


		</table>