<?
$html=$html.'
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >18.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Berapa jumlah komputer (PC) dengan Memori :</font></td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >< 1 GB : '.$this->i_memori_1gb.'&nbsp; buah;</font></td>
		</tr>	
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >>= 1 GB : '.$this->i_memori_2gb.'&nbsp; buah;</font></td>
		</tr>	
		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >19.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3"> Berapa jumlah komputer (PC) dengan Hardisk :</font></td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >< 40 GB : '.$this->i_hardisk_40gb.'&nbsp; buah;</font></td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >>= 40 GB : '.$this->i_hardisk_50gb.'&nbsp; buah;</font></td>
		</tr>

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >20.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3">Berapa jumlah komputer (PC) dengan Monitor :</font></td>
		</tr>		


		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >< 17 inchi non LCD : '.$this->i_monitor_17nlcd.'&nbsp; buah;</font></td>
		</tr>
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >>= 17 inchi non LCD : '.$this->i_monitor_18nlcd.'&nbsp; buah;</font></td>
		</tr>
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(3)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >< 17 inchi LCD : '.$this->i_monitor_17lcd.'&nbsp; buah;</font></td>
		</tr>
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(4)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >>= 17 inchi LCD : '.$this->i_monitor_18lcd.'&nbsp; buah;</font></td>
		</tr>		
</table>

 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >			

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >21.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Sebutkan jumlah</font></td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Printer : '.$this->i_printer.'&nbsp; buah;</font></td>
		</tr>		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Scaner : '.$this->i_scanner.'&nbsp; buah;</font></td>
		</tr>			

	</table>
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >22.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Sebutkan jumlah UPS : '.$this->i_ups.'&nbsp; buah</font></td>
		</tr>

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >23.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
			Apakah mempunyai CCTV ?';
			if ($this->c_cctv=='1'){$jawabcctv=" Sudah";}if ($this->c_cctv=='2'){$jawabcctv=" Belum";}
			$html=$html.''.$jawabcctv.'</font>			
			</td>
		</tr>

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >24.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
			Fasilitas layanan publik (desk info) yang tersedia :';
			if ($this->c_fasilitas_tv=='1'){$c_fasilitas_tv= "TV, ";}
			if ($this->c_fasilitas_pc=='2'){$c_fasilitas_pc= "Komputer (PC), ";}
			if ($this->c_fasilitas_liflet=='3'){$c_fasilitas_liflet= "Liflet, ";}
			if ($this->c_fasilitas_no=='4'){$c_fasilitas_no= "Belum ada";}
			$html=$html.''.$c_fasilitas_tv.''.$c_fasilitas_pc.''.$c_fasilitas_liflet.''.$c_fasilitas_no.'</font>			
			</td>
		</tr>
		

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >25.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
			Berapa watt daya listrik keseluruhan di pengadilan ini? '.$this->i_watt.'&nbsp; Watt</font>			
			</td>
		</tr>
		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >26.</font></td>
			<td width="95%" colspan="2">
			<font color="#000000" face="arial" size="3" >
			Apakah mempunyai masalah dengan daya listrik jika diinstalasi sistem komputer?';
			if ($this->c_problem_watt=='1'){$jawabcwatt=" Sudah";}if ($this->c_problem_watt=='2'){$jawabcwatt=" Belum";}
			$html=$html.' '.$jawabcwatt.'</font>			
			</td>
		</tr>
		
	
	</table>';	