<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
/* require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php"; */

$ctrlFrm = new Zend_View();
//$pesan = new share_message();
$format_date = new format_date();
//$format_page = new format_page();

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10><b>MONITORING SURAT KELUAR</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';
$html = $html.'<table border="1" align="center" >';
$html = $html.'		<tr>';
$html = $html.'			<td width="8%">No.</td>';
$html = $html.'			<td width="15%">Dari</td>';
$html = $html.'			<td width="10%">Jenis Ajuan</td>';
$html = $html.'			<td width="15%">Perihal</td>';
$html = $html.'			<td width="20%">No Ajuan Waseskab/<br>Deputi/Sahli/<br>SK</td>';
$html = $html.'			<td width="10%">Tanggal Ajuan</td>';
$html = $html.'			<td width="10%">Diterima TUP</td>';
$html = $html.'			<td width="15%">No. TUP</td>';
$html = $html.'			<td width="20%">Maju Seskab</td>';
$html = $html.'			<td width="10%">Dari Seskab</td>';
$html = $html.'			<td width="20%">Keputusan Seskab</td>';
$html = $html.'			<td width="20%">No. Ajuan seskab </td>';
$html = $html.'			<td width="20%">Dikirim Ke,<br> Tanggal</td>';
$html = $html.'			<td class="head" width="20%">Diterima Dari</td>';
$html = $html.'			<td class="head" width="20%">Keterangan</td>';
$html = $html.'			<td class="head" width="10%">Ke Presiden</td>';
$html = $html.'			<td class="head" width="10%">No. Seskab</td>';
$html = $html.'		</tr>'; 

$laporan_serv = new Aplikasi_Laporan_Service();

if (count($this->agendakeluarList) == 0){ 
	$html = $html.'			<tr class="event2"><td colspan="17"><font color="red">Data Tidak Ditemukan</font></td></tr>';
} else {
	foreach ($this->agendakeluarList as $key => $val): 
							
		$n_dari = $laporan_serv->getNamaUnitKerjaSingkat($this->escape($val['n_dari'])); 
		$n_perihal = $this->escape($val['n_perihal']); 
		$n_jenisajuan = $this->escape($val['n_jenisajuan']); 
		//$nTujuansrt = $this->escape($val['n_tujuansrt']); 
		$i_memo = $this->escape($val['i_memo']); 
		$d_memo = $this->escape($val['d_memo']);
		$t_terimaberkas = $this->escape($val['t_terimaberkas']);
		$c_statusmemo = $this->escape($val['c_statusmemo']);
		$d_memo_kepresiden = $this->escape($val['d_memo_kepresiden']);
		$i_memo_seskab = $this->escape($val['i_memo_seskab']);
		
		
		$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
		
		if($iEntry != $this->userLogin) {
			$html = $html.'						<tr >';
		} else {
			$html = $html.'					<tr >';
		}
		
		$html = $html.'<td class="clright">'.$noUrut.'&nbsp;&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$n_dari.'</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$n_jenisajuan.'</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$n_perihal.'</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$i_memo.'</td>';
		$html = $html.'<td class="clcenter">&nbsp;'.$format_date->formatTglLengkap($d_memo).'</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$format_date->formatTglLengkap($d_memo).'</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$c_statusmemo.'</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clcenter">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$format_date->formatTglLengkap($d_memo_kepresiden).'</td>';
		$html = $html.'<td class="clleft">&nbsp;'.$i_memo_seskab.'</td>';
		$html = $html.'</tr>';
	
	endforeach;
}

$html = $html.'</table>'; 

//echo $html;

define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('L', 'mm', 'A4');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->output('','I'); 

?>
