<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Monitoring Surat Ajuan</div>

<div class="panel">
	<div class="inner"  style="height:500px; overflow:auto">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Monitoring Surat Ajuan</h2>
		<?/*<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				
				<table>
					<tr>
						<td>Pencarian berdasarkan :</td>
						<td>
							<?
							$kategoriCariList = array("semua" => "Semua",
												"periode_d_tanggalmasuk" => "Periode Tanggal Kirim",
												"i_agendasrt" => "No Agenda",
												"n_srtperihal" => "Perihal");
							
								
							$kategoriAttrib = array("onChange" => "setKatakunci();");
							echo $ctrlFrm->formSelect('kategoriCari', $this->kategoriCari, $kategoriAttrib, $kategoriCariList);						
							?>
						</td>
						<td>
						    <?
							if ($this->kategoriCari == 'periode_d_tanggalmasuk'){
							?>
								<div id="cariTanggalPeriode" style="display:block">
							<?} else {?>	
								<div id="cariTanggalPeriode" style="display:none">
							<?}?>	
								<input type="text" name="dTglCari1" id="dTglCari1" value="<?echo $this->katakunciCari;?>"> s/d
								<input type="text" name="dTglCari2" id="dTglCari2" value="<?echo $this->katakunciCari;?>">
							</div>
							
							<?
							if ($this->kategoriCari == 'periode_d_tanggalmasuk'){
							?>
								<div id="cari" style="display:none">
							<?} else {?>	
								<div id="cari" style="display:block">
							<?}?>
								<input type="text" name="katakunciCari" id="katakunciCari" value="<?echo $this->katakunciCari;?>">
							</div>
						</td>
						<td>
							<input type="button" name="Search" value="Cari" onclick="cariSuratKeluar();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>*/?>
		<div class="space-line"></div>

		<div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFMonitoringSuratKeluar();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
		</div>
		<div class="blank"></div>
		
		<fieldset class="fields">
		
			<div class="spacer"> </div>
			 
			<div class="blank"></div>
			
			<table id="sorter" class="sortable" cellspacing="1" cellpadding="2" border="0" align="center">
				<tbody>
					<tr>
						<th class="nosort" width="8%">No.</th>
						<th class="asc" width="14%">Dari</th>
						<th class="head" width="10%">Jenis Ajuan</th>
						<th class="head" width="8%">Perihal</th>
						<th class="head" width="10%">No Ajuan Waseskab/<br>Deputi/Sahli/<br>SK</th>
						<th class="head" width="10%">Tanggal Ajuan</th>
						<th class="head" width="10%">Diterima TUP</th>
						<th class="head" width="10%">No. TUP</th>
						<th class="head" width="10%">Maju Seskab</th>
						<th class="head" width="10%">Dari Seskab</th>
						<th class="head" width="10%">Keputusan Seskab</th>
						<th class="head" width="10%">No. Ajuan seskab </th>
						<th class="head" width="10%">Dikirim Ke,<br> Tanggal</th>
						<th class="head" width="10%">Diterima Dari</th>
						<th class="head" width="10%">Keterangan</th>
						<th class="head" width="10%">Ke Presiden</th>
						<th class="head" width="10%">No. Seskab</th>
					</tr>
					<?
					$laporan_serv = new Aplikasi_Laporan_Service();
					
					if (count($this->agendakeluarList) == 0){ 
					?>
						<tr class="event2"><td colspan="13"><font color="red">Data Tidak Ditemukan</font></td></tr>
					<?} else {
							
							
							foreach ($this->agendakeluarList as $key => $val): 
							
							$n_dari = $laporan_serv->getNamaUnitKerjaSingkat($this->escape($val['n_dari'])); 
							$n_perihal = $this->escape($val['n_perihal']); 
							$n_jenisajuan = $this->escape($val['n_jenisajuan']); 
							//$nTujuansrt = $this->escape($val['n_tujuansrt']); 
							$i_memo = $this->escape($val['i_memo']); 
							$d_memo = $this->escape($val['d_memo']);
							$t_terimaberkas = $this->escape($val['t_terimaberkas']);
							$c_statusmemo = $this->escape($val['c_statusmemo']);
							$d_memo_kepresiden = $this->escape($val['d_memo_kepresiden']);
							$i_memo_seskab = $this->escape($val['i_memo_seskab']);
							
							
							$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
							// form Hidden 
							//echo $ctrlFrm->formHidden('iPengumuman', $iPengumuman, null);
							
							if($iEntry != $this->userLogin) {
								/* if(!$dTanggalmasuk) {?>
									<tr class="event3">
								<? }
								else
								{ */
								?>
									<tr class="event">
								<?//}
							} else {?>
								<tr class="event2">
							<?}?>
							<td class="clright">
								<?echo $noUrut;?>&nbsp;&nbsp;
							</td>
							<td class="clleft">&nbsp;<? echo $n_dari;?></a></td>
							<td class="clleft">&nbsp;<? echo $n_jenisajuan;?></td>
							<td class="clleft">&nbsp;<? echo $n_perihal;?></td>
							<td class="clleft">&nbsp;<? echo $i_memo;?></td>
							<td class="clcenter">&nbsp;<? echo $format_date->formatTglLengkap($d_memo);?></td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;<? echo $format_date->formatTglLengkap($d_memo);?></td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;<? echo $c_statusmemo;?></td>
							<td class="clleft">&nbsp;</td>
							<td class="clcenter">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;<? echo $format_date->formatTglLengkap($d_memo_kepresiden);?></td>
							<td class="clleft">&nbsp;<? echo $i_memo_seskab;?></td>
							</tr>
						<?
						endforeach;
					}
					?>
				</tbody>
				
			<?
			
			?>
			</table>
		</fieldset>		 
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<script type="text/javascript">
	var sorter=new table.sorter("sorter");
	sorter.init("sorter",0);

	$(function() {
		$("#dTglCari1").datepicker();
		$("#dTglCari2").datepicker();
		$("#dTglCari").datepicker();
	});
</script>	