<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
/* require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php"; */

$ctrlFrm = new Zend_View();
//$pesan = new share_message();
$format_date = new format_date();
//$format_page = new format_page();

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10><b>MONITORING SURAT MASUK</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';
$html = $html.'<table border="1" align="center" >';
$html = $html.'		<tr>';
$html = $html.'			<td width="10%">No.</td>';
$html = $html.'			<td width="20%">No. Agenda</td>';
$html = $html.'			<td width="20%">Ditujukan Kepada</td>';
$html = $html.'			<td width="10%">Jenis Surat</td>';
$html = $html.'			<td width="10%">No. Kirim</td>';
$html = $html.'			<td width="15%">Tanggal Kirim</td>';
$html = $html.'			<td width="20%">Pengirim</td>';
$html = $html.'			<td width="20%">Perihal</td>';
$html = $html.'			<td width="15%">Lampiran</td>';
$html = $html.'			<td width="20%">No. Agenda yang lalu</td>';
$html = $html.'			<td width="20%">Diteruskan oleh</td>';
$html = $html.'			<td width="15%">Tanggal </td>';
$html = $html.'			<td width="20%">Dari waseskab tanggal</td>';
$html = $html.'			<td width="20%">diterima oleh</td>';
$html = $html.'			<td width="15%">Tanggal</td>';
$html = $html.'			<td width="20%">Keterangan</td>';
$html = $html.'		</tr>'; 
 			if (count($this->agendamasukList) == 0)
			{ 
$html = $html.'			<tr ><td colspan="13"><font color="red">Data Tidak Ditemukan</font></td></tr>';
			} else {
				foreach ($this->agendamasukList as $key => $val): 
					
					$idSrtmasuk = $this->escape($val['id_srtmasuk']); 
					$iAgendasrt = $this->escape($val['i_agendasrt']); 
					$dTanggalmasuk = $this->escape($val['d_tanggalmasuk']); 
					//$nTujuansrt = $this->escape($val['n_tujuansrt']); 
					$nSrtkepada = $this->escape($val['n_kepada']); 
					$cSrtjenis = $this->escape($val['c_srtjenis']);
					$nSrtjenis = $this->escape($val['n_srtjenis']);
					$cSrtsifat = $this->escape($val['c_srtsifat']);
					$nSrtsifat = $this->escape($val['n_srtsifat']);
					$iSrtpengirim = $this->escape($val['i_srtpengirim']);
					$dTglpengirim = $this->escape($val['d_tglpengirim']);
					$nSrtperihal = $this->escape($val['n_srtperihal']);
					$nSrtlampiran = $this->escape($val['n_srtlampiran']);
					$nmSatuanlampiran = $this->escape($val['nm_satuanlampiran']);
					$nSrtpengirim = $this->escape($val['n_srtpengirim']);
					$iAgendalalusrt = $this->escape($val['i_agendalalusrt']);
					$dTgldariwaseskab = $this->escape($val['d_tgldariwaseskab']);
					$nSrtlokasi = $this->escape($val['n_srt_lokasi']);
					$dTanggalmasuk = $this->escape($val['d_tanggalmasuk']);
					$nm_org 	= $this->escape($val['nm_org']);
					$iEntry = $this->escape($val['i_entry']);
					
					$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
					
					if($iEntry != $this->userLogin) {
$html = $html.'						<tr >';
					} else {
$html = $html.'					<tr >';
					}
$html = $html.'				<td>';
$html = $html.'					'.$noUrut.'&nbsp;&nbsp;';
$html = $html.'				</td>';
$html = $html.'				<td >&nbsp;'.$iAgendasrt.'</a></td>';
					$nSrtkepadaArr = explode('~',$nSrtkepada);
					if (($nSrtkepadaArr[0] == 'Pribadi') || ($nSrtkepadaArr[0] == 'Staf Ahli') || ($nSrtkepadaArr[0] == 'Staf Khusus')){
						$nSrtkepada = '<b>'.$nm_org.'</b><br>'.$nSrtkepadaArr[1];
					} else {
						$nSrtkepada = $nSrtkepadaArr[0];
					}
					

$html = $html.'				<td >&nbsp;'.$nSrtkepada.'</td>';
$html = $html.'				<td >&nbsp;'.$nSrtjenis.'</td>';
$html = $html.'				<td >&nbsp;'.$iSrtpengirim.'</td>';
$html = $html.'				<td >&nbsp;'.$format_date->formatTglLengkap($dTglpengirim).'</td>';
$html = $html.'				<td >&nbsp;'.$nSrtpengirim.'</td>';
$html = $html.'				<td >&nbsp;'.$nSrtperihal.'</td>';
$html = $html.'				<td >&nbsp;'.$nSrtlampiran.' '.$nmSatuanlampiran.'</td';
$html = $html.'				<td >&nbsp;'.$iAgendalalusrt.'</td';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;'. $format_date->formatTglLengkap($dTgldariwaseskab).'</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				<td >&nbsp;</td>';
$html = $html.'				</tr>';

					endforeach;
					}
$html = $html.'</table>'; 

//echo $html;

define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('L', 'mm', 'A4');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->output('','I'); 

?>
