<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Pencatatan Surat Masuk</div>

<div class="panel"  style="height:500px; overflow:auto">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Monitoring Surat Masuk</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Pencarian berdasarkan :</td>
						<td>
							<?
							$kategoriCariList = array("semua" => "Semua",
												"periode_d_tanggalmasuk" => "Periode Tanggal Kirim",
												//"d_tanggalmasuk" => "Tanggal Kirim",
												"i_agendasrt" => "No Agenda",
												"n_srtperihal" => "Perihal");
								
							$kategoriAttrib = array("onChange" => "setKatakunci();");
							echo $ctrlFrm->formSelect('kategoriCari', $this->kategoriCari, $kategoriAttrib, $kategoriCariList);						
							?>
						</td>
						<td>
						    <?
							if ($this->kategoriCari == 'periode_d_tanggalmasuk'){
							?>
								<div id="cariTanggalPeriode" style="display:block">
							<?} else {?>	
								<div id="cariTanggalPeriode" style="display:none">
							<?}?>	
								<input type="text" name="dTglCari1" id="dTglCari1" value="<?echo $this->dTglCari1;?>"> s/d
								<input type="text" name="dTglCari2" id="dTglCari2" value="<?echo $this->dTglCari2;?>">
							</div>
							<?
							/*
							if ($this->kategoriCari == 'd_tanggalmasuk'){
							?>
								<div id="cariTanggal" style="display:block">
							<?} else {?>
								<div id="cariTanggal" style="display:none">
							<?}?>
								<input type="text" name="dTglCari" id="dTglCari" value="<?echo $this->dTglCari;?>">
							</div>
							<?*/
							if ((!$this->kategoriCari) ||($this->kategoriCari == 'semua')||($this->kategoriCari == 'i_agendasrt')||($this->kategoriCari == 'n_srtperihal')){
							?>
								<div id="cari" style="display:block">
							<?} else {?>	
								<div id="cari" style="display:none">
							<?}?>
								<input type="text" name="katakunciCari" id="katakunciCari" value="<?echo $this->katakunciCari;?>">
							</div>
						</td>
						<td>
							<input type="button" name="Search" value="Cari" onclick="cariAgendamasuk();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>

		<div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFMonitoringSuratMasuk();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
		</div>
		<div class="blank"></div>
		
		<fieldset class="fields">
		
			<div class="spacer"> </div>
			<? 
			
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			<div class="spacer"> </div>	
			
			<div class="blank"></div>
			
			<table id="sorter" class="sortable" cellspacing="1" cellpadding="2" border="0" align="center">
				<tbody>
					<tr>
						<th class="nosort" width="8%">No.</th>
						<th class="asc" width="14%">No. Agenda</th>
						<th class="head" width="10%">Ditujukan Kepada</th>
						<th class="head" width="8%">Jenis Surat</th>
						<th class="head" width="10%">No. Kirim</th>
						<th class="head" width="10%">Tanggal Kirim</th>
						<th class="head" width="10%">Pengirim</th>
						<th class="head" width="10%">Perihal</th>
						<th class="head" width="10%">Lampiran</th>
						<th class="head" width="10%">No. Agenda yang lalu</th>
						<th class="head" width="10%">Diteruskan oleh</th>
						<th class="head" width="10%">Tanggal </th>
						<th class="head" width="10%">Dari waseskab tanggal</th>
						<th class="head" width="10%">diterima oleh</th>
						<th class="head" width="10%">Tanggal</th>
						<th class="head" width="10%">Keterangan</th>
						
					</tr>
					<?
					if (count($this->agendamasukList) == 0){ 
					?>
						<tr class="event2"><td colspan="13"><font color="red">Data Tidak Ditemukan</font></td></tr>
					<?} else {
							
							
							foreach ($this->agendamasukList as $key => $val): 
							
							$idSrtmasuk = $this->escape($val['id_srtmasuk']); 
							$iAgendasrt = $this->escape($val['i_agendasrt']); 
							$dTanggalmasuk = $this->escape($val['d_tanggalmasuk']); 
							//$nTujuansrt = $this->escape($val['n_tujuansrt']); 
							$nSrtkepada = $this->escape($val['n_kepada']); 
							$cSrtjenis = $this->escape($val['c_srtjenis']);
							$nSrtjenis = $this->escape($val['n_srtjenis']);
							$cSrtsifat = $this->escape($val['c_srtsifat']);
							$nSrtsifat = $this->escape($val['n_srtsifat']);
							$iSrtpengirim = $this->escape($val['i_srtpengirim']);
							$dTglpengirim = $this->escape($val['d_tglpengirim']);
							$nSrtperihal = $this->escape($val['n_srtperihal']);
							$nSrtlampiran = $this->escape($val['n_srtlampiran']);
							$nmSatuanlampiran = $this->escape($val['nm_satuanlampiran']);
							$nSrtpengirim = $this->escape($val['n_srtpengirim']);
							$iAgendalalusrt = $this->escape($val['i_agendalalusrt']);
							$dTgldariwaseskab = $this->escape($val['d_tgldariwaseskab']);
							$nSrtlokasi = $this->escape($val['n_srt_lokasi']);
							$dTanggalmasuk = $this->escape($val['d_tanggalmasuk']);
							$nm_org 	= $this->escape($val['nm_org']);
							$iEntry = $this->escape($val['i_entry']);
							
							$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
							// form Hidden 
							//echo $ctrlFrm->formHidden('iPengumuman', $iPengumuman, null);
							
							if($iEntry != $this->userLogin) {
								/* if(!$dTanggalmasuk) {?>
									<tr class="event3">
								<? }
								else
								{ */
								?>
									<tr class="event">
								<?//}
							} else {?>
								<tr class="event2">
							<?}?>
							<td class="clright">
								<?echo $noUrut;?>&nbsp;&nbsp;
							</td>
							<td class="clleft">&nbsp;<a title="Detail Disposisi" onclick="viewDetailSuratmasuk(<?echo $idSrtmasuk?>);" href="#"><? echo $iAgendasrt;?></a></td>
							<!--td class="clcenter">&nbsp;<? //echo $format_date->convertTglMachineToHuman($dTanggalmasuk);?></td-->
							<? 						
							$nSrtkepadaArr = explode('~',$nSrtkepada);
							if (($nSrtkepadaArr[0] == 'Pribadi') || ($nSrtkepadaArr[0] == 'Staf Ahli') || ($nSrtkepadaArr[0] == 'Staf Khusus')){
								$nSrtkepada = '<b>'.$nm_org.'</b><br>'.$nSrtkepadaArr[1];
							} else {
								$nSrtkepada = $nSrtkepadaArr[0];
							}
							
							?>
							<td class="clleft">&nbsp;<? echo $nSrtkepada;?></td>
							<td class="clleft">&nbsp;<? echo $nSrtjenis;?></td>
							<td class="clleft">&nbsp;<? echo $iSrtpengirim;?></td>
							<td class="clcenter">&nbsp;<? echo $format_date->formatTglLengkap($dTglpengirim);?></td>
							<td class="clleft">&nbsp;<? echo $nSrtpengirim;?></td>
							<td class="clleft">&nbsp;<? echo $nSrtperihal;?></td>
							<td class="clleft">&nbsp;<? echo $nSrtlampiran." ".$nmSatuanlampiran;?></td>
							<td class="clleft">&nbsp;<? echo $iAgendalalusrt;?></td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							<td class="clcenter">&nbsp;<? echo $format_date->formatTglLengkap($dTgldariwaseskab);?></td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							<td class="clleft">&nbsp;</td>
							
							</tr>
						<?
						endforeach;
					}
					?>
				</tbody>
			</table>
			<?
			$totalData = $this->totalData;
			
			$divId = 'tableview';
			$modul = $this->basePath."/aplikasi/suratmasukagenda/agendamasuklist";
			$param1 = $this->kategoriCari;
			$param2 = $this->katakunciCari;
			//$format_page->showPage($totalData, $numToDisplay, $currentPage, $divId, $modul, $param1, $param2, $param3, $param4);
			
			?>
		</fieldset>		 
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<script type="text/javascript">
	var sorter=new table.sorter("sorter");
	sorter.init("sorter",0);

	$(function() {
		$("#dTglCari1").datepicker();
		$("#dTglCari2").datepicker();
		$("#dTglCari").datepicker();
	});
</script>	