<?
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >E. Prosedure</font>
</p>
	<table width="100%" border="0" cellpadding="5" cellspacing="1" >	
		<tr>
			<td width="5" valign="top"><font color="#000000" face="arial" size="3" >34.</td>
			<td colspan="5"><font color="#000000" face="arial" size="3" >
				Apakah Sistem Informasi di Pengadilan saudara memiliki prosedure Sistem Informasi, baik yang berbentuk
				Panduan (untuk pengguna) atau dokumen teknis untuk admin (dokumen spesifikasi teknis, struktur database, source code, dll)?	</td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">			
			<table  align="left" border="1" cellspacing="1" cellpadding="5" width="85%">
				<tr>
					<th width="5%"><font color="#000000" face="arial" size="3" >No</th>
					<th width="35%"><font color="#000000" face="arial" size="3" >Nama Prosedure</th>
					<th width="52%"><font color="#000000" face="arial" size="3" >Deskripsi</th>
				</tr>';
if (count($this->dataprosedure) != 0){
	$jmlapl=1;
	$cnttbl=0;
	
	foreach ($this->dataprosedure as $key => $val): 
				$n_prosedure=$this->escape($val['n_prosedure']);	
				$e_desc=$this->escape($val['e_desc']);	
		$cnttbl++;				
$html=$html.'
		<tr>
			<td width="5%" class="clright" valign="top">
			<font color="#000000" face="arial" size="3" >'.$jmlapl.'
			</td>
			<td width="35%" valign="top"><font color="#000000" face="arial" size="3" >
				'.$n_prosedure.'
			</td>
			<td width="52%" valign="top"><font color="#000000" face="arial" size="3" >
				'.$e_desc.'
			</td>			
		</tr>';				
	$jmlapl++;				
	endforeach;
}
else
{
$html=$html.'
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}
$html=$html.'</table></td></tr></table>';