<?php
//We've included ../Includes/FusionCharts.php, which contains functions
//to help us easily embed the charts.
include("FusionCharts/Code/PHP/Includes/FusionCharts.php");
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$bulan = $this->bulan;
$tahun = $this->tahun;

?>
<HTML>
   <HEAD>
      <TITLE>REKAP SURAT MASUK</TITLE>
	  <SCRIPT LANGUAGE="Javascript" SRC="./www/FusionCharts/Code/FusionCharts/FusionCharts.js"></SCRIPT>
   </HEAD>
<BODY>
<?
   //Create an XML data document in a string variable
   //header('Content-type: text/xml');
   $judul = 'REKAP SURAT MASUK BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Unit Kerja' yaxisname='Jumlah Surat Masuk' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='PRESIDEN'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $OrgArr = array('1','2','3','4','5','7','8','9','10','00');

	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		
		$strXML .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Asli' color='FDC12E'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		//UNTUK PRESIDEN (ASLI)
		
		$masukan = array("nKepada" => "PRESIDEN",
						 "kdOrgTeruskandari" => "0",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml1 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jml1' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Tembusan' color='56B9F9'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRESIDEN",
						 "kdOrgTeruskandari" => "0",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml2 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jml2' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Total Asli' color='C9198D'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRESIDEN",
						 "kdOrgTeruskandari" => "0",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml3 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jml3' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Total Tembusan' color='8BBA00'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRESIDEN",
						 "kdOrgTeruskandari" => "0",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml4 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jml4' />";
		
	}
	$strXML .= "</dataset>";
   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300);
   
   // SESKAB
    $judul = 'REKAP SURAT MASUK BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML2  = "";
   $strXML2 .= "<graph xaxisname='Unit Kerja' yaxisname='Jumlah Surat Masuk' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul' subcaption='SESKAB'>";
   $strXML2 .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $OrgArr = array('1','2','3','4','5','7','8','9','10','00');

	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		
		$strXML2 .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}
	$strXML2 .= "</categories>";
	$strXML2 .= "<dataset seriesname='Asli' color='FDC12E'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "SESKAB",
						 "kdOrgTeruskandari" => "1",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml1 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML2 .= "   <set value='$jml1' />";
		
	}
	$strXML2 .= "</dataset>";
	
	$strXML2 .= "<dataset seriesname='Tembusan' color='56B9F9'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "SESKAB",
						 "kdOrgTeruskandari" => "1",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml2 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML2 .= "   <set value='$jml2' />";
		
	}
	$strXML2 .= "</dataset>";
	
	$strXML2 .= "<dataset seriesname='Total Asli' color='C9198D'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "SESKAB",
						 "kdOrgTeruskandari" => "1",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml3 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML2 .= "   <set value='$jml3' />";
		
	}
	$strXML2 .= "</dataset>";
	
	$strXML2 .= "<dataset seriesname='Total Tembusan' color='8BBA00'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "SESKAB",
						 "kdOrgTeruskandari" => "1",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml4 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML2 .= "   <set value='$jml4' />";
		
	}
	$strXML2 .= "</dataset>";
   $strXML2 .= "</graph>";
   
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
	echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML2, "myNext", 900, 300);
	
	// LAIN-LAIN
    $judul = 'REKAP SURAT MASUK BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML3  = "";
   $strXML3 .= "<graph xaxisname='Unit Kerja' yaxisname='Jumlah Surat Masuk' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul' subcaption='LAIN-LAIN / PRIBADI'>";
   $strXML3 .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $OrgArr = array('1','2','3','4','5','7','8','9','10','00');

	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		
		$strXML3 .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}
	$strXML3 .= "</categories>";
	$strXML3 .= "<dataset seriesname='Asli' color='FDC12E'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRIBADI",
						 "kdOrgTeruskandari" => "2",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml1 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML3 .= "   <set value='$jml1' />";
		
	}
	$strXML3 .= "</dataset>";
	
	$strXML3 .= "<dataset seriesname='Tembusan' color='56B9F9'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRIBADI",
						 "kdOrgTeruskandari" => "2",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml2 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
		unset($masukan);
		$strXML3 .= "   <set value='$jml2' />";
		
	}
	$strXML3 .= "</dataset>";
	
	$strXML3 .= "<dataset seriesname='Total Asli' color='C9198D'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRIBADI",
						 "kdOrgTeruskandari" => "2",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "A");
						 
		$jml3 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML3 .= "   <set value='$jml3' />";
		
	}
	$strXML3 .= "</dataset>";
	
	$strXML3 .= "<dataset seriesname='Total Tembusan' color='8BBA00'>";
	for($x=0; $x<count($OrgArr); $x++)
	{
		$kdOrg = $OrgArr[$x];
		
		$masukan = array("nKepada" => "PRIBADI",
						 "kdOrgTeruskandari" => "2",
						 "kdOrgTeruskanke" => "$kdOrg",
						 "bulan" => $bulan,
						 "tahun" => $tahun,
						 "jenisSrt" => "T");
						 
		$jml4 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
		unset($masukan);
		$strXML3 .= "   <set value='$jml4' />";
		
	}
	$strXML3 .= "</dataset>";
	$strXML3 .= "</graph>";
   
    $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
	//echo "xxx=$namaServer/FusionCharts/Charts/MSColumn3D.swf";
	echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML3, "myNext", 900, 300);
   
?>
</BODY>
</HTML>