<?php
//We've included ../Includes/FusionCharts.php, which contains functions
//to help us easily embed the charts.
include("FusionCharts/Code/PHP/Includes/FusionCharts.php");
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$bulan = $_REQUEST['bulan'];
if(!$bulan){ $bulan = date('m');}
$tahun = $_REQUEST['tahun'];
if(!$tahun){ $tahun = date('Y');}?>
<HTML>
   <HEAD>
      <TITLE>REKAP PENYELESAIAN SURAT</TITLE>
	  <SCRIPT LANGUAGE="Javascript" SRC="FusionCharts/Code/FusionCharts/FusionCharts.js"></SCRIPT>
   </HEAD>
<BODY>
<?

	
   //Create an XML data document in a string variable
   //header('Content-type: text/xml');
   $judul = 'REKAP PENYELESAIAN AJUAN SURAT KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Jenis Ajuan' yaxisname='Jumlah Ajuan' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='SISA YANG LALU'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

	for($a=0; $a<count($kdJenisAjuanArr); $a++){
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
		
		if ($kdJenisAjuanArr[$a] == '00'){
			$jenisAjuan = 'Lain lain';
		} else {
			$jenisAjuan = $hasil['n_srtajuan'];
		}
		$strXML .= "   <category name='$jenisAjuan' hoverText='$jenisAjuan'/>";
	}	
	
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Presiden' color='FDC12E'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah1 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah1' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Seskab' color='56B9F9'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah2 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah2' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Lainnya' color='C9198D'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah3 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah3' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Selesai' color='8BBA00'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah4 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah4' />";
		
	}
	$strXML .= "</dataset>";
   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300);
   
   //BULAN INI
   //==========
   $judul = 'REKAP PENYELESAIAN AJUAN SURAT KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Jenis Ajuan' yaxisname='Jumlah Ajuan' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='BULAN ".$format_date->getNamaBulan($this->bulan)."'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

	for($a=0; $a<count($kdJenisAjuanArr); $a++){
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
		
		if ($kdJenisAjuanArr[$a] == '00'){
			$jenisAjuan = 'Lain lain';
		} else {
			$jenisAjuan = $hasil['n_srtajuan'];
		}
		$strXML .= "   <category name='$jenisAjuan' hoverText='$jenisAjuan'/>";
	}	
	
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Maju' color='FFFFHH'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'M',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah5 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah5' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Selesai' color='FDFH2E'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah6 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah6' />";
		
	}
	$strXML .= "</dataset>";
	
	
   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300);
   
	//MASIH PROSES DI
	//==================
    $judul = 'REKAP PENYELESAIAN AJUAN SURAT KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Jenis Ajuan' yaxisname='Jumlah Ajuan' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='MASIH PROSES'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

	for($a=0; $a<count($kdJenisAjuanArr); $a++){
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
		
		if ($kdJenisAjuanArr[$a] == '00'){
			$jenisAjuan = 'Lain lain';
		} else {
			$jenisAjuan = $hasil['n_srtajuan'];
		}
		$strXML .= "   <category name='$jenisAjuan' hoverText='$jenisAjuan'/>";
	}	
	
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Presiden' color='FDC12E'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah7 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah7' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Seskab' color='56B9F9'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah8 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah8' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Lainnya' color='C9198D'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah9 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah9' />";
	}
	$strXML .= "</dataset>";
	
	
   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300);
   
   
   //PENYELESAIAN
   //==============
   
    $judul = 'REKAP PENYELESAIAN AJUAN SURAT KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Jenis Ajuan' yaxisname='Jumlah Ajuan' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='PENYELESAIAN'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

	for($a=0; $a<count($kdJenisAjuanArr); $a++){
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
		
		if ($kdJenisAjuanArr[$a] == '00'){
			$jenisAjuan = 'Lain lain';
		} else {
			$jenisAjuan = $hasil['n_srtajuan'];
		}
		$strXML .= "   <category name='$jenisAjuan' hoverText='$jenisAjuan'/>";
	}	
	
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Bulan ".strtoupper($format_date->getNamaBulan($this->bulan))."' color='FDC12E'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah10 = $laporan_serv->rekapMemoSeskabSelesaiPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah10' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='TOTAL s/d BULAN  ".strtoupper($format_date->getNamaBulan($this->bulan))."' color='56B9F9'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah11 = $laporan_serv->rekapMemoSeskabSelesaiSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah11' />";
		
	}
	$strXML .= "</dataset>";
	
   $strXML .= "</graph>";

   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300);
   
   //TOTAL PROSES s/d BULAN
   //========================
   
    $judul = 'REKAP PENYELESAIAN AJUAN SURAT KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Jenis Ajuan' yaxisname='Jumlah Ajuan' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='TOTAL PROSES s/d BULAN ".strtoupper($format_date->getNamaBulan($this->bulan))."'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
   $kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

	for($a=0; $a<count($kdJenisAjuanArr); $a++){
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
		
		if ($kdJenisAjuanArr[$a] == '00'){
			$jenisAjuan = 'Lain lain';
		} else {
			$jenisAjuan = $hasil['n_srtajuan'];
		}
		$strXML .= "   <category name='$jenisAjuan' hoverText='$jenisAjuan'/>";
	}	
	
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Presiden' color='FDC12E'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah12 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah12' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Seskab' color='56B9F9'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah13 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah13' />";
		
	}
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Lainnya' color='C9198D'>";
	for($x=0; $x<count($kdJenisAjuanArr); $x++)
	{
		$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$x]);
		
		$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
		$jumlah14 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jumlah14' />";
		
	}
	$strXML .= "</dataset>";
   $strXML .= "</graph>";

   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 900, 300); 
?>
</BODY>
</HTML>