<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Rekap Penomoran Surat</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Bulan - Tahun :</td>
						<td>
							<?
							$BulanList = array('1' =>'Januari', 'Pebruari', 'Maret', 'April',  'Mei', 'Juni',  'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember');
							
							echo $ctrlFrm->formSelect('bulanLaporan', date(m), null, $BulanList);						
							?>
							&nbsp;-&nbsp;
							<?
							for($thn=date(Y)-5; $thn<=date(Y); $thn++){
							  $tahunList[$thn] = $thn; 
							}
							
							echo $ctrlFrm->formSelect('tahunLaporan', date(Y), null, $tahunList);
							?>
							&nbsp;
							<input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanRekapAjuanSurat();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
