<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$ctrlFrm = new Zend_View();
$format_date = new format_date();

$laporan_serv = new Aplikasi_Laporan_Service();
$bulan = $_REQUEST['bulan'];
if(!$bulan){ $bulan = date('m');}
$tahun = $_REQUEST['tahun'];
if(!$tahun){ $tahun = date('Y');}

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10><b>REKAP PENYELESAIAN SURAT AJUAN KE SESKAB BULAN '.strtoupper($format_date->getNamaBulan($bulan)).' '.$tahun.' </b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';


$html = $html.'	<table border="1">';
$html = $html.'		<tr>';
$html = $html.'			<td rowspan="3" align="center" valign="middle">No.</td>';
$html = $html.'			<td rowspan="3" align="center" width=30% valign="middle">JENIS AJUAN</td>';
$html = $html.'			<td colspan="14" align="center" valign="middle">'.strtoupper($format_date->getNamaBulan($bulan)).'</td>';
$html = $html.'			<td rowspan="3" align="center"  width=20% valign="middle">KETE<br>RANGAN</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td colspan="4" align="center" valign="middle">SISA YANG LALU</td>';
$html = $html.'			<td colspan="2" align="center" valign="middle">BULAN INI</td>';
$html = $html.'			<td colspan="3" align="center" valign="middle">MASIH PROSES DI</td>';
$html = $html.'			<td colspan="2" align="center" valign="middle">PENYELE<br>SAIAN</td>';
$html = $html.'			<td colspan="3" align="center" valign="middle">TOT PROSES DI</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td align="center"  valign="middle">P</td>';
$html = $html.'			<td align="center"  valign="middle">SES</td>';
$html = $html.'			<td align="center"  valign="middle">L</td>';
$html = $html.'			<td align="center"  valign="middle">S</td>';
$html = $html.'			<td align="center"  valign="middle">M</td>';
$html = $html.'			<td align="center"  valign="middle">S</td>';
$html = $html.'			<td align="center"  valign="middle">P</td>';
$html = $html.'			<td align="center"  valign="middle">SES</td>';
$html = $html.'			<td align="center"  valign="middle">L</td>';
$html = $html.'			<td align="center"  valign="middle">BLN<br>INI</td>';
$html = $html.'			<td align="center"  valign="middle">TOT</td>';
$html = $html.'			<td align="center"  valign="middle">P</td>';
$html = $html.'			<td align="center"  valign="middle">SES</td>';
$html = $html.'			<td align="center"  valign="middle">L</td>';
$html = $html.'		</tr>';


$kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

//Tampilkan Data Penomoran dari Presiden
//===================================

for($a=0; $a<count($kdJenisAjuanArr); $a++){
	$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
	
	$noUrut = ($a*1)+1;
	$html = $html.'		<tr class="event">';
	$html = $html.'			<td class="clcenter" height="7" valign="middle">'.$noUrut.'</td>';
	
	if ($kdJenisAjuanArr[$a] == '00'){
		$html = $html.'			<td class="clleft" height="7" valign="middle">Lain lain</td>';
	} else {
		$html = $html.'			<td class="clleft" height="7" valign="middle">'.$hasil['n_srtajuan'].'</td>';
	}
	
	// Presiden
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah1 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
	
	// Seskab
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah2 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah2.'</td>';
	unset($masukan);
	
	// Lainnya
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah3 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah3.'</td>';
	unset($masukan);
	
	// Selessai
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah4 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah4.'</td>';
	unset($masukan);
	
	// BULAN INI (M)
	//================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'M',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah5 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah5.'</td>';
	unset($masukan);
	
	// BULAN INI (S)
	//================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah6 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah6.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Presiden)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah7 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah7.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Seskab)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah8 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah8.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Lainnya)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah9 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah9.'</td>';
	unset($masukan);
	
	// SELESAI PROSES PER BULAN
	//============================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah11 = $laporan_serv->rekapMemoSeskabSelesaiPerBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah11.'</td>';
	unset($masukan);
	
	// SELESAI PROSES SAMPAI BULAN
	//===============================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah11 = $laporan_serv->rekapMemoSeskabSelesaiSampaiBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah11.'</td>';
	unset($masukan);
	
	// MASIH PROSES  DARI JANUARI(Presiden)
	//======================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah12 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah12.'</td>';
	unset($masukan);
	
	// MASIH PROSES   DARI JANUARI (Seskab)
	//========================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah13 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah13.'</td>';
	unset($masukan);
	
	// MASIH PROSES   DARI JANUARI(Lainnya)
	//========================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah14 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$jumlah14.'</td>';
	unset($masukan);
	
	
	//Keterangan
	//==========
	$html = $html.'			<td height="7" valign="middle">';
	$html = $html.$keterangan.'</td>';

	
	$html = $html.'		</tr>';
	
}
$html = $html.'	</table>';

$html = $html.'	<table border="0">';
$html = $html.'		<tr>';
$html = $html.'			<td colspan="3" height="110">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td colspan="3">Keterangan</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td>P</td>';
$html = $html.'			<td>:</td>';
$html = $html.'			<td>Presiden</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td>SES</td>';
$html = $html.'			<td>:</td>';
$html = $html.'			<td>Seskab</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td>L</td>';
$html = $html.'			<td>:</td>';
$html = $html.'			<td>Lainnya</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td>S</td>';
$html = $html.'			<td>:</td>';
$html = $html.'			<td>Selesai</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td>M</td>';
$html = $html.'			<td>:</td>';
$html = $html.'			<td>Maju</td>';
$html = $html.'		</tr>';
$html = $html.'	</table>';

/* $html = $html.'		<tr class="event">';
$html = $html.'			<td class="clright" colspan="2">JUMLAH &nbsp;</td>';
$html = $html.'		</tr>';
 */
//echo $html;

define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A4');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->output('','I'); 

?>
