<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();
$format_number = new oa_dec_cur_conv();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Rekap Penyelesaian Surat</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Bulan - Tahun :</td>
						<td>
							<?
							$BulanList = array('1' =>'Januari', 'Pebruari', 'Maret', 'April',  'Mei', 'Juni',  'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember');
							$bulanLaporan = $this->bulan;
							if (!$bulanLaporan){$bulanLaporan = date('m');}
							
							echo $ctrlFrm->formSelect('bulanLaporan', $bulanLaporan, null, $BulanList);							
							?>
							&nbsp;-&nbsp;
							<?
							for($thn=date(Y)-5; $thn<=date(Y); $thn++){
							  $tahunList[$thn] = $thn; 
							}
							$tahunLaporan = $this->tahun;
							if (!$tahunLaporan){$tahunLaporan = date('Y');}
							
							echo $ctrlFrm->formSelect('tahunLaporan', $tahunLaporan, null, $tahunList);
							?>
							&nbsp;
							<input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanRekapMemo();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		<div class="blank"></div>
		
<?		
		$laporan_serv = new Aplikasi_Laporan_Service();
		$bulan = $_REQUEST['bulan'];
		if(!$bulan){ $bulan = date('m');}
		$tahun = $_REQUEST['tahun'];
		if(!$tahun){ $tahun = date('Y');}

?>
		<div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFRekapMemo();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
			<a href="#" onClick="viewChartRekapMemo();"><img src="<?echo $this->basePath?>/images/icon_bar.gif" width="25%" height="4%"></a>
		</div>
		<div class="blank"></div>
		<fieldset class="fields">

<?

$html = $html.'	<table width="100%" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr>';
$html = $html.'			<th rowspan="3" align="center">No.</th>';
$html = $html.'			<th rowspan="3" align="center">JENIS AJUAN</th>';
$html = $html.'			<th colspan="14" align="center">'.$format_date->getNamaBulan($bulan).'</th>';
$html = $html.'			<th rowspan="3" align="center">KETERANGAN</th>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<th colspan="4">SISA YANG LALU</th>';
$html = $html.'			<th colspan="2">BULAN INI</th>';
$html = $html.'			<th colspan="3">MASIH PROSES DI</th>';
$html = $html.'			<th colspan="2">PENYELESAIAN</th>';
$html = $html.'			<th colspan="3">TOTAL PROSES DI</th>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<th>P</th>';
$html = $html.'			<th>SES</th>';
$html = $html.'			<th>L</th>';
$html = $html.'			<th>S</th>';
$html = $html.'			<th>M</th>';
$html = $html.'			<th>S</th>';
$html = $html.'			<th>P</th>';
$html = $html.'			<th>SES</th>';
$html = $html.'			<th>L</th>';
$html = $html.'			<th>BLN<br>INI</th>';
$html = $html.'			<th>TOTAL</th>';
$html = $html.'			<th>P</th>';
$html = $html.'			<th>SES</th>';
$html = $html.'			<th>L</th>';
$html = $html.'		</tr>';


$kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

//Tampilkan Data Penomoran dari Presiden
//===================================

for($a=0; $a<count($kdJenisAjuanArr); $a++){
	$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
	
	$noUrut = ($a*1)+1;
	$html = $html.'		<tr class="event">';
	$html = $html.'			<td class="clcenter">'.$noUrut.'</td>';
	
	if ($kdJenisAjuanArr[$a] == '00'){
		$html = $html.'			<td class="clleft">Lain lain</td>';
	} else {
		$html = $html.'			<td class="clleft">'.$hasil['n_srtajuan'].'</td>';
	}
	
	// Presiden
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah1 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
	
	// Seskab
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah2 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah2.'</td>';
	unset($masukan);
	
	// Lainnya
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah3 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah3.'</td>';
	unset($masukan);
	
	// Selessai
	//========
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajukanKe"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah4 = $laporan_serv->rekapMemoSeskabSisaBulanLalu($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah4.'</td>';
	unset($masukan);
	
	// BULAN INI (M)
	//================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'M',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah5 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah5.'</td>';
	unset($masukan);
	
	// BULAN INI (S)
	//================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "jenisProses"   => 'S',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah6 = $laporan_serv->rekapMemoSeskabPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah6.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Presiden)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah7 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah7.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Seskab)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah8 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah8.'</td>';
	unset($masukan);
	
	// MASIH PROSES (Lainnya)
	//========================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah9 = $laporan_serv->rekapMemoSeskabTerprosesPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah9.'</td>';
	unset($masukan);
	
	// SELESAI PROSES PER BULAN
	//============================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah11 = $laporan_serv->rekapMemoSeskabSelesaiPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah11.'</td>';
	unset($masukan);
	
	// SELESAI PROSES SAMPAI BULAN
	//===============================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah11 = $laporan_serv->rekapMemoSeskabSelesaiSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah11.'</td>';
	unset($masukan);
	
	// MASIH PROSES  DARI JANUARI(Presiden)
	//======================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '0',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah12 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah12.'</td>';
	unset($masukan);
	
	// MASIH PROSES   DARI JANUARI (Seskab)
	//========================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => '1',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah13 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah13.'</td>';
	unset($masukan);
	
	// MASIH PROSES   DARI JANUARI(Lainnya)
	//========================================
	$masukan = array("jenisAjuan" => $hasil['c_srtajuan'],
						  "ajuanKe"   => 'L',
						  "bulan"      => $bulan,
						  "tahun"      => $tahun);
	$jumlah14 = $laporan_serv->rekapMemoSeskabTerprosesSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah14.'</td>';
	unset($masukan);
	
	
	//Keterangan
	//==========
	$html = $html.'			<td>';
	$html = $html.$keterangan.'</td>';

	
	$html = $html.'		</tr>';
}
/* $html = $html.'		<tr class="event">';
$html = $html.'			<td class="clright" colspan="2">JUMLAH &nbsp;</td>';
$html = $html.'		</tr>';
 */
echo $html;
?>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
