<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10><b>REKAP SURAT MASUK</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';

			$laporan_serv = new Aplikasi_Laporan_Service();
			$bulan = $this->bulan;
			if(!$bulan){ $bulan =date('m');}
			$tahun = $this->tahun;
			if(!$tahun){ $tahun =date('Y');}

$html = $html.'<table width="190" align="center" border="0">';
$html = $html.'		<tr>';
$html = $html.'			<td rowspan="3" width="7" align="center" style="bold" border="1" valign="middle">No.</td>';
$html = $html.'			<td rowspan="3"  width="50" align="center" style="bold" border="1" valign="middle">DITUJUKAN DAN DISTRIBUSI</td>';
$html = $html.'			<td colspan="16" align="center" style="bold" border="1" valign="middle">'.strtoupper($format_date->getNamaBulan($bulan)).'</td>';
$html = $html.'			<td rowspan="3" width="17" align="center" style="bold" border="1" valign="middle">KET</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td colspan="4" align="center" style="bold" border="1" valign="middle">PRESIDEN</td>';
$html = $html.'			<td colspan="4" align="center" style="bold" border="1" valign="middle">SESKAB</td>';
$html = $html.'			<td colspan="4" align="center" style="bold" border="1" valign="middle">LAIN-LAIN / PRIBADI</td>';
$html = $html.'			<td colspan="2" align="center" style="bold" border="1" valign="middle">JUMLAH</td>';
$html = $html.'			<td colspan="2" align="center" style="bold" border="1" valign="middle">TOTAL</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">A</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">T</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TA</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TT</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">A</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">T</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TA</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TT</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">A</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">T</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TA</td>';
$html = $html.'			<td width="8" style="bold" border="1" valign="middle">TT</td>';
$html = $html.'			<td width="7" style="bold" border="1" valign="middle">A</td>';
$html = $html.'			<td width="7" style="bold" border="1" valign="middle">T</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">A</td>';
$html = $html.'			<td width="6" style="bold" border="1" valign="middle">T</td>';
$html = $html.'		</tr>';
				
			$OrgArr = array('1','2','3','4','5','7','8','9','10','00');
                      																										
			for($x=0; $x<count($OrgArr); $x++)
			{																										
				$kdOrg = $OrgArr[$x];																										
				if ($kdOrg == '3') {																										
					$nmUnitKerja =	$laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
				} else if ($kdOrg == '00') {
					$nmUnitKerja =	"Lain lain";
				}else {																										
					$nmUnitKerja =	$laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
				}																										
																														
				$noUrut = ($x*1)+1;																										

$html = $html.'			<tr class="event">';
$html = $html.'				<td class="clcenter" border="1" height="7" valign="middle">'.$noUrut.'</td>';
$html = $html.'				<td border="1" height="7" valign="middle">'.$nmUnitKerja.'</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';

						//UNTUK PRESIDEN (ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml1 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
 

$html = $html.$jml1.'		</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
					
						//UNTUK PRESIDEN (TEMBUSAN)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml2 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						
$html = $html.$jml2.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRESIDEN (TOTAL ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml3 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml3; 
$html = $html.'						</td>';
$html = $html.'						<td border="1" align="right" height="7" valign="middle">';
							
						//UNTUK PRESIDEN (TOTAL TEMBUSAN)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml4 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml4; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';

						//UNTUK SESKAB ( ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml5= $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
$html = $html.$jml5; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK SESKAB ( TEMBUSAN)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml5 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
$html = $html.$jml5; 
										
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK SESKAB ( TOTAL ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml6 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml6; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
							
						//UNTUK SESKAB ( TOTAL TEMBUSAN)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml7 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml7; 
										
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml8 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
$html = $html.$jml8; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRIBADI ( TEMBUSAN)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml9 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
$html = $html.$jml9; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRIBADI ( TOTAL ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml10 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml10; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRIBADI ( TOTAL TEMBUSAN)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml11 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
$html = $html.$jml11; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK JUMLAH (  ASLI SEMUA)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml13 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml14 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml15 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$jmlAsli = $jml13+$jml14+$jml15;
$html = $html.$jmlAsli; 
										
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK JUMLAH (  TEMBUSAN SEMUA)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml16 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml17 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml18 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
						unset($masukan);
						$jmlTembusan = $jml16+$jml17+$jml18;
$html = $html.$jmlTembusan; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';
						//UNTUK PRIBADI ( TOTAL ASLI SEMUA)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml19 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml20 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jml21 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$jmlTotalAsli = $jml19+$jml20+$jml21;
$html = $html.$jmlTotalAsli; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">';

						//UNTUK PRIBADI ( TOTAL ASLI SEMUA)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml22 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml23 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "",
										 "kdOrgTeruskanke" => "$kdOrg",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jml24 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						$jmlTotalTembusan = $jml22+$jml23+$jml24;
$html = $html.$jmlTotalTembusan; 
$html = $html.'				</td>';
$html = $html.'				<td border="1" align="right" height="7" valign="middle">&nbsp;</td>';
$html = $html.'			</tr>';
			}
$html = $html.'		<tr>';
$html = $html.'			<td colspan="2" align="right" border="1" height="7" valign="middle">JUMLAH &nbsp;</td>';
$html = $html.'			<td border="1" align="right" border="1" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRESIDEN",
									 "kdOrgTeruskandari" => "0",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlAsliPresiden = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlAsliPresiden; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRESIDEN",
									 "kdOrgTeruskandari" => "0",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTembusanPresiden = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlTembusanPresiden; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRESIDEN",
									 "kdOrgTeruskandari" => "0",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlTotalAsliPresiden = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalAsliPresiden; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRESIDEN",
									 "kdOrgTeruskandari" => "0",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTotalTembusanPresiden = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalTembusanPresiden; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "SESKAB",
									 "kdOrgTeruskandari" => "1",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlAsliSeskab = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlAsliSeskab; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "SESKAB",
									 "kdOrgTeruskandari" => "1",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTembusanSeskab = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlTembusanSeskab; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "SESKAB",
									 "kdOrgTeruskandari" => "1",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlTotalAsliSeskab = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalAsliSeskab; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "SESKAB",
									 "kdOrgTeruskandari" => "1",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTotalTembusanSeskab = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalTembusanSeskab; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRIBADI",
									 "kdOrgTeruskandari" => "2",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlAsliPribadi = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlAsliPribadi; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRIBADI",
									 "kdOrgTeruskandari" => "2",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTembusanPribadi = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
					unset($masukan);
$html = $html.$jmlTembusanPribadi; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRIBADI",
									 "kdOrgTeruskandari" => "2",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "A");
									 
					$jmlTotalAsliPribadi = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalAsliPribadi; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//UNTUK PRIBADI ( ASLI)
					$masukan = array("nKepada" => "PRIBADI",
									 "kdOrgTeruskandari" => "2",
									 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
									 "bulan" => $bulan,
									 "tahun" => $tahun,
									 "jenisSrt" => "T");
									 
					$jmlTotalTembusanPribadi = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
					unset($masukan);
$html = $html.$jmlTotalTembusanPribadi; 
$html = $html.'			</td> ';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//TOTAL ASLI
								
					$jmlAsliSemua = $jmlAsliPresiden+$jmlAsliSeskab+$jmlAsliPribadi;
					unset($masukan);
$html = $html.$jmlAsliSemua; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//TOTAL ASLI
								
					$jmlTembusanSemua = $jmlTembusanPresiden+$jmlTembusanSeskab+$jmlTembusansPribadi;
					unset($masukan);
$html = $html.$jmlTembusanSemua; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//jml TOTAL ASLI
								
					$jmlTotalAsliSemua = $jmlTotalAsliPresiden+$jmlTotalAsliSeskab+$jmlTotalAsliPribadi;
					unset($masukan);
$html = $html.$jmlTotalAsliSemua; 
$html = $html.'			</td>';
$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
					//jml TOTAL Tembusan
								
					$jmlTotalTembusanSemua = $jmlTotalTembusanPresiden+$jmlTotalTembusanSeskab+$jmlTotalTembusansPribadi;
					unset($masukan);
$html = $html.$jmlTotalTembusanSemua; 
$html = $html.'			</td>';
$html = $html.'<td border="1" align="right" height="7" valign="middle">&nbsp;</td>';

$html = $html.'		</tr>';
$html = $html.'		<tr height="25" class="event">';
$html = $html.'			<td colspan="19" border="0">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td colspan="19" border="0" height="10">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'	</table>';

$html2 = $html2.'	<table width="100" border="0">';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="5">&nbsp;';
$html2 = $html2.'			<td width="12">&nbsp; A';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Asli</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="5">&nbsp;';
$html2 = $html2.'			<td width="12">&nbsp; T</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Tembusan</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="5">&nbsp;';
$html2 = $html2.'			<td width="12">&nbsp; TA</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Total Asli</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="5">&nbsp;';
$html2 = $html2.'			<td width="12">&nbsp; TT</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Total Tembusan</td>';
$html2 = $html2.'		</tr>';

$html2 = $html2.'	</table>';

// echo $html1;
// echo $html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A4');
$p->AddPage();
$p->SetLeftMargin(5);
$p->SetRightMargin(5);
$p->setfont('Helvetica','',12);
$p->htmltable($html1);
$p->setfont('Helvetica','',9);
$p->htmltable($html);
$p->setfont('Helvetica','',9);
$p->htmltable($html2);
$p->output('','I'); 
?>