<?php
//We've included ../Includes/FusionCharts.php, which contains functions
//to help us easily embed the charts.
include("FusionCharts/Code/PHP/Includes/FusionCharts.php");
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$bulan = $this->bulan;
$tahun = $this->tahun;

?>
<HTML>
   <HEAD>
      <TITLE>REKAP PENOMORAN SURAT</TITLE>
	  <SCRIPT LANGUAGE="Javascript" SRC="FusionCharts/Code/FusionCharts/FusionCharts.js"></SCRIPT>
   </HEAD>
<BODY>
<?
   //Create an XML data document in a string variable
   //header('Content-type: text/xml');
   $judul = 'REKAP PENOMORAN SURAT BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph yaxisname='Unit Kerja' xaxisname='Jumlah Surat Masuk' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   $strXML .= "   <category name='PRESIDEN' hoverText='PRESIDEN'/>";
   
   $OrgArr1 = array('1','2');

	for($x=0; $x<count($OrgArr1); $x++)
	{
		$kdOrg = $OrgArr1[$x];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		$strXML .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}
   
	$strXML .= "   <category name='ESELON I' hoverText='ESELON I'/>";
	$OrgArr2 = $laporan_serv->listUnitkerja('ESELON I');
	for($x=0; $x<count($OrgArr2); $x++)
	{
		$kdOrg = $OrgArr2[$x]['kd_struktur_org'];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		$strXML .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}	
	
	$strXML .= "   <category name='ESELON II' hoverText='ESELON II'/>";
	$OrgArr3 = $laporan_serv->listUnitkerja('ESELON II');
	for($x=0; $x<count($OrgArr3); $x++)
	{
		$kdOrg = $OrgArr3[$x]['kd_struktur_org'];
		if ($kdOrg == '3') {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
		} else if ($kdOrg == '00') {
			$nmUnitKerja = "Lain lain";
		}else {
			$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
		}
		$strXML .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
	}	

	$strXML .= "</categories>";
	
	
	$sifatPenomoranSuratArr = array('KEP', 'SPT', 'R', 'B', 'SL');
	$warna = array('AFD8F8', 'F6BD0F', '8BBA00', 'FF8E46', '008E8E');
	$jenisSurat = array('Surat Keputusan', 'Surat Perintah', 'Surat Rahasia', 'Surat Biasa', 'Surat Lainnya');
	for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
		$strXML .= "<dataset seriesname='Surat Keputusan' color='$warna[$a]'>";
		
		$sifatPenomoran = $sifatPenomoranSuratArr[$a];
		
		$masukan = array("kdOrgDari" => "0",
						"sifatPenomoranSurat" => $sifatPenomoran,
						"bulan" => $bulan,
						"tahun" => $tahun);
		$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
		$strXML .= "   <set value='$jumlah1' />";
		unset($masukan);
		
		$OrgArr = array('1','2');

		for($x=0; $x<count($OrgArr); $x++)
		{
			$kdOrg = $OrgArr[$x];
			
			$masukan = array("kdOrgDari" => $kdOrg,
							"sifatPenomoranSurat" => $sifatPenomoran,
							"bulan" => $bulan,
							"tahun" => $tahun);
			$jumlah2 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
			$strXML .= "   <set value='$jumlah2' />";
			unset($masukan);
		}
		
		$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
		$jumlah3 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
		$strXML .= "   <set value='$jumlah3' />";	
		
		$OrgArr2 = $laporan_serv->listUnitkerja('ESELON I');
		for($x=0; $x<count($OrgArr2); $x++)
		{
			$kdOrg2 = $OrgArr2[$x]['kd_struktur_org'];
			$masukan = array("kdOrgDari" => $kdOrg2,
							"sifatPenomoranSurat" => $sifatPenomoran,
							"bulan" => $bulan,
							"tahun" => $tahun);
			$jumlah3 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
			$strXML .= "   <set value='$jumlah3' />";
		}	

		$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
		$jumlah4 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
		$strXML .= "   <set value='$jumlah4' />";	
		
		$OrgArr2 = $laporan_serv->listUnitkerja('ESELON II');
		for($x=0; $x<count($OrgArr2); $x++)
		{
			$kdOrg3 = $OrgArr2[$x]['kd_struktur_org'];
			$masukan = array("kdOrgDari" => $kdOrg3,
							"sifatPenomoranSurat" => $sifatPenomoran,
							"bulan" => $bulan,
							"tahun" => $tahun);
			$jumlah5 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
			$strXML .= "   <set value='$jumlah5' />";
		}
			
		$strXML .= "</dataset>";
	}

	

   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSBar2D.swf", "", $strXML, "myNext", 900, 1600);
?>
</BODY>
</HTML>