<?php
//We've included ../Includes/FusionCharts.php, which contains functions
//to help us easily embed the charts.
include("FusionCharts/Code/PHP/Includes/FusionCharts.php");
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();

$bulan = $this->bulan;
$tahun = $this->tahun;

?>
<HTML>
   <HEAD>
      <TITLE>REKAP PENGIRIMAN SURAT</TITLE>
	  <SCRIPT LANGUAGE="Javascript" SRC="FusionCharts/Code/FusionCharts/FusionCharts.js"></SCRIPT>
   </HEAD>
<BODY>
<?
   //Create an XML data document in a string variable
   //header('Content-type: text/xml');
   $judul = 'REKAP PENGIRIMAN SURAT BULAN '.strtoupper($format_date->getNamaBulan($this->bulan)).' '.$this->tahun;
   $strXML  = "";
   $strXML .= "<graph xaxisname='Unit Kerja' yaxisname='Jumlah Pengiriman Surat' hovercapbg='DEDEBE' hovercapborder='889E6D' rotateNames='0' 
				yAxisMaxValue='10' 
				numdivlines='5' divLineColor='CCCCCC' divLineAlpha='80' decimalPrecision='0' showAlternateHGridColor='1' AlternateHGridAlpha='30' 
				AlternateHGridColor='CCCCCC' caption='$judul'  subcaption='PRESIDEN'>";
   $strXML .= "<categories font='Arial' fontSize='11' fontColor='000000'>";
   
	$unitKerja = $laporan_serv->listUnitkerja2();
	for($x=0; $x<count($unitKerja); $x++)
	{
		$kdOrg = $unitKerja[$x]['kd_struktur_org'];
		$nmUnitKerja = $unitKerja[$x]['nama'];
		
		$strXML .= "   <category name='$nmUnitKerja' hoverText='$nmUnitKerja'/>";
		
		$namaBiro = $laporan_serv->listLevelBiro($unitKerja[$x]['kd_struktur_org']);
		for ($b=0; $b<count($namaBiro); $b++) {
			$nmBiro = $namaBiro[$b]['nama'];
			$strXML .= "   <category name='$nmBiro' hoverText='$nmBiro'/>";
		}
	}
	$strXML .= "</categories>";
	$strXML .= "<dataset seriesname='Pos' color='FDC12E'>";
	for($x=0; $x<count($unitKerja); $x++)
	{
		$kdOrg = $unitKerja[$x]['kd_struktur_org'];
		
		$masukan = array("kdOrgDari" => $kdOrg,
					"bulan" => $bulan,
					"tahun" => $tahun);
		$jmlPengirimanPos1 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
		unset($masukan);
		$strXML .= "   <set value='$jmlPengirimanPos1' />";
		$namaBiro = $laporan_serv->listLevelBiro($unitKerja[$x]['kd_struktur_org']);
		for ($b=0; $b<count($namaBiro); $b++) {
			$kdBiro = $namaBiro[$b]['kd_struktur_org'];
			$masukan = array("kdOrgDari" => $kdBiro,
					"bulan" => $bulan,
					"tahun" => $tahun);
			$jmlPengirimanPos2 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
			unset($masukan);
			$strXML .= "   <set value='$jmlPengirimanPos2' />";
		} 
	}
	
	$strXML .= "</dataset>";
	
	$strXML .= "<dataset seriesname='Langsung' color='56B9F9'>";
	for($x=0; $x<count($unitKerja); $x++)
	{
		$kdOrg2 = $unitKerja[$x]['kd_struktur_org'];
		
		$masukan = array("kdOrgDari" => $kdOrg2,
					"bulan" => $bulan,
					"tahun" => $tahun);
		$jmlPengirimanLangsung1 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
		
		//echo "$jmlPengirimanLangsung1<br>";
		unset($masukan);
		$strXML .= "   <set value='$jmlPengirimanLangsung1' />";
		$namaBiro = $laporan_serv->listLevelBiro($unitKerja[$x]['kd_struktur_org']); 
		for ($b=0; $b<count($namaBiro); $b++) {
			$kdBiro2 = $namaBiro[$b]['kd_struktur_org'];
			$masukan = array("kdOrgDari" => $kdBiro2,
					"bulan" => $bulan,
					"tahun" => $tahun);
			$jmlPengirimanLangsung2 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
			unset($masukan);
			$strXML .= "   <set value='$jmlPengirimanLangsung2' />";
		}  
	}
	
	
	$strXML .= "</dataset>"; 
	

   $strXML .= "</graph>";

   //echo $strXML;
   //Create the chart - Column 3D Chart with data from strXML variable using dataXML method
   $namaServer = "http://".$_SERVER['SERVER_NAME'].$this->basePath;
   echo renderChartHTML("$namaServer/FusionCharts/Charts/MSColumn3D.swf", "", $strXML, "myNext", 1500, 300);
   
?>
</BODY>
</HTML>