<?
require_once 'share/format_date.php';
require_once "share/oa_dec_cur_conv.php";

require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();
$format_number = new oa_dec_cur_conv();

$bulan = $this->bulan;
$tahun = $this->tahun;

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10><b>REKAP PENGIRIMAN</b></td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';

$html = $html.'	<table width="170" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr>';
$html = $html.'			<td rowspan="2" align="center" width="7" border="1" valign="middle">No.</td>';
$html = $html.'			<td rowspan="2" align="center" width="73" border="1" valign="middle">UNIT KERJA    JENIS SURAT</td>';
$html = $html.'			<td colspan="4" align="center" border="1" valign="middle">'.$format_date->getNamaBulan($bulan).'</td>';
$html = $html.'			<td colspan="4" align="center" border="1" valign="middle">TOTAL s/d '.$format_date->getNamaBulan($bulan).'</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<td width="10" border="1" valign="middle">POS</td>';
$html = $html.'			<td width="10" border="1" valign="middle">LS</td>';
$html = $html.'			<td width="10" border="1" valign="middle">JMH</td>';
$html = $html.'			<td width="15" border="1" valign="middle">BIAYA KIRIM</td>';
$html = $html.'			<td width="10" border="1" valign="middle">POS</td>';
$html = $html.'			<td width="10" border="1" valign="middle">LS</td>';
$html = $html.'			<td width="10" border="1" valign="middle">JMH</td>';
$html = $html.'			<td width="15" border="1" valign="middle">BIAYA KIRIM</td>';
$html = $html.'		</tr>';

$unitKerja = $laporan_serv->listUnitkerja2();
for ($a=0; $a<count($unitKerja); $a++) {
$noUrut = $a+1;
$html = $html.'		<tr class="event">';
$html = $html.'			<td style="bold" border="1" height="7" valign="middle">'.$noUrut.'</td>';
$html = $html.'			<td style="bold" border="1" height="7" valign="middle">'.$unitKerja[$a]['nama'].'</td>';

	$masukan = array("kdOrgDari" => $unitKerja[$a]['kd_struktur_org'],
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jmlPengirimanPos1 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanPos1.'</td>';
	$jmlPengirimanLangsung1 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanLangsung1.'</td>';
	$jmlPengiriman1 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengiriman1.'</td>';
	$biayaKirim1 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$format_number->convertDecToCur($biayaKirim1).'</td>';
	
	$jmlPengirimanPos2 = $laporan_serv->rekapPengirimanSuratKeluarPosSampaiBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle" height="7" valign="middle">&nbsp;'.$jmlPengirimanPos2.'</td>';
	$jmlPengirimanLangsung2 = $laporan_serv->rekapPengirimanSuratKeluarLangsungSampaiBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanLangsung2.'</td>';
	$jmlPengiriman2 = $laporan_serv->rekapPengirimanSuratKeluarSampaiBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengiriman2.'</td>';
	$biayaKirim2 = $laporan_serv->rekapBiayaPengirimanSuratKeluarSampaiBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$format_number->convertDecToCur($biayaKirim2).'</td>';
	unset($masukan);
//$html = $html.'			<td>'.$unitKerja[$a]['nama'].'</td>';
$html = $html.'		</tr>';
$namaBiro = $laporan_serv->listLevelBiro($unitKerja[$a]['kd_struktur_org']);
for ($b=0; $b<count($namaBiro); $b++) {
$html = $html.'		<tr class="event">';
$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'			<td border="1" height="7" valign="middle">'.$namaBiro[$b]['nama'].'</td>';

	$masukan = array("kdOrgDari" => $namaBiro[$b]['kd_struktur_org'],
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jmlPengirimanPos3 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanPos3.'</td>';
	$jmlPengirimanLangsung3 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanLangsung.'</td>';
	$jmlPengiriman3 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengiriman3.'</td>';
	$biayaKirim3 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$format_number->convertDecToCur($biayaKirim3).'</td>';
	
	$jmlPengirimanPos4 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanPos4.'</td>';
	$jmlPengirimanLangsung4 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengirimanLangsung4.'</td>';
	$jmlPengiriman4 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$jmlPengiriman4.'</td>';
	$biayaKirim4 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;'.$format_number->convertDecToCur($biayaKirim4).'</td>';
	unset($masukan);
	$html = $html.'		</tr>';
}

}
$html = $html.'		<tr>';
$html = $html.'			<td  colspan="10" border="0" height="50">&nbsp;';
$html = $html.'		</tr>';
$html = $html.'	</table>';

$html2 = $html2.'	<table width="100" border="0">';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="10">&nbsp; PO';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="85">&nbsp;Pengiriman menggunakan POS</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="10">&nbsp; LS</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="85">&nbsp;Pengiriman Langsung</td>';
$html2 = $html2.'		</tr>';

$html2 = $html2.'	</table>';
// echo $html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A4');
$p->AddPage();
$p->setfont('Helvetica','',10);
$p->htmltable($html1);
$p->setfont('Helvetica','',8);
$p->htmltable($html);
$p->setfont('Helvetica','',8);
$p->htmltable($html2);
$p->output('','I');  
?>