<?
require_once 'Zend/View.php';
require_once 'share/format_date.php';
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once('fpdf/Pdf_Service.php');
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();


$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Laporan<strong> &#8250; </strong>Rekap Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Rekap Surat Masuk</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Bulan - Tahun :</td>
						<td>
							<?
							$bulanLaporan = $this->bulan;
							if (!$bulanLaporan){$bulanLaporan = date('m');}
							$BulanList = array('1' =>'Januari', 'Pebruari', 'Maret', 'April',  'Mei', 'Juni',  'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember');
							
							echo $ctrlFrm->formSelect('bulanLaporan', $bulanLaporan, null, $BulanList);						
							?>
							&nbsp;-&nbsp;
							<?
							for($thn=date(Y)-5; $thn<=date(Y); $thn++){
							  $tahunList[$thn] = $thn; 
							}
							$tahunLaporan = $this->tahun;
							if (!$tahunLaporan){$tahunLaporan = date('Y');}
							echo $ctrlFrm->formSelect('tahunLaporan', $tahunLaporan, null, $tahunList);
							?>
							&nbsp;
							<input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanRekapSuratMasuk();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		</span></span>
	
	    <div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFRekapSuratMasuk();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
			<a href="#" onClick="viewChartRekapSuratMasuk();"><img src="<?echo $this->basePath?>/images/icon_bar.gif" width="25%" height="4%"></a>
		</div>
		<div class="blank"></div>
		<fieldset class="fields">
		<?
			$laporan_serv = new Aplikasi_Laporan_Service();
			$bulan = $this->bulan;
			if(!$bulan){ $bulan =date('m');}
			$tahun = $this->tahun;
			if(!$tahun){ $tahun =date('Y');}
		?>
			<table width="100%" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">
				<tr>
					<th rowspan="3" align="center">No.</th>
					<th rowspan="3" align="center">DITUJUKAN DAN DISTRIBUSI</th>
					<th colspan="16" align="center"><? echo $format_date->getNamaBulan($bulan); ?></th>
					<th rowspan="3" align="center">KETERANGAN</th>
				</tr>
				<tr>
					<th colspan="4" align="center">PRESIDEN</th>
					<th colspan="4" align="center">SESKAB</th>
					<th colspan="4" align="center">LAIN-LAIN / PRIBADI</th>
					<th colspan="2" align="center">JUMLAH</th>
					<th colspan="2" align="center">TOTAL</th>
				</tr>
				<tr>
					<th width="3%">A</th>
					<th width="3%">T</th>
					<th width="3%">TA</th>
					<th width="3%">TT</th>
					<th width="3%">A</th>
					<th width="3%">T</th>
					<th width="3%">TA</th>
					<th width="3%">TT</th>
					<th width="3%">A</th>
					<th width="3%">T</th>
					<th width="3%">TA</th>
					<th width="3%">TT</th>
					<th width="3%">A</th>
					<th width="3%">T</th>
					<th width="3%">A</th>
					<th width="3%">T</th>
				</tr>
				<?
				$OrgArr = array('1','2','3','4','5','7','8','9','10','00');

				for($x=0; $x<count($OrgArr); $x++)
				{
					$kdOrg = $OrgArr[$x];
					if ($kdOrg == '3') {
						$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
					} else if ($kdOrg == '00') {
						$nmUnitKerja = "Lain lain";
					}else {
						$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
					}
					
					$noUrut = ($x*1)+1;
					?>
					<tr class="event">
						<td class="clcenter"><? echo $noUrut; ?></td>
						<td><? echo $nmUnitKerja; ?></td>
						<td>
							<?
							//UNTUK PRESIDEN (ASLI)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml1 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo$jml1; 
							?>
						</td>
						<td>
							<?
							//UNTUK PRESIDEN (TEMBUSAN)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml2 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo $jml2; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRESIDEN (TOTAL ASLI)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml3 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml3; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRESIDEN (TOTAL TEMBUSAN)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml4 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml4; 
							?>			
						</td>
						<td>
							<?
							//UNTUK SESKAB ( ASLI)
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml5= $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo $jml5; 
							?>			
						</td>
						<td>
							<?//UNTUK SESKAB ( TEMBUSAN)
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml5 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo $jml5; 
							?>			
						</td>
						<td>
							<?
							//UNTUK SESKAB ( TOTAL ASLI)
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml6 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml6; 
							?>			
						</td>
						<td>
							<?
							//UNTUK SESKAB ( TOTAL TEMBUSAN)
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml7 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml7; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( ASLI)
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "2",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml8 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo $jml8; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( TEMBUSAN)
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "2",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml9 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							echo $jml9; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( TOTAL ASLI)
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "2",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml10 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml10; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( TOTAL TEMBUSAN)
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "2",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml11 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							echo $jml11; 
							?>			
						</td>
						<td>
							<?//UNTUK JUMLAH (  ASLI SEMUA)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml13 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml14 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml15 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$jmlAsli = $jml13+$jml14+$jml15;
							echo $jmlAsli; 
							?>			
						</td>
						<td>
							<?
							//UNTUK JUMLAH (  TEMBUSAN SEMUA)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml16 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml17 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml18 = $laporan_serv->rekapSuratMasukPerBulan($masukan);
							unset($masukan);
							$jmlTembusan = $jml16+$jml17+$jml18;
							echo $jmlTembusan; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( TOTAL ASLI SEMUA)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml19 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml20 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "A");
											 
							$jml21 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$jmlTotalAsli = $jml19+$jml20+$jml21;
							echo $jmlTotalAsli; 
							?>			
						</td>
						<td>
							<?
							//UNTUK PRIBADI ( TOTAL ASLI SEMUA)
							$masukan = array("nKepada" => "PRESIDEN",
											 "kdOrgTeruskandari" => "0",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml22 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "SESKAB",
											 "kdOrgTeruskandari" => "1",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml23 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$masukan = array("nKepada" => "PRIBADI",
											 "kdOrgTeruskandari" => "",
											 "kdOrgTeruskanke" => "$kdOrg",
											 "bulan" => $bulan,
											 "tahun" => $tahun,
											 "jenisSrt" => "T");
											 
							$jml24 = $laporan_serv->rekapSuratMasukSampaiBulan($masukan);
							unset($masukan);
							$jmlTotalTembusan = $jml22+$jml23+$jml24;
							echo $jmlTotalTembusan; 
							?>			
						</td>
						<td>&nbsp;</td>
					</tr>
					<?
				}
				?>
				<tr>
					<td colspan="2" class="clright">JUMLAH &nbsp;</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlAsliPresiden = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlAsliPresiden; 
						?>		
					</td>

					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTembusanPresiden = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlTembusanPresiden; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlTotalAsliPresiden = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalAsliPresiden; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRESIDEN",
										 "kdOrgTeruskandari" => "0",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTotalTembusanPresiden = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalTembusanPresiden; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlAsliSeskab = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlAsliSeskab; 
						?>			
					</td>

					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTembusanSeskab = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlTembusanSeskab; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlTotalAsliSeskab = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalAsliSeskab; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "SESKAB",
										 "kdOrgTeruskandari" => "1",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTotalTembusanSeskab = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalTembusanSeskab; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlAsliPribadi = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlAsliPribadi; 
						?>			
					</td>

					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTembusanPribadi = $laporan_serv->jumlahRekapSuratMasukPerBulan($masukan);
						unset($masukan);
						echo $jmlTembusanPribadi; 
						?>			
					</td>
					<td>
						<?//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "A");
										 
						$jmlTotalAsliPribadi = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalAsliPribadi; 
						?>			
					</td>
					<td>
						<?
						//UNTUK PRIBADI ( ASLI)
						$masukan = array("nKepada" => "PRIBADI",
										 "kdOrgTeruskandari" => "2",
										 "kdOrgTeruskanke" => "('1','2','3','4','5','7','8','9','10','00')",
										 "bulan" => $bulan,
										 "tahun" => $tahun,
										 "jenisSrt" => "T");
										 
						$jmlTotalTembusanPribadi = $laporan_serv->jumlahRekapSuratMasukSampaiBulan($masukan);
						unset($masukan);
						echo $jmlTotalTembusanPribadi; 
						?>			
					</td> 
					<td>
						<?
						//TOTAL ASLI
									
						$jmlAsliSemua = $jmlAsliPresiden+$jmlAsliSeskab+$jmlAsliPribadi;
						unset($masukan);
						echo $jmlAsliSemua; 
						?>			
					</td>
					<td>
						<?
						//TOTAL ASLI
									
						$jmlTembusanSemua = $jmlTembusanPresiden+$jmlTembusanSeskab+$jmlTembusansPribadi;
						unset($masukan);
						echo $jmlTembusanSemua; 
						?>			
					</td>
					<td>
						<?
						//jml TOTAL ASLI
									
						$jmlTotalAsliSemua = $jmlTotalAsliPresiden+$jmlTotalAsliSeskab+$jmlTotalAsliPribadi;
						unset($masukan);
						echo $jmlTotalAsliSemua; 
						?>			
					</td>
					<td>
						<?
						//jml TOTAL Tembusan
									
						$jmlTotalTembusanSemua = $jmlTotalTembusanPresiden+$jmlTotalTembusanSeskab+$jmlTotalTembusansPribadi;
						unset($masukan);
						echo $jmlTotalTembusanSemua; 
						?>			
					</td>
				</tr>
				<tr height="25" class="event">
					<td colspan="19">&nbsp;</td>
				</tr>
				<tr height="25" class="event">
					<td colspan="19">&nbsp; A	: Asli<br>&nbsp; T	: Tembusan<br>&nbsp; TA	: Total Asli<br>&nbsp; TT	: Total Tembusan</td>
				</tr>

			</table>

		</fieldset>
		<span class="corners-bottom"><span>
	</div>
</div>
