<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();
$format_number = new oa_dec_cur_conv();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Rekap Pengiriman Surat</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Bulan - Tahun :</td>
						<td>
							<?
							$BulanList = array('1' =>'Januari', 'Pebruari', 'Maret', 'April',  'Mei', 'Juni',  'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember');
							$bulanLaporan = $this->bulan;
							if (!$bulanLaporan){$bulanLaporan = date('m');}
							
							echo $ctrlFrm->formSelect('bulanLaporan', $bulanLaporan, null, $BulanList);							
							?>
							&nbsp;-&nbsp;
							<?
							for($thn=date(Y)-5; $thn<=date(Y); $thn++){
							  $tahunList[$thn] = $thn; 
							}
							$tahunLaporan = $this->tahun;
							if (!$tahunLaporan){$tahunLaporan = date('Y');}
							
							echo $ctrlFrm->formSelect('tahunLaporan', $tahunLaporan, null, $tahunList);
							?>
							&nbsp;
							<input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanRekapPengirimanSurat();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		<div class="blank"></div>
		
<?		
		$laporan_serv = new Aplikasi_Laporan_Service();
		$bulan = $_REQUEST['bulan'];
		if(!$bulan){ $bulan = date('m');}
		$tahun = $_REQUEST['tahun'];
		if(!$tahun){ $tahun = date('Y');}

?>
		<div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFRekapPengirimanSurat();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
			<a href="#" onClick="viewChartRekapPengirimanSurat();"><img src="<?echo $this->basePath?>/images/icon_bar.gif" width="25%" height="4%"></a>
		</div>
		<div class="blank"></div>
		<fieldset class="fields">

<?

$html = $html.'	<table width="100%" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr>';
$html = $html.'			<th rowspan="2" align="center">No.</th>';
$html = $html.'			<th rowspan="2" align="center">UNIT KERJA    JENIS SURAT</th>';
$html = $html.'			<th colspan="4" align="center">'.$format_date->getNamaBulan($bulan).'</th>';
$html = $html.'			<th colspan="4" align="center">TOTAL s/d '.$format_date->getNamaBulan($bulan).'</th>';
$html = $html.'		</tr>';
$html = $html.'		<tr>';
$html = $html.'			<th>POS</th>';
$html = $html.'			<th>LS</th>';
$html = $html.'			<th colspan="2">JMH  BIAYA KIRIM</th>';
$html = $html.'			<th>POS</th>';
$html = $html.'			<th>LS</th>';
$html = $html.'			<th>JMH</th>';
$html = $html.'			<th>BIAYA KIRIM</th>';
$html = $html.'		</tr>';

$unitKerja = $laporan_serv->listUnitkerja2();
for ($a=0; $a<count($unitKerja); $a++) {
$noUrut = $a+1;
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="bold">'.$noUrut.'</td>';
$html = $html.'			<td class="bold">'.$unitKerja[$a]['nama'].'</td>';

	$masukan = array("kdOrgDari" => $unitKerja[$a]['kd_struktur_org'],
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jmlPengirimanPos1 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanPos1.'</td>';
	$jmlPengirimanLangsung1 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanLangsung1.'</td>';
	$jmlPengiriman1 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengiriman1.'</td>';
	$biayaKirim1 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$format_number->convertDecToCur($biayaKirim1).'</td>';
	
	$jmlPengirimanPos2 = $laporan_serv->rekapPengirimanSuratKeluarPosSampaiBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanPos2.'</td>';
	$jmlPengirimanLangsung2 = $laporan_serv->rekapPengirimanSuratKeluarLangsungSampaiBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanLangsung2.'</td>';
	$jmlPengiriman2 = $laporan_serv->rekapPengirimanSuratKeluarSampaiBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengiriman2.'</td>';
	$biayaKirim2 = $laporan_serv->rekapBiayaPengirimanSuratKeluarSampaiBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$format_number->convertDecToCur($biayaKirim2).'</td>';
	unset($masukan);
//$html = $html.'			<td>'.$unitKerja[$a]['nama'].'</td>';
$html = $html.'		</tr>';
$namaBiro = $laporan_serv->listLevelBiro($unitKerja[$a]['kd_struktur_org']);
for ($b=0; $b<count($namaBiro); $b++) {
$html = $html.'		<tr class="event">';
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'			<td>'.$namaBiro[$b]['nama'].'</td>';

	$masukan = array("kdOrgDari" => $namaBiro[$b]['kd_struktur_org'],
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jmlPengirimanPos3 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanPos3.'</td>';
	$jmlPengirimanLangsung3 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanLangsung.'</td>';
	$jmlPengiriman3 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengiriman3.'</td>';
	$biayaKirim3 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$format_number->convertDecToCur($biayaKirim3).'</td>';
	
	$jmlPengirimanPos4 = $laporan_serv->rekapPengirimanSuratKeluarPosPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanPos4.'</td>';
	$jmlPengirimanLangsung4 = $laporan_serv->rekapPengirimanSuratKeluarLangsungPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengirimanLangsung4.'</td>';
	$jmlPengiriman4 = $laporan_serv->rekapPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$jmlPengiriman4.'</td>';
	$biayaKirim4 = $laporan_serv->rekapBiayaPengirimanSuratKeluarPerBulan($masukan);
	$html = $html.'			<td>&nbsp;'.$format_number->convertDecToCur($biayaKirim4).'</td>';
	unset($masukan);
}

}
echo $html;
?>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
