<?
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
?>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="<? echo $this->basePath;?>/css/tools.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/spec.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/style.css" rel="stylesheet" type="text/css" />
<link href="<? echo $this->basePath;?>/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="<? echo $this->basePath;?>/css/default.css" type="text/css" title="Nice Blue style" />
<link rel="icon" href="<? echo $this->basePath;?>/images/ico_garuda.gif" type="image/png">

<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery.form.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/tabcontent.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ui.core.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ui.datepicker.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/common.js"></script>
<SCRIPT type="text/javascript" src="<? echo $this->basePath;?>/js/table.sorter.js"></SCRIPT>
<SCRIPT type="text/javascript" src="<? echo $this->basePath;?>/js/ajax-navigation.js"></SCRIPT>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/fsmenu.js"></script>
<script src="<? echo $this->basePath;?>/js/oa_fn.js" type="text/javascript"></script>

 
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ext-base.js"></script>
<script type="text/javascript" src="<? echo $this->basePath;?>/js/ext-all.js"></script>
<link rel="icon" href="<? echo $this->basePath;?>/images/icon.gif" type="image/png">
<?

$laporan_serv = new Aplikasi_Laporan_Service();
$bulan = $_REQUEST['bulan'];
$tahun = $_REQUEST['tahun'];

$html = $html.'<html><body><div class="panel">';
$html = $html.'<h3>REKAP PENOMORAN SURAT BULAN '.$format_date->getNamaBulan($bulan).' '.$tahun.'</h3>';
$html = $html.'';
$html = $html.'	<table width="100%" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr>';
$html = $html.'			<th rowspan="3" align="center">No.</th>';
$html = $html.'			<th rowspan="3" align="center">JENIS AJUAN</th>';
$html = $html.'			<th colspan="14" align="center">'.$format_date->getNamaBulan($bulan).'</th>';
$html = $html.'			<th rowspan="3" align="center">KETERANGAN</th>';
$html = $html.'		</tr>';

$html = $html.'		<tr>';
$html = $html.'			<th align="center" colspan="4">SISA YG LALU DI</th>';
$html = $html.'			<th align="center" colspan="2">BULAN INI</th>';
$html = $html.'			<th align="center" colspan="3">MASIH PROSES DI</th>';
$html = $html.'			<th align="center" colspan="2">PENYELESAIAN</th>';
$html = $html.'			<th align="center"  colspan="3">TOTAL PROSES<BR>DI</th>';
$html = $html.'		</tr>';

$html = $html.'		<tr>';
$html = $html.'			<th width="3%">P</th>';
$html = $html.'			<th width="3%">SES</th>';
$html = $html.'			<th width="3%">L</th>';
$html = $html.'			<th width="3%">S</th>';
$html = $html.'			<th width="3%">M</th>';
$html = $html.'			<th width="3%">S</th>';
$html = $html.'			<th width="3%">P</th>';
$html = $html.'			<th width="3%">SS</th>';
$html = $html.'			<th width="3%">L</th>';
$html = $html.'			<th width="3%">BLN<BR>INI</th>';
$html = $html.'			<th width="3%">TOTAL</th>';
$html = $html.'			<th width="3%">P</th>';
$html = $html.'			<th width="3%">SES</th>';
$html = $html.'			<th width="3%">L</th>';
$html = $html.'		</tr>';

$kdJenisAjuanArr = array('5', '4', '3', '7', '13', '16', '6', '8', '15', '1', '2', '00');

//Tampilkan Data Penomoran dari Presiden
//===================================

for($a=0; $a<count($kdJenisAjuanArr); $a++){
	$hasil = $laporan_serv->listJenisAjuan($kdJenisAjuanArr[$a]);
	
	$noUrut = ($a*1)+1;
	$html = $html.'		<tr class="event">';
	$html = $html.'			<td class="clcenter">'.$noUrut.'</td>';
	
	if ($kdJenisAjuanArr[$a] == '00'){
		$html = $html.'			<td class="clleft">Lain lain</td>';
	} else {
		$html = $html.'			<td class="clleft">'.$hasil['n_srtajuan'].'</td>';
	}
	$html = $html.'		</tr>';
}

/* //Tampilkan Data Penomoran dari Presiden
//===================================
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">1</td>';
$html = $html.'			<td>PRESIDEN</td>';

$sifatPenomoranSuratArr = array('KEP', 'SPT', 'R', 'B', 'SL', 'JML');

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

$html = $html.'			<td>&nbsp;	</td>';
$html = $html.'		</tr>';

//Tampilkan Data Penomoran dari Seskab dan Waseskab
//==============================================
 $OrgArr = array('1','2');

for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" class="bold">'.$noUrut.'</td>';
$html = $html.'			<td class="bold">'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon I
//===================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">4</td>';
$html = $html.'			<td class="bold">ESELON I</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td class="bold">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON I');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">&nbsp;</td>';
$html = $html.'			<td>'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon II
//====================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">4</td>';
$html = $html.'			<td class="bold">ESELON II</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td class="bold">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON II');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">&nbsp;</td>';
$html = $html.'			<td>'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

// JUMLAH
//========
$html = $html.'		<tr class="event">';
$html = $html.'			<td colspan="2" class="bold" align="right">J U M L A H &nbsp;&nbsp;</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'		</tr>';
$html = $html.'		<tr height="25" class="event">';
$html = $html.'		<td colspan="19">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr height="25" class="event">';
$html = $html.'		<td colspan="19">&nbsp; SK	: Surat Keputusan<br>&nbsp; SPRIN	: Surat Perintah<br>&nbsp; 
						SR	: Surat Rahasia<br>&nbsp; SB	: Surat Biasa<br>&nbsp; SL	: Surat Lainnya</td>';
$html = $html.'		</tr>'; */

$html = $html.'	</table>';
$html = $html.'<div class="spacer"></div></div></body></html>';
 
echo $html; 
?>