<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once('fpdf/Pdf_Service.php');
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();


$ctrlFrm = new Zend_View();
$pesan = new share_message();
$format_date = new format_date();
$format_page = new format_page();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
?>
<!--div class="navlink">
	<a  href="#">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Agenda Surat Masuk</a>
</div-->
<?
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basePath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Surat Masuk</div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Rekap Penomoran Surat</h2>
		<div class="search-panel">
			<form method="post" name="frmcariagendamasuk" id="frmcariagendamasuk">
				<center>
				<table>
					<tr>
						<td>Bulan - Tahun :</td>
						<td>
							<?
							$BulanList = array('1' =>'Januari', 'Pebruari', 'Maret', 'April',  'Mei', 'Juni',  'Juli', 'Agustus', 'September', 'Oktober', 'Nopember', 'Desember');
							$bulanLaporan = $this->bulan;
							if (!$bulanLaporan){$bulanLaporan = date('m');}
							
							echo $ctrlFrm->formSelect('bulanLaporan', $bulanLaporan, null, $BulanList);						
							?>
							&nbsp;-&nbsp;
							<?
							for($thn=date(Y)-5; $thn<=date(Y); $thn++){
							  $tahunList[$thn] = $thn; 
							}
							$tahunLaporan = $this->tahun;
							if (!$tahunLaporan){$tahunLaporan = date('Y');}
							
							
							echo $ctrlFrm->formSelect('tahunLaporan', $tahunLaporan, null, $tahunList);
							?>
							&nbsp;
							<input type="button" name="Tampilkan" value="Tampilkan" onclick="tampilkanRekapPenomoranSurat();">
						</td>
					</tr>
				</table>	
				</center>
			</form>
		</div>
		<div class="space-line"></div>
		<span class="corners-bottom"><span></span></span>
	
	    <div class="space-line"></div>
		<div class="right">
			<a href="#" onClick="viewPDFRekapPenomoranSurat();"><img src="<?echo $this->basePath?>/images/pdf.gif"></a>&nbsp;
			<a href="#" onClick="viewChartRekapPenomoranSurat();"><img src="<?echo $this->basePath?>/images/icon_bar.gif" width="25%" height="4%"></a>
		</div>
		<div class="blank"></div>
		<fieldset class="fields">
		<?
			$laporan_serv = new Aplikasi_Laporan_Service();
$bulan = $_REQUEST['bulan'];
if(!$bulan){ $bulan =date('m');}
$tahun = $_REQUEST['tahun'];
if(!$tahun){ $tahun =date('Y');}

//$html = $html.'<div class="panel">';
//$html = $html.'<h3 class="title">REKAP PENOMORAN SURAT BULAN  '.strtoupper($format_date->getNamaBulan($bulan)).' '.$tahun.'</h>';
$html = $html.'';
$html = $html.'	<table width="100%" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr bgcolor="grey">';
$html = $html.'			<th rowspan="2" align="center">No.</th>';
$html = $html.'			<th rowspan="2" align="center">UNIT KERJA    JENIS SURAT</th>';
$html = $html.'			<th colspan="6" align="center">'.strtoupper($format_date->getNamaBulan($bulan)).'</th>';
$html = $html.'			<th colspan="6" align="center">JUMLAH TOTAL s/d '.$format_date->getNamaBulan($bulan).'</th>';
$html = $html.'			<th rowspan="2" align="center">KETERANGAN</td>';
$html = $html.'		</tr>';

$html = $html.'		<tr bgcolor="grey">';
$html = $html.'			<th width="3%"><b>SK</th>';
$html = $html.'			<th width="3%"><b>SPRIN</th>';
$html = $html.'			<th width="3%"><b>SR</th>';
$html = $html.'			<th width="3%"><b>SB</th>';
$html = $html.'			<th width="3%"><b>SL</th>';
$html = $html.'			<th width="3%"><b>JML</th>';
$html = $html.'			<th width="3%"><b>SK</th>';
$html = $html.'			<th width="3%"><b>SPRIN</th>';
$html = $html.'			<th width="3%"><b>SR</th>';
$html = $html.'			<th width="3%"><b>SB</th>';
$html = $html.'			<th width="3%"><b>SL</th>';
$html = $html.'			<th width="3%"><b>JML</th>';
$html = $html.'		</tr>';

//Tampilkan Data Penomoran dari Presiden
//===================================
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">1</td>';
$html = $html.'			<td>PRESIDEN</td>';

$sifatPenomoranSuratArr = array('KEP', 'SPT', 'R', 'B', 'SL', 'JML');

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

$html = $html.'			<td>&nbsp;	</td>';
$html = $html.'		</tr>';

//Tampilkan Data Penomoran dari Seskab dan Waseskab
//==============================================
 $OrgArr = array('1','2');

for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" class="bold">'.$noUrut.'</td>';
$html = $html.'			<td class="bold">'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon I
//===================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">4</td>';
$html = $html.'			<td class="bold">ESELON I</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td class="bold">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON I');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">&nbsp;</td>';
$html = $html.'			<td>'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon II
//====================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">5</td>';
$html = $html.'			<td class="bold">ESELON II</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td class="bold">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON II');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter">&nbsp;</td>';
$html = $html.'			<td>'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td>';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';

}

// JUMLAH
//========
$html = $html.'		<tr class="event">';
$html = $html.'			<td colspan="2" class="bold" align="right">J U M L A H &nbsp;&nbsp;</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td class="bold">';
	$html = $html.$jumlah1.'</td>';
	
	unset($masukan);
}
$html = $html.'			<td>&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr height="25" class="event">';
$html = $html.'		<td colspan="19">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr height="25" class="event">';
$html = $html.'		<td colspan="19">&nbsp; SK	: Surat Keputusan<br>&nbsp; SPRIN	: Surat Perintah<br>&nbsp; 
						SR	: Surat Rahasia<br>&nbsp; SB	: Surat Biasa<br>&nbsp; SL	: Surat Lainnya</td>';
$html = $html.'		</tr>';

$html = $html.'	</table>';
$html = $html.'<div class="spacer"></div>';
 
echo $html; 
?>
		</fieldset>
	</div>
</div>
