<?
require_once 'share/format_date.php';
require_once "service/aplikasi/Aplikasi_Laporan_Service.php";

$format_date = new format_date();
$laporan_serv = new Aplikasi_Laporan_Service();
$bulan = $_REQUEST['bulan'];
if(!$bulan){ $bulan =date('m');}
$tahun = $_REQUEST['tahun'];
if(!$tahun){ $tahun =date('Y');}

$html1 ='<table border="0" align="left" >';
$html1 = $html1.'		<tr>';
$html1 = $html1.'			<td height=10 style="bold">REKAP PENOMORAN SURAT BULAN  '.strtoupper($format_date->getNamaBulan($bulan)).' '.$tahun.'</td>';
$html1 = $html1.'		</tr>';
$html1 = $html1.'</table>';
//$html = $html.'<h3 class="title">REKAP PENOMORAN SURAT BULAN  '.strtoupper($format_date->getNamaBulan($bulan)).' '.$tahun.'</h>';
$html = $html.'';
$html = $html.'	<table width="190" class="tbl2" align="center" border="0" cellspacing="1" cellpadding="2">';
$html = $html.'		<tr>';
$html = $html.'			<td rowspan="2" align="center" width="7" border="1" valign="middle">No.</td>';
$html = $html.'			<td rowspan="2" align="center" width="65" border="1" valign="middle">UNIT KERJA    JENIS SURAT</td>';
$html = $html.'			<td colspan="6" align="center" border="1" valign="middle">'.strtoupper($format_date->getNamaBulan($bulan)).'</td>';
$html = $html.'			<td colspan="6" align="center" border="1" valign="middle">JUMLAH TOTAL s/d '.$format_date->getNamaBulan($bulan).'</td>';
$html = $html.'			<td rowspan="2" align="center" width="15" border="1" valign="middle">KET</td>';
$html = $html.'		</tr>';

$html = $html.'		<tr>';
$html = $html.'			<td width="6" border=1" valign="middle">SK</td>';
$html = $html.'			<td width="11" border="1" valign="middle">SPRIN</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SR</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SB</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SL</td>';
$html = $html.'			<td width="8" border="1" valign="middle">JML</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SK</td>';
$html = $html.'			<td width="11" border="1" valign="middle">SPRIN</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SR</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SB</td>';
$html = $html.'			<td width="6" border="1" valign="middle">SL</td>';
$html = $html.'			<td width="8" border="1" valign="middle">JML</td>';
$html = $html.'		</tr>';

//Tampilkan Data Penomoran dari Presiden
//===================================
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" border="1" height="7" valign="middle">1</td>';
$html = $html.'			<td border="1"  valign="middle">PRESIDEN</td>';

$sifatPenomoranSuratArr = array('KEP', 'SPT', 'R', 'B', 'SL', 'JML');

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td border="1" align="right"  valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "0",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td border="1" align="right" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

$html = $html.'			<td border="1" valign="middle">&nbsp;	</td>';
$html = $html.'		</tr>';

//Tampilkan Data Penomoran dari Seskab dan Waseskab
//==============================================
 $OrgArr = array('1','2');

for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" style="bold" border="1" height="7" valign="middle">'.$noUrut.'</td>';
$html = $html.'			<td style="bold" border="1" height="7" valign="middle">'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td style="bold"  border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon I
//===================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" border="1" height="7" valign="middle">4</td>';
$html = $html.'			<td class="bold" border="1" height="7" valign="middle">ESELON I</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON I",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td style="bold" border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON I');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter"  border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'			<td border="1" height="7" valign="middle">'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'		</tr>';

}

//Tampilkan Data Penomoran dari Eselon II
//====================================
$html = $html.'';
$html = $html.'		<tr class="event">';
$html = $html.'			<td class="clcenter" border="1" height="7" valign="middle">5</td>';
$html = $html.'			<td class="bold" border="1" height="7" valign="middle">ESELON II</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "ESELON II",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td style="bold" border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'		</tr>';


$OrgArr = $laporan_serv->listUnitkerja('ESELON II');
for($x=0; $x<count($OrgArr); $x++)
{
	$kdOrg = $OrgArr[$x]['kd_struktur_org'];
	if ($kdOrg == '3') {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat('3').' / '.$laporan_serv->getNamaUnitKerjaSingkat('6');
	} else if ($kdOrg == '00') {
		$nmUnitKerja = "Lain lain";
	}else {
		$nmUnitKerja = $laporan_serv->getNamaUnitKerjaSingkat($kdOrg);
	}
	
	$noUrut = ($x*1)+2;
	
$html = $html.'		<tr class="event" height="7" valign="middle">';
$html = $html.'			<td class="clcenter" border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'			<td border="1" height="7" valign="middle">'.$nmUnitKerja.'</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "$kdOrg",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}
$html = $html.'			<td border="1" height="7" valign="middle">&nbsp;</td>';
$html = $html.'		</tr>';

}

// JUMLAH
//========
$html = $html.'		<tr class="event">';
$html = $html.'			<td colspan="2" class="bold" align="right" border="1" height="7" valign="middle">J U M L A H &nbsp;&nbsp;</td>';
for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratPerBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	unset($masukan);
}

for ($a=0; $a<count($sifatPenomoranSuratArr); $a++) {
	$sifatPenomoran = $sifatPenomoranSuratArr[$a];
	
	$masukan = array("kdOrgDari" => "JUMLAH",
					"sifatPenomoranSurat" => $sifatPenomoran,
					"bulan" => $bulan,
					"tahun" => $tahun);
	$jumlah1 = $laporan_serv->rekapPenomoranSuratSampaiBulan($masukan);
	$html = $html.'			<td style="bold" border="1" align="right" height="7" valign="middle">';
	$html = $html.$jumlah1.'</td>';
	
	unset($masukan);
}
$html = $html.'			<td border="1">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'		<tr height="15" class="event">';
$html = $html.'		<td colspan="19" height="5" border="0">&nbsp;</td>';
$html = $html.'		</tr>';
$html = $html.'	</table>';

$html2 = $html2.'	<table width="100" border="0">';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="3">&nbsp;</td>';
$html2 = $html2.'			<td width="12">&nbsp; SK</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Surat Keputusan</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="3">&nbsp;</td>';
$html2 = $html2.'			<td width="12">&nbsp; SPRIN</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Surat Perintah</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="3">&nbsp;</td>';
$html2 = $html2.'			<td width="12">&nbsp; SR</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Surat Rahasia</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="3">&nbsp;</td>';
$html2 = $html2.'			<td width="12">&nbsp; SB</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Surat Biasa</td>';
$html2 = $html2.'		</tr>';
$html2 = $html2.'		<tr>';
$html2 = $html2.'			<td width="3">&nbsp;</td>';
$html2 = $html2.'			<td width="12">&nbsp; SL</td>';
$html2 = $html2.'			<td width="5">&nbsp;:&nbsp;</td>';
$html2 = $html2.'			<td width="80">&nbsp;Surat Lainnya</td>';
$html2 = $html2.'		</tr>';

$html2 = $html2.'	</table>';
// echo $html;
define('FPDF_FONTPATH','pdftable/font/');
require('pdftable/lib/pdftable.inc.php');

$p = new PDFTable('P', 'mm', 'A4');
$p->AddPage();
$p->SetLeftMargin(5);
$p->SetRightMargin(5);
$p->setfont('Arial','',10);
$p->htmltable($html1);
$p->setfont('Arial','',9);
$p->htmltable($html);
$p->SetLeftMargin(5);
$p->SetRightMargin(5);

$p->setfont('Arial','',7);
$p->htmltable($html2);
$p->output('','I');  
?>