<?
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >
I. Kondisi Sistem Informasi Pengadilan Tingkat Pertama/Banding
</p>
<p style="line-height:1.5">
A. Sumber Daya Manusia (Human)
</font>
</p>

	<table width="100%" border="0" cellpadding="5" cellspacing="0" >		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;1.&nbsp;<font></td>
			<td width="98%" colspan="5" ><font color="#000000" face="arial" size="3" >SDM Pengadilan :<font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;(1)&nbsp;<font></td>
			<td width="15%"><font color="#000000" face="arial" size="3" >&nbsp;Jumlah Hakim<font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;=&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;'.$this->dataSDM['i_jumlahhakim'].'&nbsp;orang,<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;(2)&nbsp;<font></td>						
			<td><font color="#000000" face="arial" size="3" >&nbsp;Jumlah PP<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;=&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;'.$this->dataSDM['i_jumlahpp'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;(3)&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;Jumlah PNS<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;=&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;'.$this->dataSDM['i_jumlahpns'].'&nbsp;orang,<font></td>
		</tr>
		<tr>	
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;(4)&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;Jumlah Honorer<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;=&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;'.$this->dataSDM['i_jumlahhonorer'].'&nbsp;orang<font></td>
		</tr>
</table>		
<table width="100%" border="0" cellpadding="5" cellspacing="0" >			
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;2.&nbsp;<font></td>
			<td colspan="3"><font color="#000000" face="arial" size="3" >Pengelola TIK yang memiliki sertifikat Teknologi Informasi Khusus<font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;(1)&nbsp;<font></td>
			<td width="25%"><font color="#000000" face="arial" size="3" >&nbsp;Perangkat Lunak (Software)<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;:&nbsp;'.$this->dataSDM['i_stafit_sertifikasi_software'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;(2)&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;Perangkat Keras (Hardware)<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;:&nbsp;'.$this->dataSDM['i_stafit_sertifikasi_hardware'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;(3)&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;Jaringan (Network)<font></td>
			<td><font color="#000000" face="arial" size="3" >&nbsp;:&nbsp;'.$this->dataSDM['i_stafit_sertifikasi_network'].'&nbsp;orang<font></td>
		</tr>
</table>		
<table width="100%" border="0" cellpadding="5" cellspacing="0" >			
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;3.&nbsp;<font></td>
			<td width="98%"><font color="#000000" face="arial" size="3" >Jika pengadilan sudah memiliki aplikasi SIAP Pengadilan, jawab pertanyaan berikut:<font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang menggunakan aplikasi SIAP pengadilan ? '.$this->dataSDM['i_user_siap'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;4.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Jika pengadilan sudah memiliki aplikasi SDM Pengadilan, jawab pertanyaan berikut:<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang menggunakan aplikasi SDM pengadilan ? '.$this->dataSDM['i_user_sdm'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;5.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Jika pengadilan sudah memiliki aplikasi Keuangan (SAI), jawab pertanyaan berikut:<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang menggunakan aplikasi Keuangan (SAI) ? '.$this->dataSDM['i_user_sai'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;6.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Jika pengadilan sudah memiliki aplikasi Perencanaan (RKAKL), jawab pertanyaan berikut:<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang menggunakan aplikasi Perencanaan (RKAKL) ? '.$this->dataSDM['i_user_rkakl'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;7.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Jika pengadilan sudah memiliki aplikasi Aset (SABMN), jawab pertanyaan berikut:<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td colspan="8"><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang menggunakan aplikasi Aset (SABMN) ? '.$this->dataSDM['i_user_sabmn'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;8.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3">Jika pengadilan sudah memiliki awesite/situs pengadilan.<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa jumlah staf yang mengelola website pengadilan ? '.$this->dataSDM['i_user_website'].'&nbsp;orang<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;9.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa persen keadaan Hakim yang mampu mengoperasikan PC/Laptop ? '.$this->dataSDM['i_hakim_pc'].'&nbsp;%<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;10.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa persen keadaan PP yang mampu mengoperasikan PC/Laptop ? '.$this->dataSDM['i_pp_pc'].'&nbsp;%<font></td>
		</tr>
		<tr>
			<td><font color="#000000" face="arial" size="3" >&nbsp;11.&nbsp;<font></td>
			<td><font color="#000000" face="arial" size="3" >Berapa persen keadaan PNS yang mampu mengoperasikan PC/Laptop ? '.$this->dataSDM['i_pns_pc'].'&nbsp;%<font></td>
		</tr>		
	</table>';         
