<?
$html=$html.'
	<table width="100%" border="0" cellpadding="5" cellspacing="3" >		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >27.</font></td>
			<td colspan="4"><font color="#000000" face="arial" size="3" >Perangkat Server :</font></td>
		</tr>
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td colspan="5">		
				<table  align="left" border="1" cellspacing="1" cellpadding="2" width="90%">
					<tr>
						<th width="2%"><font color="#000000" face="arial" size="3" >No</font></th>
						<th width="20%"><font color="#000000" face="arial" size="3" >Fungsi Sever</font></th>
						<th width="35%"><font color="#000000" face="arial" size="3" >Nama Aplikasi</font></th>
						<th width="10%"><font color="#000000" face="arial" size="3" >Jumlah</font></th>
						<th width="25%"><font color="#000000" face="arial" size="3" >Spesifikasi</font></th>
					</tr>';
if (count($this->datahardware) != 0){
	$jmlapl=1;
	$cnttbl=0;		
	foreach ($this->datahardware as $key => $val): 
				$c_fungsi_sever=$this->escape($val['c_fungsi_sever']);	
				$n_aplikasi_server=$this->escape($val['n_aplikasi_server']);	
				$n_spesifikasi=$this->escape($val['n_spesifikasi']);
				$i_jml_server=$this->escape($val['i_jml_server']);
	$cnttbl++;
$html=$html.'
		<tr>
			<td width="5%" valign="top"><font color="#000000" face="arial" size="3" >'.$jmlapl.'</td>
			<td width="20%" valign="top"><font color="#000000" face="arial" size="3" >';
switch ($c_fungsi_sever)
				{	case '1': $c_fungsi_sever="Server Database";  break;
					case '2': $c_fungsi_sever="Server Aplikasi";  break;
					case '3': $c_fungsi_sever="Server Web";  break;
					case '4': $c_fungsi_sever="Lain-lain";  break;}

$html=$html.''.$c_fungsi_sever.'						
			</td>
			<td width="23%" valign="top"><font color="#000000" face="arial" size="3" >				
				'.$n_aplikasi_server.'	
			</td>
			<td width="8%" valign="top"><font color="#000000" face="arial" size="3" >
				'.$i_jml_server.'
			</td>
			<td width="36%"><font color="#000000" face="arial" size="3" >
				'.$n_spesifikasi.'
			</td>			
		</tr>';
		
	$jmlapl++;				
	endforeach;
}
else
{
$html=$html.'
		<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>';
}

$html=$html.'</table></td></tr></table>';