<?

	$file_type = "vnd.ms-doc";
	$file_ending = "doc";
	header("Content-Type: application/$file_type");
	header("Content-Disposition: attachment; filename=Kuesioner.$file_ending");
	header("Pragma: no-cache");
	header("Expires: 0");  

$html='
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
</style></head>
<body>
';
include('kuesioner.phtml');
include('sdm.phtml');
$html=$html.'
<p style="line-height:1.5">
<font color="#000000" face="arial" size="4" >B. Software (Perangkat Lunak)</font>
</p>
 <table width="100%" border="0" cellpadding="5" cellspacing="3" >		
		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >12.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Sistem operasi komputer yang digunakan :</font></td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Windows XP, sebanyak : '.$this->i_xp.' PC</font></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>			
			<td><font color="#000000" face="arial" size="3" >Windows Vista, sebanyak : '.$this->i_vista.' PC</font></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >(3)&nbsp;</td>			
			<td><font color="#000000" face="arial" size="3" >Windows 7, sebanyak : '.$this->i_seven.' PC</font></td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >(4)&nbsp;</font></td>			
			<td><font color="#000000" face="arial" size="3" >Linux, sebanyak : '.$this->i_linux.' PC</font></td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td><font color="#000000" face="arial" size="3" >(5)&nbsp;</font></td>			
			<td><font color="#000000" face="arial" size="3" >Dos, sebanyak : '.$this->i_dos.' PC</font></td>
		</tr>
		<tr>
				<td>&nbsp;</td>
				<td><font color="#000000" face="arial" size="3" >(6)&nbsp;</font></td>			
				<td><font color="#000000" face="arial" size="3" >Lainnya, sebanyak : '.$this->i_ext.' PC</font></td>
		</tr>
</table>';


	include('aplikasiumum.phtml');	
	include('admperkara.phtml');
	include('admkeuangan.phtml');
	include('admkepegawaian.phtml');
	include('admaset.phtml');
	include('admrencanaanggaran.phtml');
	include('kendala.phtml');
	include('webpengadilan.phtml'); 
	include('hardware.phtml');
	include('memori.phtml');
	include('server.phtml');
	include('jaringan.phtml');
	include('prosedure.phtml');
	include('anggaranpengembangan.phtml');
	include('kegiatan.phtml');
	include('deskinfo.phtml');

$html=$html.'<br><table width="100%" border="0" cellpadding="5" cellspacing="3" >
				<tr>
					<td width="70%">
					&nbsp;
					</td>
					<td width="30%" align="center">
					<font color="#000000" face="arial" size="3" >'.date('d-m-Y').'</center>
					</td>					
				</tr>

				<tr>
					<td>
					&nbsp;
					</td>
					<td align="center">
					<font color="#000000" face="arial" size="3" >Ketua Pengadilan,</center>
					</td>					
				</tr>
				<tr>
					<td>
					&nbsp;
					</td>
					<td align="center" height="100">
					
					</td>					
				</tr>	
				<tr>
					<td>
					&nbsp;
					</td>
					<td align="center" height="15">
					<u>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</u>
					</td>					
				</tr>					
				</table>';	
					
 //$html=$html.'</td></tr></table>';
echo $html;	
