jQuery(document).ready(function() {$("#frmcatatsotware").ajaxForm(option_software);});

	var option_software = {
			target : '#tableview',
			beforeSubmit: function(){},
			success:insertsukses(),
			url: '<?php echo $this->basePath; ?>/aplikasi/software/maintaindatasoftware',
			type: 'post',
			resetForm: false
	};
	
function insertsukses() {
	location.href="#top";
	doCounter(5);
}	 


function doCounter(countdown) {
	// document.getElementById("confirm").style.display="block";
	// if (countdown > 0) {
        // countdown=countdown-1;
		// window.status=countdown + " seconds left to view this page.";
		// setTimeout('doCounter()',5000); 
    // }
    // else {
        // document.getElementById("confirm").style.display="none";
    // } 
}
function tambahBaris(par1,par2){
	var html="";
	//var countpar=par1*1+1;
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="41%">';
	html = html + '<input type="text" id="'+par2+'_'+countpar+'" name="'+par2+'_'+countpar+'" value="" size = "49">';
	html = html + '</td>';
	html = html + '<td width="14%">';
	html = html + '<select id="platform'+par2+'_'+countpar+'" name="platform'+par2+'_'+countpar+'"><option label="--Pilih--" value="">--Pilih--</option><option label="dot net" value="1">dot net</option><option label="php" value="2">php</option><option label="asp" value="3">asp</option><option label="vb" value="4">vb</option><option label="java" value="5">java</option><option label="Lain-lain" value="6">Lain-lain</option></select>';
	html = html + '</td>';
	html = html + '<td width="15%">';
	html = html + '<select id="datbs'+par2+'_'+countpar+'" name="datbs'+par2+'_'+countpar+'"><option label="--Pilih--" value="">--Pilih--</option><option label="acces" value="1">acces</option><option label="mysql" value="2">mysql</option><option label="sqlserver" value="3">sqlserver</option><option label="db2" value="4">db2</option><option label="oracle" value="5">oracle</option><option label="Lain-lain" value="6">Lain-lain</option></select>';
	html = html + '</td>';	
	html = html + '<td width="17%">';
	html = html + '<select id="jnsapl'+par2+'_'+countpar+'" name="jnsapl'+par2+'_'+countpar+'"><option label="--Pilih--" value="">--Pilih--</option><option label="web" value="1">web</option><option label="client server" value="2">client server</option><option label="standalone" value="3">standalone</option></select>';
	html = html + '</td>';		
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttable'+par2+'').value=counttbl*1+1;	
	$("#frmcatatsotware").ajaxForm(option_software);

}

}

function hapusBarisInduk(induk,r,par2) {
	
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbladm"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1; 

//	document.getElementById(""+par2+"_"+induk+"").value="";
//	document.getElementById("tbladm"+par2+"_"+induk+"").style.display="none";
}

function tambahBarisKendala(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="40%">';
	html = html + '<input type="text" id="aplkendala_'+countpar+'" name="aplkendala_'+countpar+'" value="" size = "48">';
	html = html + '</td>';
	html = html + '<td width="47%">';
	html = html + '<input type="text" id="kendala_'+countpar+'" name="kendala_'+countpar+'" value="" size = "57">';
	html = html + '</td>';	
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisKendala('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisKendala("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttable'+par2+'').value=counttbl*1+1;	
	$("#frmcatatsotware").ajaxForm(option_software);
}

}

function hapusBarisKendala(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbladm"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}