<?
$html=$html.'
<tr>
<td>
 	<table width="100%" border="0" cellpadding="5" cellspacing="1" >		

		<tr>
			<td width="2%"><font color="#000000" face="arial" size="3" >16.</font></td>
			<td width="95%" colspan="2"><font color="#000000" face="arial" size="3" >Website Pengadilan :</font></td>
		</tr>

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(1)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >
			Apakah pengadilan ini sudah memiliki situs atau website?';
			if ($this->c_website=='1') {$jawab1=" Sudah";} if ($this->c_website=='2') {$jawab1=" Belum";}		
$html=$html.''.$jawab1.'
			</font></td>
		</tr>
		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(2)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >
			Sebutkan nama website Pengadilan '.$this->n_website .'
			</font></td>
		</tr>
		

	
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(3)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >
			Pengembangan website Pengadilan :
			</font></td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="90%">
			<font color="#000000" face="arial" size="3" >
			a. Platform yang digunakan : ';
			switch ($this->c_sw_platform)
				{	case '1': $c_sw_platform="Dotnet";  break;
					case '2': $c_sw_platform="";  break;
					case '3': $c_sw_platform="ASP";  break;
					case '4': $c_sw_platform="Visual Basic";  break;
					case '5': $c_sw_platform="Java";  break;					
					case '6': $c_sw_platform="Lain-lain";  break;}
			$html=$html.''.$c_sw_platform.'	</font>	
			</font>
			</td>
		</tr>		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >&nbsp;</font></td>
			<td width="90%">
			<font color="#000000" face="arial" size="3" >
			b. Database : ';
			switch ($this->c_sw_database)
				{	case '1': $c_sw_database="Acces";  break;
					case '2': $c_sw_database="MySql";  break;
					case '3': $c_sw_database="SqlServer";  break;
					case '4': $c_sw_database="Db2";  break;
					case '5': $c_sw_database="Oracle";  break;					
					case '6': $c_sw_database="Lain-lain";  break;}
$html=$html.''.$c_sw_database.'</font>
			</font>
			</td>
		</tr>	

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%" valign="top"><font color="#000000" face="arial" size="3" >(4)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Apakah format sajian informasi pada website sudah disesuaikan dengan
			prinsip-prinsip aturan yang tertuang pada SK KMA No. 144/KMA/KEP/VIII/1707 ? ';
			if ($this->c_sk=='1') {$jawab2=" Sudah";} if ($this->c_sk=='2') {$jawab2=" Belum";}
			$html=$html.''.$jawab2.'
			</font></td>
		</tr>
		
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(5)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Apakah pengelolaan informasi pada website sudah diatur terstruktur berdasarkan keputusan Ketua Pengadilan? ';
			if ($this->c_struktur=='1') {$jawab3=" Sudah";} if ($this->c_struktur=='2') {$jawab3=" Belum";}
			$html=$html.''.$jawab3.'
			</font></td>
		</tr>		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(6)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Apakah pengadilan ini sudah mempunyai alamat email dengan nama domain milik pengadilan sendiri? ';
			if ($this->c_nemail=='1') {$jawab4=" Sudah";} if ($this->c_nemail=='2') {$jawab4=" Belum";}
			$html=$html.''.$jawab3.'
			</font></td>
		</tr>		

		<tr>
			<td width="2%">&nbsp;</td>
			<td width="2%"><font color="#000000" face="arial" size="3" >(7)&nbsp;</font></td>
			<td width="90%"><font color="#000000" face="arial" size="3" >Kalau jawaban pertanyaan nomor (6) sudah, sebutkan nama domain alamat email tersebut? '.$this->n_sw_email.'
			</font></td>
		</tr>
		
	
</table>';

