<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Satuan Lampiran</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Tambah Data Satuan Lampiran</h2>
	    <div class="spacer"></div> 
		
		<? if(strtolower($this->jenisForm) == 'insert') {	$namaForm = 'frmtambahstnLampiran'; }
			else if (strtolower($this->jenisForm) == 'update') {	$namaForm = 'frmubahstnLampiran'; }
			else {	$namaForm = 'frmhapusstnLampiran'; }
		
		?>
		<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<?
				if(strtolower($this->jenisForm) != 'insert') {
				?>
				<tr>
					<td align="right" width="180">* Kode :</td>
					<td>
						<?
						$idAttrib = array("size" => 10,"maxlength" => 10, "readonly" => "true");
						echo $ctrlFrm->formText('id', $this->detailStnLampiran['id'], $idAttrib);
						?>
						
					</td>
				</tr>
				<?}?>
				<tr>
				    <td align="right" width="180">* Satuan Lampiran :</td>
					<td>
						<?
						$nm_satuanlampiranAttrib = array("size" => 50,"maxlength" => 20);
						echo $ctrlFrm->formText('nm_satuanlampiran', $this->detailStnLampiran['nm_satuanlampiran'], $nm_satuanlampiranAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="stnLampiranlist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>
		</form>
	</div>
</div>