<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$format_date = new format_date();

if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Agenda<strong> &#8250; </strong><?echo $title;?></div>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Kirim Agenda</h2>
	    <div class="spacer"></div> 
		<div class="blank"></div>
		<div id="targetview" class="" style="display:none"></div>
		<div class="blank"></div>
		<? if($this->jenisForm == 'insert'){?>
			<form name="frmtambahagenda" id="frmtambahagenda" method="POST">
		<?} else {?>
			<form name="frmubahagenda" id="frmubahagenda" method="POST">
		<?}?>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<!--tr>
				    <td align="right" width="180">* Nomor Agenda :</td>
					<td><?/* 
						$iAgendaAttrib = array("size" => 50,
													"maxlength" => 11);
						echo $ctrlFrm->formText('iAgenda', $this->detailAgenda['i_agenda'], $iAgendaAttrib);	
						echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); */							
						?>
					</td>
				</tr-->
				<?
				echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); 							
				?>
				<tr>
				    <td align="right" width="180">* Dari :</td>
					<td>
						<a name="lineIUserKirim"/>
						<?
						$iUserKirimAttrib = array("size" => 50,
													"maxlength" => 40);
						echo $ctrlFrm->formText('nUserKirim', $this->namaAgendaDari, $iUserKirimAttrib);
						echo $ctrlFrm->formHidden('iUserKirim', $this->nipAgendaDari, null);
						
						
						?>
						&nbsp;<input type="button" value="Cari" onClick="daftarPegawai('Kirim');">
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">* Kepada :</td>
					<td>
						<a name="lineIUserTerima"/>
						<?
						$iUserTerimaAttrib = array("size" => 50,
													"maxlength" => 40);
						echo $ctrlFrm->formText('nUserTerima', $this->detailAgenda['n_user_terima'], $iUserTerimaAttrib);
						echo $ctrlFrm->formHidden('iUserTerima', $this->detailAgenda['i_user_terima'], null);
						
						?>
						&nbsp;<input type="button" value="Cari" onClick="daftarPegawai('Terima');">
						&nbsp;No Telepon : 
						<?
						$iPegTelponhpAttrib = array("size" => 20,
													"maxlength" => 15);
						echo $ctrlFrm->formText('iPegTelponhp', $this->detailAgenda['i_peg_telponhp'], $iPegTelponhpAttrib);
						?>
				</tr>
				<tr>
				    <td align="right" width="180">Judul Pesan:</td>
					<td><textarea rows=3 name="nAgendaPesan"><?echo $this->detailAgenda['n_agenda_pesan']; ?></textarea></td>
				</tr>
				<tr>
				    <td align="right" width="180">* Tanggal:</td>
					<td>
						<?
						/* $tglAgenda = substr($this->detailAgenda['d_agenda'],8,2);
						$blnAgenda = substr($this->detailAgenda['d_agenda'],5,2);
						$thnAgenda = substr($this->detailAgenda['d_agenda'],0,4);
						echo $format_date->formTanggal('tglAgenda',$tglAgenda,'blnAgenda',$blnAgenda,'thnAgenda',$thnAgenda,$tabId=null);
						 */
						$dAgendaAttrib = array("size" => 20,
												"maxlength" => 50);
						$dAgenda = $format_date->convertTglMachineToHuman($this->detailAgenda['d_agenda']);						
						echo $ctrlFrm->formText('dAgenda', $dAgenda, $dAgendaAttrib);
						
						?>
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">Jam Mulai Pelaksanaan :</td>
					<td>
						<?
						$dAgendaJammulaiAttrib = array("size" => 5,
													"maxlength" => 5);
						echo $ctrlFrm->formText('dAgendaJammulai', $this->detailAgenda['d_agenda_jammulai'], $dAgendaJammulaiAttrib);					
						?>
						<i>(hh:mm)</i></td>
				</tr>
				<tr>
				    <td align="right" width="180">Jam Akhir Pelaksanaan :</td>
					<td>
					<?
						$dAgendaJamakhirAttrib = array("size" => 5,
													"maxlength" => 5);
						echo $ctrlFrm->formText('dAgendaJamakhir', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib);					
						?>
						<i>(hh:mm)</i></td>
					</td>
				</tr>
				<tr>
					<td align="right" width="180">Isi Pesan :</td>
					<td>
						<textarea id="wysiwyg" name="eAgendaPesan" id="eAgendaPesan"><?echo $this->detailAgenda['e_agenda_pesan'];?></textarea>
						<script language="javascript1.2">
						  //generate_wysiwyg('wysiwyg');
						</script>	
					</td>
				</tr>
		
				<tr>
					<td></td>
				    <td>
						<div class="right"><input type="button"    value="Batal" onClick="agendalist()"> <input type="reset"   value="Ulangi"> <input   type="submit" value="Simpan"></div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>         

		</form>
		<div class="blank"></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>