<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$format_date = new format_date();

if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>SDM<strong> &#8250; </strong><?echo $title;?></div>
<div id="leftmenu" class="leftmenu">
	<?php
	include_once "submenukiri.php";
	?>
</div>
<div id="contentdata" class="contentdata">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Memasukkan Data SDM</h2>
	    <div class="spacer"></div> 
		<div class="blank"></div>
		<div id="targetview" class="" style="display:none"></div>
		<div class="blank"></div>
		<? if($this->jenisForm == 'insert'){?>
			<form name="frmtambahSurveyp" id="frmtambahSurveyp" method="POST">
		<?} else {?>
			<form name="frmubahsurvey" id="frmubahsurvey" method="POST">
		<?}?>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<!--tr>
				    <td align="right" width="180">* Nomor Agenda :</td>
					<td><?/* 
						$iAgendaAttrib = array("size" => 50,
													"maxlength" => 11);
						echo $ctrlFrm->formText('iAgenda', $this->detailAgenda['i_agenda'], $iAgendaAttrib);	
						echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); */							
						?>
					</td>
				</tr-->
				<?
				echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); 							
				?>
				<tr>
					<td>&nbsp;1.&nbsp;</td>
				    <td colspan="10">SDM Pengadilan :</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;(1)&nbsp;</td>
					<td>&nbsp;Jumlah Hakim</td>
					<td>&nbsp;=&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahhakim"></td>
					<td>&nbsp;orang,</td>
					<td>&nbsp;(2)&nbsp;</td>
					<td>&nbsp;Jumlah PP</td>
					<td>&nbsp;=&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahpp"></td>
					<td>&nbsp;orang</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;(3)&nbsp;</td>
					<td>&nbsp;Jumlah PNS</td>
					<td>&nbsp;=&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahpns"></td>
					<td>&nbsp;orang,</td>
					<td>&nbsp;(4)&nbsp;</td>
					<td>&nbsp;Jumlah Honorer</td>
					<td>&nbsp;=&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahhonorer"></td>
					<td>&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;2.&nbsp;</td>
				    <td colspan="10">Pengelola TIK yang memiliki sertifikat Teknologi Informasi Khusus</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;(1)&nbsp;</td>
					<td colspan="6">&nbsp;Perangkat Lunak (Software)</td>
					<td>&nbsp;:&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahpns"></td>
					<td>&nbsp;orang</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;(2)&nbsp;</td>
					<td colspan="6">&nbsp;Perangkat Keras (Hardware)</td>
					<td>&nbsp;:&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahpns"></td>
					<td>&nbsp;orang</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;(3)&nbsp;</td>
					<td colspan="6">&nbsp;Jaringan (Network)</td>
					<td>&nbsp;:&nbsp;</td>
					<td>&nbsp;<input type="text" size="10" name="i_jumlahpns"></td>
					<td>&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;3.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki aplikasi SIAP Pengadilan, jawab pertanyaan berikut:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan aplikasi SIAP pengadilan ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_siap">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;4.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki aplikasi SDM Pengadilan, jawab pertanyaan berikut:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan aplikasi SDM pengadilan ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_sdm">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;5.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki aplikasi Keuangan (SAI), jawab pertanyaan berikut:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan aplikasi Keuangan (SAI) ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_sdm">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;6.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki aplikasi Perencanaan (RKAKL), jawab pertanyaan berikut:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan aplikasi Perencanaan (RKAKL) ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_rkakl">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;7.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki aplikasi Aset (SABMN), jawab pertanyaan berikut:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan aplikasi Aset (SABMN) ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_sabmn">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;8.&nbsp;</td>
				    <td colspan="10">Jika pengadilan sudah memiliki awesite/situs pengadilan.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="8">Berapa jumlah staf yang menggunakan website pengadilan ?</td>
					<td colspan="2"><input type="text" size="10" name="i_user_website">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;9.&nbsp;</td>
				    <td colspan="8">Berapa persen keadaan Hakim yang mampu mengoperasikan PC/Laptop ?</td>
					<td colspan="2"><input type="text" size="10" name="i_hakim_pc">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;10.&nbsp;</td>
				    <td colspan="8">Berapa persen keadaan PP yang mampu mengoperasikan PC/Laptop ?</td>
					<td colspan="2"><input type="text" size="10" name="i_pp_pc">&nbsp;orang</td>
				</tr>
				<tr>
					<td>&nbsp;11.&nbsp;</td>
				    <td colspan="8">Berapa persen keadaan PNS yang mampu mengoperasikan PC/Laptop ?</td>
					<td colspan="2"><input type="text" size="10" name="i_pns_pc">&nbsp;orang</td>
				</tr>
				<tr>
					<td colspan="11">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="10">
						<div class="right"><input type="button"    value="Batal" onClick="agendalist()"> <input type="reset"   value="Ulangi"> <input   type="submit" value="Simpan"></div>
					</td>
				</tr>
			</table>         

		</form>
		<div class="blank"></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>