<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$format_date = new format_date();

if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>Data Responden<strong> &#8250; </strong><?echo $title;?></div>

	<?php
	include_once "submenukiri.php";
	?>

<div id="content" class="contentdata">
<div class="panel">
	
		<span class="corners-top"><span></span></span>
		<h3 class="title">Memasukkan Data Responden</h3>
	    <div class="spacer"></div> 
		<div class="blank"></div>
		<div id="targetview" class="" style="display:none"></div>
		<div class="blank"></div>
		<? if($this->jenisForm == 'insert'){?>
			<form name="frmtambahSurveyp" id="frmtambahSurveyp" method="POST">
		<?} else {?>
			<form name="frmubahsurvey" id="frmubahsurvey" method="POST">
		<?}?>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<!--tr>
				    <td align="right" width="180">* Nomor Agenda :</td>
					<td><?/* 
						$iAgendaAttrib = array("size" => 50,
													"maxlength" => 11);
						echo $ctrlFrm->formText('iAgenda', $this->detailAgenda['i_agenda'], $iAgendaAttrib);	
						echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); */							
						?>
					</td>
				</tr-->
				<?
				echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); 							
				?>
				<tr>
				    <td align="right" width="180">Nama Pengadilan Banding :</td>
					<td>
						<?
						if(count($this->dataPengadilanBanding)){
							foreach ($this->dataPengadilanBanding as $key=>$val):
								$pengadilanbandingList[(string)$this->escape($val['id_pengadilan'])] = (string)$this->escape($val['n_pengadilan']);
							endforeach;
						}
						
						$pengadilanBandingAttrib = array("onChange" => "javascript:pengadilanTkIList();");
						echo $ctrlFrm->formSelect('id_pengadilanbanding', $this->id_pengadilanbanding, $pengadilanBandingAttrib, $pengadilanbandingList);
						echo $ctrlFrm->formHidden('id_pengadilanbandingH', $this->id_pengadilanbanding, null);
						?>
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">Nama Pengadilan Tingkat I :</td>
					<td>
						<select id="id_pengadilanTkI" name="id_pengadilanTkI">
						<?php
						$jmldataPengadilan = count($this->dataPengadilan);
						if ($jmldataPengadilan!= 0) {
							for ($j = 0; $j < $jmldataPengadilan; $j++) {
							 $idPengadilan = (string)$this->dataPengadilan[$j]['id_pengadilan'];
							 $nPengadilan = (string)$this->dataPengadilan[$j]['n_pengadilan'];
							 echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
							}
							
						} 
						echo "<option value=\"-\" selected>--Pilih--</option>";
						?>
						</select>
				</tr>
				<tr>
				    <td align="right" width="180">Alamat:</td>
					<td><textarea rows=3 name="nAlamat" id="nAlamat"><?echo $this->detailAgenda['n_agenda_pesan']; ?></textarea></td>
				</tr>
				<tr>
				    <td align="right" width="180">No. Telepon:</td>
					<td>
						<?
						$noTelpAttrib = array("id" => "noTelp");
						echo $ctrlFrm->formText('noTelp', $dAgenda, $noTelpAttrib);
						
						?>
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">Fax :</td>
					<td>
						<?
						
						echo $ctrlFrm->formText('noFax', $this->detailAgenda['d_agenda_jammulai'], $dAgendaJammulaiAttrib);					
						?>
						</td>
				</tr>
				<tr>
				    <td align="right" width="180">Nama Responden :</td>
					<td>
						<?
						echo $ctrlFrm->formText('n_responden', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib);					
						?>
					</td>
				</tr>
				<tr>
					<td align="right" width="180">Jabatan :</td>
						<?
						echo $ctrlFrm->formText('n_jabatan', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib);					
						?>	
					</td>
				</tr>
				<tr>
					<td align="right" width="180">Pangkat / Golongan :</td>
					<td>
						<?
						echo $ctrlFrm->formText('n_pangkat', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib)." / ".
							$ctrlFrm->formText('n_golongan', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib);					
						?>	
					</td>
				</tr>
				<tr>
					<td align="right" width="180">No. Telepon / HP :</td>
					<td>
						<?
						echo $ctrlFrm->formText('no_telepon_responden', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib)." / ".
							$ctrlFrm->formText('no_hp_responden', $this->detailAgenda['d_agenda_jamakhir'], $dAgendaJamakhirAttrib);					
						?>	
					</td>
				</tr>
			</table> 
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right"><input type="button"    value="Batal" onClick="agendalist()"> <input type="reset"   value="Ulangi"> <input   type="submit" value="Simpan"></div>
					</td>
				</tr>
			</table>         

		</form>
		<div class="blank"></div>
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

