<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">Jenis Ajuan</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Tambah Data Jenis Ajuan</h2>
	    <div class="spacer"></div> 
		
		<? if(strtolower($this->jenisForm) == 'insert') {	$namaForm = 'frmtambahjenisAjuan'; }
			else if (strtolower($this->jenisForm) == 'update') {	$namaForm = 'frmubahjenisAjuan'; }
			else {	$namaForm = 'frmhapusjenisAjuan'; }
		
		?>
		<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<tr>
				    <td align="right" width="180">* Kode :</td>
					<td>
						<?
						$c_srtajuanAttrib = array("size" => 10,"maxlength" => 10);
						echo $ctrlFrm->formText('c_srtajuan', $this->detailJenisAjuan['c_srtajuan'], $c_srtajuanAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td align="right" width="180">* Jenis Ajuan :</td>
					<td>
						<?
						$n_srtajuanAttrib = array("size" => 50,"maxlength" => 50);
						echo $ctrlFrm->formText('n_srtajuan', $this->detailJenisAjuan['n_srtajuan'], $n_srtajuanAttrib);
						?>
						
					</td>
				</tr>
				<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="jenisAjuanlist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
				<tr>
				    <td>* Harus Diisi</td>
				    <td></td>
				</tr>
			</table>
		</form>
	</div>
</div>