
		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			   <td width="3%">41.</td>
			   <td align="left" colspan="4">Berapa banyak permohonan informasi yang disampaikan ke meja informasi di Pengadilan saudara dalam setiap bulan sepanjang tahun ini</td>
			</tr>
<?while($i<=11)
  {
  
	  switch ($i){
		case 0:
			$judul='Januari';
			$nama='v_jan';
			break;
		case 1:
			$judul='Februari';
			$nama='v_feb';
			break;
		case 2:
			$judul='Maret';
			$nama='v_mar';
			break;
		case 3:
			$judul='April';
			$nama='v_apr';
			break;
		case 4:
			$judul='Mei';
			$nama='v_mei';
			break;
		case 5:
			$judul='Juni';
			$nama='v_jun';
			break;
		case 6:
			$judul='Juli';
			$nama='v_jul';
			break;
		case 7:
			$judul='Agustus';
			$nama='v_agt';
			break;
		case 8:
			$judul='September';
			$nama='v_sep';
			break;
		case 9:
			$judul='Oktober';
			$nama='v_okt';
			break;
		case 10:
			$judul='Nopember';
			$nama='v_nop';
			break;	
		case 11:
			$judul='Desember';
			$nama='v_des';
			break;			
		}

?>
			<tr>
				<td width="3%">&nbsp;</td>
				<td width="15%"><?=$judul?></td>
				<td width="3%">:</td>
				<td>
					<input type="text" name="<?=$nama?>" id="<?=$nama?>" value="<?=$this->$nama?>" size="20"  onKeyUp="isNumber('<?=$nama?>')">
				</td> 
			</tr>
<?
$i++;
}
?>		
			
		</table>


