<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
<div style="overflow: hidden;">
	<div class="wrap">
		<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top"></div>
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>	
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Deskinfo</h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
		<form id="frmcatatdeskinfo"  method="post" name="frmcatatdeskinfo" enctype="multipart/form-data">
		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			
			   <td width="5">39.</td>
			   <td align="left">Apakah di Pengadilan saudara sudah memiliki layanan Deskinfo, sejak kapan?</td>
			</tr>
			<tr>
			<td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_layanan" name="e_layanan" rows="3"><?=$this->e_layanan?></textarea>
			   </td> 
			</tr>	
			<tr>
			    <td width="5">40.</td>
			   <td align="left">Apakah sudah ditunjuk petugas Deskinfo untuk pelayanan public terhadap keterbukaan informasi di Pengadilan sesuai dengan SK. KMA No 144/KMA/SK/VII/2007</td>
			</tr>
			<tr>
			<td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_layanan_publik" name="e_layanan_publik" rows="3"><?=$this->e_layanan_publik?></textarea>
			   </td> 
			</tr>			
		</table>
		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			   <td width="5">a.</td>
			   <td align="left">Apakah petugas informasi mempunyai staft pelaksana yang bertanggung jawab kepada petugas informasi</td>
			</tr>
			<tr>
			   <td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_staft_pelaksana" name="e_staft_pelaksana" rows="3"><?=$this->e_staft_pelaksana?></textarea>
			   </td> 
			</tr>			
			<tr>
			   <td width="5">b.</td>
			   <td align="left">Apakah petugas pelaksana yang dimaksud pada pertanyaan diatas, memiliki SK Penugasan</td>
			</tr>
			<tr>
			   <td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_sk_tugas" name="e_sk_tugas" rows="3"><?=$this->e_sk_tugas?></textarea>
			   </td> 
			</tr>		
		</table>
<?include("deskinfobulan.phtml");?>
		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
<!--	
			<tr>
			   <td width="5">41.</td>
			   <td align="left">Berapa banyak permohonan informasi yang disampaikan ke meja informasi di Pengadilan saudara dalam setiap bulan sepanjang tahun 2009 dan 2010</td>
			</tr>
			<tr>
			<td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_mohon_info" name="e_mohon_info" rows="3"><?=$this->e_mohon_info?></textarea>
			   </td> 
			</tr>			
-->			
			<tr>
			    <td width="5">42.</td>
			   <td align="left">Apakah di Pengadilan saudara sudah memiliki aplikasi informasi perkara yang dapat ditampilkan di deskinfo sehingga masyarakat atau pihak-pihak dan pimpinan tahu status dan informasi suatu perkara</td>
			</tr>
			<tr>
			<td width="5">&nbsp;</td>
			   <td>
					<textarea id="e_status_perkara" name="e_status_perkara" rows="3"><?=$this->e_status_perkara?></textarea>
			   </td> 
			</tr>			
		</table>
		
<input type="hidden" name="id_kuesioner" value="<?=$this->id_kuesioner?>">		
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">	
						<input type="hidden" name='perintah' value="<?=$this->par;?>">
							<input type="button" onClick="enableAllFormDeskinfo();" id="btnKoreksiDeskinfo" value="Koreksi"> 
							<input type="submit" value="Simpan" onClick="insertDeskinfo()" id="btnSimpanDeskinfo">						
						</div>						
					</td>
				</tr>
			</table>
		</form>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
