<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";

$ctrlFrm = new Zend_View();
$pesan = new share_message();

?>
<? if(strtolower($this->jenisForm) == 'insert') {
		$namaForm = 'frmtambaheselonii'; 
		$jenisAksi = 'Tambah';
		}
    else if (strtolower($this->jenisForm) == 'update') {
		$namaForm = 'frmubaheselonii';  
		$jenisAksi = 'Ubah';
		}
	  else {	
	        $namaForm = 'frmhapuspengadilanbanding';  
		$jenisAksi = 'Hapus';
		}
		
?>
		
<div class="wrap">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h2 class="title"><? echo $jenisAksi;?> Data Eselon II</h2>
	
			<?
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
	
			$pesan->show_message($proses, $keterangan, $status); 
			?>
			<div class="spacer"> </div>	
			<div id="targetview" class="" style="display:none"></div>

	
			<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
					<tr>
						<td align="right" width="180">* Kategori :</td>
						<td>
							<?
							for($x=0; $x<count($this->kategoriList); $x++)
							{
								$id_kategori = $this->kategoriList[$x]['id'];
								$n_kategori = $this->kategoriList[$x]['n_kategori'];
								$kategoriList[$id_kategori] = $n_kategori;
							}
							$kategoriAttrib = array("onChange" => "javascript:pengadilanListList();");
							echo $ctrlFrm->formSelect('kategori', $this->detailPengadilanBanding['c_kategori_organisasi'], $kategoriAttrib, $kategoriList);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Satker:</td>
						<td>
							<?
							for($x=0; $x<count($this->dataPengadilanBandingByKategori); $x++)
							{
								$i_organisasi = $this->dataPengadilanBandingByKategori[$x]['i_organisasi'];
								$n_organisasi = $this->dataPengadilanBandingByKategori[$x]['n_organisasi'];
								$PengadilanBandingList[$i_organisasi] = $n_organisasi;
							}
							echo $ctrlFrm->formSelect('idPengadilanBanding', $this->detailPengadilanBanding['i_organisasi_parent'], null, $PengadilanBandingList);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Nama Eselon II :</td>
						<td>
							<?
							$nOrganisasiAttrib = array("size" => "50",
												"maxlength" => "150");
												
							if (strtolower($this->jenisForm) == 'update') {
								$iUserAttrib['readonly'] = true;
							}
							echo $ctrlFrm->formText('n_organisasi', $this->detailPengadilanBanding['n_organisasi'], $nOrganisasiAttrib);
							echo $ctrlFrm->formHidden('i_organisasi', $this->detailPengadilanBanding['i_organisasi'], null);
							
							?>
						</td>
					</tr>
					<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="userlist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
					<tr>
						<td>* Harus Diisi</td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>