<?
$ctrlFrm = new Zend_View();
   
?>
<script>
	function simpanPilihan(nip, nama, kd_jabatan, kd_struktur_org , nm_jabatan_lengkap){
		var pilihanSebelumnya = document.getElementById('penampungTerpilih').value;
		var pilihanBaru = nip+'#'+nama+'#'+kd_jabatan+'#'+kd_struktur_org+'#'+nm_jabatan_lengkap;
		var pilihanSeluruhnya = '';
		if (!pilihanSebelumnya) {
			pilihanSeluruhnya = pilihanBaru;
		} else {
			pilihanSeluruhnya = pilihanSebelumnya+'~'+pilihanBaru;
		}
		document.getElementById('penampungTerpilih').value = pilihanSeluruhnya;
	}
	
	function simpanKeForm(tujuan){
		var dataPenampungTerpilih = document.getElementById('penampungTerpilih').value;
		var arrData = dataPenampungTerpilih.split("~");
		var divtujuan = '';
		var jml = '';
		var tableAsal = '';
		var rowCountAsal = 0;
		var namaField = '';
		if (tujuan == 'memoKepada') {
			divtujuan = 'kepada';
			jml = document.getElementById('jumlahKepada').value;
			tableAsal = document.getElementById(divtujuan);
			rowCountAsal = tableAsal.rows.length;
			namaField = 'kepada';
		} else {
			divtujuan = 'tembusan';
			jml = document.getElementById('jumlahTembusan').value;
			tableAsal = document.getElementById(divtujuan);
			rowCountAsal = tableAsal.rows.length;
			if (jml == '0') {
				rowCountAsal = 0;
			}
			namaField = 'tembusan';
		}
		
		var rowCount = 0;
		for(var i=0; i<arrData.length; i++){
			var arrData2 = arrData[i].split("#");
			var table = document.getElementById(divtujuan);
			
			if ((i==0)&&(jml==0)){
					document.getElementById(namaField+"_0").value= arrData2[4]+'('+arrData2[1]+')';
					document.getElementById("n_srt_"+namaField+"_0").value= arrData2[3]; 
					document.getElementById("nip_srt_"+namaField+"_0").value= arrData2[0];
					document.getElementById("kd_jabatan_"+namaField+"_0").value= arrData2[2];
			} else {
				rowCount = table.rows.length;  
			
			var idRow = (rowCount)*1;
			
			var row = table.insertRow(rowCount);
		    row.className = "event";	
			
			var cell1 = row.insertCell(0);  
			var element1 = document.createElement("input");  
			element1.type = "text";  
			element1.size = "100";  
			element1.maxsize = "150"; 
			element1.value = arrData2[4]+'('+arrData2[1]+')';
			element1.id = namaField+"_"+idRow; 
			element1.name = namaField+"_"+idRow; 
			cell1.appendChild(element1);  
			
			var element2 = document.createElement("input");  
			element2.type = "hidden";  
			element2.id = "n_srt_"+namaField+"_"+idRow; 
			element2.name = "n_srt_"+namaField+"_"+idRow; 
			element2.value = arrData2[3]; 
			cell1.appendChild(element2);
			
			var element3 = document.createElement("input");  
			element3.type = "hidden";  
			element3.id = "nip_srt_"+namaField+"_"+idRow; 
			element3.name = "nip_srt_"+namaField+"_"+idRow; 
			element3.value = arrData2[0]; 
			cell1.appendChild(element3);
			
			var element4 = document.createElement("input");  
			element4.type = "hidden";  
			element4.id = "kd_jabatan_"+namaField+"_"+idRow; 
			element4.name = "kd_jabatan_"+namaField+"_"+idRow; 
			element4.value = arrData2[2]; 
			cell1.appendChild(element4);
		
			var cell2 = row.insertCell(1);  
			var rowDelete = (idRow*1)+1;
			cell2.innerHTML = "<input type=\"hidden\" name=\"statusProses_"+idRow+"\" id=\"statusProses_"+idRow+"\" value=\"baru\">"+
							  "<img src=\"/images/cross.png\" title=\"Hapus Data\" onclick=\"deleteRow('"+divtujuan+"', this)\">"+
							  "<a name=\"baris_"+idRow+"\"/>";
			}
		}
		
		if (tujuan == 'memoKepada') {
			document.getElementById('jumlahKepada').value=(arrData.length*1)+rowCountAsal;
		} else {
			document.getElementById('jumlahTembusan').value=(arrData.length*1)+rowCountAsal;
		}
		tutupPencarian();
	}
	
	function tutupPencarian(){
		document.getElementById('targetview').style.display = 'none';
	}
</script>
<div class="popups">
<h2 class="title">Daftar Pegawai dan Jabatan</h2>

	<table  border="0" cellspacing="1" cellpadding="2" class="tbl2" id="std">
		<tr>
			<td>Kategori Pencarian :</td>
			<td>
				<select id="kategoriCari" name="kategoriCari">
					<option value="nama" selected>Nama</option>
					<option value="jabatan">Jabatan</option>
				</select>
			</td>
			<td>
				<input type="text" id="kataKunci" name="kataKunci" value="<?echo $kataKunci;?>">
				<input type="hidden" id="rowKe" name="rowKe" value="<?echo $this->rowKe;?>">
				<input type="button" id="cari" name="cari" value="Cari" onClick="cariPegawai();">
			</td>
		</tr>
	</table>
	<input type="hidden" name="penampungTerpilih"  id="penampungTerpilih">
	<div style="height:200px; overflow:auto">
	<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl3">
		 <th width=5%>No</th> 
		 <th width=15%>NIP</th> 
		 <th width=30%>Nama</th> 
		 <th width=50% ><a href="">Jabatan</a></th>
		<?
		if (count($this->daftarPegawai) == 0){ 
		?>
			<tr class="event2"><td colspan="12"><font color="red">Data Tidak Ditemukan</font></td></tr>
		<?} else {
				
				
			foreach ($this->daftarPegawai as $key => $val): 
			if ($key%2==0) { ?>
				<tr class="event">
			<? } else if ($key%2==1) { ?>
				<tr class="event2">
			<? } 
			
			$nip  	= $this->escape($val['nip']); 
			$nama	= $this->escape($val['nama']); 
			$kd_jabatan  	= $this->escape($val['kd_jabatan']); 
			$kd_struktur_org  	= $this->escape($val['kd_struktur_org']); 
			$nmOrg  	= $this->escape($val['nm_level']); 
			$kd_jabatan_induk  	= $this->escape($val['kd_jabatan_induk']); 
			$nm_jabatan_lengkap	= $this->escape($val['nm_jabatan_lengkap']); 
			$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
			?>
			<td class="clcenter">
				<input type="checkbox" name="pegawai_"<?echo noUrut?> value="<?echo $nip;?>" onClick="simpanPilihan('<?echo $nip;?>','<?echo $nama;?>','<? echo $kd_jabatan;?>','<? echo $kd_struktur_org?>','<? echo $nm_jabatan_lengkap?>')">
				
			</td>
			<td class="clleft"><?echo $nip;?></td>
			<td class="clleft"><?echo $nama;?></td>
			<td class="clleft"><?echo $nm_jabatan_lengkap;?></td>
			<?
			endforeach;
		}?>
		
	</table>
	</div>	
<div class="spacer"></div>
<div class="spacer"></div>

<div class="closebox">
<FORM>
	<INPUT TYPE="BUTTON" VALUE="Pilih" onClick="simpanKeForm('<?echo $this->tujuan;?>');"><INPUT TYPE="BUTTON" VALUE="Tutup" onClick="tutupPencarian();">
</FORM>
</DIV>
<div class="spacer"></div>
</DIV>