<?
require_once 'Zend/View.php';

$ctrlFrm = new Zend_View();
?>

<h3>Daftar Pejabat</h3>  
	<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl3">
		 <th width=5%>No</th> 
		 <?if ($this->field == 'tembusan'){?>
			<th width="5%"colspan="2">NIP</th> 
		 <?} else { ?>	
			<th width=14%>NIP</th> 
		 <?}?>	
		 <th width=14%>Nama</th> 
		 <th width=20% class="sorted order2 sortable"><a href="">Jabatan</a></th>
		<?
		if (count($this->daftarPejabat) == 0){ 
		?>
			<tr class="event2"><td colspan="12"><font color="red">Data Tidak Ditemukan</font></td></tr>
		<?} else {
				
				
			foreach ($this->daftarPejabat as $key => $val): 
			if ($key%2==0) { ?>
				<tr class="event">
			<? } else if ($key%2==1) { ?>
				<tr class="event2">
			<? } 
			
			$nip  	= $this->escape($val['nip']); 
			$nama	= $this->escape($val['nama']); 
			$kd_jabatan  	= $this->escape($val['kd_jabatan']); 
			$kd_struktur_org  	= $this->escape($val['kd_struktur_org']); 
			$nmOrg  	= $this->escape($val['nm_level']); 
			$kd_jabatan_induk  	= $this->escape($val['kd_jabatan_induk']); 
			$nm_jabatan_lengkap	= $this->escape($val['nm_jabatan_lengkap']); 
			$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
			
			echo $ctrlFrm->formHidden('nPjbtTembusan_'.$key, $nama, null);
			echo $ctrlFrm->formHidden('nipPjbtTembusan_'.$key, $nip, null);
			echo $ctrlFrm->formHidden('kdPjbtJabatanTembusan_'.$key, $kd_jabatan, null);
			echo $ctrlFrm->formHidden('kdPjbtOrgTembusan_'.$key, $kd_struktur_org, null);
			echo $ctrlFrm->formHidden('nmPjbtOrgTembusan_'.$key, $nmOrg, null);
			echo $ctrlFrm->formHidden('nmPjbtJabatanLengkapTembusan_'.$key, $nm_jabatan_lengkap, null);
			
			?>
			<td class="clright"><?echo $noUrut;?></td>
			<?if ($this->field == 'tembusan'){?>
				<td class="clacenter"><input type="checkbox" value="<?echo $nip;?>" name="pejabat_<?echo $key;?>" id="pejabat_<?echo $key;?>"></td> 
			 <?} ?>
			 
			<td class="clleft"><a href="#" onClick="pilihPejabat2('<?echo $this->targetSurat;?>', '<?echo $this->field;?>', '<?echo $nip;?>','<?echo $nama;?>','<?echo $kd_jabatan;?>','<?echo $kd_struktur_org;?>','<?echo $nmOrg;?>','<?echo $kd_jabatan_induk;?>','<?echo $nm_jabatan_lengkap;?>')"><?echo $nip."xx";?></a></td>
			<td class="clleft"><?echo $nama;?></td>
			<td class="clleft"><?echo $nm_jabatan_lengkap;?></td>
			<?
			endforeach;
		}?>
		<input type="hidden" name="jmlTembusan" id="jmlTembusan" value="">
	</table>
	<input type="button" value="Pilih Tembusan" name="pilih" ih="pilih" onClick="pilihTembusan();">