<?
$ctrlFrm = new Zend_View();
   
?>
<script>
	function pilihPegawai(nama, nmJabatanLengkap, nip, kdOrg, kdJabatan){
		if (nama == 'Pribadi') {
			document.getElementById('nKepada2').value = '';
			document.getElementById('nKepada2').readOnly = false;
			
			document.getElementById('nama2').value = '';
			document.getElementById('kdJabatan2').value = '';
			document.getElementById('kdOrg2').value = '';
			document.getElementById('nip2').value = '';
		} else {
			document.getElementById('nKepada2').value = nama+'\n'+nmJabatanLengkap;
			document.getElementById('kdJabatan2').value = kdJabatan;
			document.getElementById('kdOrg2').value = kdOrg;
			document.getElementById('nip2').value = nip;
			document.getElementById('nama2').value = nama;
			document.getElementById('nKepada2').readOnly = true;
		}
		tutupPencarian();
	}
	
	function tutupPencarian(){
		document.getElementById('targetview').style.display = 'none';
	}
</script>
<div class="popups">
<h2 class="title">Daftar Pegawai dan Jabatan</h2>
	<table  border="0" cellspacing="1" cellpadding="2" class="tbl2" id="std">
		<tr>
			<td>Kategori Pencarian :</td>
			<td>
				<select id="kategoriCari" name="kategoriCari">
					<?if (($this->kategoriCari == 'nama') || (!$this->kategoriCari)){?>
						<option value="nama" selected>Nama</option>
						<option value="jabatan">Jabatan</option>
					<?} else if ($this->kategoriCari == 'jabatan'){?>
						<option value="nama">Nama</option>
						<option value="jabatan" selected>Jabatan</option>
					<?}	?>
				</select>
			</td>
			<td>
				<input type="text" id="kataKunci" name="kataKunci" value="<?echo $this->katakunciCari;?>">
				<input type="button" id="cari" name="cari" value="Cari" onClick="cariPegawaiPenerimaSuratmasuk();">
			</td>
		</tr>
	</table>
	<div style="height:200px; overflow:auto">
	<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl3">
		 <th width=5%>No</th> 
		 <th width=15%>NIP</th> 
		 <th width=30%>Nama</th> 
		 <th width=50% ><a href="">Jabatan</a></th>
		<?
		if (count($this->daftarPegawai) == 0){ 
		?>
			<tr class="event2"><td colspan="12"><font color="red">Data Tidak Ditemukan</font></td></tr>
		<?} else {
			?>
			<tr class="event2">
			
			<td class="clright"><?echo $noUrut;?></td>
			<td class="clleft" colspan="3"><a href="#baris_<?echo $this->rowKe;?>" onClick="pilihPegawai('Pribadi','', 'Pribadi','','')"><b>Pribadi  (khusus di luar pegawai setkab)</b></a></td>
			</tr>
			<?	
				
			foreach ($this->daftarPegawai as $key => $val): 
			if ($key%2==0) { ?>
				<tr class="event">
			<? } else if ($key%2==1) { ?>
				<tr class="event2">
			<? } 
			
			$nip  	= $this->escape($val['nip']); 
			$nama	= $this->escape($val['nama']); 
			$kd_jabatan  	= $this->escape($val['kd_jabatan']); 
			$kd_struktur_org  	= $this->escape($val['kd_struktur_org']); 
			$nmOrg  	= $this->escape($val['nm_level']); 
			$kd_jabatan_induk  	= $this->escape($val['kd_jabatan_induk']); 
			$nm_jabatan_lengkap	= $this->escape($val['jabatanPeg']); 
			$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
			?>
			<td class="clright"><?echo $noUrut;?></td>
			<td class="clleft"><a href="#baris_<?echo $this->rowKe;?>" onClick="pilihPegawai('<?echo $nama;?>','<?echo $nm_jabatan_lengkap;?>', '<?echo $nip;?>','<?echo $kd_struktur_org;?>','<?echo $kd_jabatan;?>')"><?echo $nip;?></a></td>
			<td class="clleft"><?echo $nama;?></td>
			<td class="clleft"><?echo $nm_jabatan_lengkap;?></td>
			<?
			endforeach;
		}?>
	</table>
	</div>	
<div class="spacer"></div>
<div class="spacer"></div>

<div class="closebox">
<FORM>
	<INPUT TYPE="BUTTON" VALUE="Tutup" onClick="tutupPencarian();">
</FORM>
</DIV>
<div class="spacer"></div>
</DIV>