<h3>Daftar Pejabat</h3>  
	<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl3">
		 <th width=5%>No</th> 
		 <th width=14%>NIP</th> 
		 <th width=14%>Nama</th> 
		 <th width=20% class="sorted order2 sortable"><a href="">Jabatan</a></th>
		<?
		if (count($this->daftarPejabat) == 0){ 
		?>
			<tr class="event2"><td colspan="12"><font color="red">Data Tidak Ditemukan</font></td></tr>
		<?} else {
				
				
			foreach ($this->daftarPejabat as $key => $val): 
			if ($key%2==0) { ?>
				<tr class="event">
			<? } else if ($key%2==1) { ?>
				<tr class="event2">
			<? } 
			
			$nip  	= $this->escape($val['nip']); 
			$nama	= $this->escape($val['nama']); 
			$kd_jabatan  	= $this->escape($val['kd_jabatan']); 
			$kd_struktur_org  	= $this->escape($val['kd_struktur_org']); 
			$nmOrg  	= $this->escape($val['nm_level']); 
			$kd_jabatan_induk  	= $this->escape($val['kd_jabatan_induk']); 
			$nm_jabatan_lengkap	= $this->escape($val['nm_jabatan_lengkap']); 
			$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
			?>
			<td class="clright"><?echo $noUrut;?></td>
			<td class="clleft"><a href="#" onClick="pilihPejabat('<?echo $nip;?>','<?echo $nama;?>','<?echo $kd_jabatan;?>','<?echo $kd_struktur_org;?>','<?echo $nmOrg;?>','<?echo $kd_jabatan_induk;?>','<?echo $nm_jabatan_lengkap;?>')"><?echo $nip;?></a></td>
			<td class="clleft"><?echo $nama;?></td>
			<td class="clleft"><?echo $nm_jabatan_lengkap;?></td>
			<?
			endforeach;
		}?>
	</table>