<?
$ctrlFrm = new Zend_View();
   
?>
<script>
	function pilihPegawai(rowKe, nama, nmJabatanLengkap, nip, kdOrg, kdJabatan){
		document.getElementById('nKepada_'+rowKe).value = nama+'\n'+nmJabatanLengkap;
		document.getElementById('kdJabatan_'+rowKe).value = kdJabatan;
		document.getElementById('kdOrg_'+rowKe).value = kdOrg;
		document.getElementById('nmJabatanLengkap_'+rowKe).value = nama+'<b>'+nmJabatanLengkap;
		document.getElementById('nip_'+rowKe).value = nip;
		
		tutupPencarian();
		$("#divTambahDisposisi").css("display","block");
	}
	
	function tutupPencarian(){
		document.getElementById('targetview').style.display = 'none';
	}
</script>
<div class="popups">
<h2 class="title">Daftar Pegawai dan Jabatan</h2>

	<table  border="0" cellspacing="1" cellpadding="2" class="tbl2" id="std">
		<tr>
			<td>Kategori Pencarian :</td>
			<td>
				<select id="kategoriCari" name="kategoriCari">
					<option value="nama" selected>Nama</option>
					<option value="jabatan">Jabatan</option>
				</select>
			</td>
			<td>
				<input type="text" id="kataKunci" name="kataKunci" value="<?echo $kataKunci;?>">
				<input type="hidden" id="rowKe" name="rowKe" value="<?echo $this->rowKe;?>">
				<input type="button" id="cari" name="cari" value="Cari" onClick="cariPegawai();">
			</td>
		</tr>
	</table>
	<div style="height:200px; overflow:auto">
	<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl3">
		 <th width=5%>No</th> 
		 <th width=15%>NIP</th> 
		 <th width=30%>Nama</th> 
		 <th width=50% ><a href="">Jabatan</a></th>
		<?
		if (count($this->daftarPegawai) == 0){ 
		?>
			<tr class="event2"><td colspan="12"><font color="red">Data Tidak Ditemukan</font></td></tr>
		<?} else {
				
				
			foreach ($this->daftarPegawai as $key => $val): 
			if ($key%2==0) { ?>
				<tr class="event">
			<? } else if ($key%2==1) { ?>
				<tr class="event2">
			<? } 
			
			$nip  	= $this->escape($val['nip']); 
			$nama	= $this->escape($val['nama']); 
			$kd_jabatan  	= $this->escape($val['kd_jabatan']); 
			$kd_struktur_org  	= $this->escape($val['kd_struktur_org']); 
			$nmOrg  	= $this->escape($val['nm_level']); 
			$kd_jabatan_induk  	= $this->escape($val['kd_jabatan_induk']); 
			$nm_jabatan_lengkap	= $this->escape($val['jabatanPeg']); 
			$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
			?>
			<td class="clright"><?echo $noUrut;?></td>
			<td class="clleft"><a href="#baris_<?echo $this->rowKe;?>" onClick="pilihPegawai('<?echo $this->rowKe;?>', '<?echo $nama;?>','<?echo $nm_jabatan_lengkap;?>', '<?echo $nip;?>','<?echo $kd_struktur_org;?>','<?echo $kd_jabatan;?>')"><?echo $nip;?></a></td>
			<td class="clleft"><?echo $nama;?></td>
			<td class="clleft"><?echo $nm_jabatan_lengkap;?></td>
			<?
			endforeach;
		}?>
	</table>
	</div>	
<div class="spacer"></div>
<div class="spacer"></div>

<div class="closebox">
<FORM>
	<INPUT TYPE="BUTTON" VALUE="Tutup" onClick="tutupPencarian();">
</FORM>
</DIV>
<div class="spacer"></div>
</DIV>