function windowOpens(url){
	var w = 0; 
	var h = 0;
	w = screen.availWidth;
	h = screen.availHeight;
	var popW = 700, popH = 600;
	var leftc = (w-popW)/2;
	var topc = (h-popH)/2;
	var selectWindow = window.open(url,'Selection', 'left=' + leftc + ',top=' + topc + ', width='+popW+',height='+popH+',resizable=0,scrollbars=yes');
}

function daftarPejabatDisposisi(rowKe)
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/global/daftarpejabatdisposisi';
	var param = { rowKe:rowKe};
	jQuery.get(url, param, function(data) {
		$("div#targetview").html(data);
		document.getElementById('targetview').style.display='block';
	});
}

function pilihPejabat(nip, nama, kdJabatan, kdOrg, nmOrg, kdJabatanInduk, nmJabatanLengkap)
{
	document.getElementById('nip').value = nip;
	document.getElementById('nSrtkepadaDinas').value = nama;
	document.getElementById('kdJabatan').value = kdJabatan;
	document.getElementById('kdOrg').value = kdOrg;
	document.getElementById('nmOrg').value = nmOrg;
	document.getElementById('kdJabatanInduk').value = kdJabatanInduk;
	document.getElementById('nmJabatanLengkap').value = nmJabatanLengkap; 
	
	document.getElementById('targetview').style.display = 'none';
}

function pilihPejabatDisposisi(rowke, nip, nama, kdJabatan, kdOrg, nmOrg, kdJabatanInduk, nmJabatanLengkap)
{
	var diijinkan = 'boleh';
	for(var i=0; i<rowke; i++)
	{
		if(document.getElementById('nip_'+1).value == 'nip') 
			diijinkan = 'tidak';
	}
	if (diijinkan == 'boleh')
	{
		document.getElementById('nip_'+rowke).value = nip;
		document.getElementById('nSrtkepada_'+rowke).value = nama;
		document.getElementById('kdJabatan_'+rowke).value = kdJabatan;
		document.getElementById('kdOrg_'+rowke).value = kdOrg;
		document.getElementById('nmOrg_'+rowke).value = nmOrg;
		document.getElementById('nm_jabatan_lengkap_disposisi_'+rowke).value = nmJabatanLengkap; 
		
		document.getElementById ('isi_disposisi_'+rowke).focus();
		document.getElementById('targetview').style.display = 'none';
	}
	else
	{
		alert('NIP '+nip+' sudah dipilih.');
	}
	
	
}

function deleteRow(tableID, r) {
	var i=r.parentNode.parentNode.rowIndex;
	
	document.getElementById(tableID).deleteRow(i);
	
	var table = document.getElementById(tableID); 
	var rowCount = table.rows.length;  
	var idRow = rowCount*1;
	
	if(tableID == 'tblTembusan') 
	{
		if(rowCount == 1)
		{
			var cell1 = row.insertCell(0);  
			var element1 = document.createElement("input");  
			element1.type = "text";  
			element1.size = "100";  
			element1.maxsize = "150"; 
			element1.value = "";
			element1.id = "nTembusan_"+idRow; 
			element1.name = "nTembusan_"+idRow; 
			cell1.appendChild(element1);  
	
			var element2 = document.createElement("input");  
			element2.type = "hidden";  
			element2.id = "nipTembusan_"+idRow; 
			element2.name = "nipTembusan_"+idRow;
			element2.value = "";	
			cell1.appendChild(element2); 

			var element3 = document.createElement("input");  
			element3.type = "hidden";  
			element3.id = "kdJabatanTembusan_"+idRow; 
			element3.name = "kdJabatanTembusan_"+idRow; 
			element3.value = ""; 
			cell1.appendChild(element3);
			
			var element4 = document.createElement("input");  
			element4.type = "hidden";  
			element4.id = "kdOrgTembusan_"+idRow; 
			element4.name = "kdOrgTembusan_"+idRow; 
			element4.value = ""; 
			cell1.appendChild(element4);
			
			var element5 = document.createElement("input");  
			element5.type = "hidden";  
			element5.id = "nmOrgTembusan_"+idRow; 
			element5.name = "nmOrgTembusan_"+idRow; 
			element5.value = "";
			cell1.appendChild(element5);
			
			var element6 = document.createElement("input");  
			element6.type = "hidden";  
			element6.id = "nmJabatanLengkapTembusan_"+idRow; 
			element6.name = "nmJabatanLengkapTembusan_"+idRow; 
			element6.value = ""; 
			cell1.appendChild(element6);
			
			var cell2 = row.insertCell(1);  
			var rowDelete = (idRow*1)+1;
			cell2.innerHTML = "<div class=\"delete\" title=\"Hapus Data\" onclick=\"deleteRow('tblTembusan', this)\"><a name=\"baris_"+idRow+"\"/></div>";
		}
	}
}

function daftarPejabatDisposisi(rowKe)
{
	var url = '<?php echo $this->basePath; ?>/aplikasi/global/daftarpejabatdisposisi';
	var param = { rowKe:rowKe};
	jQuery.get(url, param, function(data) {
		$("div#targetview").html(data);
		document.getElementById('targetview').style.display='block';
	});
}

function daftarPejabat2(targetSurat, field){
	if (targetSurat == 'SuratKeluar'){
		//if(field == "dari"){
			var param = { targetSurat:targetSurat , field:field};
		//}
	}
	
	var url = '<?php echo $this->basePath; ?>/aplikasi/global/daftarpejabat2';
	jQuery.get(url, param, function(data) {
		$("div#targetview").html(data);
		document.getElementById('targetview').style.display='block';
	});
}

function pilihPejabat2(targetSurat, field, nip, nama, kdJabatan, kdOrg, nmOrg, kdJabatanInduk, nmJabatanLengkap)
{
	if(targetSurat == 'SuratKeluar'){
		if(field == 'dari'){
		document.getElementById('nDari').value = nama;
		document.getElementById('nipDari').value = nip;
		document.getElementById('kdJabatanDari').value = kdJabatan;
		document.getElementById('kdOrgDari').value = kdOrg;
		document.getElementById('nmOrgDari').value = nmOrg;
		document.getElementById('nmJabatanLengkapDari').value = nmJabatanLengkap; 
		}
		else if(field == 'kepada')
		{
			document.getElementById('nKepada').value = nama;
			document.getElementById('nipKepada').value = nip;
			document.getElementById('kdJabatanKepada').value = kdJabatan;
			document.getElementById('kdOrgKepada').value = kdOrg;
			document.getElementById('nmOrgKepada').value = nmOrg;
			document.getElementById('nmJabatanLengkapKepada').value = nmJabatanLengkap; 
		}
		else if(field == 'penandatangan')
		{
			document.getElementById('nPenandatangan').value = nama;
			document.getElementById('nipPenandatangan').value = nip;
			document.getElementById('kdJabatanPenandatangan').value = kdJabatan;
			document.getElementById('kdOrgPenandatangan').value = kdOrg;
			document.getElementById('nmOrgPenandatangan').value = nmOrg;
			document.getElementById('nmJabatanLengkapPenandatangan').value = nmJabatanLengkap; 
		}
	}
	
	
	document.getElementById('targetview').style.display = 'none';
}

function pilihTembusan() 
{
	var table = document.getElementById('tblTembusan'); 
	var rowCount = table.rows.length;  
	var idRow = rowCount*1;
	
	var dataBarisKe0 = document.getElementById('nTembusanHidden_0').value;

	var dipilih = 0;
	
	if(rowCount > 1)
	{
		dipilih = rowCount;
	}
	
	for (var i=0; i< 20; i++)
	{
		if(document.getElementById('pejabat_'+i))
		{
			if(document.getElementById('pejabat_'+i).checked)
			{
				if(dipilih == 0)
				{
					if(dataBarisKe0 == "")
					{
						document.getElementById('nTembusan_0').value = document.getElementById('nPjbtTembusan_'+i).value;
						document.getElementById('nTembusanHidden_0').value = document.getElementById('nPjbtTembusan_'+i).value;
						document.getElementById('nipTembusan_0').value = document.getElementById('nipPjbtTembusan_'+i).value;
						document.getElementById('kdJabatanTembusan_0').value = document.getElementById('kdPjbtJabatanTembusan_'+i).value;
						document.getElementById('kdOrgTembusan_0').value = document.getElementById('kdPjbtOrgTembusan_'+i).value;
						document.getElementById('nmOrgTembusan_0').value = document.getElementById('nmPjbtOrgTembusan_'+i).value;
						document.getElementById('nmJabatanLengkapTembusan_0').value = document.getElementById('nmPjbtJabatanLengkapTembusan_'+i).value;
						
					}
				}
				else
				{
					var row = table.insertRow(idRow);
					var cell1 = row.insertCell(0);  
					var element1 = document.createElement("input");  
					element1.type = "text";  
					element1.size = "100";  
					element1.maxsize = "150"; 
					element1.value = document.getElementById('nPjbtTembusan_'+i).value;
					element1.id = "nTembusan_"+idRow; 
					element1.name = "nTembusan_"+idRow; 
					cell1.appendChild(element1);
					
					var element2 = document.createElement("input");  
					element2.type = "hidden";  
					element2.id = "nipTembusan_"+idRow; 
					element2.name = "nipTembusan_"+idRow;
					element2.value = document.getElementById('nipPjbtTembusan_'+i).value;	
					cell1.appendChild(element2); 

					var element3 = document.createElement("input");  
					element3.type = "hidden";  
					element3.id = "kdJabatanTembusan_"+idRow; 
					element3.name = "kdJabatanTembusan_"+idRow; 
					element3.value = document.getElementById('kdPjbtJabatanTembusan_'+i).value; 
					cell1.appendChild(element3);
					
					var element4 = document.createElement("input");  
					element4.type = "hidden";  
					element4.id = "kdOrgTembusan_"+idRow; 
					element4.name = "kdOrgTembusan_"+idRow; 
					element4.value = document.getElementById('kdPjbtOrgTembusan_'+i).value; 
					cell1.appendChild(element4);
					
					var element5 = document.createElement("input");  
					element5.type = "hidden";  
					element5.id = "nmOrgTembusan_"+idRow; 
					element5.name = "nmOrgTembusan_"+idRow; 
					element5.value = document.getElementById('nmPjbtOrgTembusan_'+i).value;
					cell1.appendChild(element5);
					
					var element6 = document.createElement("input");  
					element6.type = "hidden";  
					element6.id = "nmJabatanLengkapTembusan_"+idRow; 
					element6.name = "nmJabatanLengkapTembusan_"+idRow; 
					element6.value = document.getElementById('nmPjbtJabatanLengkapTembusan_'+i).value; 
					cell1.appendChild(element6);
					
					var cell2 = row.insertCell(1);  
					var rowDelete = (idRow*1)+1;
					cell2.innerHTML = "<div class=\"delete\" title=\"Hapus Data\" onclick=\"deleteRow('tblTembusan', this)\">";
					cell2.innerHTML = "<a name=\"baris_"+idRow+"\"></a></div>";
					
					idRow = (idRow*1)+1;
				}	
				dipilih = (dipilih*1)+1;
				
			}
		}
	}
	
//	alert(idRow);

	document.getElementById('jmlTembusanDipilih').value = idRow;
	document.getElementById('targetview').style.display = 'none';
}