<? 
require_once 'Zend/View.php';

$ctrlFrm = new Zend_View();
?>	
<script>
function tambahBaris1(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="left" border="0" cellspacing="1" cellpadding="2"  class="tbl medium" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="15%">';
	html = html + '<input type="text" id="i_tahun_dipa_'+countpar+'" name="i_tahun_dipa_'+countpar+'" value="" size = "5">';
	html = html + '</td>';
	html = html + '<td width="50%">';
	html = html + '<input type="text" id="v_dipa_'+countpar+'" name="v_dipa_'+countpar+'" value="" size = "35">';
	html = html + '</td>';	
	html = html + '<td width="10%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + '&nbsp;<img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris1("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttablepengembangan1').value=counttbl*1+1;	
}

}


function tambahBaris2(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="52%">';
	html = html + '<input type="text" id="e_donor_'+countpar+'" name="e_donor_'+countpar+'" value="" size = "50">';
	html = html + '</td>';
	html = html + '<td width="35%">';
	html = html + '<input type="text" id="i_tahun_donor_'+countpar+'" name="i_tahun_donor_'+countpar+'" value="" size = "30">';
	html = html + '</td>';	
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + '&nbsp;<img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris2("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttablepengembangan2').value=counttbl*1+1;	
}

}

function tambahBaris3(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="22%">';
	html = html + '<input type="text" id="i_tahun_ang_'+countpar+'" name="i_tahun_ang_'+countpar+'" value="" size = "15">';
	html = html + '</td>';
	html = html + '<td width="65%">';
	html = html + '<input type="text" id="e_kegiatan_'+countpar+'" name="e_kegiatan_'+countpar+'" value="" size = "60">';
	html = html + '</td>';	
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + '&nbsp;<img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris3("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttablepengembangan3').value=counttbl*1+1;	
}

}

function hapusBarisIndukx(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbl"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}

</script>
	  <!--start module-->
<div style="overflow: hidden;">
	<div class="wrap">
		<div class="panel">
			<span class="corners-top"><span></span></span>
			<h2 class="title">Memasukkan Data Anggaran Pengembangan Sistem TI</h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>
<form id="frmcatatpengembangan"  method="post" name="frmcatatpengembangan">
<h3 class="title">II. Anggaran Pengembangan Sistem TI</h3>
<div class="spacer"></div> 
<div class="blank"></div>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">35.</td>
			<td colspan="5">Jumlah anggaran pengembangan sistem TI yang diterima dari DIPA :</td>
		</tr>
	</table>	
		<table align="left" border="0" cellspacing="1" cellpadding="2"  class="tbl medium" id="tblpengembangan">
			<tr>
				<th width="5%">No</th>
				<th width="15%">Tahun</th>
				<th width="50%">Nilai</th>
				<th width="10%">Tndk</th>
			</tr>
		
<?

if (count($this->datadipa) != 0){
	$jmlapl=1;
	$cnttbl=0;		
	foreach ($this->datadipa as $key => $val): 
		$i_tahun_dipa=$this->escape($val['i_tahun_dipa']);	
		$v_dipa=$this->escape($val['v_dipa']);
		$cnttbl++;
				
?>	
		<table  align="left" border="0" cellspacing="1" cellpadding="2" class="tbl medium" id="tblpengembangan1_<?=$jmlapl?>">
			<tr class="event" id="tr_pengembangan1_<?=$jmlapl?>">
				<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
				<td width="15%">
					<input type="text" id="i_tahun_dipa_<?=$jmlapl?>" name="i_tahun_dipa_<?=$jmlapl?>" value="<?=$i_tahun_dipa?>" size = "5">
				</td>
				<td width="50%">				
					<input type="text" id="v_dipa_<?=$jmlapl?>" name="v_dipa_<?=$jmlapl?>" value="<?=$v_dipa?>" size = "35">
				</td>			
				<td width="10%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisIndukx('<?=$jmlapl?>',this,'pengembangan1');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris1('<?=$jmlapl?>','pengembangan1');>
				</td>
			</tr>
		</table>
		<div id="tbl_pengembangan1_<?=$jmlapl?>"></div>

<?				
	$jmlapl++;				
	endforeach;
	$par="Koreksi";
}
else
{				
$par="Simpan";
?>		
		<table  align="left" border="0" cellspacing="1" cellpadding="2" class="tbl medium" id="tblpengembangan1_1">
			<tr class="event" id="tr_pengembangan1_1">
				<td width="5%" class="clright" valign="top">1</td>
				<td width="15%">
					<input type="text" id="i_tahun_dipa_1" name="i_tahun_dipa_1" value="" size = "5">
				</td>
				<td width="50%">				
					<input type="text" id="v_dipa_1" name="v_dipa_1" value="" size = "35">
				</td>			
				<td width="10%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisIndukx('1',this,'pengembangan1');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris1('1','pengembangan1');>
				</td>
			</tr>
		</table>
		<div id="tbl_pengembangan1_1"></div>
<?}?>		
		
		<input type="hidden" id="counttablepengembangan1" name="counttablepengembangan1" value="<?=$cnttbl?>" size = "10">
		
		<div class="spacer"></div> 
		<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>		
			<td width="5">36.</td>
			<td colspan="5">Jumlah anggaran pengembangan sistem TI yang diterima dari Donor :</td>
		</tr>
		</table>
		

		<table align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tblpengembangan2">
			<tr>
				<th width="5%">No</th>
				<th width="52%">Donor</th>
				<th width="35%">Tahun</th>
				<th width="8%">Tndk</th>
			</tr>
	
<?

if (count($this->datadonor) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datadonor as $key => $val): 
				$e_donor=$this->escape($val['e_donor']);	
				$i_tahun_donor=$this->escape($val['i_tahun_donor']);
				$cnttbl++;
				
?>
		<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblpengembangan2_<?=$jmlapl?>">
			<tr class="event" id="tr_pengembangan2_<?=$jmlapl?>">
				<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
				<td width="52%">
					<input type="text" id="e_donor_<?=$jmlapl?>" name="e_donor_<?=$jmlapl?>" value="<?=$e_donor?>" size = "50">
				</td>
				<td width="35%">				
					<input type="text" id="i_tahun_donor_<?=$jmlapl?>" name="i_tahun_donor_<?=$jmlapl?>" value="<?=$i_tahun_donor?>" size = "30">
				</td>			
				<td width="8%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisIndukx(<?=$jmlapl?>,this,'pengembangan2');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris2('<?=$jmlapl?>','pengembangan2');>
				</td>
			</tr>
		</table>
		<div id="tbl_pengembangan2_<?=$jmlapl?>"></div>
<?				
	$jmlapl++;				
	endforeach;
	$par="Koreksi";
}
else
{				
$par="Simpan";
?>				
		<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblpengembangan_2">
			<tr class="event" id="tr_pengembangan_2">
				<td width="5%" class="clright" valign="top">1</td>
				<td width="52%">
					<input type="text" id="e_donor_1" name="e_donor_1" value="" size = "50">
				</td>
				<td width="35%">				
					<input type="text" id="i_tahun_donor_1" name="i_tahun_donor_1" value="" size = "30">
				</td>			
				<td width="8%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisIndukx('1',this,'pengembangan2');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris2('1','pengembangan2');>
				</td>
			</tr>
		</table>
		<div id="tbl_pengembangan2_1"></div>
<?}?>		
		<input type="hidden" id="counttablepengembangan2" name="counttablepengembangan2" value="<?=$cnttbl?>" size = "10">
		
		<div class="spacer"></div> 
		<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
			<tr>
			<tr>
				<td width="5">37.</td>
				<td colspan="5">Ada berapa kegiatan yang dilakukan pengadilan dalam rangka pengembangan sistem TI pada :</td>
			</tr>
		</table>
		<table align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tblpengembangan3">
			<tr>
				<th width="5%">No</th>
				<th width="22%">Tahun Anggaran</th>
				<th width="65%">Kegiatan</th>
				<th width="8%">Tndk</th>
			</tr>

<?

if (count($this->datatahunangaran) != 0){
	$jmlapl=1;
	$cnttbl=0;			
	foreach ($this->datatahunangaran as $key => $val): 
				$i_tahun_ang=$this->escape($val['i_tahun_ang']);	
				$e_kegiatan=$this->escape($val['e_kegiatan']);
				$cnttbl++;
				
?>	
		<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblpengembangan3_<?=$jmlapl?>">
			<tr class="event" id="tr_pengembangan3_<?=$jmlapl?>">
				<td width="5%" class="clright" valign="top"><?=$jmlapl?></td>
				<td width="22%">
					<input type="text" id="i_tahun_ang_<?=$jmlapl?>" name="i_tahun_ang_<?=$jmlapl?>" value="<?=$i_tahun_ang?>" size = "15">
				</td>
				<td width="65%">				
					<input type="text" id="e_kegiatan_<?=$jmlapl?>" name="e_kegiatan_<?=$jmlapl?>" value="<?=$e_kegiatan?>" size = "60">
				</td>			
				<td width="8%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisIndukx(<?=$jmlapl?>,this,'pengembangan3');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris3('<?=$jmlapl?>','pengembangan3');>
				</td>
			</tr>
		</table>
<div id="tbl_pengembangan3_<?=$jmlapl?>"></div>


<?				
	$jmlapl++;				
	endforeach;
	$par="Koreksi";
}
else
{				
$par="Simpan";
?>		
		<table  align="center" border="0" cellspacing="1" cellpadding="2" class="tbl" id="tblpengembangan_3">
			<tr class="event" id="tr_pengembangan_3">
				<td width="5%" class="clright" valign="top">1</td>
				<td width="22%">
					<input type="text" id="i_tahun_ang_1" name="i_tahun_ang_1" value="" size = "22">
				</td>
				<td width="65%">				
					<input type="text" id="e_kegiatan_1" name="e_kegiatan_1" value="" size = "82">
				</td>			
				<td width="8%">
					<img src="<?echo $this->basePath;?>/images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBaris3('1',this,'pengembangan3');> 
					<img src="<?echo $this->basePath;?>/images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris3('1','pengembangan3');>
				</td>
			</tr>
		</table>
<div id="tbl_pengembangan3_1"></div>
<?}?>
		<input type="hidden" id="counttablepengembangan3" name="counttablepengembangan3" value="<?=$cnttbl?>" size = "10">		
<div class="spacer"></div> 	
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
						<input type="hidden" name='perintah' value="<?=$par?>"
						<input  type="submit" value="<?=$par?>" onclick="insertPengembangan()">
						</div>
					</td>
				</tr>
			</table>
		</form>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>
