<? 
require_once 'Zend/View.php';

$ctrlFrm = new Zend_View();
///=================================================DataRiwayatHidup=================================================================================================================================

?>	
	  <!--start module-->
<div class="navlink">
<a  href="<? echo $this->basePath; ?>/home/index/main">Halaman Utama</a>
<strong> &#8250; </strong>
<a  href="<? echo $this->basePath; ?>/home/index/main">Kuesioner</a>
<strong> &#8250; </strong>E. Prosedure
<? 
$pesancek=$this->pesancek;
if ($pesancek=='gagal'){$confirm ='confirmfail';}
	else {$confirm ='confirm';}
?>	
	<div id="top">
	<div id="confirm" class="<?=$confirm?>" style="display: none">
	</div>	
<div class="spacer"></div>
	<?php
	//include "../menukiri/submenukiri.php";
	include "submenukiri.php";
	?>
<div id="content" class="contentdata">
	<div class="panel">
		<span class="corners-top"><span></span></span>
<form id="frmcatatpengembangan"  method="post" name="frmcatatpengembangan" enctype="multipart/form-data">
<h3 class="title">II. Anggaran Pengembangan Sistem TI</h3>
<div class="spacer"></div> 
<div class="blank"></div>
 	<table width="100%" border="0" cellpadding="0" cellspacing="1" >		
		<tr>
			<td width="5">35.</td>
			<td colspan="5">Jumlah anggaran pengembangan sistem TI yang diterima dari DIPA :</td>
		</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">a.</td>			
			   <td align="left" width="170">Tahun 2009</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="v_tahun1" name="v_tahun1" value="" size = "10">&nbsp; PC
			   </td> 
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">b.</td>				
			   <td align="left" width="170">Tahun 2010</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="v_tahun2" name="v_tahun2" value="" size = "10">&nbsp; PC
			   </td> 
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">c.</td>				
			   <td align="left" width="170">Tahun 2011</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="v_tahun3" name="v_tahun3" value="" size = "10">&nbsp; PC
			   </td> 
			</tr>			
		<tr>
			<td width="5">36.</td>
			<td colspan="5">Jumlah anggaran pengembangan sistem TI yang diterima dari Donor :</td>
		</tr>
		
			<tr>
				<td>&nbsp;</td>
				<td width="5">a.</td>				
			   <td align="left" width="100">Donor</td>
			   <td width="5">:</td> 
			   <td width="150">
					Rp. <input type="text" id="e_donora" name="e_donora" value="" size = "10">&nbsp; PC
			   </td>
			   <td align="left" width="80">Tahun</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="e_donorb" name="e_donorb" value="" size = "10">&nbsp; PC
			   </td> 			   
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">b.</td>				
			   <td align="left" width="100">Donor</td>
			   <td width="5">:</td> 
			   <td width="150">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td>
			   <td align="left" width="80">Tahun</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td> 			   
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">c.</td>				
			   <td align="left" width="100">Donor</td>
			   <td width="5">:</td> 
			   <td width="150">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td>
			   <td align="left" width="80">Tahun</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td> 			   
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">d.</td>				
			   <td align="left" width="100">d. Donor</td>
			   <td width="5">:</td> 
			   <td width="150">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td>
			   <td align="left" width="80">Tahun</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td> 			   
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">e.</td>				
			   <td align="left" width="100">Donor</td>
			   <td width="5">:</td> 
			   <td width="150">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td>
			   <td align="left" width="80">Tahun</td>
			   <td width="5">:</td> 
			   <td>
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; PC
			   </td> 			   
			</tr>			
		<tr>
			<td width="5">37.</td>
			<td colspan="5">Ada berapa kegiatan yang dilakukan pengadilan dalam rangka pengembangan sistem TI pada :</td>
		</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">a.</td>			
			   <td align="left" width="170">Tahun anggaran 2010</td>
			   <td width="5">:</td> 
			   <td colspan="2">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; Kegiatan
			   </td> 
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td width="5">b.</td>			
			   <td align="left" width="170">Tahun anggaran 2011</td>
			   <td width="5">:</td> 
			   <td  colspan="2">
					Rp. <input type="text" id="(1)" name="(1)" value="" size = "10">&nbsp; Kegiatan
			   </td> 
			</tr>
	
		</table>			
<div class="spacer"></div> 	
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
						<input type="button" value="Batal" onClick="agendalist()"> 
						<input type="reset"   value="Ulangi"> 
						<input  name='perintah' type="submit" value="Simpan">
						</div>
					</td>
				</tr>
			</table>
		</form>
		<div class="blank"></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
