<?
$direksi = $this->report_server.'/util/tampilfoto/tampilchart?f=Deskinfo.png';
?>
<h2 class="title">Chart Deskinfo</h2>
<img style="border:0px solid #AAA;padding:0" src="<?=$direksi?>" width="550" height="350">
