<div id="closeinfo">
<div class="space"></div>
			<table width="100%" >
			<tr>
				<td width="90%">					
					<div class="title2"> <?=$this->judul;?></div>
				</td>
				<td align="right">
					<a href="#inf" onclick="closeInformasi();"><img src="../../images/close-page.gif" title="tutup" ></a>								
				</td>
			</tr>
			</table>
<?
	$nourut=0;
	$imgcount=0;
	$n_bumn2="";
	
	if (count($this->listnotifikasi) != 0){
						
	foreach ($this->listnotifikasi as $key => $val): 
			
		$i_deputi=$this->escape($val['i_deputi']);	
		$n_deputi=$this->escape($val['n_deputi']);	
		$c_active=$this->escape($val['c_active']);
		if ($this->escape($val['c_active'])==true){$nmdaftar="Daftar Pejabat";}
		if ($this->escape($val['c_active'])==false){$nmdaftar="Daftar Pejabat yang telah diberhentikan";}
		$i_bumn=$this->escape($val['i_bumn']);
		$n_bumn=$this->escape($val['n_bumn']);
		if ($n_bumn==$n_bumn2){$n_bumn="";}

		if ($this->tampilan=='bumn'){$nourut++;}
		else { if ($i_bumn!=$i_bumn2){$nourut++;}if ($c_active!=$c_active2){$nourut=1;}}		
		
if (($i_deputi!=$i_deputi2)){
			$nourut=1;		
?>	
			<table width="100%" >
			<tr>
				<td valign=bottom>
					<font face="times new roman,calibri,geneva, arial" size=2><b><?=$n_deputi?></b></font>
				</td>
			</tr>	
			</table>
			<table align="center" border="0" cellspacing="1" cellpadding="2" class="tbl2" >
<?		
		
			$headhtml=HeaderDpt($this->deputipage,$this->par2);
			echo   $headhtml;
		}
		
			$i_deputi2=$i_deputi;
			$i_bumn2=$i_bumn;
			$c_active2=$c_active;
			$c_active="";
			$i_deputi="";
			$nbidang=strtolower($this->escape($val['n_bidang']));			 
			$nbidang= str_replace("direktur", "", $nbidang);
			$nbidang= str_replace("dir.", "", $nbidang);
			$nbidang= str_replace("kom.", "", $nbidang);
			if(($this->escape($val['i_pangkat'])=='4')||($this->escape($val['i_pangkat'])=='2')||($this->escape($val['i_pangkat'])=='3')||($this->escape($val['i_pangkat'])=='23')||($this->escape($val['i_pangkat'])=='24')||($this->escape($val['i_pangkat'])=='25')||($this->escape($val['i_pangkat'])=='26'))
				{$n_pangkat=$this->escape($val['n_pangkat']);}
			else{$n_pangkat=$this->escape($val['n_pangkat'])." ".ucwords($nbidang);}
	?>
	</tr>
<?		
				if ($key%2==0) { ?>
					<tr class="event">
				<? } else if ($key%2==1) { ?>
					<tr class="event2">
				<? } 
				?>
							<td class="clleft" ><? echo$n_bumn;$n_bumn2=$this->escape($val['n_bumn']);?></td>
							<td class="clleft" ><? echo $this->escape($val['n_fname']);?></td>
							<!--<td class="clleft" ><?// echo $n_pangkat;?>	</td>-->
							<td class="clleft" ><? echo $this->escape($val['n_bidang']);?>	</td>		
							<td class="clleft" ><? echo $this->escape($val['e_skjabat']);?></td>
							<td class="clleft" ><? echo $this->escape($val['d_mulaijabat']);?></td>
							<td class="clleft" ><? echo $this->escape($val['d_akhirjabat']);?></td>
							<td class="clleft" ><? if ($this->escape($val['i_periode'])=='1'){echo "Pertama";}if ($this->escape($val['i_periode'])=='2'){echo "Kedua";}?></td>
							<td class="clleft" ><? echo $this->escape($val['n_istansi']);?></td>
							<td class="clleft" ><? echo $this->escape($val['e_keterangan']);?></td>
						<?if($this->par2=='10'){?>	
							<td class="clleft" >
						<?  
							$selisihtgl=$this->escape($val['selisihtgl']);
							$selisihtgl=str_replace("-", " ", $selisihtgl);
							$selisihtgl=str_replace("years", " thn", $selisihtgl);
							$selisihtgl=str_replace("mons", "bln", $selisihtgl);
							$selisihtgl=str_replace("days", " hr", $selisihtgl);							
							$selisihtgl=str_replace("year", "thn", $selisihtgl);
							$selisihtgl=str_replace("mon", "bln", $selisihtgl);
							$selisihtgl=str_replace("day", "hr", $selisihtgl);							
							echo $selisihtgl;
						?>
								</td>
						<?}?>							

<?
		endforeach;
	}
?>
	</table>

<div class="space"></div>
</div>
<?
function HeaderDpt($jmldata,$par2){
	$html="";
	$html=$html.'<th rowspan=2 width="15%">BUMN</th>';
	$html=$html.'<th rowspan=2 width="13%">Nama</th>';
	$html=$html.'<th rowspan=2 width="8%">Jabatan</th>';
	$jmlket= 4;
	if($par2=='10'){$html=$html.'<th colspan="7">Keterangan</th>';}
	else{$html=$html.'<th colspan="6">Keterangan</th>';}
	$html=$html.'<tr>';
	$html=$html.'<th width="10%">SK Pengangkatan</th>';
	$html=$html.'<th width="5%">Mulai Menjabat</th>';
	$html=$html.'<th width="5%">Akhir Menjabat</th>';
	$html=$html.'<th width="5%">Periode</th>';
	$html=$html.'<th width="10%">Asal Instansi</th>';
	$html=$html.'<th width="10%">Keterangan</th>';
	if($par2=='10'){$html=$html.'<th width="10%">Expired</th>';}
	$html=$html.'</tr>';
	return $html;
}
?>