<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";

$ctrlFrm = new Zend_View();
$format_date = new format_date();

if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}
?>
<div class="navlink2"><a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a><strong> &#8250; </strong>SDM<strong> &#8250; </strong><?echo $title;?></div>

<div id="contentdata" class="contentdata">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">Memasukkan Data Jaringan</h2>
	    <div class="spacer"></div> 
		<div class="blank"></div>
		<div id="targetview" class="" style="display:none"></div>
		<div class="blank"></div>
		<? if($this->jenisForm == 'insert'){?>
			<form name="frmtambahSurveyp" id="frmtambahSurveyp" method="POST">
		<?} else {?>
			<form name="frmubahsurvey" id="frmubahsurvey" method="POST">
		<?}?>
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
				<!--tr>
				    <td align="right" width="180">* Nomor Agenda :</td>
					<td><?/* 
						$iAgendaAttrib = array("size" => 50,
													"maxlength" => 11);
						echo $ctrlFrm->formText('iAgenda', $this->detailAgenda['i_agenda'], $iAgendaAttrib);	
						echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); */							
						?>
					</td>
				</tr-->
				<?
				echo $ctrlFrm->formHidden('iAgendaHidden', $this->detailAgenda['i_agenda'], null); 							
				?>
				<tr>
					<td width="20">&nbsp;28.&nbsp;</td>
				    <td colspan="7">Local Area Network (LAN) :</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;1.</td>
					<td colspan="6">&nbsp;Apakah sudah mempunyai jaringan LAN berbasis kabel?</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Sudah</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Belum</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td colspan="6">&nbsp;Jika jawaban pertanyaan 1 sudah, jawab pertanyaan 2-8</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;2.</td>
					<td colspan="6">&nbsp;Apakah sudah mempunyai jaringan LAN berbasis Wireless?</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Sudah</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Belum</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;3.</td>
					<td colspan="6">&nbsp;Apakah jaringan LAN sudah dikonfigurasi untuk keamanan aksesnya?</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Sudah</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Belum</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;4.</td>
					<td colspan="5">&nbsp;Berapa server yang terhubung dengan LAN ?</td>
					<td><input type="text" size="10">&nbsp;buah</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;5.</td>
					<td colspan="5">&nbsp;Berapa client(node) yang terhubung dengan LAN ?</td>
					<td><input type="text" size="10">&nbsp;buah</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;6.</td>
					<td colspan="5">&nbsp;Berapa client(node) yang belum terhubung dengan LAN ?</td>
					<td><input type="text" size="10">&nbsp;buah</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;7.</td>
					<td colspan="6">&nbsp;Apakah jaringan LAN sudah terkoneksi dengan jaringan internet ?</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Sudah</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Belum</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td width="20">&nbsp;8.</td>
					<td colspan="5">&nbsp;Berapa jumlah switch/HUB ?</td>
					<td><input type="text" size="10">&nbsp;buah</td>
				</tr>
				<tr>
				    <td>&nbsp;29.</td>
					<td colspan="6">&nbsp;Berapa jumlah komputer yang mengakses internett ?</td>
					<td><input type="text" size="10">&nbsp;buah</td>
				</tr>
				<tr>
					<td>&nbsp;30.&nbsp;</td>
				    <td colspan="7">Apakah akses internet menggunakan sistem berlangganan ?</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Sudah</td>
					<td width="20">&nbsp;<input type="radio"></td>
					<td width="100">&nbsp;Belum</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				    <td colspan="6">Jika jawaban no 30 Ya, jawab pertanyaan no. 31-33</td>
				</tr>
				<tr>
				    <td>&nbsp;31.</td>
					<td colspan="6">&nbsp;Sebutkan nama provider internet (ISP) : </td>
					<td><input type="text" size="20">&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;32.</td>
					<td colspan="6">&nbsp;Berapa biaya sambungan internet rata-rata dalam 1 bulan ? </td>
					<td><input type="text" size="20">&nbsp;</td>
				</tr>
				<tr>
				    <td>&nbsp;33.</td>
					<td colspan="7">&nbsp;Bandwidth yang diperoleh : </td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;1.</td>
					<td colspan="5">&nbsp;Upload : </td>
					<td><input type="text" size="10">&nbsp;MB</td>
				</tr>
				<tr>
				    <td>&nbsp;</td>
					<td>&nbsp;2.</td>
					<td colspan="5">&nbsp;Download : </td>
					<td><input type="text" size="10">&nbsp;MB</td>
				</tr>
				<tr>
					<td colspan="8">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				    <td colspan="7">
						<div class="right"><input type="button"    value="Batal" onClick="agendalist()"> <input type="reset"   value="Ulangi"> <input   type="submit" value="Simpan"></div>
					</td>
				</tr>
			</table>         

		</form>
		<div class="blank"></div>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</div>

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>