<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";


$ctrlFrm = new Zend_View();
$format_date = new format_date();
$pesan = new share_message();


if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}

//echo "jenis = ".$this->jenisForm;
if(!$this->jenisForm){
?>
	<div class="breadcrumb">
		<a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a> 
		<strong> &#8250; </strong> <a href="javascript:open_url_to_right('/aplikasi/responden/respondenolahdata?idKuesioner=10&jenisForm=1','/aplikasi/responden/respondenjs');">Kuesioner</a> 
	</div>
<?php 
}

if(!$this->jenisForm){
?>
	<!--div id="icon-judul"-->
		<div id="icon-responden" class="icon32"></div><h2 class="title">Responden</h2>
	<!--/div-->
<?php
}
if (!$this->jenisForm){
?>
	<div id="mabody">
		<h2 class="title">Tahun : <?echo date('Y');?></h2>		
	<?php
}
	if (!$this->jenisForm){
		require ("submenukiri.php");
	}
	
	
	if (!$this->jenisForm){
	?>
	<div id="tableview">
	<?php
	}?>
		<div style="overflow: hidden;">
			<div class="wrap">
				<div class="panel">
					<h2 class="title">Memasukkan Data Responden</h2>
					<div class="blank"></div>
					<? 
			
					$status = $this->hasil;
					$proses = $this->proses;
					$keterangan = $this->keterangan;
					
					$pesan->show_message($proses, $keterangan, "$status" ); ?>
					<div id="targetview" class="" style="display:none"></div>
					<div class="blank"></div>
					<form name="frmtambahresponden" id="frmtambahresponden" method="POST">
						<input type="hidden" name="i_organisasi" id="i_organisasi" value="<?echo $this->i_organisasi;?>">
						<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
							<?php
							//if ($this->detailRespondenTerakhir['d_tahun_kuesioner'] == date('Y')) {
								$idKuesioner = $this->detailRespondenTerakhir['id'];
							/* } else {
								$idKuesioner = '';
							} */
							echo $ctrlFrm->formHidden('idKuesioner', $idKuesioner, null); 				
							?>
							<tr>
							    <td align="right" width="180">
									<?if ($this->kategoriUser == 'satker'){
										echo 'Nama Satker : ';
									} else {
										echo 'Nama Pengadilan Banding :';
									}
								    ?>
								</td>
								<td>
									<?
									//echo "id_pengadilan_banding = ".$this->detailRespondenTerakhir['id_pengadilan_banding'];
									if($this->detailRespondenTerakhir['id_pengadilan_banding']){
									//echo "xxx";
										$idPengadilanbanding = $this->detailRespondenTerakhir['id_pengadilan_banding'];
									} else {
									//echo "yy";
										$idPengadilanbanding = $this->detailRespondenTerakhir['id_pengadilan'];
										if(!$idPengadilanbanding){
											$idPengadilanbanding =1;
										}
									}
									$pengadilanBandingAttrib = array("onChange" => "javascript:pengadilanTkIList();");
									//echo "idPengadilanbanding = $idPengadilanbanding";
									if(count($this->dataPengadilanBanding)){
										foreach ($this->dataPengadilanBanding as $key=>$val):
											$pengadilanbandingList[(string)$this->escape($val['i_organisasi'])] = (string)$this->escape($val['n_organisasi']);
											
											if ($this->escape($val['i_organisasi']) == $idPengadilanbanding){
												if ($this->kategoriUser != 'ma'){
													$pengadilanBandingAttrib[disabled] = true;
												}
											}
										endforeach;
										
									} 
									//echo "id_banding ".$idPengadilanbanding;
									echo $ctrlFrm->formSelect('id_pengadilanbanding', $idPengadilanbanding, $pengadilanBandingAttrib, $pengadilanbandingList);
									echo $ctrlFrm->formHidden('id_pengadilanbandingH', $idPengadilanbanding, null);
									?>
								</td>
							</tr>
							<tr>
							    <td align="right" width="180">
									<?if ($this->kategoriUser == 'satker'){
										echo 'Biro/Pusat/Direktorat : ';
									} else {
										echo 'Nama Pengadilan Tingkat I :';
									}
								    ?></td>
								<td>
									<?php
									//echo "tkI ".$this->detailRespondenTerakhir['id_pengadilan'];
									echo $ctrlFrm->formHidden('id_pengadilanTkIH', trim($this->detailRespondenTerakhir['id_pengadilan']), null);
									if($this->i_organisasi == 'MA'){
										?>
										<select id="id_pengadilanTkI" name="id_pengadilanTkI" onChange="javascript:lengkapiDataPengadilan();">
										<?
									} else {
									?>
										<select id="id_pengadilanTkI" name="id_pengadilanTkI" onChange="javascript:lengkapiDataPengadilan();" disabled="true">
									<?}?>
									
									<?php
									$jmldataPengadilan = count($this->dataPengadilan);
									if ($jmldataPengadilan!= 0) {
										for ($j = 0; $j < $jmldataPengadilan; $j++) {
											$idPengadilan = (string)$this->dataPengadilan[$j]['i_organisasi'];
											$nPengadilan = (string)$this->dataPengadilan[$j]['n_organisasi'];

											if (trim($idPengadilan) == trim($this->detailRespondenTerakhir['id_pengadilan'])){
												echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
											} else {
												echo "<option value=\"$idPengadilan\">$nPengadilan</option>";
											}
										}
										
									} 
									echo "<option value=\"-\">--Pilih--</option>";
									?>
									</select>
							</tr>
							<tr>
							    <td align="right" width="180">Alamat :</td>
								<td><textarea rows=3 name="nAlamat" id="nAlamat"><?echo $this->detailRespondenTerakhir['n_alamat']; ?></textarea></td>
							</tr>
							<tr>
							    <td align="right" width="180">No. Telepon :</td>
								<td>
									<?
									$noTelpAttrib = array("id" => "noTelp");
									echo $ctrlFrm->formText('noTelp', $this->detailRespondenTerakhir['no_telepon'], $noTelpAttrib);
									
									?>
								</td>
							</tr>
							<tr>
							    <td align="right" width="180">Fax :</td>
								<td>
									<?
									$noTelpAttrib = array();
									echo $ctrlFrm->formText('noFax', $this->detailRespondenTerakhir['no_fax'], $noTelpAttrib);					
									?>
									</td>
							</tr>
							<tr>
							    <td align="right" width="180">Nama Responden :</td>
								<td>
									<?
									$nRespondenAttrib = array("size" => "25",
															  "maxlength" => "20");
									echo $ctrlFrm->formText('n_responden', $this->detailRespondenTerakhir['n_responden'], $nRespondenAttrib);					
									?>
								</td>
							</tr>
							<tr>
								<td align="right" width="180">Jabatan :</td>
								<td>
									<?
									$jabatanAttrib = array("size" => "25",
															  "maxlength" => "20");
									echo $ctrlFrm->formText('n_jabatan',$this->detailRespondenTerakhir['n_jabatan'], $jabatanAttrib);					
									?>	
								</td>
							</tr>
							<tr>
								<td align="right" width="180">Pangkat / Golongan :</td>
								<td>
									<?
									$pangkatAttrib = array("size" => "25",
															  "maxlength" => "20");
									echo $ctrlFrm->formText('n_pangkat', $this->detailRespondenTerakhir['n_pangkat'], $pangkatAttrib)." / ".
										$ctrlFrm->formText('n_golongan', $this->detailRespondenTerakhir['n_golongan'], $pangkatAttrib);					
									?>	
								</td>
							</tr>
							<tr>
								<td align="right" width="180">No. Telepon / HP :</td>
								<td>
									<?
									$telpRespondenAttrib = array("size" => "25",
															  "maxlength" => "20");
									echo $ctrlFrm->formText('no_telepon_responden', $this->detailRespondenTerakhir['no_telepon_responden'], $telpRespondenAttrib)." / ".
										$ctrlFrm->formText('no_hp_responden', $this->detailRespondenTerakhir['no_hp_responden'], $telpRespondenAttrib);					
									
									echo $ctrlFrm->formHidden('jenisForm', 'insert', null);					
									?>									
								</td>
							</tr>
						</table> 
						<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
							<tr>
								<td>* Harus Diisi</td>
							    <td class="clright">
									<input type="button" onClick="enableAllResponden();" value="Koreksi" id="btnKoreksiResponden"> 
									<input   type="submit" id="btnSimpanResponden" value="Simpan" onClick="bindResponden();"></div>
								</td>
							</tr>
						</table>         
					</form>
					<div class="blank"></div>
			
					<span class="corners-bottom"><span></span></span>
				</div> <!--panel -->
			</div><!-- wrap -->	
		<?php
		if ($this->jenisForm){
		?>
		</div>
		<?}?>
	<?php
	if ($this->jenisForm){
	?>
	</div>
	<?}?>
<?php
if ($this->jenisForm){
?>	
</div><!-- mabody -->	
<?}?>
<div id="popupContact">
	<p id="contactArea">
	<center>
		<table border='0'>
			<tr>
				<td align="center">Tampilkan Data Terakhir Tahun <? echo $this->tahunTerakhir; ?></td>
			</tr>
			<tr>
				<td  align="center">
					<input type="button" value="Tampilkan" onClick="loadDataTerakhir()">
					<input type="button" value="Data Baru" onClick="loadDataBaru()">
				</td>
			</tr>
		</table>
		</center>
		<br/><br/>
	</p>
</div>
<div id="backgroundPopup"></div>