@import url("ddsmoothmenu.css");
@import url("ui.core.css");
@import url("ui.accordion.css");
@import url("nav_hz.css");
@import "ui.theme.css";
@import "ui.datepicker.css";
body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #417919; /*dk teal*/;
	color: #000000; /*black*/
	font-size:12px;
}
/*===============indicates no border around any image ============*/
body img {
	border: 0px;
	text-decoration: none;
}
/* ============ margins auto center the container on the page ==========
#container .contentdata-modul{
	margin: 10px auto 10px auto;
	padding: 5px;
	background-color: #BCE89C;
	width: 80%;
}
*/
    div#container {
        padding: 0;
        margin:2px auto 10px auto;
        border:0px solid #CCCCCC;
		background-color: #BCE89C;
        width:998px;
    }
*html    div#container {
	width:1000px;
	}
	
/*=================== styles for top banner ========================*/
#banner {
	background-position: left center;
	padding: 0px;
	background-color: #BCE89C;
	background-image: url('../../images/green_header.jpg');
	height: 120px;
	background-repeat: no-repeat;
	color: #000000;
}
#banner img {
	float: right;
}
/*=================== styles for top menu ======================*/
#topmenux {
	background-color: #043C03;
	text-align: center;
	font-size: .90em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	color: inherit;
	border-top: 2px solid #26153B ;
	border-bottom: 2px solid #26153B ;
}
#topmenux ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#topmenux li {
	display: inline;
	list-style-type: none;
	padding: 0px;
	padding-right: 1em;
}

/*==============all site links==============*/

a:link {
	font-weight: bold;
	color: #004145;
	background: transparent;
	text-decoration: underline;
}
a:visited{
	font-weight: bold;
	color: #000000;
	background: transparent;
	padding: 0px;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration : none;
	background: #A2D57C;
	color: #000000;
}
a:active {
	font-weight: bold;
	text-decoration : underline;
	background: #BFDFE2;
	color: #000000;
}
/*====================== styles for main content area =========================*/
#content  {
	margin-left: 210px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

/*===========content area list items==============*/
#content ul li {
	list-style-image: url('../../images/blue-bullet-bg.gif');
	margin: 2px;
	padding: 2px;
}
#content li li {
	list-style-image: url('../../images/blue-bullet-sm.gif');
	padding: 2px 0;
}


/* *****************************************************
Navigation Bar - Left hand side 
**************************************************** */
#navigation{
float: left;
width: 220px;
margin-bottom: 5px;
margin-top: 5px;
padding-top: 5px;
position:relative;
display:block;
height:20px;
font-size:12px;
font-weight:bold;
background-color: #043C03; repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;
border-top:0px solid #B30000;}

#navigationxxx {
	width: 250px;
	float: left;
	margin-top: 25px;
	margin-left: 5px;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #183D4A;
}
#navigation li a:link, #navigation li a:visited {
	font-size: 90%;
	display: block;
	padding: 0.4em 0 0.4em 0.5em;
	border-left: 12px solid #043C03;
	border-right: 1px solid #043C03;
	background-color: #357308;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #B6FCC1;
	color: #000066;
}
#navigation ul ul {
	margin-left: 12px;	
}
#navigation ul ul li {
	border-top: 1px solid #183D4A;
	margin:0;
}
#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color: #3E8708;
	color: #FFFFFF;		
}
#navigation ul ul a:hover {
	background-color: #B6FCC1;
	
	color: #000066;
}

/*============== Styles for footer ===================*/
#footer {
	border-top: 2px solid #0D254F;
	clear: both;
	padding: 5px;
	background-color: #BCE89C;
	text-align: center;
}
#footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}
/*================== general styles =================*/
hr {
	width: 50%;
	text-align: center;
	background-color: #004145;
	height: 5px;
}
/* =================Styles for heading tags =============== */
h1, h2, h3, h4 {
	color: #183D4A;
	background-color: #004145;
}
h1 {
	padding: 2px 2px 2px 8px;
	font-size: 1.5em;
	background: #A2D57C;
}
h2 {
	font-size: 1em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: .9em;
}
/*================used to center anything==============*/
.center {
	text-align: center;
}
/* ============floats images to right or left ============*/
.imgrgt {
	float: right;
	padding: 7px;
}
.imglft {
	float: left;
	padding: 7px;
}
.navlink2 {
	text-align:left;
	margin:0 0 10px 0;
	padding-top:0px;
	}
	
/* PANEL FORM */
.panel {
	background-color:#BFD9C2;
	color:#28313F;
	padding:0 10px;
	border:0px solid;
	text-align:left;
	}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}
span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}	
span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}
span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}
span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}
.panel span.corners-top, .panel span.corners-bottom {
	margin: 0 -10px;
}
span.corners-top {
	background-image: url("../images/corners_left2.png");
}
span.corners-top span {
	background-image: url("../images/corners_right2.png");
}
span.corners-bottom {
	background-image: url("../images/corners_left2.png");
}
span.corners-bottom span {
	background-image: url("../images/corners_right2.png");
}
* html span.corners-top, * html span.corners-bottom { background-image: url("../images/corners_left2.gif"); }
* html span.corners-top span, * html span.corners-bottom span { background-image: url("../images/corners_right2.gif"); }
#featureBalloonPos {
	position: absolute; 
	width: 251px; 
	top: 0px; 
	left: 0px; 
	z-index: 10; 
	display: none;
	}
#featureBalloonTop {
	height: 5px
	}
#featureBalloonContent {
	padding: 5px 5px 5px 11px; 
	border:1px solid #DDDDDD;
	color:#000
	}

.panel-form {
	font-size:11.3px;
	font-family:Verdana;
}
.panel-form, fieldset.panel, #featureBalloonContent {
	border:1px solid #DDDDDD;
	background-color:#E1EAF1;
}
.head-login, #featureBalloonTop,.forabg, .forumbg {
	background-color: #DDD; 
	background-image: url(../images/grid3-hrow.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	color:#333;
}
.search-panel {
	border:1px solid #e5e5e5;
}	


/* Definition list layout for forms
---------------------------------------- */

dd.dot2 {
	width: 10px;

}
dd.space {
	width: 18px;

}
dd {}

dd.col-left {
	width: 140px;
	}
dd.col-left2 {
	width: 100px;
	}
dd.col-right {
	width: 705px;
}
dd.col-right2 {
	width: 155px;
}
dd.col-right3 {
	width: 400px;
}
dd.col-right4 {
	width: 595px;
}
dd.col-right5 {
	width: 705px;
}
dd.hg2 {
	height:27px;
	}
dd.hg3 {
	height:40px;
	}


.panel-form, .panel-form1, .panel-form2, .panel-form3, .panel-form4, .panel-form5 {
	display: block;
	clear:both;
	margin: 0;
	padding:10px;
	}
.panel-form4 {
	padding:5px 10px;
	}
.panel-form  dl, .panel-form1 dl, .panel-form2  dl, .panel-form3 dl, .panel-form4  dl, .panel-form5 dl {	
	padding: 0;
	margin:0;
	float:left;
	border:0px solid;
	}
/*
*html .panel-form  dl, *html .panel-form2  dl, *html .panel-form3 dl, *html .panel-form5  dl {	
	float:left;
	}
*/
.panel-form  dt, .panel-form1  dt{
	display: block;
	float: left;
	width: 155px;
	padding-top:3px;
	border:0px solid;
}
.panel-form2 dt{
	display: block;
	float: left;
	width: 80px;
	padding-left: 5px;
	padding-right: 5px;
	border:0px solid;
}
.panel-form3  dt{
	display: block;
	float: left;
	width: 400px;
	padding-left: 5px;
	padding-right: 5px;
	border:0px solid;
	text-align:right;
}
.panel-form4  dt{
	display: block;
	float: left;
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
	border:0px solid;
}
.panel-form5  dt{
	display: block;
	float: left;
	width: 225px;
	padding-left: 5px;
	padding-right: 5px;
	border:0px solid;
}
.panel-form dd, .panel-form1 dd, .panel-form2 dd, .panel-form3 dd, .panel-form4  dd, .panel-form5  dd {
	display: block;
	float: left;
	min-height:23px;
	padding: 3px 0 0 0;
	border:0px solid;
	vertical-align:middle;
}
*html .panel-form dd {
	height:25px;
	padding: 2px 0 2px 0;
}

.content-area {
       clear:both;
	margin:0 6px;
	}
.tabcontent {
	clear:both;
	margin:0;
	}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
	color:#524229;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd textarea {
	width: 99%;
}
.tr { clear:both; padding:2px 10px}
.td1 { float:left; width:230px; height:20px;}
.td2 { float:left; width:10px; height:20px;}
.td3 { float:left; width:450px; margin:0px 0px 2px 0px;height:20px; }
/* a 'standard' table */
table.stdbutton {
        border: solid #CACFC9 0px; /*#08245b 2px;*/
        background: #B5DABA;
		margin-bottom:5px;
		padding:10px;
		font-size:11.3px;
		font-family:Verdana;
}
table.stdbutton td {
	vertical-align: top;
	padding:2px;
	height:20px;
}

table.std {
        border: solid #CACFC9 0px; /*#08245b 2px;*/
        background: #BFD9C2;
		margin-bottom:5px;
		padding:10px;
		font-size:11.3px;
		font-family:Verdana;
}
table.std td {
	vertical-align: top;
	padding:2px;
	height:20px;
}

table.std TH {
        background-color: #08245b;
        color: white;
        list-style-type: disc;
        list-style-position: inside;
        border: outset #D1D1CD 1px;
}

table.std td.hilite {
        background-color: #ffffff;
}

/* contacts table */
table.contacts {
        background-color: #08245b;
}

table.contacts td {
        background-color: #d6ebff;
}

table.contacts td.hilite {
        background-color: #ffffff;
}

.ct-menu {
	width:100%;
	margin:0;
	padding:0;
	}        
.ct-menu .hd {
        background:transparent url(../images/mod_hd.gif) no-repeat;
	    height:22px;
	    line-height:20px;
	    font-weight:bold;
	    padding-left:10px;
	    text-align:left;
	    color:#333;
	    font-size:11px;            
}        
.ct-menu .bd {
	    text-align:left;
	    padding:0px 0 5px 0;
		width:244px;
	    border:1px solid #CCCCCC;
	    border-width:0 1px;
		
}
.ct-menu .ft {
		clear:both;
		height:8px;
		background:transparent url(../images/mod_ft.gif) no-repeat;
	    margin-bottom:10px;
}
*html .ct-menu .ft {
	    margin-bottom:5px;
}
.ct-welcome {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	} 

div#content-main .leftmenu {
        float: left;
        width: 246px;
        margin:0px;
        padding:0px;
        border:0px solid;
    }	
div#content-main .contentdata {
        float: left;
        width: 715px;
        margin:0px;
		margin-left:10px;
        padding:0px;
        border:0px solid;
        text-align:center;
	}	
#content .contentdata {
	font-family:  Tahoma, Verdana,Arial, Geneva, Helvetica, sans-serif;
}    
.alert {
	position:absolute;
	bottom:0;
	right:0;
	width:400px;
	background:#F2F9B8;
	}
.ct-welcome .hd, .alert .hd {
        background:transparent url(../images/mod_hd2.gif) no-repeat;
	    height:22px;
	    line-height:20px;
	    font-weight:bold;
	    padding-left:10px;
	    text-align:left;
	    color:#333;
	    font-size:11px;            
}        	
.ct-welcome .bd {
	text-align:left;
	padding:10px;
	width:675px;
	border:1px solid #CCCCCC;
	border-width:0 1px;
}
.ct-welcome .ft {
		clear:both;
		height:8px;
		background:transparent url(../images/mod_ft2.gif) no-repeat;
	    margin-bottom:10px;
}
.alert .bd {
	text-align:left;
	padding:10px;
	border:1px solid #CCCCCC;
}

.user {color:#038DA7;}
.msg, .runtext {
	padding:0;
	height:20px;
	line-height:24px;
	margin:0 auto;
	font-family: Helvetica, Arial, Sans-serif;
	} 
.msg{
	width:974px;
	background:#464646;
	font-size:1em;
	} 
.runtext {
    float:left;
	#float:none;
	width:934px;
	padding:0 10px;
	margin-bottom:10px;
	border:1px solid #666;
	border-width:0 10px;
	background:#D3DDDA;
	font-size:1.1em;
	z-index:0;
	} 
.ct-menu .bd, .ct-welcome .bd {
		background-color:#F5F5F5;
	}	  
.msg .crdate {
	float:right;
	padding:3px 10px 2px 0;
	color:#EEE;
	}
.msg .username {
	color:#EEE;
	font-weight:bold;
	}
    .msg a,
    .msg a:link,
    .msg a:active,
    .msg a:visited {
        color: #FCF2D8;
        text-decoration:underline;
	font-weight: normal;
    }
    .msg a:hover {
        color: #FADE93;
    }  
h3 {color:#FFF}	

h3.title{
	margin:0 0 8px 0;
  	padding:0px;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
  	font-weight:bold;
	/*color:#033767;*/
	color:#FFFFF;
	font-size:14px;
	text-align:left;
	/*border-bottom: 3px solid #3C658B;*/
	border-bottom: 1px solid #3C658B;
}
div.title2{
	float:left;
	margin:0 0 0px 0;
  	padding:2px;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
  	font-weight:bold;
	color:#215B90;
	font-size:12px;
	text-align:left;
}
h2.welcome {
	color:#FF6600;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
       	font-size:16px;
       	font-weight:bold;
	}
.date {
	color:red;
	}	
.index {
	clear:both;
	float:right;
	margin-top:10px;
	}	
	
/*Kalender*/
table.cld {
    margin-top:10px;
	border:1px solid #6BA7B2;
	padding:0;
	background:#FFF;
	}
table.cld td {
	font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    line-height:15px;
	}
.boxed:hover{
    background: #AFD7DF url(../images/bg_grd.gif) top repeat-x;
	}
.bln {
    background: #AFD7DF url(../images/bg_grd.gif) bottom repeat-x;
	border-bottom:1px solid #6BA7B2;
	height:25px;
	font-size:11px;
	}
table  td.boxed {
    width:15px;
	padding:0.2em 0.5em;
    text-align:right;
	border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(../images/ui-bg_glass_75_e6e6e6_1x400.png) }
  .boxedn {
    color: #0000ff;
    width:15px;
  }
  .boxedo {
    width:15px;
    background: #B6E0FA;
  }
table  td.boxedh {
    width:15px;
    /*background: #B8D9DE url(../images/bg_grd.gif) top repeat-x;*/
	font-weight:bold;
	color:#015766;
  }
 table td.boxedbln {
    /*background: #B8D9DE url(../images/bg_grd.gif) top repeat-x;*/
	font-weight:bold;
	font-size:11px;
	color:#015766;
  }
table td.default {border: 1px solid #FADE36/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(../images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
 .md {
    color: #ff0000;
  }
  
.contentdata-modul {        
        width: 975px;
        margin:0 auto;
        padding:0 10px;
        border:0px solid;
        text-align:justify;		
    }  
	
#topmenu{margin-bottom: 5px;margin-top: 5px;padding-top: 5px;position:relative;display:block;height:30px;font-size:11px;font-weight:bold;background-color: #043C03; repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;border-top:0px solid #B30000;}
#topmenu ul{margin:0;padding:0;list-style-type:none;width:auto;}
#topmenu ul li{display:block;float:left;margin:0;}
#topmenu ul li a{display:block;float:left;color:#F9FCF8;text-decoration:none;padding:5px 20px 0 20px;height:25px;background:transparent url(images/bgDIVIDER1.gif) no-repeat top right;}
#topmenu ul li a:hover,#tabs31 ul li a.current{color:#B30000;background:#A6E28E;}	

/* General form styles
----------------------------------------*/

input {
	font-weight: normal;
	cursor: default;
	padding: 1px 3px;
	font-size: 11px;
}
.nostyle {
        border:none;
        background-color:transparent;
        width:auto;
        margin:0;
        text-align:right;	
	}

select {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #666666;
	padding: 1px;
	background-color: #FAFAFA;
	font-size:11px;
}


option {
	padding-right: 1em;
}

option.disabled-option {
	color: graytext;
}

textarea {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: 98%;
	padding: 2px;
	font-size: 11px;
	text-align:justify;
}
textarea.medium { width:70%}
textarea.narrow { width:25%}
label {
	cursor: default;
	padding-right: 2px;
	color: #676767;
}

label input {
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}


/*style for table report*/
table.tbl2{    background-color: #f5f5f5}

table.tbl th {background:#BDBFB8 url(../images/grid3-hrow2.gif) top repeat-x}
table.tbl2 th {background:#BDBFB8 url(../images/grid3-hrow2.gif) top repeat-x; border:1px solid #999}
table.tbl3 th {background:#BDBFB8}

table.tbl td a:hover,table.tbl2 td a:hover {
	color: #814000;
	text-decoration: underline;
}
table.tbl tr:hover,table.tbl2 tr:hover,table.sortable tr:hover  {
	text-decoration: none;
	background:#E3E3E3;
}
table.tbl th.sorted {
    background-color: #DDD;   /*707634    4AA5FF #666699;*/
   background-image:none;
}
.event2, .bg2 {
	background-color: #F4F4F4;
}
.event, .bg1 {
	background-color: #E3EAEE;
}
.event3 {
	background-color: #F2F9B8;
}
	table {
        font-size: 11px;
		margin:0;
	}
	th {
		font-weight: bold;
		text-align: center;
	}
	td {
		font-size: 12px;
	}

table.tbl {
    clear:both;
	width:100%;
	padding:0;	
	margin: 0 auto;
	background:#999999;
	font-size:1em;
	text-align:left;
}
table.tbl2 {
    clear:both;
	padding:0;		
	background:#999999;
	font-size:1em;
	text-align:left;
}
table.tbl3 {
    clear:both;
	width:90%;
	padding:0;	
	margin: 0 auto;
	background:#DDD;
	font-size:1em;
	text-align:left;
	border:1px solid #AAA;
}
table.tbl.tiny {
	width:50%;
}
table.tbl.medium {
	width:70%;
}

table.tbl th,table.tbl3 th, td {
	padding: 2px 4px 2px 4px;
	/*text-align: center;*/	
	vertical-align: center;
}

#loading {
	position:absolute;
	height:28px;
	left:50%;
	margin-left:-50px;
	position:absolute;
	top:50%;
	visibility:visible;
	width:120px;
	z-index:1000;
	padding:0;
	text-align:left;
	background-color:#FAFAFA;
	border:3px solid #ddd;
	}
*html #loading {
	width:130px;
	}
#loading .image {
	float:left;
	margin:0;
	margin-left:5px;
	text-align:left;
	}
#loading .load {
	float:left;
	margin:0;
	font-size:11px;
	padding:7px 10px 0 0;
	line-height:13px;
	text-align:left;
	margin-left:10px;
	font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color:#333;
	}