/*
Author: Irwan Setiawan
Created :20/11/08
Date Modified:12/01/2009
*/
@import url("menu.css");
body {
	font: 62.5% Verdana,Tahoma,  Arial, Helvetica, Sans-Serif;
	color: #333;
	text-align: center;
	letter-spacing:0px;
	background:#333;
	line-height:150%;
	margin:0;
	padding:0;
	}
* {
	margin:0;
	padding:0;
	}	
h1,hr {display:none}
	div.hr {
		clear:both;
		font-size:1px;
		height:10px;
		margin: 10px 0;
		#margin-top:1px;
		border-bottom: 1px solid #DDD;
	}
	div.hr2 {
		font-size:1px;
		height: 1em;
		margin: 10px 0;
		border-bottom: 1px solid #DDD;
	}
	div.hrbold {
		clear:both;
		font-size:1px;
		height:10px;
		margin: 10px 0;
		#margin-top:1px;
		border-bottom: 5px solid #EEE;
	}
/* TABLE */
	table {
		font: 1em Verdana, Tahoma, Helvetica, Arial, Sans-Serif;
	}
	th {
		font-weight: bold;
		text-align: center;
		background:#ddd;
	}
	td {
		font-size: 1em;
	}		

/* LISTS */
	ul {
		margin: 0 0 0 0;
		padding: 0;
	}
*html ul{
	margin-bottom:0;
	}
	ul li {
		font-size: 1.0em;
		margin: 0 0 0.25em 1.7em;
		padding: 0;
	}
	ol {
		font-size: 1.0em;
		line-height: 1.4em;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	ol li {
		font-size: 1.0em;
		margin: 0 0 0.25em 30px;
		padding: 0;
	}
	
	dl {
		margin: 0;
		padding: 0;
		border:0px solid;
	}
	dt {
		margin: 0.25em 0 0.25em 0;
		padding: 0;
		border:0px solid;

	}
	dl dd {
		margin: 0;
		padding:0;
		text-align:left;
		border:0px solid;
	}
	

img {
    border: none;
}
p {
	line-height:1.3em;
	margin:0 0 0.8em 0;
	clear:both;
	}
a,
a:link,
a:visited,
a:active { 
	color: #036A92;
	text-decoration:none;
	}
a:hover { 
	color: #94A448;
	text-decoration:none;
	}
#containerz {
    width:980px;
	margin:5px auto;
	border:1px solid #000;
	background-color:#FFF;
	}
#logo {
	display:block;
	padding:0;
    margin:0 auto;
    width:980px;
    height:119px;
    background:url(../images/logo_dittek.jpg) no-repeat;
	}

#header {
	display:block;
	padding:0;
    margin:0 auto 5px auto;
    width:938px;
    height:156px;
    background:url(../images/header_dittekx.jpg) no-repeat;
	}
/* NAV */
#nav{
    position:relative;
	border:none;
	width:898px;
	margin:0 auto;
	background-image: url('../images/bg_menu.gif'); 
	height:30px; 
	color:#fff;
	font-weight:bold;
	padding-top:3px;
	font-size:1.1em;
	overflow:visible;
	#z-index:1;
	}
#nav .tl { 
	position:absolute;
	float:left; 
	width:20px; 
	padding:0;
	margin:0;
	height:33px; 
	top:0; 
	left:-20px; 
	background-image: url('../images/left_menu.gif'); 
	}
#nav .tr { 
	position:absolute;
	float:right; 
	width:20px; 
	padding:0;
	margin:0;
	height:33px; 
	top:0; 
	right:-20px; 
	background-image: url('../images/right_menu.gif'); 
	}

/* Set up the link size, color and borders */
#nav ul li {
	margin:0;
	}
#pmenu a, #pmenu a:visited {
	color:#000000; 
	border:1px solid #AAA; 
	border-width:0px 1px 0px 0px;
	}
/* Make the hovered list color persist */
#pmenu li:hover > a {
	background:#666; 
	color:#FFF;
	}
/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {
	background:#666; 
	color:#FFF;
	}

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {
	background:#666; 
	color:#FFF;
	}

/* Set up the pointers for the sub level indication */
#pmenu li.sub {background:#CCC; font-weight:normal;}
#pmenu li.fly {background:#CCC url(../images/fly.gif) no-repeat right center;font-weight:normal}
#pmenu li.drop {background:#CCC url(../images/drop.gif) no-repeat right center;}
 /* END NAV */

#page {
    width: 938px;
    margin:10px auto;
    padding: 0;
    text-align: left;
	border:0px solid;
	}

#sidebar1 {
    clear:both;
	float: left;
    width: 217px;
	POSITION: relative;
	margin:0 0 10px 0;
	#margin:0;
	TEXT-ALIGN:LEFT;
	background:transparent;
	border:0px solid;
    }
#sidebar1 .hd {
	padding:0; 
	margin:5px 0 0 0; 
	background:transparent url('../images/top_sidebar3.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	}	

#sidebar1 .bd {
	text-align:left;
	padding:0 10px; 
	background:transparent url('../images/bg_sidebar3.gif') repeat-y; 
	font-size:1.1em;
	CURSOR: default 
	}
#sidebar1 .bt {
	padding:0; 
	margin:0; 
	background:transparent url('../images/bot_sidebar3.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	margin:0 0 5px 0;
	}
#sidebar1 .hd2 {
	padding:0; 
	margin:0; 
	background:transparent url('../images/top_sidebar2.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	}	

#sidebar1 .bd2{
	text-align:left;
	padding:0 5px 0 7px; 
	background-color:#555;
	font-size:1.1em;
	CURSOR: default; 
	color:#DDD;
	}
#sidebar1 .bt2 {
	padding:0; 
	margin:0; 
	background:transparent url('../images/bot_sidebar2.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	margin:0 0 5px 0;
	}
#sidebar1 .hd3 {
	padding:0; 
	margin:0; 
	background:transparent url('../images/top_sidebar.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	}	

#sidebar1 .bd3{
	text-align:left;
	padding:0 5px 0 7px; 
	background:#AEC155 url('../images/bg_sidebar.gif') repeat-y; 
	font-size:1.1em;
	font-family:Georgia,Arial;
	CURSOR: default; 
	color:#000;
	}
#sidebar1 .bt3 {
	padding:0; 
	margin:0; 
	background:transparent url('../images/bot_sidebar.gif'); 
	height:20px; 
	text-align:left; 
	overflow:visible;
	}
#sidebar1 .bd2 h3{
		color:#FFF;
		}
#sidebar1 .bd2 a:link{
		color:yellow;
		}
	
#sidebar2 {
	float: left;
    width: 120px;
	POSITION: relative;
	margin:0 0 0 17px;
	TEXT-ALIGN:center;
	background:transparent;
    }

#main {
	float: left;
    width: 560px;
	POSITION: relative;
	margin:0 0 0 15px;
	#margin:0 0 0 14px;
	TEXT-ALIGN:LEFT;
	margin-bottom:10px;
	background:transparent;
	border:1px solid #fff;
    }
.mainbox {
	POSITION: relative;
	WIDTH:100%;
	TEXT-ALIGN:LEFT;
	background:transparent;
	MARGIN-BOTTOM: 5px;
	}	
.mainbox .hd {
	padding:0; 
	margin:0; 
	background:transparent url('../images/top_main.gif'); 
	height:20px;
	width:567px;	
	text-align:left; 
	overflow:visible;
	}	

.mainbox .bd {
	position:relative;
	background:#FFF url('../images/bg_main.gif') repeat-y; 
	font-size:1.1em;
	width:547px;
	padding:0 10px;
	text-align:justify; 
	}
.mainbox .bt {
	padding:0; 
	margin:0; 
	background:transparent url('../images/bot_main.gif'); 
	height:22px; 
	width:567px;
	text-align:left;
	overflow:visible;
	}
#mainpage {
		float:left;
		width:700px;
		margin:0 0 10px 20px;
		border:0px solid;
		font-size:1.1em;
		}
#main2, #main3 {
	clear: both;
	POSITION: relative;
	margin:0;
	TEXT-ALIGN:LEFT;
	background:transparent;
    }
*html #main3 {float:left;}
#main3 {
	padding:5px 20px;
	background-color:#EEE;
	border-bottom:7px solid #DDD;
}
#main3 a:hover {
	color:#94A448;
	text-decoration:none;
	border-bottom:1px dotted;
	}	

#main3 h3 {
		font-size:1.4em;
		}
#main2 .hd {
	padding:0; 
	margin:0;
	background:transparent url('../images/top_main2.gif') bottom no-repeat; 
	height:20px;
	width:938px;	
	text-align:left; 
	overflow:visible;
	}	
#main2 .ultah{
	padding:0; 
	margin:10px 0 0 0; 
	background:transparent url('../images/top_ultah.gif') bottom no-repeat; 
	height:74px;
	width:938px;	
	text-align:left;
	overflow:visible;
	}	
#main2 .bd {
	float:left;
	padding:0 20px;
	position:relative;
	background:#FFF url('../images/bg_main2.gif') repeat-y; 
	font-size:1.2em;
	width:898px;
	text-align:justify; 
	}
#main2 .bt {
	padding:0; 
	float:left;
	margin:0 0 5px 0; 
	background:transparent url('../images/bot_main2.gif'); 
	height:22px; 
	width:938px;
	text-align:left; 
	overflow:visible;
	}	
#logo .main-nav {
    clear:right;
    float: right;
    margin: 15px 0 0 0;
    text-align:right;
    padding: 0 10px 0 0;
    font-weight:bold;
	z-index:1;
	
	}
.icon-engs, .icon-libr, .icon-hki, .icon-ol-pub{
	background-position: center 60%;
	background-repeat: no-repeat;
	position:relative;
	width:84px;
	background-image: none;
	padding: 100px 0 0 0;
	
}
.icon-engs	{background-image: url('../images/icon_eng_std.png');}
.icon-libr	{background-image: url('../images/icon_library.png');}
.icon-hki	{background-image: url('../images/icon_hki.png');}
.icon-ol-pub	{background-image: url('../images/icon_ol_pub.png');}

/* for IE only*/
*html .icon-engs	{background-image: url('../images/icon_eng_std.gif');}
*html .icon-libr	{background-image: url('../images/icon_library.gif');}
*html .icon-hki	{background-image: url('../images/icon_hki.gif');}
*html .icon-ol-pub	{background-image: url('../images/icon_ol_pub.gif');}
    
.box-modul {
	float: left;
        width: 289px;
        margin:5px 5px;
        padding:0;
        border:0px solid;
    }	
.box-modul .hdr {
	padding:0px 10px; 
	margin:0;
	background:transparent url('../images/bg_hd.gif'); 
	height:28px; 
	text-align:left; 
	overflow:visible; 
	}
.box-modul .hdr span{ 
	vertical-align:middle; 
        font: bold 12px arial;
        letter-spacing:0.05em;
	line-height:28px; 
	text-align:left; 
	margin-left:18px; 
	color:#666;
	text-transform:uppercase;
	}

.box-modul .bdy {
	text-align:left;
	padding:10px;
	background:transparent url('../images/bg_bd.gif'); 
	border:0px solid;
	}
.box-modul .ftr {
        width: 289px;
	height:15px; 
	padding:0;
	margin:0;
	background:url('../images/bg_ft.gif');
	}
.content {
	width:592px;
	#width:591px;
	padding:10px 10px 10px 5px;
	#padding:10px;
	font-size:1.3em;
	line-height:1.5em;
	font-family:"Trebuchet MS",Verdana, Arial, Helvetica,San-serif;
	text-align:justify;
	}
.content2 {
	width:796px;
	#width:795px;
	padding:0px 10px 10px 5px;
	#padding:10px;
	font-size:1.3em;
	line-height:1.5em;
	font-family:"Trebuchet MS",Verdana, Arial, Helvetica,San-serif;
	text-align:justify;
	#border:0px solid;
	}
.left-cont {
	float:left;
	width:200px;
	text-align:left;
	padding-right:5px;
	border-right:5px solid #EEE;
	}
.left-cont ol {margin-left:-10px;list-style-type:none}	
.right-cont {
	float:right;
	width:570px;
	text-align:justify;
	border:0px solid;
	}
				
span.date {
	color:#6A7631;
	font:1em Arial;
	}	
span.date2 {
	color:#C1F3B8;
	font:11px arial
	}	
.index {
        width:auto;
        text-align:right;
        height:5px;
	}
a.all, a.all2 {
	background:transparent url(../images/fly.gif) no-repeat scroll 3px 60%;
	text-decoration:none;
	color:#036A92;
	padding-left:12px;
	}
a.all {
	float:right;
	}
a.all2{
	float:left;
	font-size:1.1em;
	}

.navbar {
	float:right;
	text-align:center;
	padding-right:200px;
	line-height: 11px;
	font:bold 1.4em Verdana,tahoma;
	height:50px;
	color:#FFF;
	width:440px;
	}	
/* Horizontal lists
----------------------------------------*/
.navbar ul.linklist {
	display: block;
	margin: 0;
}
.navbar ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin: 0px;
	padding:23px;
	border-left:1px solid #7DE06B;
	border-right:1px solid #698C62;
	
}
.navbar ul.linklist li.noborderight {
	border-right:none;
	}				
.navbar ul.linklist li.noborderleft {
	border-left:none;
	}				


#sidebar1 a,
#sidebar1 a:link,
#sidebar1 a:visited,
#sidebar1 a:active {
	color:#333;
	text-decoration:none;
	}
#sidebar1 a:hover {
	color:#025373;
	text-decoration:none;
	border-bottom:1px dotted;
	}	
.icon-home, .icon-news, .icon-contact{
	background-position: top left;
	background-repeat: no-repeat;
	background-image: none;
	padding: 5px 0 0 55px;
	color:#FFF;
}
/*Icon Image*/			 
.icon-home	{background-image: url('../images/icon_home.jpg');}
.icon-news	{background-image: url('../images/icon_news.jpg');}
.icon-contact	{background-image: url('../images/icon_contact.jpg');}

.lsn{
	list-style:none;
	padding:0;
	padding-top:13px;
	clear:both;
}
.lsn li {
	margin:0;
	height:25px;
}
ul.bullet{
    list-style-image:url("../images/bullet.gif");
	margin:0 10px;
	font-weight:normal;
	}
.entry2 {
	background:transparent url(../images/bg_sidebar_top.gif) left top no-repeat;
	padding:10px;
	}
#core {
        float: left;
        padding:0;
        width: 724px;
        margin:0px;
        height:31px;
        display: inline;
        border:0px solid;
	}

#left {
       float:left;
       width:184px;
       margin:0;
       padding:0;
       text-align:left;
       margin-top:14px;	
       border:0px solid;
	}
#content {
       float:left;
       width:522px;	
	border:0px solid;
	}
#content2 {
       float:left;
       width:700px;	
	border:0px solid;
	}
.main2 {
        float:left;
        width:732px;
	margin:5px 0 0 0;
	min-height:367px;
	text-align:justify;
	padding:8px 0px 10px 10px;
	border-left:1px solid #EEE;
	}
*html .main2 {
	height:367px;
	}

.entry {
	text-align:justify;
	}
#footer {
    clear:both;
	display:block;
	margin:5px 0 0 0;
	width:975px;
    height:77px;
    font-weight:normal;
	font-family:tahoma, arial;
	background: #FFF url(../images/footer_dittek.jpg) no-repeat;
	color:#444;
	padding-right:5px;
	text-align:right;
	/*line-height:12em;*/
	}	

#footer p { 
	padding-top:55px;
	font-size:1.1em;
	margin:0;
	
	}
#footer a:hover { 
	color: #000;
	}
/*pagination*/
.pagination2, .alphabet {
	height:1%;
	margin:0px;
	text-align:right;
	width:auto;
	font-family:Verdana,Helvetica,Arial,sans-serif;
	font-size:0.85em;
	text-decoration:none;
	} 			 
.pagination2 strong {
	background-color:#4692BF;
	border:1px solid #4692BF;
	color:#FFFFFF;
	font-weight:normal;
    line-height:1.5em;
	margin:0 1px 0 5px;
	padding:0 3px;
	}
.alphabet strong {
	background-color:#444;
	border:1px solid #4692BF;
	color:#FFFFFF;
	font-weight:normal;
	font-size:1.5em;
	margin:0 1px 0 5px;
	padding:0 3px;
	}

.pagination2 a, .alphabet a  {border:none;text-decoration:none;}
.pagination2 span a, .pagination2 span a:link, .pagination2 span a:visited, .pagination2 span a:active, .alphabet span a, .alphabet span a:link, .alphabet span a:visited, .alphabet span a:active {
	background-color:#EEEEEE;
	border:1px solid #BABABA;
	color:#555;
	font-weight:normal;
	line-height:1.5em;
	margin:0 1px;
	padding:0 2px;
	text-decoration:none;
	}

.pagination2 span a:hover {
	background-color:#368AD2;
	border-color:#368AD2;
	color:#FFFFFF;
	text-decoration:none;
	}
.alphabet span a:hover {
	background-color:#444;
	border-color:#368AD2;
	color:#FFFFFF;
	text-decoration:none;
	}	
	
.pagination2 span .page-sep, .alphabet span .page-sep {
	display:none;
	}
div.pagination {
	padding: 3px 0;
	margin: 5px 0;
	font-size:11px;
}

div.pagination a {
	padding: 1px 4px;
	margin: 2px;
	border: 1px solid #9CB138;
	
	text-decoration: none; /* no underline */
	color: #045274;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #045274;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #045274;
	font-weight: bold;
	background-color: #045274;
	color: #FFF;
	}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
	}	

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
	margin-top:10px;
	margin-left:27px;
	float:left;
	height:1%;
	text-align:left;
	padding:0;
}
*html ul.linklist {
	margin-left:6px;
	}
ul.linklist li {
	list-style-type: none;
	float: left;
	width: auto;
	position:relative;
	margin-right: 15px;
	padding-top:5px;
	/*line-height: 150px;*/
	line-height: 80px;
	top:35px;
}
ul.linklist a,
ul.linklist a:link,
ul.linklist a:visited,
ul.linklist a:active {
	text-decoration:none;
	}
ul.linklist2 {
	display: block;
	margin: 0;
	float:left;
	height:1%;
	text-align:left;
	padding:0;
	padding-left:18px;
}
ul.linklist2 li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	height:30px;
	margin:0;
	line-height: 2em;
	padding:0 15px;
	border-left:1px solid #FFF;
	border-right:1px solid #CCC;
	/*background:transparent url(../images/v_line_bar.gif) top left no-repeat;*/
}		
ul.linklist2 li.noborderleft {
	border-left:none;
}		
ul.linklist2 li.noborderright {
	border-right:none;
}		

/* Icon images
---------------------------------------- */
.contact, .sitemap{
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}			
.contact 	{ background-image: url("../images/contact_icon.gif"); }
.sitemap	{ background-image: url("../images/site_map_icon.gif"); }
h2 {
	font-size:1.5em;
	font-family:Arial,Helvetica,Sans-Serif;
	color:#71860E;
	padding:0 0 3px 0;
	margin:0 0 10px 0;
	text-transform:uppercase;
   }
h3.menu {
	color:#777;
   }
.hidden {
	display:none;
	}   
h3 {
	font-size:1.3em;
	font-family:Arial;
	text-transform:capitalize;
	color:#025373;
    margin:0 0 5px 0;
  }
h4 {
	font-size:1em;
	font-family:verdana;
	color:#444;
	margin:0 0 5px 0;
  }

h2.title {
	border-bottom:1px solid #E5E5E5;
}
h3.title {
	color:#444;
}

h2.modul {
       height:41px;
       padding-left:35px;
       margin:0;
       letter-spacing:-1px;
       line-height:2.4em;
       background:transparent url(../images/bar_title.gif) no-repeat;
	}
h2.modul2 {
       padding:0;
       margin:20px 0 0 0;
	}
h2.modul-left {
       height:41px;
       padding-left:35px;
       margin:0;
       line-height:2.4em;
       background:#FFF url(../images/bar_title_left.gif) left no-repeat;
       letter-spacing:-1px;
	}
h2.modul-right {
       height:41px;
       padding-right:35px;
       text-align:right;
       margin:0;
       line-height:2.4em;
       letter-spacing:-1px;
       background:#FFF url(../images/bar_title_right.gif) right no-repeat;
	}
.thumb {
	float:left;
	margin:0 5px 5px 0;
	}
.search {
	margin:187px auto 0 auto;
	border:0px solid;
	font-size:1.3em;
	}	

#portal a:link,
#portal a:visited,
#portal a:active { 
	color: #02308C;
	text-decoration:none;
	}
#portal a:hover { 
	color: #666;
	text-decoration:none;
	}	
.more a,
.more a:link,
.more a:visited,
.more a:active { 
	color: #16820A;
	text-decoration:none;
	border-bottom:1px dashed red;
	}
.more a:hover { 
	color: #02308C;
	border:none;
	}

.mod a:link, .title a:link,
.mod a:visited, .title a:visited,
.mod a:active, .title a:active { 
	color: #02308C;
	text-decoration:none;
	}
.mod a:hover, .title a:hover { 
	color: #91A62C;
	}
.title a:link,
.title a:visited,
.title a:active { 
	color: #8EA038;
	text-decoration:none;
	}
.title a:hover { 
	color: #2F7898;
	}	
.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:active { 
	color: #000;
	text-decoration:none;
	}
.navbar a:hover { 
	color: #FFF;
	text-decoration:none;
	}	
.bold {
	font-weight:bold;
	}
/* accessibility */
     span.accesskey {
     	text-decoration:none;
     }
     .accessibility {
     display:none;
     	position: absolute;
     }
/* end accessibility */
	
/* clearing */
	.stretch,
	.clear {
		clear:both; 
		margin:0; 
		padding:0; 
		font-size: 15px;
		line-height: 1px;
	}
	.clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	* html>body .clearfix {
		display: inline-block; 
		width: 100%;
	}
	
	* html .clearfix {
		/* Hides from IE-mac \*/
		height: 1%;
		/* End hide from IE-mac */
	}
/* end clearing */
.center {
	text-align:center;
	}
.middle {
	margin:0 auto;
	}
.space-left {
        margin:0;
	margin-left:20px;
	
	}		
.blank{
	clear:both; 
	margin:0; 
	padding:0; 
	font-size: 1px;
	height:4em;
	}
.spacer{
	clear:both; 
	margin:0; 
	padding:0; 
	font-size: 1px;
	height:1px;
}

.medium {width:68%;}
.leftside {
	float:left;
	text-align:left;
	width:auto;
	padding-right:5px;
	}
.rightside {
	float:right;
	text-align:right;
	width:auto;
	padding-left:5px;
	}
.leftspace {
	margin-left:20px;
	}	
#replacement {
	width:30px;
	height:30px;
	margin: 0;
	padding: 0;
  	border: 0;
        text-indent: -1000em;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	background:transparent url(../images/bg_button2.gif) no-repeat center ;
	}
*html input {
	margin-bottom:3px;
	}
select {
	font-size:1em;
	padding:0;
	margin:0;
	}
option {
	border-bottom:1px solid #DDD;
	padding:0 4px 0 2px;
	}
option.head {
	background-color:#EEE;
	}		
.combo {
	float:right;
	width:205px;
        background:transparent url(../images/bg_combo.gif) no-repeat;
	text-align:center;
	vertical-align:middle;
	height:32px;
	padding-top:40px;
	margin-top:-44px;
	}
*html .combo { 
	position:relative;
	top:-44px;
	margin-top:0;
}
.image {
        clear:both;
        float:right;
	margin:0 0 10px 10px;
	}	
.login {
	float:left:
	margin:0;
	padding-left:10px;
	}
fieldset{
	padding: 4px;
	round;
        border:0px solid #ddd;	
        text-align:justify;
	}    		
input.inputext {
	width:150px;
	margin:1px;
	}						
textarea
	background:#F4F4F4 none repeat scroll 0%;
	border:1px solid #B1B1B1;
	color:#000000;
	font:normal 1em Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-stretch:normal;
	font-variant:normal;
	line-height:normal;
	padding:2px;
	}
select {
	background-color:#FAFAFA;
	border:1px solid #666666;
	cursor:pointer;
	font-size:1em;
	font-weight:normal;
	padding:1px;
	}
input {
	cursor:default;
	font:normal 1em Verdana,Arial,Helvetica,sans-serif;
	padding:1px;
}

.inputbox {
	background:#F5F5F5 none repeat scroll 0%;
	border:1px solid #B1B1B1;
	font:normal 0.9em Verdana,Arial,Helvetica,sans-serif;
	padding:1px;
}
.inputbox2 {
	background:#F5F5F5 none repeat scroll 0%;
	border:1px solid #B1B1B1;
	font:normal 0.85em Verdana,Arial,Helvetica,sans-serif;
	padding:2px;
	margin:1px;
}
button {
	font:normal 0.9em Verdana,Arial,Helvetica,sans-serif;
	padding:1px;
	}
.post-date {
	width: 45px;
	height: 81px;
	float:left;
	background: url(../images/box_date.gif) no-repeat;
}
.post-month {
	color:#FFFFFF;
	display:block;
	font-size:11px;
	line-height:11px;
	margin-left:-2px;
	padding-top:4px;
	text-align:center;
	text-transform:uppercase;
	}
.post-day {
	color:#FFF;
	display:block;
	font-size:18px;
	line-height:28px;
	margin-left:-2px;
	padding-top:17px;
	text-align:center;
	text-transform:uppercase;
	}
.headline {
	width:494px;
	margin-left:5px;
	float:left;
	}	
.category {
	font:normal 0.85em verdana,tahoma,Arial;
	color:#0A6301;
	background-color:#f1f1f1;
	padding:2px; 
	}
/*Style for table*/
.widefat {
	width: 100%;
	background-color:#BBB;
}

.widefat td {
	padding: 1px 4px;
	font-size:1em;
	height:18px;
}

.widefat th {
	text-align: center;
	color:#FFF;
	background-color:#444;
	font-size:1.1em;
	padding: 5px 4px;
}
.alternate {
	background: #fafafa;
}
.alternate2 {
	background: #E9F1F2;
}
.widefat tr:hover {background-color:#EEF3D6}


table.tbl, table.tbl2 {
	background:#CCC none repeat scroll 0%;
	border:1px solid #DDD;
	font-size:1em;
	margin-top:10px;
	padding:0pt;
	text-align:center;
	}
table.org td {
	padding:0;
	margin:0;
	font-size:10px;
	letter-spacing:-1px;
	font-family:verdana,tahoma,arial;
}
table.org2 td {
	padding:0;
	margin:0;
	font-size:12px;
	font-family:verdana,tahoma,arial;
}
table.org2 td a, table.org td a{
	color:#EEE;
}

th {
	background:#DDDDDD none repeat scroll 0%;
	font-weight:bold;
	text-align:center;
	}
table.tbl th, table.tbl2 th {
	height:20px;
	font-size: 1em;
	text-align:center;
	}
table.tbl th {
	border-color:threedhighlight threedshadow threedshadow threedhighlight;
	border-style:solid;
	border-width:1px;
}
table.tbl2 th {
	border-color:threedhighlight threedshadow threedshadow threedhighlight;
}

td,th{
	font-size: 1em;
	padding:3px;
}
th{
	vertical-align: middle;
	text-align:center;
}

td.clright {
	text-align: right;	
}
td.clcenter {
	text-align:center;	
}
tr.even {
	background-color: #f9f9f9;
}
tr.even2 {
	background-color: #eee
}
tr.tot {
	background-color: #D2D0D0;
	font-weight:bold;
	color:#000;
}



input.inputbox, input.inputbox2	{ width: 85%; }
input.full { width: 94%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny		{ width: 125px; }	
.autowidth {
	width: auto !important;
}
/* Arrow links  */
a.top		{ background: none no-repeat left center; }
a.down		{ background: none no-repeat right center; }
a.left		{ background: none no-repeat 3px 60%; }
a.right		{ background: none no-repeat 95% 60%; }

a.up, a.up:link, a.up:active, a.up:visited {
	padding-left: 10px;
	text-decoration: none;
	border-bottom-width: 0;
}

a.top:hover {
	background-position: left top;
	background-color: transparent;
}
a.left:hover {
	background-position:0pt 60%;
	text-decoration:none;
	}
a.left, a.left:active, a.left:visited, a.top, a.top:active, a.top:visited {
	padding-left:12px;
	text-decoration:none;
	}
a.left {
	background-image:url(../images/arrow_left.gif);
	}
a.top {
	background-image:url(../images/arrow_top.gif);
	}

a.left, a.left:active, a.left:visited {
	padding-left:12px;
	}

.hightlight {
	color:red;
	font-size:11px;
	font-weight:bold;
	margin:1px;
}
/* MENU TAB */  
#maintab {
	float:left;
	position:relative;
	margin:5px 0 0 5px;
	#margin-left:3px;
	}
#maintab2 {
	float:left;
	position:relative;
	margin:5px 0 0 210px;
	#margin-left:107px;
	}  	  
    .tabs {
      float:left;
      font: bold 12px Verdana;
      line-height:15px;
      margin:0;
      top:1px;
      }
    .tabs ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    .tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabs a, .tabs .selected {
      float:left;
      background:url("../images/tableft.gif") no-repeat left top;
      margin:0 0 0 5px;
      padding:0px 0 0 4px;
      text-decoration:none;
      }
    .tabs a span, .tabs .selected span  {
      float:left;
      display:block;
      background:url("../images/tabright.gif") no-repeat right top;
      padding:5px 25px 4px 19px;
      color:#444444;
      }
    .tabs .selected span  {
      background-position:100% -83px;
      }
    .tabs .selected  {
      background-position:0% -83px;
      }
    .tabs a,
    .tabs a:link,
    .tabs a:visited,
    .tabs a:active {
      text-decoration:none;
     }    
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs a span {float:none;}
    /* End IE5-Mac hack */
    .tabs a:hover span {
	color: #FFF;
	  background-position:100% -41px;
      }
    .tabs a:hover {
      background-position:0% -41px;
      }
    .tabs a:hover span {
      background-position:100% -41px;
	  }
.scroll-medium {
	max-height:500px;
	overflow:auto;
	}	  
.highlight {font-size:1.2em;color:red;text-transform:uppercase;}	
.colorup1 {color:#333;background:#67BFCF url(../images/box1.gif) repeat-x}
.colorbot1 {background:#016A7D url(../images/) repeat-x}
.colorup2 {background:#64B9B0 url(../images/box2.gif) repeat-x}
.colorbot2 {background:#016A5F url(../images/) repeat-x}
.colorup3 {background:#BFD0D3 url(../images/box3.gif) repeat-x}
.colorbot3 {background:#517074 url(../images/) repeat-x}
.box-slidemenu {
	text-align: center;
	background-color:#EEE;
	font-family: verdana,tahoma, Arial, Helvetica, sans-serif;
	margin:10px 0 0 0;
	font-size: 1em;
	height:20px;
	border: 1px solid #E2E2E2;
	padding:10px 0;
	font-weight: bold;
	color:#444444;
}
.slidemenu{
	float:right;
}

.slidemenu ul{
margin: 0;
padding: 0;
float: left;
width:340px;

}

.slidemenu ul li{
display: inline;
}

.slidemenu ul li a{
float: left;
color: #444; /*text color*/
padding: 2px 10px;
text-decoration: none;
border: 1px solid #9CB138;
margin-right:2px;
background: #F0F0F0;
}

.slidemenu ul li a:visited {
color: #444;
}

.slidemenu ul li a:hover {
border-color:#045274;
}


.slidemenu ul li a.selected {
color: white !important;
padding: 2px 10px;
background: #045274 center center repeat-x;
border: 1px solid #045274;

}
/*--------------- belt ---*/
		
		#heading {
			display: block;
			text-align: right;
			
		}
		#heading li {
			display: inline;
			padding: 2px 6px;
			user-select: none;
			cursor: pointer;
			margin:0px 1px;
			border:1px solid #9CB138;
		}
		#heading li a:hover {
			border:1px solid #45274;
		}
		#heading li.active {
			background-color: #045274;
			color:#FFF;
			border-color:#045274;
		}
		#panes {
			float: left;
			text-align: left;
			border-style: none;
			width: 840px;
			margin: 0 auto 0 auto;
		}
		
		#previous { float: none; cursor: pointer; }
		#next { float: none; cursor: pointer; }



#boxbelt {float:left; width:253px; height:245px; background-color:#FFFFFF; padding:10px; border:1px solid #CCC; margin: 0 2px; font-size:1.1em;font-family:tahoma,arial;}
#boxbelt span {margin-right:10px;}

.border {
	padding:2px;
	border:1px solid #AAA;
	}
#links {
}

#links a {
    text-decoration: none;
    text-align: center;
}


#links a span {
    display: none;    
}

#links a:hover span {
    display: block;
    position: absolute;
	top:16px;
	left:40px;
    width: 350px;
    padding: 5px;
    color: #FFF;
	text-align:left;
	z-index:3;
    background-color: #333333;       
}

.buttons {
	float: left;
	width: auto;
	height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
}


a.pdf-icon, a.rar-icon, a.doc-icon, a.xls-icon, a.zip-icon , a.ppt-icon , a.img-icon, a.mov-icon, a.msc-icon    {
	background:transparent none no-repeat scroll left top;
	display:block;
	margin:2px auto 0 auto;
	height:20px;
	overflow:hidden;
	text-decoration:none;
	text-indent:-20000px;
	width:18px;
	}	
a.doc-icon { background-image:url(../images/icon-doc.gif);}
a.xls-icon { background-image:url(../images/icon-xls.gif);}
a.pdf-icon { background-image:url(../images/icon-pdf.gif);}
a.rar-icon { background-image:url(../images/icon-rar.gif);}
a.zip-icon { background-image:url(../images/icon-zip.gif);}
a.ppt-icon { background-image:url(../images/icon-ppt.gif);}
a.img-icon { background-image:url(../images/icon-img2.gif);}
a.mov-icon { background-image:url(../images/icon-mov.gif);}
a.mov-icon { background-image:url(../images/icon-msc.gif);}

ul.left0, ul.left1, ul.left2 {
	border:0 none;
	float:left;
	margin:5px 0 0 0;
	padding:0px;
	width:298px;
	#width:300px;
	
	min-height:100px;
	font-size:0.9em;
	#height:100px;
	}
ul.left0 {list-style-image: url(../images/cake.png);}
ul.left0 li, ul.left1 li, ul.left2 li {text-transform:uppercase;}
span.ttl{
	font-weight:bold;
	color:#71860E;
	}
form label {
	display: block;
	float: left; 
	width: 65px; 
	padding: 0; 
	margin: 5px 0 0;
	text-align: left; 
	}

 form textarea, form select, .key {
	width:auto; 
	margin:5px 0 2px 5px;
	border:1px solid #CCC;
	background-color:#EEE;
	}
form  form textarea:hover, form select:hover, .key :hover{
	border:1px solid #AAA;
	background-color:#FAFAFA;
	}
input.buttonsubmit {
	background:#BBB url(../images/bg_button.gif) bottom repeat-x;
	font-weight:bold;
	border:1px solid #AAA;
	cursor:pointer;
	margin-right:5px;
	float:right;
	}
input.buttonsubmit:hover {
	background:#BBB url(../images/bg_button_hov.gif) repeat-x;
	}

form br {
	clear:left;
	}
	
#cal {width:300px;padding:0;margin:0 auto;border:0px solid; text-align:center;font-size:0.9em}
	
.calendar {
	width: 170px;
	padding: 0;
	margin: 0 auto;
	font: normal 12px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	text-align: center;
	background-color: #fff;
}
.nav, .nav a {
	font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;	
	text-align: center;
	text-decoration: none;
}	

.calendar caption {
	margin: 0 auto;
	padding: 2px 0;
	width: 170px;
	background: #418CAC url(../images/bg_caption.gif) no-repeat left top;
	color: #fff;	 
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

table.calendar  th {
	font: bold 11px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1 url(../images/bg_th.gif) repeat-x top;
}

table.calendar td {
	width:20px;
	height:15px;
	padding:2px;
	}
caption  a, caption a:link, caption a:visited, caption a:hover{
	color:#fff;
	text-decoration:none;
	}
	
.ft {
	width:170px;
	height:15px;
	margin:0 auto;
 	background: #DDEAE7 url(../images/bg_ft.gif) no-repeat left top;
	}
.note {
	clear:left;
	float:left;
	width:200px;
	height:20px;
	padding:2px;
	}
.leftside {
	float:left;
	text-align:left;
	width:auto;
	padding-right:5px;
	}
.box {
	width:20px;
	height:15px;
	margin-right:10px;
	}
.tblue {color:blue}
.bg {background: #E8F0EA url(../images/bg_calendar.gif) no-repeat left top;}
.blue{color:#fff;background:#94B6DF  none repeat scroll 0}	
.red{color:#fff;background:#DF9496 none repeat scroll 0}	
.yellow{font-weight:bold;background:#E6E5A5 none repeat scroll 0;}	

.space {
clear:both;
width:100%;
height:10px;
border:1px solid;
}
/*style for sekilas dittek*/
.photo {
	margin:0 0 0 0;
	position:relative;
	text-align:left;
	}
.photo ul {
	margin-left:-5px;
	}
.photo ul li {
	border:0 solid #FFFFFF;
	display:inline;
	float:left;
	font-family:arial;
	font-size:11px;
	height:258px;
	margin:4px 4px 4px 4px;
	width:172px;
	}
.photo ul li a {
	background:#999999 none repeat scroll 0 0;
	border:1px solid #888888;
	cursor:default;
	display:block;
	height:106px;
	text-decoration:none;
	width:170px;
	}
.photo ul li a img {
	border:5px solid #EEEEEE;
	cursor:pointer;
	display:block;
	height:96px;
	width:160px;
	}
/*
	.photo ul li a:hover {
	position:relative;
	white-space:normal;
	z-index:4;
	}
.photo ul li a:hover img {
	border-color:#FAFAFA;
	cursor:pointer;
	height:300px;
	left:-60px;
	position:absolute;
	top:-52px;
	width:500px;
	z-index:4;
	}*/
#ImageBoxOverlay
{
	background-color: #000;
}
#ImageBoxCaption
{
	background-color: #F4F4EC;
}
#ImageBoxContainer
{
	width: 250px;
	height: 250px;
	background-color: #F4F4EC;
}
#ImageBoxCaptionText
{
	font-weight: bold;
	padding-bottom: 5px;
	font-size: 13px;
	color: #000;
}
#ImageBoxCaptionImages
{
	margin: 0;
}
#ImageBoxNextImage
{
	background-image: url(../images/spacer.gif);
	background-color: transparent;
}
#ImageBoxPrevImage
{
	background-image: url(../images/spacer.gif);
	background-color: transparent;
}
#ImageBoxNextImage:hover
{
	background-image: url(../images/next_image.jpg);
	background-repeat:	no-repeat;
	background-position: right top;
}
#ImageBoxPrevImage:hover
{
	background-image: url(../images/prev_image.jpg);
	background-repeat:	no-repeat;
	background-position: left bottom;
}	
			