@charset "iso-8859-1";
body {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #904B12; /*dk clay*/;
	color: #37271C;
	background-repeat: repeat;
}
/*===============indicates no border around any image ============*/
body img {
	border: 0px;
	text-decoration: none;
}
/* ============ margins auto center the container on the page ==========*/
#container {
	margin: 10px auto 10px auto;
	padding: 5px;
	background-color: #DB9A70;/*lt clay*/
	width:994px;
}
/*=================== styles for top banner ========================*/
#banner {
	background-position: left top;
	padding: 10px;
	background-color: #DB9A70; /*lt clay*/
	background-image: url('../../images/header.jpg');
	height: 120px;	
	background-repeat: no-repeat;
	color: #000000;
	position: relative;
}

#banner .title {
	text-align:right;
	background-color: transparent;
	color: #6E4D38;
	margin-top:20px;
	font-size: 1.5em;
	font-weight:bolder;
}


/*=================== styles for top menu ======================*/
#topmenu {
	background-color: #DB9A70;
	text-align: center;
	font-size: .90em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	color: inherit;
	border-top: 2px solid #242F24;
	border-bottom: 2px solid #242F24;
}
#topmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#topmenu li {
	display: inline;
	list-style-type: none;
	padding: 0px;
	padding-right: 1em;
}
/*==============all site links==============*/
a:link {
	font-weight: bold;
	color: #37271C;
	background: transparent;
	text-decoration: underline;
}
a:visited {
	font-weight: bold;
	color: #000000;
	background: transparent;
	padding: 0px;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration : none;
	background: #904B12;
	color: #ffffff;}
a:active {
	font-weight: bold;
	text-decoration : underline;
	background: #904B12;
	color: #000000;
}
/*====================== styles for main content area =========================*/
#content {
	/*margin-right: 200px;*/
	margin-left: 200px;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

/*===========content area list items==============*/
#content ul li {
	list-style-image: url('images/fireweed-bullet.gif');
	margin: 2px;
	padding: 2px;
}
#content li li {
	list-style-image: url('images/fireweed-bullet2.gif');
	padding: 2px 0;
}

/* *****************************************************
Navigation Bar - Left hand side 
**************************************************** */

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

#leftnav{
border: 1px solid #482609;
border-bottom-width: 0;
width: 185px;
float:left;
}

#leftnav ul{
margin: 0;
padding: 0;
list-style-type: none;
font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}

#leftnav li a{
	display: block;
	padding: 3px 0;
	padding-left: 9px;
	width: 169px; /*185px minus all left/right paddings and margins*/;
	text-decoration: none;
	color: white;
	background-color: #904B12;
	border-bottom: 1px solid #6C380E;
	border-left: 7px solid #6C380E;
	
}

* html #leftnav li a{ /*IE only */
width: 187px; /*IE 5*/
w\idth: 169px; /*185px minus all left/right paddings and margins*/
}

#leftnav li a:hover {
background-color: #C8A689;
border-left-color: #482609;
}

#leftnav div.menutitle{
color: white;
border-bottom: 1px solid #482609;
padding: 1px 0;
padding-left: 5px;
background-color: #6C380E;
font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
}


/*============== Styles for footer ===================*/
#footer {
	border-top: 2px solid #242F24;
	clear: both;
	padding: 5px;
	background-color: inherit;
	text-align: center;
}
#footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}
/*================== general styles =================*/
hr {
	width: 50%;
	text-align: center;
	background-color: #004145;
	height: 5px;
}
/* =================Styles for heading tags =============== */
h1, h2, h3, h4 {
	color: #37271C; /*dk green*/;
	background-color: inherit;
}
h1 {
	font-size: 1.5em;
	
}
h2 {
	font-size: 1em;
}
h3 {
	font-size: .9em;
}
h4 {
	font-size: .9em;
}
/*================used to center anything==============*/
.center {
	text-align: center;
}
/* ============floats images to right or left ============*/
.imgrgt {
	float: right;
	padding: 7px;
}
.imglft {
	float: left;
	padding: 7px;
}
.smtxt {
 font-size: small;
}

/*navigasi link*/
.navlink2 {
	text-align:left;
	margin:0 0 10px 0;
	padding-top:10px;
	}
	

	
	
