/*
Author: Irwan Setiawan
Created :21/06/09
Date Modified:22/06/2009
*/
 body{
	background:#8CB7C7;
	font-family:   Tahoma, Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	COLOR: #000000;
}
    div#container {
        padding: 0;
        margin:10px auto;
        border:0px solid #59819B;
        width:994px;
    }
/* Header */
        div#header {
            color: #E3EAEE;
            padding:0;
            margin:0;
            height:100px;
	    background:#418FCC url('../images/header_ice_blue.jpg') no-repeat;            
	    width:994px;
        }
         div#footer {
            height:42px;
            width:998px;
            margin:0;
            padding:0;
	    padding-top:10px;
	    vertical-align:middle;
            text-align:center;
            color:#AE9F7E;	
	        background:url('../images/bg_footer2.gif') no-repeat; 
            color:#FAFAFA;
        }
/* NAV */
.nav{
	background:#CADBE6 url(../images/bar_menu.gif) repeat-x;
        width:974px;
	margin:0 auto;
	padding:0;
	height:24px;
	border:1px solid #A1B0BB;
	border-width:1px 0;
	z-index:1000;
	font-family:tahoma,verdana,arial;
	font-size:11px;
	font-weight:bold;
	}

/* Set up the link size, color and borders */
#pmenu a, #pmenu a:visited {
	color:#033767; 
	border:1px solid #A1B0BB; 
	border-width:0px 1px 0px 0px;
	}
/* Make the hovered list color persist */
#pmenu li:hover > a {
	background:#DBE7EE; 
	color:#814000;
	}
/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {
	background:#DBE7EE; 
	color:#814000;
	}

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {
	background:#DBE7EE; 
	color:#814000;
	}

/* Set up the pointers for the sub level indication */
#pmenu li.sub {background:#BACCD7; font-weight:normal;}
#pmenu li.fly {background:#BACCD7 url(../images/fly.gif) no-repeat right center;font-weight:normal}
#pmenu li.drop {background:#BACCD7 url(../images/drop.gif) no-repeat right center;}


		
 /* END NAV */
#content {background:#E9F2F9 url(../images/bg_content2.gif) repeat-y;}
.bottom {clear:both;float:left;width:994px;height:18px;background:url(../images/bot_content2.gif) no-repeat;}
#content .contentdata {
	font-family:  Tahoma, Verdana,Arial, Geneva, Helvetica, sans-serif;
}    
h2.title {
	border-bottom:3px solid #BFCBD9;
	padding-bottom:2px;
	font-weight:normal;
        color: #022464;
   }
    
.ct-login {
	float:right;
	width:239px;
	margin:0;
	padding:0;
	}
.head-login {
	background:#DED3B9 url('../images/box_loginx.gif') no-repeat;
	text-align:center;
	padding:6px 0;
	margin-bottom:20px;
	font-size:1.3em;
	height:23px;
	font-weight:bold;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
	color:#033767;
}        
.ct-login .bd {
	    background:#EEE url('../images/bg_shadow.gif') bottom repeat-x;
	    border-right:1px #ddd solid;      
	    text-align:center;
	    padding:0;
	    padding-top:15px;    
	    padding-bottom:15px;    
}
.ct-news {
	float:right;
	width:230px;
	margin:10px 5px;
	padding:0;
	}        
.ct-news .hd {
	    background:#FFF url('../images/news_header.gif') no-repeat;
	    height:36px;            
} 
.ct-news .bd {
	padding:10px 2px 10px 10px;
	}
	
.news-title {
        font-family:   Geneva, Tahoma, Verdana, Arial, , Helvetica, sans-serif;
	font-weight:bold;
	margin-bottom:10px;
	}
.read-more{
	color:#FF6600;
	}
    .read-more a,
    .read-more a:link,
    .read-more a:active,
    .read-more a:visited {
        color: #FF6600;
        text-decoration:underline;
    }
    .read-more a:hover {
        color: #999;
        text-decoration:none
    }        	
.ct-menu {
	float:right;
	width:100%;
	margin:0;
	padding:0;
	}        
.ct-menu .hd {
        background:transparent url(../images/box_header2.gif) no-repeat;
	    height:22px;
	    line-height:20px;
	    font-weight:bold;
	    padding-left:10px;
	    text-align:left;
	    color:#FFFFFF;
	    font-size:11px;            
}        
.ct-menu .bd {
	    text-align:left;
	    padding:0px 0 5px 0;
	    margin-bottom:10px;
	    border:1px solid #CCCCCC;
	    border-top:none;
}
.ct-notif {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	}        
.ct-notif .hd {
	            background:red;// url(../images/box_header.gif) no-repeat;

	    height:21px;
	    line-height:20px;
	    font-weight:bold;
	    padding-right:10px;
	    text-align:center;
	    font-size:12px;
	    color:#FFF;
	    font-family:Verdana;            
            border:1px solid red;
	    border-bottom:none;
}        
.ct-notif .bd {
	    text-align:left;
	    padding:0px 10px 5px 10px;
	    margin-bottom:10px;
	    background:#FEE7E7;
	    border:1px solid #CCCCCC;
}
.ct-notif a,
.ct-notif a:link,
.ct-notif a:active,
.ct-notif a:visited {
	color: #60391F;
	}
.ct-notif a:hover {
	color:red;
	}
.ct-welcome {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	}        
.ct-welcome .bd {
	text-align:left;
	padding:10px;
	margin-bottom:10px;
	border:1px solid #CCCCCC;
}


.msg {
	width:976px;
	padding:0;
	height:20px;
	line-height:24px;
	margin:0 auto 5px auto;
	font-size:1em;
	background:#DDD url(../images/bg_info2.gif) bottom repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	} 
	}
.ct-menu .bd, .ct-welcome .bd {
	background-color:#E3EAEE;
	}	  
.msg .crdate {
	float:right;
	padding:3px 10px 2px 0;
	color:#C34B02;
	}
.msg .username {
	float:left;
	color:#033767;
	padding:3px 0 2px 10px;
	font-weight:bold;
	}
    .username a,
    .username a:link,
    .username a:active,
    .username a:visited {
        color: #666;
        text-decoration:underline;
	font-weight: normal;
    }
    .username a:hover {
        color: red;
    }        

h3.title{
	margin:0 0 8px 0;
  	padding:0px;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
  	font-weight:bold;
	color:#033767;
	font-size:14px;
	text-align:left;
	border-bottom: 3px solid #3C658B;
}
div.title2{
	float:left;
	margin:0 0 0px 0;
  	padding:2px;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
  	font-weight:bold;
	color:#215B90;
	font-size:12px;
	text-align:left;
}
h2.welcome {
	color:#FF6600;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
       	font-size:16px;
       	font-weight:bold;
	}
.date {
	color:red;
	}	
.index {
	clear:both;
	float:right;
	margin-top:10px;
	}
/* LINKS */
	a,
	a:link 
	a:active,
	a:visited {
		color: #033767;
		text-decoration: underline;
	}
	a:hover {
        color: #814000;
	}
/* END LINKS */ 
/* STYLE untuk navigasi halaman */
/* Pagination
---------------------------------------- */

.pagination {
	height: 1%; /* IE tweak (holly hack) */
	clear:both;
	text-align: left;
	margin:3px 0 5px 0 ;
	height:16px;
	border:0px solid;
}
.pagination span.page-sep {
	display:none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 4px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #3C658B;
	border: 1px solid #3C658B;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	color: #444;
	margin: 0 2px;
	padding: 0 4px;
	background-color: #D6E3EF;
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
}

.pagination span a:hover {
	border-color: #3C658B;
	background-color: #3C658B;
	color: #FFF;
	
}

.pagination img {
	vertical-align: middle;
}

/*FORM

input,select {
	border:1px solid #999;
	padding:1px 0;
	}
input:hover,select:hover {
	border:1px solid #FC8404;
	}
input.text,select,textarea {
	border:1px solid #999;
	}
input.text:hover,select:hover,textarea:hover {
	border:1px solid #FC8404;
	}
	
input.button-image {
	cursor:pointer;
	border:none;
	}*/
		
.back2, .back2home {
	clear: both;
	height: 11px;
}
.link {
	cursor:pointer;
	}

.klik {
	cursor:pointer;
	}
a.arrow,
a.arrow:hover,
a.arrow:visited {
	font-weight:bold;
	color:red;
	text-decoration:underline;
	padding-left:13px;
	font-size:10px;
	background:url(../images/arrowb.gif) no-repeat;
	
}


/*Kalender*/
  .boxed {
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
    background-color:#fff;
  }
  .boxedm {
    color: #ffffff;
    background-color: #ff0000;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedmo {
    color: #0000ff;
    background-color: #ff0000;
    font-size:10px;
    font-weight:bold;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedn {
    color: #0000ff;
    background-color: #ffffff;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedo {
    color: #ffffff;
    background-color: #0000ff;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedh {
    color: #000;
    background-color: #ddd;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    border-bottom:solid 1px #eee;
    border-right:solid 1px #eee;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  
/* MENU TAB */  
/* MENU TAB */  
    .tabs {
      float:left;
      font: bold 11px Verdana;
      line-height:15px;
      margin:0;
      top:1px;
      }
    .tabs ul {
	  margin:0;
	  padding:10px 10px 0 50px;
	  list-style:none;
      }
    .tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabs a, .tabs .selected {
      float:left;
      background:url("../images/tableft2.gif") no-repeat left top;
      margin:0 0 0 2px;
      padding:0px 0 0 4px;
      text-decoration:none;
      }
    .tabs a span, .tabs .selected span  {
      float:left;
      display:block;
      background:url("../images/tabright2.gif") no-repeat right top;
      padding:5px 10px 4px 4px;
      color:#444444;
      }
    .tabs .selected span  {
      background-position:100% -83px;
      }
    .tabs .selected  {
      background-position:0% -83px;
      }
    .tabs a,
    .tabs a:link,
    .tabs a:visited,
    .tabs a:active {
      text-decoration:none;
     }    
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs a span {float:none;}
    /* End IE5-Mac hack */
    .tabs a:hover span {
	color: #0360A2;
	  background-position:100% -41px;
      }
    .tabs a:hover {
      background-position:0% -41px;
      }
    .tabs a:hover span {
      background-position:100% -41px;
	  }

/* PANEL FORM */
.panel {
	background-color:#D5E3EF;
	color:#28313F;
	padding:0pt 10px;
	border:0px solid;
	}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}
span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}	
span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}
span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}
span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}
.panel span.corners-top, .panel span.corners-bottom {
	margin: 0 -10px;
}
span.corners-top {
	background-image: url("../images/corners_left2.png");
}
span.corners-top span {
	background-image: url("../images/corners_right2.png");
}
span.corners-bottom {
	background-image: url("../images/corners_left2.png");
}
span.corners-bottom span {
	background-image: url("../images/corners_right2.png");
}
* html span.corners-top, * html span.corners-bottom { background-image: url("../images/corners_left2.gif"); }
* html span.corners-top span, * html span.corners-bottom span { background-image: url("../images/corners_right2.gif"); }

.panel-form {
	font-size:11.3px;
	font-family:Verdana;
}
.panel-form, fieldset.panel, #featureBalloonContent {
	border:0px solid #DDDDDD;
	background-color:#E1EAF1;
}
.head-login, #featureBalloonTop,th,.search-panel,.forabg, .forumbg {
	background-color: #CBD9E2; 
	background-image: url(../images/bg_head_login.gif);
	background-position: top;
	background-repeat: repeat-x;
	color:#033767;
}
.search-panel {
	background:#CBD9E2;
}
/* TABLE */

table.tbl td a:hover,table.tbl2 td a:hover {
	color: #814000;
	text-decoration: underline;
}
table.tbl tr:hover,table.tbl2 tr:hover {
	text-decoration: none;
	background:#ddd;
}
table.tbl th.sorted {
    background-color: #BACFDD;   /*707634    4AA5FF #666699;*/
   background-image:none;
}
.event2, .bg2 {
	background-color: #F4F4F4;
}
.event, .bg1 {
	background-color: #E3EAEE;
}
	
/*TAB PAGE*/
.tabs-panel:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.tabs-panel {
	height: 1%;
}
.tabs-panel a {
	background-image: url("../images/bg_tabs1.gif");
	text-decoration:none;
}

.tabs-panel a span {
	background-image: url("../images/bg_tabs2.gif");
	color: #536482;
}

.tabs-panel a:hover span {
        color:#814000;
}

.tabs-panel .selected a {
	border-bottom-color: #D5E3EF;
}

.tabs-panel .selected a span {
	color: #333333;
}

.tabs-panel .selected a:hover span {
	color: #000000;
}
.popups {
	margin:5px;
        background-color:#F4F4F4;
        padding:10px;
}
/* Profil navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #536482;
	background:#DBD4C4 url(../images/bg_nav_ib.gif) repeat-y right;
}

#navigation a:hover {
	color: #814000;
	background-color:#E6F3FC;
}

#navigation .selected a {
	color: #000000;
	background:#E6F3FC url(../images/bg_nav_ib2.gif) repeat-y right;;
}

#navigation #active-subsection a:hover {
	color: #0360A2;
}
div#container-login {
	background:url(../images/bg_panel_login2.gif) no-repeat;
	}			
.copy {margin:52px auto 0 auto;	text-align:center;color:#EEE}		
.box-login {
	background:url(../images/box_login2.gif) no-repeat;
	}

										