/* dotPROJECT REQUIRED CLASSES */
/*
BODY {
        background-color: #f0f0f0;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        font-family: Osaka,verdana,Sans-Serif;
        font-size: 10pt;
}

ul {
        margin-left: 25px;
}

dl {
        margin-top: 0px; padding-left: 1px;
}
dt {
        margin-top: 0.5em;
        color: #000099;
        font-weight: bold;
}
dd {
        margin-bottom: 0px; margin-left: 1.5em;
}


em {
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
}

A:link {
        color: #08245b;
        text-decoration: none;
}

A:visited {
        color: #08245b;
        text-decoration: none;
}

A:active {
        color: red;
        text-decoration: none;
}

A:hover {
        color: #666666;
        text-decoration: underline;
}

TD {
        font-family: Osaka,verdana,Sans-Serif;
        font-size: 8pt
}

TR {
        font-family: Osaka,verdana,Sans-Serif;
        font-size: 8pt
}

h1, .title {
        font-size: 16px;
        font-weight: bold;
        font-family: Osaka,verdana,Sans-Serif;
        color: #08245b;
        margin-bottom: 0px;
        margin-top: 5px;
}

h2, .subtitle {
        font-size: 12px;
        font-weight: bold;
        font-family: Osaka,verdana,Sans-Serif;
        color: #666;
        margin-bottom: 0px;
        margin-top: 15px;
}

h3 {
        font-size: 12px;
        font-weight: bold;
        font-family: Osaka,verdana,Sans-Serif;
        color: #08245b;
        margin-bottom: 0px;
        margin-top: 35px;
}

bordertable {
        border: 1px black solid;
}

.bordertable{
 border: 1px black solid;
}

.button{
        border: 1px black solid;
        font-family: Osaka,verdana,Sans-Serif;
        font-size: 8pt;
        
}

.item {
        color: #08245b;
}

.ok {
        color: green;
}

.text{
        border: 1px black solid;
        font-family: Osaka,verdana,Sans-Serif;
        font-size: 8pt;
        
}

TEXTAREA {
        font-family: Osaka,verdana,helvetica,arial,sans-serif;
        font-size: 9pt;
}

.textarea {
        font-family: Osaka, verdana,helvetica,arial,sans-serif;
        font-size: 9pt;
}

textarea.small {
        border: 1px black solid;
        font-family: Osaka, verdana,Sans-Serif;
        font-size: 8pt;
}
*/
/* dotProject Top Banner and Top Nav Customization */

/* Standard table 'spreadsheet' style */
/* comment ku acas karena bentrok dengan style brown
table.tbl {
        background: #ffffff; 
}

table.tbl TH {
        background-color: #08245b;
        color: #ffffff;
        list-style-type: disc;
        list-style-position: inside;
        border: outset #D1D1CD 1px;
        font-weight: normal;
        text-align:center;
}

table.tbl td {
        background-color: #F8F4E8; 
}
*/
/* a 'standard' table */
table.std {
        border: solid #F8F4E8 2px; /*#08245b 2px;*/
        background: #F8F4E8;
}
table.std TH {
        background-color: #08245b;
        color: white;
        list-style-type: disc;
        list-style-position: inside;
        border: outset #D1D1CD 1px;
}

table.std td.hilite {
        background-color: #ffffff;
}

/* contacts table */
table.contacts {
        background-color: #08245b;
}

table.contacts td {
        background-color: #d6ebff;
}

table.contacts td.hilite {
        background-color: #ffffff;
}


/* tabbed boxes */

/*
td.tabox {
        background-color: #a5cbf7;
        border-left: solid #cccccc 2px;
        border-right: solid #cccccc 2px;
        border-bottom: solid #cccccc 2px;
}
*/
/* Message styles */
.warning {
        color: red
}
.error {
        color: red
}
.message {
        color: #08245b;
}

.no_ {
        color: red
}

/* popup calendar */
body.popcal {
        background-color: #f0f0f0;
}

table.poptitle {
        background-color: #ffffff;
}
table.poptitle td {
        background-color: #ffffff;
}
table.poptitle th {
        background-color: #ffffff;
        color: #000000;
        font-size: 10pt;
        font-weight: bold;
}

table.popcal {
        background-color: #F8F4E8;
}

table.popcal th {
        background-color: #ffffff;
        color: #000000;
        font-family: Osaka,helvetica,arial,sans-serif;
        font-size: 9pt;
        font-weight: normal;
}

table.popcal td {
        background-color: #ffffff;
        font-family: Osaka,helvetica,arial,sans-serif;
        font-size: 8pt;
        text-align: center;
}

table.popcal td.empty {
        background-color: #e0e0e0;
}

table.mocal td.day  {
        background-color: #ffffff;
        text-align: center;
}

table.popcal td.today {
}

table.popcal td.weekend {
        background-color: #f0f0f0;
}

table.popcal a:link,
table.popcal a:visited {
        color: #0000ff;
        text-decoration: none;
}

table.popcal a.today:link,
table.popcal a.today:visited {
        color: #ff0000;
        font-weight: bold;
}

table.popcal a.weekend:link,
table.popcal a.weekend:visited {
        color: #0000aa;
}

table.popcal a.empty:link,
table.popcal a.empty:visited {
        color: #777777;
}

/* month calendar - title area */
table.motitle {
	background-color: #777777;
}
table.motitle td {
	background-color: #f0f0f0;
}
table.motitle th {
	background-color: #f0f0f0;
	font-size: 10pt;
}

table.mocal {
	background-color: #777777;
}
table.mocal th {
	background-color: #8C784B; /*#8C784B;*/
	color: #ffffff;
}
table.mocal td {
}
table.mocal td.week {
	vertical-align: top;
	background-color: #F8F4E8; /*#08245b;*/
	height: 80px;
}
table.mocal td.empty {
	background-color: #F4E9CE; /*#e0e0e0; #F8F4E8#CCC0B0*/
	color: #aaaaaa;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.day  {
	background-color: #ffffff;
	color: #333366;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.today {
	background-color: #E2D5C3; /*#A38845; #a5cbf7;*/
	color: #ffffff;
	text-align: left;
	vertical-align: top;
}

table.mocal td.weekend {
	background-color: #f0f0f0;
	text-align: left;
	vertical-align: top;
}

table.mocal .event {
}


/* mini calendar - title area */
table.minititle {
}
table.minititle td {
}
table.minititle th {
        font-weight: normal;
}

table.minical {
}
table.minical th {
        font-weight: normal;
}
table.minical td {
}
table.minical td.week {
}
table.minical td.empty {
        color: #aaaaaa;
}
table.minical td.day  {
        text-align: center;
}
table.minical td.today {
        background-color: #e0e0e0;
        text-align: center;
}
table.minical td.weekend {
        text-align: center;
}
table.minical .event {
}

/* daily calendar */
table.tbl td.event {
        background-color: #fff0b0;
}

table.tbl td.event td {
        background-color: #fff0b0;
}

.hidden {display:none;}
