jQuery(document).ready(function() {
	// var url = '<?php echo $this->basePath; ?>/aplikasi/software/softwarejudulicon';
	// jQuery.get(url, function(data) {
		// jQuery("div#icon-judul").html(data);
	// });	
	disableAllFormKegiatan();
	document.getElementById('kegiatanpasif').style.display = 'block';
	document.getElementById('kegiatanaktif').style.display = 'none';
	document.getElementById('btnKoreksiKegiatan').disabled = false;
	document.getElementById('btnSimpanKegiatan').disabled = true;
	
});

function disableAllFormKegiatan() {
	var i = 0;
	i = i*1;
	for (i=0;i<document.frmcatatkegiatan.elements.length;i++)
	{
		var e = document.frmcatatkegiatan.elements[i];
		e.disabled = true;
	}
	
}

function enableAllFormKegiatan() {
	var i = 0;
	i = i*1;
	for (i=0;i<document.frmcatatkegiatan.elements.length;i++)
	{
		var e = document.frmcatatkegiatan.elements[i];
		e.disabled = false;
	}
	document.getElementById('kegiatanpasif').style.display = 'none';
	document.getElementById('kegiatanaktif').style.display = 'block';
	document.getElementById('btnKoreksiKegiatan').disabled = true;
	document.getElementById('btnSimpanKegiatan').disabled = false;	
	$("#frmcatatkegiatan").ajaxForm(option_kegiatan);
	document.getElementById('n_kegiatan').focus();
}
function addKegiatan(parkegiatan,idKuesioner)
{
	
	var url = '<?php echo $this->basePath; ?>/aplikasi/kegiatan/kegiatan';	
	var param = {parkegiatan:parkegiatan,idKuesioner:idKuesioner};
	jQuery.get(url, param, function(data) {
		jQuery("#tableview").html(data);
		document.getElementById('kegiatanpasif').style.display = 'none';
		document.getElementById('kegiatanaktif').style.display = 'block';
	});
}

function insertKegiatan(){
	jQuery("#frmcatatkegiatan").ajaxForm(option_kegiatan);
}

var option_kegiatan = {
			target : '#tableview',
			beforeSubmit: function(){},
			success : function() {
				doCounter(5);
				disableAllFormKegiatan();
				document.getElementById('kegiatanpasif').style.display = 'block';
				document.getElementById('kegiatanaktif').style.display = 'none';
				document.getElementById('btnKoreksiKegiatan').disabled = false;
				document.getElementById('btnSimpanKegiatan').disabled = true;
			},
			url: '<?php echo $this->basePath; ?>/aplikasi/kegiatan/maintaindatakegiatan',
			type: 'post',
			resetForm: false
};
	
function tambahBaris(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="41%">';
	html = html + '<input type="text" id="aplikasiperkara_'+countpar+'" name="aplikasiperkara_'+countpar+'" value="" size = "49">';
	html = html + '</td>';
	html = html + '<td width="14%">';
	html = html + '<select id="platform" name="platform"><option label="--Pilih--" value="">--Pilih--</option><option label="dot net" value="1">dot net</option><option label="php" value="2">php</option><option label="asp" value="3">asp</option><option label="vb" value="4">vb</option><option label="java" value="5">java</option><option label="Lain-lain" value="6">Lain-lain</option></select>';
	html = html + '</td>';
	html = html + '<td width="15%">';
	html = html + '<select id="datbs" name="datbs"><option label="--Pilih--" value="">--Pilih--</option><option label="acces" value="1">acces</option><option label="mysql" value="2">mysql</option><option label="sqlserver" value="3">sqlserver</option><option label="db2" value="4">db2</option><option label="oracle" value="5">oracle</option><option label="Lain-lain" value="6">Lain-lain</option></select>';
	html = html + '</td>';	
	html = html + '<td width="17%">';
	html = html + '<select id="jnsapl" name="jnsapl"><option label="--Pilih--" value="">--Pilih--</option><option label="web" value="1">web</option><option label="client server" value="2">client server</option><option label="standalone" value="3">standalone</option></select>';
	html = html + '</td>';		
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisInduk('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBaris("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttable'+par2+'').value=counttbl*1+1;	
}

}

function hapusBarisInduk(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbladm"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}

function tambahBarisKendala(par1,par2){
	var html="";
	var countpar=par1*1+1;
	var counttbl=document.getElementById('counttable'+par2+'').value;
	var counttblx=counttbl*1+1;
	
if  (par1*1>=counttbl*1)
{
	html = html + '<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladm'+par2+'_'+countpar+'">';	
	html = html + '<tr class="event" id="tr_'+par2+'_'+countpar+'">';
	html = html + '<td width="5%" class="clright">';
	html = html + ''+countpar+'';
	html = html + '</td>';
	html = html + '<td width="40%">';
	html = html + '<input type="text" id="aplikasiperkara_'+countpar+'" name="aplikasiperkara_'+countpar+'" value="" size = "48">';
	html = html + '</td>';
	html = html + '<td width="47%">';
	html = html + '<input type="text" id="platform_'+countpar+'" name="platform_'+countpar+'" value="" size = "57">';
	html = html + '</td>';	
	html = html + '<td width="8%">';
	html = html + '<img src="../../images/unchek.gif" title="Hapus Baris" class=link onclick=javascript:hapusBarisKendala('+countpar+',this,"'+par2+'");>';
	html = html + ' <img src="../../images/drop-add.gif" title="Tambah Baris" class=link onclick=javascript:tambahBarisKendala("'+countpar+'","'+par2+'");>';
	html = html + '</td>';
	html = html + '</tr>';
	html = html + '</table>';
	html = html + '<div id="tbl_'+par2+'_'+countpar+'"></div>';
	document.getElementById("tbl_"+par2+"_"+par1+"").innerHTML = html;
	document.getElementById('counttable'+par2+'').value=counttbl*1+1;	
}

}

function hapusBarisKendala(induk,r,par2) {
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById("tbladm"+par2+"_"+induk+"").deleteRow(i);
	var counttbl=document.getElementById('counttable'+par2+'').value;
	document.getElementById('counttable'+par2+'').value=counttbl*1-1;
}
function doCounter(countdown) {
	location.href="#top";
	document.getElementById("confirm").style.display="block";
	if (countdown > 0) {
        countdown=countdown-1;
		window.status=countdown + " seconds left to view this page.";
		setTimeout('doCounter()',5000); 
    }
    else {
        document.getElementById("confirm").style.display="none";
    } 
}