		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			   <td width="5">k.</td>
			   <td align="left">Nama dan jumlah komponen TI yang dibelanjakan dari kegiatan yang dilakukan:</td>
			</tr>
		</table>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmkepegawaian">
		<tr>
			<th width="5%">No</th>
			<th width="22%">Komponen TI</th>
			<th width="30%">Spesipikasi</th>
			<th width="8%">Jumlah</th>
			<th width="35%">Keterangan</th>
		</tr>
		<tr class="event">
			<td>1</td>
			<td>PC Server
			<input type="hidden" id="n_komponen_1" name="n_komponen_1" value="PC Server" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_1" name="e_spesipikasi_1" value="<? echo $this->e_spesipikasi_1 ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_1" name="i_jml_komponen_1" value="<? echo $this->i_jml_komponen_1 ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_1" name="e_keterangan_1" value="<? echo $this->e_keterangan_1 ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>2</td>
			<td>PC Client
			<input type="hidden" id="n_komponen_2" name="n_komponen_2" value="PC Client" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_2" name="e_spesipikasi_2" value="<? echo $this->e_spesipikasi_2 ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_2" name="i_jml_komponen_2" value="<? echo $this->i_jml_komponen_2 ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_2" name="e_keterangan_2" value="<? echo $this->e_keterangan_2 ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>3</td>
			<td>Switch/Hub
			<input type="hidden" id="n_komponen_3" name="n_komponen_3" value="Switch/Hub" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_3" name="e_spesipikasi_3" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_3" name="i_jml_komponen_3" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_3" name="e_keterangan_3" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>4</td>
			<td>UPS
			<input type="hidden" id="n_komponen_4" name="n_komponen_4" value="UPS" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_4" name="e_spesipikasi_4" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_4" name="i_jml_komponen_4" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_4" name="e_keterangan_4" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>5</td>
			<td>Printer
			<input type="hidden" id="n_komponen_5" name="n_komponen_5" value="Printer" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_5" name="e_spesipikasi_5" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_5" name="i_jml_komponen_5" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_5" name="e_keterangan_5" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>6</td>
			<td>Website
			<input type="hidden" id="n_komponen_6" name="n_komponen_6" value="Website" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_6" name="e_spesipikasi_6" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_6" name="i_jml_komponen_6" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_6" name="e_keterangan_6" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>7</td>
			<td>Sofware System Operasi Pada Server
			<input type="hidden" id="n_komponen_7" name="n_komponen_7" value="Sofware System Operasi Pada Server" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_7" name="e_spesipikasi_7" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_7" name="i_jml_komponen_7" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_7" name="e_keterangan_7" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>8</td>
			<td>Sofware System Operasi Pada client
			<input type="hidden" id="n_komponen_8" name="n_komponen_8" value="Sofware System Operasi Pada client" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_8" name="e_spesipikasi_8" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_8" name="i_jml_komponen_8" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_8" name="e_keterangan_8" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>9</td>
			<td>Aplikasi pada Server
			<input type="hidden" id="n_komponen_9" name="n_komponen_9" value="Aplikasi pada Server" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_9" name="e_spesipikasi_9" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_9" name="i_jml_komponen_9" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_9" name="e_keterangan_9" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>10</td>
			<td>Aplikasi pada Client
			<input type="hidden" id="n_komponen_10" name="n_komponen_10" value="Aplikasi pada Client" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_10" name="e_spesipikasi_10" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_10" name="i_jml_komponen_10" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_10" name="e_keterangan_10" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>11</td>
			<td>Langganan Internet
			<input type="hidden" id="n_komponen_11" name="n_komponen_11" value="Langganan Internet" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_11" name="e_spesipikasi_11" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_11" name="i_jml_komponen_11" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_11" name="e_keterangan_11" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
		<tr class="event">
			<td>12</td>
			<td>Nama Perusahaan Hosting
			<input type="hidden" id="n_komponen_12" name="n_komponen_12" value="Nama Perusahaan Hosting" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_12" name="e_spesipikasi_12" value="<? echo $this->aplikasiperkara ?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_12" name="i_jml_komponen_12" value="<? echo $this->aplikasiperkara ?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_12" name="e_keterangan_12" value="<? echo $this->aplikasiperkara ?>" size = "40"></td>
		</tr>
	</table>