<? 
require_once 'Zend/View.php';
$ctrlFrm = new Zend_View();
?>	
	  <!--start module-->
<form id="frmcatatkegiatan"  method="post" name="frmcatatkegiatan">

<div style="overflow: hidden;">
	<div class="wrap">
			<? 
		$pesancek=$this->pesancek;
		if ($pesancek=='gagal'){$confirm ='confirmfail';}
			else {$confirm ='confirm';}
		?>	
			<div id="top"></div>
			<div id="confirm" class="<?=$confirm?>" style="display: none">
			<h2 class="title"><?echo $pesan = $this->pesan;?></h2>				
			</div>	
		<div class="panel">
		
			<span class="corners-top"><span></span></span>
			<div id="kegiatanpasif" class="" style="display:block">
					Kegiatan <strong> &#8250; </strong>Selanjutnya</a><strong> &#8250; </strong>
			</div>	
			<div id="kegiatanaktif" class="" style="display:block">	
					Kegiatan <strong> &#8250; </strong>			
						<? 
						if (($this->jmlkegiatan<=2)&&($this->parkegiatan*1==2)){?>			
						<a  href="#" onClick="addKegiatan('<?=$this->parkegiatan?>','<?=$this->id_kuesioner?>')" >Selanjutnya</a><strong> &#8250; </strong>
						<?}else{?>
						<a  href="#" onClick="addKegiatan('<?=$this->parkegiatan*1-2?>','<?=$this->id_kuesioner?>')" >Sebelumnya</a>	
						<strong> &#8250; </strong> <a  href="#" onClick="addKegiatan('<?=$this->parkegiatan?>','<?=$this->id_kuesioner?>')" >Selanjutnya</a>
						<?}?>
			</div>			
						
			<h2 class="title">Memasukan Data Kegiatan <?if ($this->parkegiatan=='1'){echo "1";}else{echo $this->parkegiatan*1-1;} ?></h2>
			<div class="spacer"></div> 
			<div class="blank"></div>
			<div id="targetview" class="" style="display:none"></div>
			<div class="blank"></div>

		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			   <td width="5" valign="top">a.</td>
			   <td align="left" valign="top">Nama Kegiatan</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<input type="text" id="n_kegiatan" name="n_kegiatan" value="<?=$this->n_kegiatan?>" size = "60">
					<input type="hidden" id="c_kegiatan" name="c_kegiatan" value="<?if ($this->parkegiatan=='1'){echo "1";}else{echo $this->parkegiatan*1-1;} ?>" size = "80">
			   </td>
			</tr>
			<tr>
				<td width="5" valign="top">b.</td>
				<td align="left" valign="top">Deskripsi Kegiatan</td>
				<td width="5" valign="top">:</td> 
				<td>
					<textarea id="e_kegiatan" name="e_kegiatan" rows="3"><?=$this->e_kegiatan?></textarea>
				</td>
			</tr>	
			<tr>
			   <td width="5" valign="top">c.</td>
			   <td align="left" valign="top">Jumlah Anggaran</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					Rp.<input type="text" id="v_anggaran" name="v_anggaran" value="<?=$this->v_anggaran?>" size = "20" onKeyUp="isNumber('v_anggaran')">
					
			   </td>
			</tr>
			<tr>
				<td width="5" valign="top">d.</td>
			   <td align="left" valign="top">Nama/Alamat Perusahaan Pemenang</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<input type="text" id="e_alamat_prshn" name="e_alamat_prshn" value="<?=$this->e_alamat_prshn?>" size = "60">
			   </td>
			</tr>	
			<tr>
			   <td width="5" valign="top">e.</td>
			   <td align="left" valign="top">Mekanisme Pemilihan Pemenang</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<?if ($this->c_jaminan=='1'){$cek1="checked";}if ($this->c_jaminan=='2'){$cek2="checked";}?>
					<input type="radio" name="e_mekanisme" value="1"<?=$cek1?>> Penunjukan Langsung &nbsp;
					<input type="radio" name="e_mekanisme" value="2"<?=$cek2?>> tender &nbsp;
			   </td>
			</tr>
			<tr>
				<td width="5" valign="top">f.</td>
			   <td align="left" valign="top">Lama Kegiatan</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<input type="text" id="i_lama" name="i_lama" value="<?=$this->i_lama?>" size = "5" onKeyUp="isNumber('i_lama')"> hari
			   </td>
			</tr>
			<tr>
			   <td width="5" valign="top">g.</td>
			   <td align="left" valign="top">Waktu Pelaksanaan</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					bulan <input type="text" id="i_waktu_mulai" name="i_waktu_mulai" value="<?=$this->i_waktu_mulai?>" size = "5" onKeyUp="isNumber('i_waktu_mulai')"> s.d
					bulan <input type="text" id="i_waktu_akhir" name="i_waktu_akhir" value="<?=$this->i_waktu_akhir?>" size = "5" onKeyUp="isNumber('i_waktu_akhir')">
			   </td>
			</tr>
			<tr>
			   <td width="5" valign="top">h.</td>
			   <td align="left" valign="top">Apakah ada jaminan pemeliharaan dari pengembang?</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<?if ($this->c_jaminan=='1'){$cek3="checked";}if ($this->c_jaminan=='2'){$cek3="checked";}?>
					<input type="radio" name="c_jaminan" value="1" <?=$cek3?>> Ada &nbsp;
					<input type="radio" name="c_jaminan" value="2" <?=$cek4?>> Tidak
			   </td>
			</tr>
			<tr>
			   <td width="5" valign="top">i.</td>
			   <td align="left" valign="top">Jika ada bagaimana caranya?</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<textarea id="e_cara" name="e_cara" rows="3"><?=$this->e_cara?></textarea>
			   </td>
			</tr>
			<tr>
				<td width="5" valign="top">j.</td>
			   <td align="left" valign="top">Dalam melaksanakan pengembangan sistem TI pedoman apa saja yang digunakan?</td>
			   <td width="5" valign="top">:</td> 
			   <td>
					<textarea id="e_pedoman" name="e_pedoman" rows="3"><?=$this->e_pedoman?></textarea>
			   </td>
			</tr>			
		</table>
<?include('komponen1.phtml');?>	
<div class="spacer"></div>	
<input type="hidden" id="id_kuesioner" name="id_kuesioner" value="<?=$this->id_kuesioner?>" size = "10">
			<table width="100%" border="0" cellpadding="0" cellspacing="1" class="stdbutton">
				<tr>
					<td>* Harus Diisi</td>
				    <td>
						<div class="right">
						
							<input type="hidden" name='perintah' value="<?=$this->par;?>">
							<input type="button" onClick="enableAllFormKegiatan();" id="btnKoreksiKegiatan" value="Koreksi"> 
							<input type="submit" value="Simpan" onClick="insertKegiatan()" id="btnSimpanKegiatan">
							
						</div>
					</td>
				</tr>
			</table>
</form>
			<div class="blank"></div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</div>	
