		<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
			<tr>
			   <td width="5">k.</td>
			   <td align="left">Nama dan jumlah komponen TI yang dibelanjakan dari kegiatan yang dilakukan:</td>
			</tr>
		</table>	
	<table  align="center" border="0" cellspacing="1" cellpadding="2"  class="tbl" id="tbladmkepegawaian">
		<tr>
			<th width="5%">No</th>
			<th width="22%">Komponen TI</th>
			<th width="30%">Spesipikasi</th>
			<th width="8%">Jumlah</th>
			<th width="35%">Keterangan</th>
		</tr>
<?
if (count($this->datakomponen) != 0){
	$jml=1;
	foreach ($this->datakomponen as $key => $val): 
		if ($key%2==0) { ?>
		<tr class="event">
				<? } else if ($key%2==1) { ?>
		<tr class="event2">
				<? } 
?>	
			<td><?=$jml?></td>
			<td><?=$this->escape($val['n_komponen']);?>
			<input type="hidden" id="n_komponen_<?=$jml?>" name="n_komponen_<?=$jml?>" value="<?=$this->escape($val['c_komponen']);?>" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_<?=$jml?>" name="e_spesipikasi_<?=$jml?>" value="<?=$this->escape($val['e_spesipikasi']);?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_<?=$jml?>" name="i_jml_komponen_<?=$jml?>" value="<?=$this->escape($val['i_jml_komponen']);?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_<?=$jml?>" name="e_keterangan_<?=$jml?>" value="<?=$this->escape($val['e_keterangan']);?>" size = "40"></td>
		</tr>
<?		
	$jml++;
	endforeach;
}		
else{
	$jml=1;
	foreach ($this->datarefkomponen as $key => $val): 
		if ($key%2==0) { ?>
		<tr class="event">
				<? } else if ($key%2==1) { ?>
		<tr class="event2">
				<? } 
?>	
			<td><?=$jml?></td>
			<td><?=$this->escape($val['n_komponen']);?>
			<input type="hidden" id="n_komponen_<?=$jml?>" name="n_komponen_<?=$jml?>" value="<?=$this->escape($val['c_komponen']);?>" size = "34">
			</td>
			<td><input type="text" id="e_spesipikasi_<?=$jml?>" name="e_spesipikasi_<?=$jml?>" value="<?=$this->escape($val['e_spesipikasi']);?>" size = "34"></td>
			<td><input type="text" id="i_jml_komponen_<?=$jml?>" name="i_jml_komponen_<?=$jml?>" value="<?=$this->escape($val['i_jml_komponen']);?>" size = "5"></td>
			<td><input type="text" id="e_keterangan_<?=$jml?>" name="e_keterangan_<?=$jml?>" value="<?=$this->escape($val['e_keterangan']);?>" size = "40"></td>
		</tr>
<?		
	$jml++;
	endforeach;


}?>

	</table>