
/* Get rid of the margin, padding and bullets in the unordered lists */
.menulist, .menulist ul {
	padding:0; 
	margin:0; 
	list-style-type: none;
	z-index:1; 
	}

/* Set up the link size, color and borders */
.menulist a, .menulist a:visited {
	display:block;
	width:94px;
	text-align:center;
	padding:4px 3px;
	font-size:12px; 
	min-height:16px;  
	text-decoration:none; 
	}
*html .menulist a, .menulist a:visited {
	/*padding:5px 14px;*/
	}
*html .menulist ul li {
	height:24px;
	}		

/* Set up the list items */
.menulist li {
	float:left;  
	background-color:transparent;
	}

/* HORIZONTAL FREESTYLE MENU LAYOUT */


/* All <ul> tags in the menu including the first level */
.menulist, .menulist  ul {
 margin: 0;
 padding: 0;
 list-style: none;
}
.menu-child a, .menu-child a:visited {
	display:block;
	width:145px;
	text-align:left;
	padding:4px 3px;
	font-size:11px; 
	min-height:16px;  
	text-decoration:none; 
	}


/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent */
.menulist ul {
 display: none;
 position: absolute;
 top: 1.3em; margin-top: 10px; /* I'm using ems and px to allow people to zoom their font */
 left: 0px;
 width: 153px;
}

/* Second and third etc. level submenus - position across from parent instead */
.menulist ul ul {
 top: -1px; margin-top: 0;
 left: 203px;
}

/*
 All menu items (<li> tags). 'float: left' lines them up horizontally, and they are
 positioned relatively to correctly offset submenus. Also, they have overlapping borders.
*/
.menulist li {
 float: left;
 display: block;
 position: relative;
 margin-right: -1px;
 /*border:1px solid #333;*/
}

/* Items in submenus - override float/border/margin from above, restoring default vertical style */
.menulist ul li {
 float: none;
 margin: 0;
 margin-bottom: -1px;
}
.menulist ul>li:last-child {
 margin-bottom: 1px; /* Mozilla fix */
}


/* Lit  items: 'hover' is mouseover, 'highlighted' are parent items to visible menus */
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus {
 color: #FFF;
 /*padding:3px;
 background-color: #A64;*/
 /*background:transparent url(../images/bar_menu_hov.gif) no-repeat; */
}
.menulist a.highlighted {
 color: #FFF;
 /*background-color: #C86;*/
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulist a#xyz {
      background-image: url(out.gif);
    }
    .menulist a#xyz:hover, .menulist a.highlighted#xyz, .menulist a:focus {
     background-image: url(over.gif);
    }
*/

/* Only style submenu indicators within submenus. */
.menulist a .subind {
 display: none;
}
.menulist ul a .subind {
 display: block;
 float: right;
}


/* 'Escaped Comment' hack for horizontal menubar width in IE5/Mac */
.menulist a {
 float: left;
}
.menulist ul a {
 float: none;
}
/* \*/
.menulist a {
 float: none;
}
/* */


/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulist ul li {
 float: left;
 width: 100%;
}

* html .menulist ul li {
 float: left;
 height: 1%;
}
* html .menulist ul a {
 height: 1%;
}
/* End Hacks */