/*
Author: Irwan Setiawan
Created :13/08/08
Date Modified:14/08/2008
*/
 body{
	background:#A9A29A;
	font-family:   "Trebuchet MS", Verdana, Arial, Geneva, Helvetica, sans-serif;
	
	COLOR: #000000;
}
.read-more{
	color:#FF6600;
	}
    .read-more a,
    .read-more a:link,
    .read-more a:active,
    .read-more a:visited {
        color: #FF6600;
        text-decoration:underline;
    }
    .read-more a:hover {
        color: #999;
        text-decoration:none
    }        	
.ct-welcome {
	float:left;
	width:100%;
	margin:0;
	padding:0;
	text-align:left;
	}        
.ct-welcome .bd {
	    text-align:left;
	    padding:10px;
	    margin-bottom:10px;
	border:1px solid #CCCCCC;
}


.msg {
	width:976px;
	padding:0;
	height:20px;
	line-height:24px;
	margin:0 auto 5px auto;
	font-size:1em;
	background:#E2D5C3 url(../images/bg_info.gif) repeat-x;
	font-family: Helvetica, Arial, Sans-serif;
	} 
.msg .crdate {
	float:right;
	padding:3px 10px 2px 0;
	color:#96521E;
	}
.msg .username {
	float:left;
	color:#000000;
	padding:3px 0 2px 10px;
	font-weight:bold;
	}
    .username a,
    .username a:link,
    .username a:active,
    .username a:visited {
        color: #666;
        text-decoration:underline;
	font-weight: normal;
    }
    .username a:hover {
        color: red;
    }
h2{color:#444; font-weight:normal}        
h3{color:#675941;letter-spacing:0.05em;}        
h2.title{
	border-bottom:1px solid #BCB3A8;
   }
    h2.title a,
    h2.title a:link,
    h2.title a:active,
    h2.title a:visited {
		color: #60391F;
		text-decoration:none;
	}
    h2.title a:hover {
        color: #0360A2;
    }   
h3.title  {
	border-left:3px solid #20B703;
      padding:0 5px;
	margin-left:5px;
   }

h2.welcome {
	color:#FF6600;
	font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
       	font-size:16px;
       	font-weight:bold;
	}
.index {
	clear:both;
	float:right;
	margin-top:10px;
	}
/* LINKS */
	a,
	a:link 
	a:active,
	a:visited {
		color: #60391F;
		text-decoration: underline;
	}
	a:hover {
        color: #0360A2;
	}
/* END LINKS */ 
/* STYLE untuk navigasi halaman */
/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	clear:both;
	text-align: left;
	margin:3px 0 5px 0 ;
	height:16px;
	border:0px solid;
}

.pagination span.page-sep {
	display:none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 4px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #75674F;
	border: 1px solid #75674F;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	color: #444;
	margin: 0 2px;
	padding: 0 4px;
	background-color: #EBE2CC;
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
}

.pagination span a:hover {
	border-color: #75674F;
	background-color: #75674F;
	color: #FFF;
	
}

.pagination img {
	vertical-align: middle;
}

/*FORM

input,select {
	border:1px solid #999;
	padding:1px 0;
	}
input:hover,select:hover {
	border:1px solid #FC8404;
	}
input.text,select,textarea {
	border:1px solid #999;
	}
input.text:hover,select:hover,textarea:hover {
	border:1px solid #FC8404;
	}
	
input.button-image {
	cursor:pointer;
	border:none;
	}*/
		
.back2, .back2home {
	clear: both;
	height: 11px;
}
.link {
	cursor:pointer;
	}

.klik {
	cursor:pointer;
	}
a.arrow,
a.arrow:hover,
a.arrow:visited {
	font-weight:bold;
	color:red;
	text-decoration:underline;
	padding-left:13px;
	font-size:10px;
	background:url(../images/arrowb.gif) no-repeat;
	
}
/* NAV */
.nav{
	background:#997952 url(../images/bar_menu.gif) bottom repeat-x;
	}
.nav .menu-child a,
.nav .menu-child a:link,
.nav .menu-child a:active,
.nav .menu-child a:visited {
        color:#FBF6EF;
        font-weight:normal;
        background: #695F53;
    }
.nav .menu-child a:hover {
        background:#E0D5C7;
        color:#382C1E;
    }    
 /* END NAV */



/* MENU TAB */  
    .tabs,.tabs2 {
      float:left;
      font-weight: bold;/* 11px Verdana;*/
      line-height:15px;
      margin:0;
      top:1px;
	  z-index:0;
      }
    .tabs ul, .tabs2 ul {
	  margin:0;
	  padding:10px 10px 0 5px;
	  list-style:none;
      }
    .tabs li, .tabs2 li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabs a, .tabs .selected, .tabs2 a, .tabs2 .selected a {
      float:left;
      background:url("../images/tableft.gif") no-repeat left top;
      margin:0px 0 0 2px;
      padding:0px 0 0 4px;
      text-decoration:none;
      }
    .tabs a span, .tabs .selected span, .tabs2 a span, .tabs2 .selected span  {
      float:left;
      display:block;
      background:url("../images/tabright.gif") no-repeat right top;
      color:#444444;
      }
    .tabs a span, .tabs2 a span  {
      padding:5px 8px 4px 4px;
      top:2px;
      }      
    .tabs .selected span, .tabs2 .selected span  {
      padding:5px 8px 6px 4px;
      }      

    .tabs .selected span, .tabs2 .selected span  {
      background-position:100% -83px;
      }
    .tabs .selected, .tabs2 .selected a  {
      background-position:0% -83px;
      }
    .tabs a, .tabs2 a,
    .tabs a:link, .tabs2 a:link,
    .tabs a:visited, .tabs2 a:visited,
    .tabs a:active, .tabs2 a:active {
      text-decoration:none;
     }    
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs a span,  .tabs2 a span {float:none;}
    /* End IE5-Mac hack */
    .tabs a:hover span, .tabs2 a:hover span {
	color: #0360A2;
	  background-position:100% -41px;
      }
    .tabs a:hover, .tabs2 a:hover {
      background-position:0% -41px;
      }
    .tabs a:hover span, .tabs2 a:hover span {
      background-position:100% -41px;
	  }

.v-outer {
	display: table;
	#position: relative;
	float:left;
	overflow: hidden;
	width: 105px;
	height: 47px;
	background: black;
	color: black;
	background:url(../images/tab2.gif) no-repeat top left;
	}

.v-middle {
	display: table-cell;
	#position: absolute;
	#top: 50%;
	width: 105px;
	vertical-align: middle;
	line-height:11px;
	font:bold 11px tahoma;
	text-align:center;
	}
.v-middle a:link,
.v-middle a:visited,
.v-middle a:active {
	text-decoration:none;	
	color: #60391F;
	}
.v-middle a:hover {
        color: #0360A2;
	}

.v-inner {
	#position: relative;
	#top: -50%;
	}

table.tblmenu {
	height:48px;
	margin:0 auto;
	}
table.tblmenu td.lmenu {
        background:url("../images/tableft2.gif") no-repeat;
        width:15px;
        padding:0;
        margin:0;
        height:48px;
	}	  
table.tblmenu td.mmenu {
        background:url("../images/tabmid.gif") repeat-x;
        width:70px;
        padding:5px;
        font: bold 11px tahoma;
        text-align:center;
        line-height:11px;
	/*text-transform:uppercase;*/
        vertical-align:middle;
        margin:0;
	}	  
table.tblmenu td.rmenu {
        background:url("../images/tabright2.gif") no-repeat;
        width:15px;
        padding:0;
        margin:0;
	}
table.tblmenu td.mmenu a{
	text-decoration:none;
	}
	
/* PANEL FORM */
.panel{
	color:#28313F;
	padding:0pt 10px;
	border:0px solid;
margin:0 0 10px 0;
	}
.panel, .confirm {background:#E3D5BD;}
.confirm {border: 1px solid #B1A589;color: #634D38;}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}
span.corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}	
span.corners-top span {
	background-image: none;
	background-position: 100% 0;
}
span.corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}
span.corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}
.panel span.corners-top, .panel span.corners-bottom {
	margin: 0 -10px;
}
span.corners-top {
	background-image: url("../images/corners_left.png");
}
span.corners-top span {
	background-image: url("../images/corners_right.png");
}
span.corners-bottom {
	background-image: url("../images/corners_left.png");
}
span.corners-bottom span {
	background-image: url("../images/corners_right.png");
}
* html span.corners-top, * html span.corners-bottom { background-image: url("../images/corners_left.gif"); }
* html span.corners-top span, * html span.corners-bottom span { background-image: url("../images/corners_right.gif"); }

.panel-form {
	font-size:11px;
	font-family:Verdana;
}

.nobgcolor {
	background-color:transparent;
	}
th {
	background:#DECDB9;/* url(../images/bg_tbl1.gif) repeat-x;*/

}

/* TABLE */

table.tbl td a:hover,table.tbl2 td a:hover {
	color: #0360A2;
	text-decoration: underline;
}
table.tbl tr:hover,table.tbl2 tr:hover,.event3{
	text-decoration: none;
	background:#FFF;
}
table.tbl th.sorted {
    background-color: #DCD8CF;   /*707634    4AA5FF #666699;*/
}
.event {
	background-color: #FDF7E9; /*#F9F7F1;*/
}
.event2 {
	background-color: #ECE6D7;
}
	
/*TAB PAGE*/

.shadetabs li a{
text-decoration: none;
color:#000000;
border: 1px solid #BBBBBB;
background: #C7B68D url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
        color:#000000;
}

.shadetabs li a:hover{
 color:#0360A2;
}

.shadetabs li.selected a{ /*selected main tab style */
background-color:#E3D5BD;
border-bottom-color: transparent;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border-top: 1px solid gray;
}

.tabs-panel:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.tabs-panel {
	height: 1%;
}
.tabs-panel a {
	background-image: url("../images/bg_tabs12.gif");
	text-decoration:none;
}

.tabs-panel a span {
	background-image: url("../images/bg_tabs22.gif");
	color: #536482;
}

.tabs-panel a:hover span {
	color: #0360A2;
}

.tabs-panel .selected a {
	border-bottom-color: #E3D5BD;
}

.tabs-panel .selected a span {
	color: #333333;
}

.tabs-panel .selected a:hover span {
	color: #000000;
}
.popups {
	margin:5px;
        background-color:#F9E6CE;
        padding:10px;
}
/* Profil navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #536482;
	background:#CBD6E1 url(../images/bg_nav.gif) repeat-y right;
}

#navigation a:hover {
	color: #0360A2;
	background-color:#FCF4E1;
}

#navigation .selected a {
	color: #000000;
	background:#FCF4E1 url(../images/bg_nav2.gif) repeat-y right;;
}

#navigation #active-subsection a:hover {
	color: #0360A2;
}	
/*Style for Forum */
ul.forums {
	background: #ECE6D7 none repeat-x 0 0;
}
li.row:hover {
	background-color: #FDFBF9;
}

@media print {
#nav {
 display:none;
}
}
div#container-login {
	background:url(../images/bg_panel_login.gif) no-repeat;
	}			

.copy {margin:52px auto 0 auto;	text-align:center;color:#AE9F7E;}		

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
	background-repeat:no-repeat;
	display:block;
	font-size:1px;
	height:5px;
	line-height:1px;
	}

span.corners-top span {
	background-image:none;
	background-position:100% 0pt;
	}

span.corners-top span {background-image:url(../images/corners_right.png);}
			