/*
Author: Irwan Setiawan
Created :18/12/2010
Date Modified:19/12/2010
*/

@import url("ddsmoothmenu.css");
body {
        font-family:   "Trebuchet MS", Tahoma, Verdana, Arial, Geneva, Helvetica, sans-serif;
        font-size: 75%;
            line-height: 120%;
                word-spacing : .03em;
        color: #000000;
        height:100%;

    }
/*Layouting*/
#container {
    width:972px;
    margin:0 auto;
    padding:0;
    border:0px solid;
    }
#content {
    float:left;
    width:1000px;
    background:#fff url(../images/content_repeat.jpg) top repeat-x;
    border:1px solid #FFF;
    border-width:0 1px;
    font-size:1em;
    margin:0 5px;
    }
#nav-bt{
    float:left;
    width:972px;
    height:12px;
    padding:0;
    margin:0;
}
#header {
        float: left;
        padding:0;
        width:1000px;
        height:150px;
        background:url(../images/head.png) no-repeat;
    }
/* NAV */
#nav {
    display:block;
    width:972px;
    padding:0;
    height:32px;
    z-index:1000;
    font-size:1.1em;
    font-weight:bold;
    }
#nav .tl {
    float:left;
    width:35px;
    }
#nav .bd {
    line-height:18px;
    float:left;
    width:1000px;
    }
#nav .tr {
    float:right;
    width:35px;
    }

#footer {
    width:1000px;
    position:relative;
    height:54px;
    line-height:50px;
    text-align:center;
    color:#aaa;
    font-size:1em;
    }
.sidebar {
    float: left;
        width: 203px;
        margin:0px;
        padding:0;
        border:0px solid;
    }
.topsidebox {
    background-color:#A1DBA9;
    border:1px solid #90C597;
    border-bottom:none;
    margin-bottom:20px;
    }
.sidebox {
    background:transparent url(../images/bot_sidebar.gif) bottom no-repeat;
    padding:0 0 10px 0;
    text-align:justify;
    margin:0 0 10px 0;

    }
.topsidebox .content{
    padding:7px;
    }
    .main {
        float:right;
        width: 740px;
    background:transparent url(../images/bg_box1.gif) repeat-y;
        margin:0;
        padding:0;
    border-top:1px solid #90C597;
    }
.content {
    text-align:justify;
    padding:10px;
    }
.hd {
    border:0px solid;
    }
.ctbox1 {
    float:left;
    width:240px;
    text-align:center;
    height:182px;
    border:0px solid;
    }
.ctbox2 {
    float:left;
    text-align:center;
    width:240px;
    height:182px;
    border:0px solid;
    }
.ctbox3 {
    float:right;
    text-align:center;
    width:240px;
    height:182px;
    border:0px solid;
    }
.box-thumb {
    background:transparent url(../images/box-hd.gif) no-repeat;
    width:200px;
    height:122px;
    border:0px solid;
    text-align:left;
    padding:5px;
    margin:0 auto 5px auto;
    }
.bot-content {
        float:right;
    width:740px;
    height:32px;
    background:#F4F0E4 url(../images/bot_box1.gif) no-repeat;
    }
.listall {
    float:right;
    height:22px;
    text-align:right;
    color:#444;
    width:200px;
    font-size:1em;
    margin:5px 0;
    }
.comment ol {
        margin:10px 0;
        list-style:none;
        }
.comment ol  li{
        margin:10px 0 0 0;
        /*background:#E9E2CC;*/
        border:1px solid #E8E4D9;
        padding:5px;
        }
.comment ol li:hover{
        background:#E9E2CC;
        border:1px solid #C7BEA2;
        }
.comment span {
            font-style:italic;
            font-weight:normal;
            }
.box-title {
    background:#E5D4BF;
    padding:4px 5px 2px 5px;
    height:16px;
    font-size:1em;
    line-height:1.2em;
    font-family:arial, Helvetica, San-serif;
    }
.box-title .right{
    text-align:right;
}
.box-login {
    width:161px;
    padding:10px;
    margin:0;
    height:194px;
    background:#DEC3A4 url(../images/box_login.gif) no-repeat;
        text-align:left;
    }
.box-login p {
    font-size:1em;
    line-height:3em;
    }


.news .box-date {
    float:left;
    text-align:center;
    width:38px;
    color:#ACA296;
    font-family:Verdana,tahoma;
    margin:7px 0 0 0;
    }
.news .box-date .day{
    display: block;
    margin-top: -5px;
    font: 700 2.1em arial, sans-serif;
    color: #B2A79A;
    }
.news .box-date .month{
    text-transform: uppercase;
    font: 700 1.0em arial, sans-serif;
    color: #9C8F80;
    }
.headline {
    float:right;
    width:465px;
    text-align:justify;
    border-left:1px solid #BCB3A8;
    border-bottom:1px solid #BCB3A8;
    margin:5px 0;
    line-height:1.3em;
    #margin:0;
    padding:5px;
    }
.imgheadline {width:100px;height:50px;padding-right:5px;}
.hidden {
    display:none;
    }


div,td {
    line-height:120%;
}
    img {
        border: 0;
        padding-right:2px;
    }

td {
    font-size:1em;
}
/* HEADINGS */
    h1 {
        font-size: 2em;
        line-height: 1.5em;
        margin: 0 0 0.5em 0;
        padding: 0;
        color: black;
    }
    h2 {
        font-size: 1.4em;
        line-height: 1em;
        margin: 0.5em 0 1em 0;
        padding: 0;
    text-align:left;
    }
    h3 {
        font-size: 1.3em;
        line-height: 1.3em;
        margin: 0 0 0.5em 0;
        padding:0;
    text-align:left;
    }
    h4 {
        font-size: 1.1em;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding:0;
    }
/* END HEADINGS */

/* TEXT */
    blockquote {
        border-left:10px solid #D0D8DC;
        margin-left:10px;
    }
    pre {
        font-family: monospace;
        font-size: 1.0em;
    }
    strong, b {
        font-weight: bold;
    }
    em, i {
        font-style:italic;
    }
    code {
        font-family: "Courier New", Courier, monospace;
        font-size: 11px;
        white-space: pre;
    }

label {
    display:block;
    font-weight:bold;
    margin:5px 0 2px 0;
    }

fieldset{
    padding: 4px;
    line-height:120%;
    round;
        border:0px solid #ddd;
        text-align:justify;
        font-size:11px;
    }
    quote {
        font-family: Tahoma, sans-serif, Helvetica, Geneva, Verdana, Arial, ;
        font-size: 11px;
     }

.sideleft {
    float:left;
    }

/* END TEXT */
/* LISTS */
    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }
*html ul{
    margin-bottom:0;
    }
    ol {
        font-size: 1.0em;
        line-height: 1.4em;
        margin: 0 0 1.5em 0;
        padding: 0;
    }
    ol li {
        font-size: 1.0em;
        margin: 0 0 0.25em 30px;
        padding: 0;
    }

    dl {
        margin: 0;
        padding: 0;
        border:0px solid;
    }
    dt {
        margin: 0.25em 0 0.25em 0;
        padding: 0;
        border:0px solid;

    }
    dl dd {
        margin: 0;
        padding:0;
        text-align:left;
        border:0px solid;
    }



* {
    /* Reset browsers default margin, padding and font sizes */
    margin: 0;
    padding: 0;
}
/* General form styles
----------------------------------------*/

.nostyle {
        border:none;
        background-color:transparent;
        width:auto;
        margin:0;
        text-align:right;
    }

select {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid #666666;
    padding: 1px;
    background-color: #FAFAFA;
    font-size:1em;
}


option {
    padding-right: 1em;
    font-size:1em;
    background-color:#FDF9F3;
}

option.disabled-option {
    color: graytext;
}

textarea {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    width: 98%;
    padding: 2px;
    font-size: 11px;
    text-align:justify;
}
textarea.medium { width:70%}
textarea.narrow { width:25%}
label {
    cursor: default;
    padding-right: 2px;
    color: #676767;
}

label input {
    vertical-align: middle;
}

label img {
    vertical-align: middle;
}


/* Input field styles
---------------------------------------- */
input.medium    { width: 50%; }
input.narrow    { width: 25%; }
input.tiny      { width: 110px; }


.autowidth {
    width: auto !important;
}

/* General form styles
----------------------------------------*/
select {
    border-color: #666666;
    background-color: #FAFAFA;
}

label {
    color: #425067;
}

option.disabled-option {
    color: graytext;
}

/* END LISTS */

    hr {
        display: none;
        margin-top:10px;
        color:#bbb;
    }
    div.hr {
        clear:both;
        font-size:1px;
        height: 1px;
        margin: 1em 0;
        border-bottom: 1px solid #BBB;
    }
/* TABLE */
    table {
            font-size: 0.8em;
        margin:0;
            padding: 2px;
    }
    th {
        font-weight: bold;
        text-align: center;
    }
    td {
        font-size: 0.8em;
    }

.login {
    margin-top:20px;
    }
.normal { width:96% }
.medium { width:80% }
.tiny { width:50% }


fieldset.fields {
    border:0px solid;
    width:100%;
    text-align:center;
    padding:0;
    margin:0 auto;
    }
fieldset.fields1,fieldset.fields2,fieldset.fields3,fieldset.fields4,fieldset.fields5 {
    border:0px solid #CCCCCC;
    padding:8px;
    margin:0 auto 3px auto;
    }
.overflow {
    clear:both;
    width:975px;
    height:330px;
    overflow:auto;
    }
.iradio {
    margin-top:3px;
    #margin:0;
    }
/* Definition list layout for forms
---------------------------------------- */

dd.dot2 {
    width: 10px;

}
dd.space {
    width: 18px;

}
dd.no, dd.radio{
    width: 20px;
    padding-top:3px;
}
d {}

dd.col-left {
    width: 140px;
    }
dd.col-left2 {
    width: 100px;
    }
dd.col-right {
    width: 460px;
}
dd.col-right2 {
    width: 150px;
}
dd.col-right3 {
    width: 220px;
}
dd.col-right4 {
    width: 595px;
}
dd.col-right5 {
    width: 705px;
}
dd.hg2 {
    height:27px;
    }
dd.hg3 {
    height:40px;
    }


.panel-form, .panel-form1, .panel-form2, .panel-form3, .panel-form4, .panel-form5 {
    display: block;
    clear:both;
    margin: 0;
    padding:10px;
    }
.panel-form4 {
    padding:5px;
    }
.panel-form  dl, .panel-form1 dl, .panel-form2  dl, .panel-form3 dl, .panel-form4  dl, .panel-form5 dl {
    padding: 0;
    margin:0;
    float:left;
    border:0px solid;
    vertical-align:middle;
    }
*html .panel-form  dl, *html .panel-form2  dl, *html .panel-form3 dl, *html .panel-form5  dl {
    float:left;
    }

.panel-form  dt, .panel-form1  dt{
    display: block;
    float: left;
    width: 165px;
    border:0px solid;
}
.panel-form2 dt{
    display: block;
    float: left;
    width: 80px;
    padding-top:3px;
    padding-left: 5px;
    padding-right: 5px;
    border:0px solid;
}
.panel-form3  dt{
    display: block;
    float: left;
    width: 400px;
    padding-top:3px;
    padding-left: 5px;
    padding-right: 5px;
    border:0px solid;
    text-align:right;
}
.panel-form4  dt{
    display: block;
    float: left;
    width: 100px;
    border:0px solid;
    padding-top:3px;
}
.panel-form5  dt{
    display: block;
    float: left;
    width: 225px;
    padding-left: 5px;
    padding-right: 5px;
    border:0px solid;
}
.panel-form dd, .panel-form1 dd, .panel-form2 dd, .panel-form3 dd, .panel-form4  dd, .panel-form5  dd {
    display: block;
    float: left;
    min-height:23px;
    padding: 3px 0 0 0;
    border:0px solid;
    vertical-align:middle;
}
*html .panel-form dd {
    height:25px;
    padding: 2px 0 2px 0;
}

.content-area {
       clear:both;
    margin:0 6px;
    }
.tabcontent {
    clear:both;
    margin:0;
    text-align:center;
    }

/* Form elements */
dt label {
    font-weight: bold;
    text-align: left;
}

dd label {
    white-space: nowrap;
    color:#524229;
}

dd input, dd textarea {
    margin-right: 3px;
}

dd select {
    width: auto;
}

dd textarea {
    width: 99%;
}
table.tbl,table.tbl2,table.tbl3 {
    clear:both;
    width:100%;
#   float:right;
    padding:0;
    margin: 0 auto 10px auto;
    background:#999999;
    font-size:1em;
    text-align:left;
}
table.tbl.tiny {
    width:50%;
}
table.tbl.medium {
    width:70%;
}
table.tbl.fit {
    width:94%;
    background:none;
}

table.tbl4 {
       clear:both;
    width: 60%;
    padding:0;
    margin: 0 auto;
    background:#999999;
    font-size:1em;
    text-align:left;
}
table.tbl th,table.tbl4 th, td {
    padding: 2px 4px 2px 4px;
    /*text-align: center;*/
    vertical-align: center;
}
table.tbl th,table.tbl4 th {
    padding: 3px;
}

table.tbl th.sorted a,table.tbl4 th.sorted a, th.sortable a, th.order1 a, th.order2 a {
    background-position: right;
    display: block;
    background-repeat:no-repeat;
}

table.tbl th.sortable a,table.tbl4 th.sortable a {
    background-image: url(../images/arrow_off.png);

}

table.tbl th.order1 a,table.tbl4 th.order1 a {
    background-image: url(../images/arrow_down.png);
}

table.tbl th.order2 a,table.tbl4 th.order2 a  {
    background-image: url(../images/arrow_up.png);
}

/*table.tbl th,table.tbl4 th{
    border: 1px solid;
    border-color: threedhighlight threedshadow threedshadow threedhighlight;
    text-align:center;
    height:15px;
}*/
table.tbl2 th{
    border: 0px solid;
    height:15px;
    text-align:center;
}
table.tbl td.clright,table.tbl2 td.clright,table.tbl4 td.clright  {
    text-align: right;
}
table.tbl td.clcenter,table.tbl2 td.clcenter,table.tbl4 td.clcenter  {
    text-align: center;
}
table.tbl td a {
    color: #4E4D4D;
}

DIV.space-line {
    clear: both;
    margin: 0;
    padding: 1px 0 0 0;
    width: auto;
}
*html DIV.space-line {
    height:0;
    font-size:0px;
    }
P.text {
    border: solid #D0D8DC 1px;
    margin: 0;
    padding: 0.2em 0.2em;
    border-right:none;
    background:#fafafa;
    font-style: normal;
    font-size: 0.9em;text-indent: 0;
    width: auto;
    color:#666;
}


h1,hr {display:none}
    div.hr {
        clear:both;
        font-size:1px;
        height: 5px;
        margin: 1em 0;
        border-bottom: 1px solid #DDD;
    }
    div.hr2 {
        font-size:1px;
        height: 1em;
        margin: 10px 0;
        border-bottom: 1px solid #DDD;
    }
    div.hr_dashed {
        clear:both;
        margin: 5px 0;
        font-size:1px;
        border-top: 1px dashed #CCCCCC;
    }
/* TABLE */
    table {
        font: 1em arial,Tahoma, Helvetica, Arial, Sans-Serif;
    }
    th {
        font-weight: bold;
        text-align: center;
        font:bold 1em Tahoma,Helvetica, Arial, Sans-Serif;
        background:#ddd;
    }
    td {
        font-size: 1em;
    }

/* LISTS */
    ul {
        margin: 0 0 0 1em;
        padding: 0;
    }
*html ul{
    margin-bottom:0;
    }
    ol {
        font-size: 1.0em;
        line-height: 1.4em;
        margin: 0 0 1.5em 0;
        padding: 0;
    }
    ol li {
        font-size: 1.0em;
        margin: 0 0 0.25em 30px;
        padding: 0;
    }

    dl {
        margin: 0;
        padding: 0;
        border:0px solid;
    }
    dt {
        margin: 0.25em 0 0.25em 0;
        padding: 0;
        border:0px solid;

    }
    dl dd {
        margin: 0;
        padding:0;
        text-align:left;
        border:0px solid;
    }


img {
    border: none;
}
a,
a:link,
a:visited,
a:active {
    color: #0D6477;
    text-decoration:underline;
    }
a:hover {
    color: red;
    text-decoration:none;
    }
.spacer{
    clear:both;
    height:auto;
    padding:0px;
    margin:0px;
    font-size:1px;
}
.leftside {
    float:left;
    text-align:left;
    width:auto;
    padding-right:5px;
    }
.rightside {
    float:right;
    text-align:right;
    width:auto;
    padding-left:5px;
    }
.tlogin {
    margin:5px 0 0 20px;
    }
.leftspace {
    margin-left:20px;
    }
option {
    border-bottom:1px solid #DDD;
    padding:0 2px;
    }
option.head {
    background-color:#EEE;
    }
.combo {
    float:right;
    width:205px;
        background:transparent url(../images/bg_combo.gif) no-repeat;
    text-align:center;
    vertical-align:middle;
    height:32px;
    padding-top:40px;
    margin-top:-44px;
    }
*html .combo {
    position:relative;
    top:-44px;
    margin-top:0;
}
.image {
        clear:both;
        float:right;
    margin:0 0 10px 10px;
    }
.login {
    float:left:
    margin:0;
    padding-left:10px;
    }
fieldset{
    padding: 4px;
    round;
        border:0px solid #ddd;
        text-align:justify;
    }
input.inputext {
    width:150px;
    margin:1px;
    }
textarea
    background:#F4F4F4 none repeat scroll 0%;
    border:1px solid #B1B1B1;
    color:#000000;
    font:normal 1em Verdana,Arial,Helvetica,sans-serif;
    font-size-adjust:none;
    font-stretch:normal;
    font-variant:normal;
    line-height:normal;
    padding:2px;
    }
select {
    background-color:#FAFAFA;
    border:1px solid #666666;
    cursor:pointer;
    font:normal 1em Verdana,Arial,Helvetica,sans-serif;
    font-weight:normal;
    padding:1px;
    }
input {
    cursor:default;
    font:normal 1em Verdana,Arial,Helvetica,sans-serif;
    padding:1px;
}
.inputbox {
    background:#FDF9F3 none repeat scroll 0%;
    border:1px solid #AAA;
    font:normal 1em Verdana,Arial,Helvetica,sans-serif;
    padding:2px;
    #margin-top:-2px;
}
.inputbox2 {
    background:#F5F5F5 none repeat scroll 0%;
    border:1px solid #B1B1B1;
    font:normal 0.85em Verdana,Arial,Helvetica,sans-serif;
    padding:2px;
    margin:1px;
}
input.full { width: 94%; }
input.medium    { width: 50%; }
input.narrow    { width: 25%; }
input.tiny      { width: 125px; }
.autowidth {
    width: auto !important;
}
/*Style for Button*/
.inputbutton1 {
    float:right;
    margin:4px 0;
    }
/* Arrow links  */
a.top       { background: none no-repeat left center; }
a.down      { background: none no-repeat right center; }
a.left      { background: none no-repeat 3px 60%; }
a.right     { background: none no-repeat 95% 60%; }

a.up, a.up:link, a.up:active, a.up:visited {
    padding-left: 10px;
    text-decoration: none;
    border-bottom-width: 0;
}

a.top:hover {
    background-position: left top;
    background-color: transparent;
}
a.left:hover {
    background-position:0pt 60%;
    text-decoration:none;
    }
a.left, a.left:active, a.left:visited, a.top, a.top:active, a.top:visited {
    padding-left:12px;
    text-decoration:none;
    }
a.left {
    background-image:url(../images/arrow_left.gif);
    }
a.top {
    background-image:url(../images/arrow_top.gif);
    }

a.left, a.left:active, a.left:visited {
    padding-left:12px;
    }
p {
    font-size:1.1em;
    line-height:1.3em;
    margin-bottom:0.9em;
    }
.hightlight {
    color:red;
    font-size:11px;
    font-weight:bold;
    margin:1px;
}
/* MENU TAB */
#maintab {
    float:left;
    position:relative;
    margin:5px 0 0 5px;
    #margin-left:3px;
    }
#maintab2 {
    float:left;
    position:relative;
    margin:5px 0 0 210px;
    #margin-left:107px;
    }
/*ACTION*/
.add {
    float:right;
    background: transparent url(../images/add.gif) no-repeat;
    width:25px;
    margin:0;
    margin-top:5px;
    height:21px;
    padding:0 1px;
    border:0px solid;
    cursor:pointer;
    }
.edit, .delete, .validasi, .unit, .konsep, .chgpasswd, .respasswd, .addportal, .file, .prt {
    display:block;
    width:14px;
    height:13px;
    cursor:pointer;
    margin:0 auto;
}

.edit { background: transparent url(../images/edit.gif) no-repeat;}
.delete{ background: transparent url(../images/del.gif) no-repeat;}
.validasi { background: transparent url(../images/val.gif) no-repeat;}
.file { background: transparent url(../images/file.gif) no-repeat;}
.prt { background: transparent url(../images/icon_print2.gif) no-repeat;}
.unit, .konsep { background: transparent url(../images/unit.gif) no-repeat;}
.chgpasswd { background: transparent url(../images/chg_passwd.gif) no-repeat;}
.respasswd { background: transparent url(../images/res_passwd.gif) no-repeat;}
.addportal { background: transparent url(../images/add_portal.gif) no-repeat;}

.proceed{
    display:block;
    background: transparent url(../images/proceed.gif) no-repeat;
    width:18px;
    height:13px;
    margin:0 auto;
    padding:0 1px;
    cursor:pointer;
    #margin:1px auto 0 auto;
    }

/*style paging*/
#loading {
    position:absolute;
    height:28px;
    left:50%;
    margin-left:-50px;
    position:absolute;
    top:50%;
    visibility:visible;
    width:120px;
    z-index:1000;
    padding:0;
    text-align:left;
    background-color:#FAFAFA;
    border:3px solid #ddd;
    }
*html #loading {
    width:130px;
    }
#loading .image {
    float:left;
    margin:0;
    margin-left:5px;
    text-align:left;
    }
#loading .load {
    float:left;
    margin:0;
    font-size:11px;
    padding:7px 10px 0 0;
    line-height:13px;
    text-align:left;
    margin-left:10px;
    font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color:#333;
    }
/* CP tabbed menu
----------------------------------------*/
.tabs-panel {
    line-height: normal;
    margin: 20px 0px -1px 7px;
    min-width: 570px;
}

.tabs-panel ul {
    margin:0;
    padding: 0;
    list-style: none;
}

.tabs-panel li{
    display: inline;
    margin: 0;
    margin-top:1px;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    width:100%;
}

.tabs-panel a {
    float: left;
    background: none no-repeat 0% -35px;
    margin: 0 2px 0 0;
    padding: 0 0 0 5px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
*html .tabs-panel a {
    top:-1px;
}

.tabs-panel a span {
    float: left;
    display: block;
    background: none no-repeat 100% -35px;
    padding: 6px 10px 6px 5px;
    color: #828282;
    white-space: nowrap;
}

.tabs-panel a:hover span {
    color: #FFF;
    text-decoration:none;
}

.tabs-panel .selected a {
    background-position: 0 0;
    border-bottom: 1px solid #ebebeb;
}
*html .tabs-panel .selected a {
}
.tabs-panel .selected a span {
    background-position: 100% 0;
    padding-bottom: 7px;
    color: #333333;
}

.tabs-panel a:hover {
    background-position: 0 -70px;
}

.tabs-panel a:hover span {
    background-position:100% -70px;
}

.tabs-panel .selected a:hover {
    background-position: 0 0;
}

.tabs-panel .selected a:hover span {
    color: #000000;
    background-position: 100% 0;
}
/*tooling*/
/* clearing */
    .stretch,
    .clear {
        clear:both;
        margin:0;
        padding:0;
        line-height: 1px;
        font-size:11px;
    }
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    * html>body .clearfix {
        display: inline-block;
        width: 100%;
    }

    * html .clearfix {
        /* Hides from IE-mac \*/
        height: 1%;
        /* End hide from IE-mac */
    }
/* end clearing */
/* centering */
.center {
        width:auto;
        padding:0;
        margin:0;
        clear:both;
    text-align:center;
    vertical-align:middle;
}
.nobg {
    background-image:none;
    }
/* replace */
    .replace {
        display:block;

        background-repeat: no-repeat;
        background-position: left top;
        background-color:transparent;
    }
    /* tidy these up */
    .replace * {
        text-indent: -10000px;
        display:block;

        background-repeat: no-repeat;
        background-position: left top;
        background-color:transparent;
    }
    .replace a {
        text-indent:0;
    }
    .replace a span {
        text-indent:-10000px;
    }
/* end replace */


/* accessibility */
     span.accesskey {
        text-decoration:none;
     }
     .accessibility {
     display:none;
        position: absolute;
     }
/* end accessibility */

p.space {
        padding:2px;
        margin:0 0 10px 0px;
    text-align:left;

}
*html p.space {
        margin:0 0 10px 6px;

}
.borderdot {
    border:1px dashed #ddd;
    position:relative;
    padding:4px;
    }
.cont-left{
    clear:both;
    float:left;
    border:1px solid;
}

.left{
    float:left;
    margin-top:3px;
}
.right{
    float:right;
    margin:0;
}
.textleft {
    text-align:left;
    }
.textright {
    text-align:right;
    }

.leftspace2{
    margin-left:7px;
}
.leftspace3{
    margin-left:14px;
}
.leftspace4{
    margin-left:21px;
}

.back{
    float:right;
    position:relative;
    margin:0;
    margin-top:-25px;
}
*htmlx .right {
    margin-top:6px;
    }
.side-right{
    text-align:right;
}
.hightlight {color:red}
.center {
    width:100%;

    }
.line_bot {
    clear:both;
    height:7px;
    border-bottom:1px solid #ddd;
    margin-bottom:5px;
    font-size:1px;
}
.clright {
    text-align: right;
}
.clleft {
    text-align: left;
}
*html .line_bot{
    height:9px;
    }
.line_top {
    clear:both;
    height:7px;
    border-bottom:1px solid #ddd;
    margin-top:-2px;
    font-size:1px;
}
*html .line_top {
    height:9px;
    margin-top:-3px;
    }

.linedot {
    clear:both;
    height:7px;
    border-bottom:1px dashed #c0c0c0;
    margin-top:-2px;
    margin-bottom:7px;
    font-size:1px;
}
*html .linedot {
    height:9px;
    }


.linedotx {
    clear:both;
    height:5px;
    border:1px dashed #ddd;
    margin:5px 0;
}

.hightlight{
    font-size:11px;
    color:red;
    margin:1px;
    font-weight:bold;
    }
.hightlight2{
    font-size:10px;
    color:#567B56;
    margin:1px;
    font-weight:normal;
    }
.line {
    clear:both;
    height:1px;
    border-bottom:1px solid #ddd;
    padding-bottom:7px;
    margin:0 0 3px 0;
}
*html .line {
    margin:-10px 0 5px 0;
    font-size:7px;
    padding:0;
}


.line-space{
    clear:both;
    height:2px;
    padding:2px;
    margin:0;
    border-bottom:1px solid #ddd;
}
*html .line-space{
    padding:0;
    }

.blank{
    clear:both;
    height:3px;
    background:transparent;
    font-size:1px;
}
.space5{
    clear:both;
    height:5px;
    background:transparent;
    font-size:1px;
}
.space{
    clear:both;
    height:7px;
    background:transparent;
    font-size:1px;
}
.spacer{
    clear:both;
    height:10px;
    background:transparent;
    font-size:1px;
    margin:0;
    padding:0;
    #height:12px;
    }
.space-height{
    clear:both;
    height:50px;
    background:transparent;
    font-size:1px;
    margin:0;
    padding:0;
    }
.space20{
    clear:both;
    height:20px;
    background:transparent;
    font-size:1px;
    }
.xline{
    margin:10px 0;
    border-top:1px dashed #ddd;
}
.thumb{
    float:left;
    padding-right:5px;
    width:80px
    }
.bold{
    font-weight:bold;
}
.bold-italic {
    font-weight:bold;
    color:#333;
    }
.italic {
    font-style:italic;
    font-weight:normal;
    }

.red {
    color:red;
    }
.normal {
    font-weight:normal;
    }
.lsb{
    clear:both;
}
.lsb li  {
    margin:0 0 0 17px;
    padding:7px 0 0 0;
    list-style:rounded;
}


#lsn{
    list-style:none;
    padding:0;
    padding-top:10px;
    clear:both;
}
#lsn2{
    list-style:none;
    padding:0;
    clear:both;
}#lsn li {
    margin:0;
}

#lsn2 li {
    margin:0 0 0 -10px;
    padding:2px 0 0 0;
}
#ls{
        list-style-image:url("../images/arrow2.gif");
    margin:0 10px;
    font-weight:normal;
}
#ls2{
        list-style-image:url("../images/bullet2.gif");
    margin:0 18px;
    font-weight:normal;
}
*html #ls2 {
    margin:0 15px;
    }
ul #ls{
        list-style-image:url("../images/arrow2.gif");
    margin:0 10px;
}
ul.linklist {
    display: block;
        list-style:none;
    margin: 0;

}
.linklist li {
    padding: 0 0 0 5px;
}
.linklist li a:link{
    text-decoration:underline;
}
ul.linklist li {
    display: block;
        list-style:none;
    float: left;
    width: auto;
    margin:0 2px 0 4px;
    font-size: 1em;
    line-height: 1em;
}
*html ul.linklist li {
    margin-left:2px;
    }
ul.headlink {
    display: inline;
        list-style:none;
    margin: 0;

}

ul.headlink li {
    display: block;
        list-style:none;
    float: left;
    width: auto;
    margin:0 0 0 5px;
    font-size: 1em;
    line-height: 1em;
}
*html ul.headlink {
    float: right;
    }

.level1 {
        list-style-image:url("../images/arrow2.gif");
    margin:0 15px;
    font-weight:normal;
}

.level2 {
        list-style-image:url("../images/arrow2.gif");
    margin:0 25px;
    font-weight:normal;
}

.level3 {
        list-style-image:url("../images/arrow2.gif");
    margin:0 35px;
    font-weight:normal;
}
/*Stylish*/
 body{
    font-family:   "Trebuchet MS", Verdana, Arial, Geneva, Helvetica, sans-serif;
    background:url(../images/login_bg.jpg)no-repeat top center;
    COLOR: #0A0A0A;
}
.read-more{
    color:#FF6600;
    }
    .read-more a,
    .read-more a:link,
    .read-more a:active,
    .read-more a:visited {
        color: #FF6600;
        text-decoration:underline;
    }
    .read-more a:hover {
        color: #999;
        text-decoration:none
    }
.box-modul {
    float:right;
    width:100%;
    margin:0;
    padding:0;
    text-align:left;
    -moz-border-radius: 6px;
        border:1px solid #91a790;
    }
.alert {
    position:absolute;
    bottom:0;
    right:0;
    width:400px;
    background:#F2F9B8;
    }
.box-modul .hd, .alert .hd {
        background:#BED5BD url(../images/message_blue.gif) no-repeat;
        height:24px;
        line-height:24px;
        font-weight:bold;
        padding-left:10px;
        text-align:left;
        color:#333;
        font-size:13px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-bottom:1px solid #91A790;
    text-shadow: #fff 0 1px 0;

}
.box-modul .bd {
    text-align:left;
    padding:10px 10px 10px 10px;
    background:#FFF;
    -moz-border-radius: 0 0 6px 6px;

}

.username {
    color:yellow;
    font-size:1em;
    line-height:27px;
    font-weight:normal
    }
    .username a,
    .username a:link,
    .username a:active,
    .username a:visited {
        color: #eee;
        text-decoration:underline;
    font-weight: normal;
    }
    .username a:hover {
        color: #FFF;
    }
h2{color:#444; font-weight:normal}
h3{color:#444;font-weight:normal}
h2.title{
    color:#464646;
    font-weight:normal;
    text-shadow: #fff 0 1px 0;
    margin:0.5em 0;
   }
    h2.title a,
    h2.title a:link,
    h2.title a:active,
    h2.title a:visited {
        color: #60391F;
        text-decoration:none;
    }
    h2.title a:hover {
        color: #0360A2;
    }
h3.title  {
    border-left:3px solid #20B703;
      padding:0 5px;
    margin-left:5px;
   }

h2.welcome {
    color:#FF6600;
    font-family:Georgia,"Bitstream Vera Serif","Times New Roman",Times,serif;
        font-size:16px;
        font-weight:bold;
    }
.index {
    clear:both;
    float:right;
    margin-top:10px;
    }
/* LINKS */
    a,
    a:link
    a:active,
    a:visited {
        color: #60391F;
        text-decoration: underline;
    }
    a:hover {
        color: #0360A2;
    }
/* END LINKS */
/* STYLE untuk navigasi halaman */
/* Pagination
---------------------------------------- */
.pagination {
    height: 1%; /* IE tweak (holly hack) */
    clear:both;
    text-align: left;
    margin:3px 0 5px 0 ;
    height:16px;
    border:0px solid;
}

.pagination span.page-sep {
    display:none;
}

li.pagination {
    margin-top: 0;
}

.pagination strong, .pagination b {
    font-weight: normal;
}

.pagination span strong {
    padding: 0 4px;
    margin: 0 2px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #75674F;
    border: 1px solid #75674F;
    font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    font-weight: normal;
    color: #444;
    margin: 0 2px;
    padding: 0 4px;
    background-color: #EBE2CC;
    border: 1px solid #CCCCCC;
    font-size: 0.9em;
}

.pagination span a:hover {
    border-color: #75674F;
    background-color: #75674F;
    color: #FFF;

}

.pagination img {
    vertical-align: middle;
}

/*FORM

input,select {
    border:1px solid #999;
    padding:1px 0;
    }
input:hover,select:hover {
    border:1px solid #FC8404;
    }
input.text,select,textarea {
    border:1px solid #999;
    }
input.text:hover,select:hover,textarea:hover {
    border:1px solid #FC8404;
    }

input.button-image {
    cursor:pointer;
    border:none;
    }*/

.back2, .back2home {
    clear: both;
    height: 11px;
}
.link {
    cursor:pointer;
    }

.klik {
    cursor:pointer;
    }
a.arrow,
a.arrow:hover,
a.arrow:visited {
    font-weight:bold;
    color:red;
    text-decoration:underline;
    padding-left:13px;
    font-size:10px;
    background:url(../images/arrowb.gif) no-repeat;

}
/* NAV */
.nav{
    background:#997952 url(../images/bar_menu.gif) bottom repeat-x;
    }
.nav .menu-child a,
.nav .menu-child a:link,
.nav .menu-child a:active,
.nav .menu-child a:visited {
        color:#FBF6EF;
        font-weight:normal;
        background: #695F53;
    }
.nav .menu-child a:hover {
        background:#E0D5C7;
        color:#382C1E;
    }
 /* END NAV */



/* MENU TAB */
    .tabs,.tabs2 {
      float:left;
      font-weight: bold;/* 11px Verdana;*/
      line-height:15px;
      margin:0;
      top:1px;
      z-index:0;
      }
    .tabs ul, .tabs2 ul {
      margin:0;
      padding:10px 10px 0 5px;
      list-style:none;
      }
    .tabs li, .tabs2 li {
      display:inline;
      margin:0;
      padding:0;
      }
    .tabs a, .tabs .selected, .tabs2 a, .tabs2 .selected a {
      float:left;
      background:url("../images/tableft.gif") no-repeat left top;
      margin:0px 0 0 2px;
      padding:0px 0 0 4px;
      text-decoration:none;
      }
    .tabs a span, .tabs .selected span, .tabs2 a span, .tabs2 .selected span  {
      float:left;
      display:block;
      background:url("../images/tabright.gif") no-repeat right top;
      color:#444444;
      }
    .tabs a span, .tabs2 a span  {
      padding:5px 8px 4px 4px;
      top:2px;
      }
    .tabs .selected span, .tabs2 .selected span  {
      padding:5px 8px 6px 4px;
      }

    .tabs .selected span, .tabs2 .selected span  {
      background-position:100% -83px;
      }
    .tabs .selected, .tabs2 .selected a  {
      background-position:0% -83px;
      }
    .tabs a, .tabs2 a,
    .tabs a:link, .tabs2 a:link,
    .tabs a:visited, .tabs2 a:visited,
    .tabs a:active, .tabs2 a:active {
      text-decoration:none;
     }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabs a span,  .tabs2 a span {float:none;}
    /* End IE5-Mac hack */
    .tabs a:hover span, .tabs2 a:hover span {
    color: #0360A2;
      background-position:100% -41px;
      }
    .tabs a:hover, .tabs2 a:hover {
      background-position:0% -41px;
      }
    .tabs a:hover span, .tabs2 a:hover span {
      background-position:100% -41px;
      }

.v-outer {
    display: table;
    #position: relative;
    float:left;
    overflow: hidden;
    width: 105px;
    height: 47px;
    background: black;
    color: black;
    background:url(../images/tab2.gif) no-repeat top left;
    }

.v-middle {
    display: table-cell;
    #position: absolute;
    #top: 50%;
    width: 105px;
    vertical-align: middle;
    line-height:11px;
    font:bold 11px tahoma;
    text-align:center;
    }
.v-middle a:link,
.v-middle a:visited,
.v-middle a:active {
    text-decoration:none;
    color: #60391F;
    }
.v-middle a:hover {
        color: #0360A2;
    }

.v-inner {
    #position: relative;
    #top: -50%;
    }

table.tblmenu {
    height:48px;
    margin:0 auto;
    }
table.tblmenu td.lmenu {
        background:url("../images/tableft2.gif") no-repeat;
        width:15px;
        padding:0;
        margin:0;
        height:48px;
    }
table.tblmenu td.mmenu {
        background:url("../images/tabmid.gif") repeat-x;
        width:70px;
        padding:5px;
        font: bold 11px tahoma;
        text-align:center;
        line-height:11px;
    /*text-transform:uppercase;*/
        vertical-align:middle;
        margin:0;
    }
table.tblmenu td.rmenu {
        background:url("../images/tabright2.gif") no-repeat;
        width:15px;
        padding:0;
        margin:0;
    }
table.tblmenu td.mmenu a{
    text-decoration:none;
    }

/* PANEL FORM */
.panel{
    color:#28313F;
    padding:0pt 10px;
    border:0px solid;
margin:0 0 10px 0;
    }
.panel, .confirm {background:#E3D5BD;}
.confirm {border: 1px solid #B1A589;color: #634D38;}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
    font-size: 1px;
    line-height: 1px;
    display: block;
    height: 5px;
    background-repeat: no-repeat;
}
span.corners-top {
    background-image: none;
    background-position: 0 0;
    margin: 0 -5px;
}
span.corners-top span {
    background-image: none;
    background-position: 100% 0;
}
span.corners-bottom {
    background-image: none;
    background-position: 0 100%;
    margin: 0 -5px;
    clear: both;
}
span.corners-bottom span {
    background-image: none;
    background-position: 100% 100%;
}
.panel span.corners-top, .panel span.corners-bottom {
    margin: 0 -10px;
}
span.corners-top {
    background-image: url("../images/corners_left.png");
}
span.corners-top span {
    background-image: url("../images/corners_right.png");
}
span.corners-bottom {
    background-image: url("../images/corners_left.png");
}
span.corners-bottom span {
    background-image: url("../images/corners_right.png");
}
* html span.corners-top, * html span.corners-bottom { background-image: url("../images/corners_left.gif"); }
* html span.corners-top span, * html span.corners-bottom span { background-image: url("../images/corners_right.gif"); }

.panel-form {
    font-size:11px;
    font-family:Verdana;
}

.nobgcolor {
    background-color:transparent;
    }
th {
    background:#d5d5d5;/* url(../images/bg_tbl1.gif) repeat-x;*/
    padding:3px;

}

/* TABLE */

table.tbl td a:hover,table.tbl2 td a:hover {
    color: #0360A2;
    text-decoration: underline;
    background-color:#e7f5e6;
}
table.tbl tr:hover,table.tbl2 tr:hover,.event3{
    text-decoration: none;
    background:#EEF3D6;
}
table.tbl th.sorted {
    background-color: #DCD8CF;   /*707634    4AA5FF #666699;*/
}
.event {
    background-color: #EEE; /*#F9F7F1;*/
}
.event2 {
    background-color: #FAFAFA;
}

/*TAB PAGE*/

.shadetabs li a{
text-decoration: none;
color:#000000;
border: 1px solid #BBBBBB;
background: #C7B68D url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
        color:#000000;
}

.shadetabs li a:hover{
 color:#0360A2;
}

.shadetabs li.selected a{ /*selected main tab style */
background-color:#E3D5BD;
border-bottom-color: transparent;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border-top: 1px solid gray;
}

.tabs-panel:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.tabs-panel {
    height: 1%;
}
.tabs-panel a {
    background-image: url("../images/bg_tabs12.gif");
    text-decoration:none;
}

.tabs-panel a span {
    background-image: url("../images/bg_tabs22.gif");
    color: #536482;
}

.tabs-panel a:hover span {
    color: #0360A2;
}

.tabs-panel .selected a {
    border-bottom-color: #E3D5BD;
}

.tabs-panel .selected a span {
    color: #333333;
}

.tabs-panel .selected a:hover span {
    color: #000000;
}
.popups {
    margin:5px;
        background-color:#F9E6CE;
        padding:10px;
}
/* Profil navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
    color: #536482;
    background:#CBD6E1 url(../images/bg_nav.gif) repeat-y right;
}

#navigation a:hover {
    color: #0360A2;
    background-color:#FCF4E1;
}

#navigation .selected a {
    color: #000000;
    background:#FCF4E1 url(../images/bg_nav2.gif) repeat-y right;;
}

#navigation #active-subsection a:hover {
    color: #0360A2;
}
/*Style for Forum */
ul.forums {
    background: #ECE6D7 none repeat-x 0 0;
}
li.row:hover {
    background-color: #FDFBF9;
}

@media print {
#nav {
 display:none;
}
}
div#container-login {
    background:url(../images/bg_panel_login.gif) no-repeat;
    }

.copy {margin:52px auto 0 auto; text-align:center;color:#AE9F7E;}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {
    background-repeat:no-repeat;
    display:block;
    font-size:1px;
    height:5px;
    line-height:1px;
    }

span.corners-top span {
    background-image:none;
    background-position:100% 0pt;
    }

span.corners-top span {background-image:url(../images/corners_right.png);}
.breadcrumb {padding-left:8px;}
.ico-home a{
    background: transparent url("../images/icon-home.gif") no-repeat 0% -34px ;
    padding:3px 0 2px 30px;
    height:28px;
    width:28px;
    }
.ico-home :hover {
    background: transparent url("../images/icon-home.gif") no-repeat 0% -3px ;
    }
.user {color:green}
#featureBalloonPos {
    position: absolute;
    width: 251px;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    }
#featureBalloonTop {
    height: 5px
    }
#featureBalloonContent {
    padding: 5px 5px 5px 11px;
    border:1px solid #9db09d;
    color:#000;
    background-color:#d0e6cf;
    }

/*Kalender*/
#MYCAL td {
    padding:2px 4px;
    text-shadow:none;
    }
  .boxed {
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
    background-color:#EEE;
  }
  .boxedm {
    color: #ffffff;
    background-color: #555555;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedmo {
    color: #0000ff;
    background-color: #555555;
    font-size:10px;
    font-weight:bold;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedn {
    color: #0000ff;
    background-color: #ffffff;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedo {
    color: #ffffff;
    background-color: #0000ff;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .boxedh {
    color: #000;
    background-color: #CCCCCC;
    font-size:10px;
    font-family:Verdana,Tahoma,Helvetica;
    text-align:center;
    width:15px;
    line-height:15px;
  }
  .panel {
    background-color:#e7fce6;
    -moz-border-radius: 6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius: 6px;
    -khtml-border-bottom-left-radius: 6x;
    -khtml-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border:1px solid #c3e1c2;

    }
.confirm {
    background: #fbf5d8 url(../images/notice.gif) no-repeat 1em;
    border: 1px solid #999999;
    margin: 1em 0;
    padding: 10px 1em 10px 3em;
    font-size:12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

input:readonly, input:disabled{
    background-color: #7F7F7F;
}
