<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";


$ctrlFrm = new Zend_View();
$format_date = new format_date();
$halaman = new format_page();
$pesan = new share_message();

$numToDisplay = $this->numToDisplay;
$currentPage = $this->currentPage;
if($this->jenisForm == 'insert'){ $title = 'Tambah Data';}
else if ($this->jenisForm == 'update'){ $title = 'Ubah Data';}

if(!$this->noTitle){
?>
<div class="breadcrumb">
	<a href="<?echo $this->basepath;?>/home/index/main">Halaman Utama</a> <strong> &#8250; </strong> 
</div>
<?}?>
<?
if(!$this->noTitle){
?>
<div id="icon-index" class="icon32"></div><h2 class="title">Data Referensi</h2>

<?}?>
<?
if(!$this->noTitle){
?>
<div id="mabody">
<?}?>

	<?if (!$this->noTitle){
		require ("submenukiri.php");
	}
	?>
	<div style="overflow: hidden;">
		<div id="tableview">
			<div class="wrap">
				<? 
			
				$status = $this->hasil;
				$proses = $this->proses;
				$keterangan = $this->keterangan;
				
				$pesan->show_message($proses, $keterangan, "$status" ); ?>
				<h2 class="title">Data Pengadilan Banding</h2>
				<div class="panel">
					<table border="0">
						<tr>
							<td width="30%" align="right">
								Pendarian Berdasarkan :
							</td>
							<td width="20%" align="center">
								<?
								for($x=0; $x<count($this->kategoriList); $x++)
								{
									$id_kategori = $this->kategoriList[$x]['id'];
									$n_kategori = $this->kategoriList[$x]['n_kategori'];
									$kategoriList[$id_kategori] = $n_kategori;
								}
								$kategoriList['Nama Pengadilan Banding'] = "Nama Pengadilan Banding";
								$kategoriAttrib = array("onChange" => "javascript:setFieldKataKunci();");
								echo $ctrlFrm->formSelect('kategoriCari', $this->kategoriCari, $kategoriAttrib, $kategoriList);
								?>
							</td>
							<td width="50%" align="left">
									<?
									if(trim($this->kategoriCari) == 'Nama Pengadilan Banding'){
										$kataKunciAttrib = array("disabled" => false);
									} else {
										$kataKunciAttrib = array("disabled" => true);
									}
									echo $ctrlFrm->formText('katakunci', $this->katakunci, $kataKunciAttrib);
									?>
								<input type="button" value="cari" onClick="cariPengadilanBanding();">
							</td>
						</tr>
					</table>
				</div>
				<div class="spacer"> </div>	
				<input type="button" class="submit alignright" value="Tambah Data" onClick="pengadilanbandingForm('insert','');">
				<table class="tbl" width="100%" cellspacing="1" cellpadding="2" border="0" align="center">
					<tr>
						<th width="5%">No.</th>
						<th width="25%">Nama Pengadilan Tinggi</th>
						<th width="25%">Kategori Pengadilan</th>
						<th colspan="2">Tindakan</th>
					</tr>
					<?php
					//var_dump($this->pengadilanbandingList );
					if(count($this->pengadilanbandingList) == 0){
						?>
						<tr>
							<td colspan="6">Data Tidak Ditemukan</td>
						</tr>
						<?php
					} else {
						for($i=0; $i<count($this->pengadilanbandingList); $i++){
							if($i%2){$event = "event";}
							else {$event = "event2";}
							$noUrut = (($currentPage -1)* $numToDisplay) + $i +1;
						?>
							<tr class=<?php echo $event; ?>>
								<td>&nbsp;<?php echo $noUrut;?></td>
								<td>&nbsp;<?php echo $this->pengadilanbandingList[$i]['n_organisasi'];?></td>
								<td>&nbsp;<?php echo $this->pengadilanbandingList[$i]['n_kategori'];?></td>
								<td><div onClick="pengadilanbandingForm('update','<? echo $this->pengadilanbandingList[$i]['i_organisasi'];?>');" class="edit" title="Ubah Data"></div></td>
								<td><div class="delete" title="Hapus Data" onClick="pengadilanbandingHapus('Pengadilan Banding', '<? echo $this->pengadilanbandingList[$i]['i_organisasi']; ?>', '')" ></td>
							</tr>
						<?php
						} 
					}
					?>
				</table>
				<?	
				 $totalData = $this->totpengadilanbandingList;
				 
				 $modul = $this->basePath."/adm/pengadilanbanding/daftarpengadilanbanding";
				 $param1 = $this->kategoriCari;
				 $param2 = $this->katakunci;
				
				 echo $halaman->showPage($totalData, $numToDisplay, $currentPage, 'content', $modul, $param1, $param2, $param3, $param4);		
				?>
			</div> <!--wrap-->
		</div>	
	</div><!--overflow-->
</div> <!--mabody-->

<script type="text/javascript">
	$(function() {
		$("#dAgenda").datepicker();
	});
</script>