<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once "share/oa_dec_cur_conv.php";
require_once "share/share_message.php";

$referensi = Aplikasi_Referensi_Service::getInstance();
$ctrlFrm = new Zend_View();
$pesan = new share_message();

?>
<? if(strtolower($this->jenisForm) == 'insert') {
		$namaForm = 'frmtambahpengadilanbanding'; 
		$jenisAksi = 'Tambah';
		}
    else if (strtolower($this->jenisForm) == 'update') {
		$namaForm = 'frmubahpengadilanbanding';  
		$jenisAksi = 'Ubah';
		}
	  else {	
	        $namaForm = 'frmhapuspengadilanbanding';  
		$jenisAksi = 'Hapus';
		}
		
?>
		
<div class="wrap">
	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<h2 class="title"><? echo $jenisAksi;?> Data PengadilanBanding</h2>
	
			<?
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
	
			$pesan->show_message($proses, $keterangan, $status); 
			?>
			<div class="spacer"> </div>	
			<div id="targetview" class="" style="display:none"></div>

	
			<form method="post" name="<? echo $namaForm;?>" id="<? echo $namaForm;?>">
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
					<tr>
						<td align="right" width="180">* Kategori Pengadilan :</td>
						<td>
							<?
							//$kelompokList = $this->kategoriList;
							echo $ctrlFrm->formSelect('kelompok', $kelompok, $kelompokAttrib, $kelompokList);
							?>
						</td>
					</tr>
				</table>
				<?if ($kelompok != '3'){?>
					<div id="bukanMA" style="display:block">
				<?} else {?>
					<div id="bukanMA" style="display:none">
				<?}?>
					<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">
						<tr>
							<td align="right" width="180">
								<?if ($kelompok == '1'){
								?>
								<div id="title1" style="display:block">* Pengadilan Banding :</div>
								<div id="title2" style="display:none">* Satker :</div>
								<?}?>
								
								<?if ($kelompok == '2'){
								?>
								<div id="title1" style="display:none">* Pengadilan Banding :</div>
								<div id="title2" style="display:block">* Satker :</div>
								<?}?>
							</td>
							<td>
								<?
								if (strtolower($this->jenisForm) == 'update') {
									?><select id="id_organisasiTkI" name="id_organisasiTkI" onChange="organisasiTkIList();" disabled="true">
								<?
								} else {
								?><select id="id_organisasiTkI" name="id_organisasiTkI" onChange="organisasiTkIList();">
								<?}?>
							
								
									<?php
									if (!trim($this->detailUser['i_organisasi_parent'])){
										$org = trim($this->detailUser['i_organisasi']);
									} else {
										$org = trim($this->detailUser['i_organisasi_parent']);
									}
									
									$jmldatadataOrganisasiBanding = count($this->dataOrganisasiBanding);
									
									if ($jmldatadataOrganisasiBanding!= 0) {
										for ($j = 0; $j < $jmldatadataOrganisasiBanding; $j++) {
											$idPengadilan = (string)$this->dataOrganisasiBanding[$j]['i_organisasi'];
											$nPengadilan = (string)$this->dataOrganisasiBanding[$j]['n_organisasi'];

											if (trim($idPengadilan) == $org){
												echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
											} else {
												echo "<option value=\"$idPengadilan\">$nPengadilan</option>";
											}
										}
										
									} 
									echo "<option value=\"-\">--Pilih--</option>";
									?>
									</select>
							</td>
						</tr>
						<tr>
							<td align="right" width="180">
								<div id="title3" style="display:block">Pengadilan Tingkat I :</div>
								<div id="title4" style="display:none">* Eselon II :</div>
							</td>
							<td>
								<?
								//echo "org = ".$this->detailUser['i_organisasi_parent']." organak= ".$this->detailUser['i_organisasi'];
									
								if (strtolower($this->jenisForm) == 'update') {
									?><select id="id_organisasiTk2" name="id_organisasiTk2" disabled="true">
								<?
								} else {
								?><select id="id_organisasiTk2" name="id_organisasiTk2">
								<?}?>
									<?php
									if (trim($this->detailUser['i_organisasi_parent'])){
										$orgtkii = trim($this->detailUser['i_organisasi']);
									} else {
										$orgtkii = '-';
									}
									
									$jmldataOrganisasiTk2 = count($this->dataOrganisasiTk2);
									if ($jmldataOrganisasiTk2!= 0) {
										for ($j = 0; $j < $jmldataOrganisasiTk2; $j++) {
											$idPengadilan = (string)$this->dataOrganisasiTk2[$j]['i_organisasi'];
											$idPengadilanArr[$j] = $idPengadilan;
											$nPengadilan = (string)$this->dataOrganisasiTk2[$j]['n_organisasi'];

											if (trim($idPengadilan) == $orgtkii){
												echo "<option value=\"$idPengadilan\" selected>$nPengadilan</option>";
											} else {
												echo "<option value=\"$idPengadilan\">$nPengadilan</option>";
												
											} 
										}
									} 
									echo "<option value=\"-\">--Pilih--</option>";
																		?>
									</select>
									<?echo $sts;?>
							</td>
						</tr>
					</table>
				</div>
				<table width="100%" border="0" cellpadding="0" cellspacing="1" class="std">		
					<tr>
						<td align="right" width="180">* User Id :</td>
						<td>
							<?
							$iUserAttrib = array("size" => "30",
												"maxlength" => "20");
												
							if (strtolower($this->jenisForm) == 'update') {
								$iUserAttrib['readonly'] = true;
							}
							echo $ctrlFrm->formText('i_user', $this->detailUser['i_user'], $iUserAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Nama User :</td>
						<td>
							<?
							$iNUserAttrib = array("size" => "30",
												"maxlength" => "150");
							
							echo $ctrlFrm->formText('n_user', $this->detailUser['n_user'], $iNUserAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Passsword :</td>
						<td>
							<?
							$nPasswordAttrib = array("size" => "30",
												"maxlength" => "50");
							echo $ctrlFrm->formPassword('n_password', '', $nPasswordAttrib);
							?>
						</td>
					</tr>
					<tr>
						<td align="right" width="180">* Ulangi Passsword :</td>
						<td>
							<?
							$nPasswordAttrib = array("size" => "30",
												"maxlength" => "50");
							echo $ctrlFrm->formPassword('n_password2', '', $nPasswordAttrib);
							?>
						</td>
					</tr>
					<tr>
				    <td></td>
				    <td>
						<div class="right">
							<input type="button" value="Batal" onClick="userlist();"> 
							<input type="reset" value="Ulangi"> 
							<input   type="submit" value="Simpan">
						</div>
					</td>
				</tr>
					<tr>
						<td>* Harus Diisi</td>
						<td></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>