<?
require_once 'Zend/View.php';
require_once 'share/format_date.php'; 
require_once 'share/format_page.php';
require_once "share/share_message.php";
require_once "share/oa_dec_cur_conv.php";
require_once "service/aplikasi/Aplikasi_Referensi_Service.php";


$referensi = Aplikasi_Referensi_Service::getInstance();

$ctrlFrm = new Zend_View();
$pesan = new share_message();
$halaman = new format_page();
$dec_cur = new oa_dec_cur_conv();
		
$currentPage = $this->currentPage;
$numToDisplay = $this->numToDisplay;

?>
<div class="navlink">
	<a  href="index_login.php">Halaman Utama</a> <strong> &#8250; </strong> <a href="?p=konsep_surat">User</a>
</div>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h2 class="title">User</h2>
		<div class="search-panel">
			<form method="post" id="frmCariUser" name="frmCariUser">Kata Kunci :
				<?
				$kategoriCari = array("nip" => "NIP",
									"username" => "User ID",
									"nama" => "Nama Pegawai");
										
				echo $ctrlFrm->formSelect('kategoriCari', $this->kategoriCari, null, $kategoriCari);						
				?>
				<input type="text" name="carii">
				<?
			         $atribSubmit = array("onclick"=>"javascript:cariUser();");
			         echo $ctrlFrm->formSubmit('cari', 'Search', $atribSubmit)."&nbsp;";
				?>
			</form>
		</div>
		<div class="space-line"></div>

		
		<fieldset class="fields"> 
			<div class="spacer"> </div>
			<? 
			
			$status = $this->hasil;
			$proses = $this->proses;
			$keterangan = $this->keterangan;
			
			$pesan->show_message($proses, $keterangan, "$status" ); ?>
			<div class="spacer"> </div>	
			
			<div class="add" title="Tambah Data" onClick="userForm('insert','');"></div> 

			<div class="blank"></div>
			
			
			<table id="sorter" class="sortable" cellspacing="1" cellpadding="2" border="0" align="center">
				<th width=5%  class="nosort">No</th> 
				<th width=10% class="sorted order2 sortable">User Name</th> 
				<th width=10% class="sorted order2 sortable">NIP</th> 
				<th width=30% class="sorted order2 sortable">Nama</th> 
				<th width=30% class="sorted order2 sortable">Jabatan</th> 
				<th width=5% class="nosort">Status <br>Aktif</th>
				<th width=10% colspan="2"  class="nosort">Tindakan</th>
				
				<?
				if (count($this->userList) == 0){ 
				?>
					<tr class="event2"><td colspan="5"><font color="red">Data Tidak Ditemukan</font></td></tr>
				<?} else {
						
						
						foreach ($this->userList as $key => $val): 
						if ($key%2==0) { ?>
							<tr class="event">
						<? } else if ($key%2==1) { ?>
							<tr class="event2">
						<? } 
						$user_id = $this->escape($val['user_id']); 
						$username = $this->escape($val['username']); 
						$nip = $this->escape($val['nip']); 
						$nama = $this->escape($val['nama']); 
						$cStatusaktif = $this->escape($val['c_statusaktif']);
						$kdStatus = $this->escape($val['kd_status']);
						$noUrut = (($currentPage -1)* $numToDisplay) + $key +1;
						
						//$nama = $referensi->getnamaPegawai($nip);
						$jabatan = $referensi->getjabatanPegawai($nip);
						// form Hidden 
						echo $ctrlFrm->formHidden('user_id', $user_id, null);
						
						?>
						
						<td class="clright"><? echo $noUrut;?>&nbsp;&nbsp;</td>
						<td class="clleft">&nbsp;<? echo $username;?></td>
						<td class="clleft">&nbsp;<? echo $nip;?></td>
						<td class="clleft">&nbsp;<? echo $nama;?></td>
						<td class="clleft">&nbsp;<? echo $jabatan;?></td>
						<? 
						if($kdStatus == '1') { $statusAktif = "checked";}
						else {$statusAktif = "";}
					
						?>
						<td align="center">
							<input type="checkbox" name="statusAktif_<? echo $key;?>" id="statusAktif_<? echo $key;?>" <? echo $statusAktif;?> value="<?echo $user_id;?>" onClick="ubahStatus(<?echo $key?>);">
						</td>
						
						<td><div onClick="userForm('update','<? echo $user_id;?>');" class="edit" title="Ubah Data"></div></td>
						<td><div class="delete" title="Hapus Data" onClick="userHapus('User', '<? echo $user_id; ?>', '<? echo $nama; ?>')" ></td>
						
					
						</tr>
					<?
					endforeach;
				}
				?>
			</table>
			<?	
			$totalData = $this->totUserList;
			$modul = $this->basePath."/adm/user/userlist";
			
			echo $halaman->showPage($totalData, $numToDisplay, $currentPage, 'tableview', $modul, $param1, $param2, $param3, $param4);		
			?>
		</fieldset>		 
		
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<script type="text/javascript">
var sorter=new table.sorter("sorter");
sorter.init("sorter",0);
</script>